<%- include("../default/header.ejs") %>
<!-- Enter your new password -->
<div class="resetting-wrapper" >
    <div class="reset-container">
        <div class="reset-form-wrapper reset-form-wrapper-content-form">
            <h3 class="reset-heading">
                Enter your new password
            </h3>
            <div class="reset-icon-wrapper">
                <div class="attention_icon">
                    <img src="/images/content/general/attention_icon.svg" alt="">
                </div>
            </div>
            <div class="reset-content-box">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <form action="" class="form_box form_new_password" novalidate="novalidate">
                <div class="input_box">
                    <span class="password_toggle">
                        <span class="app_icon icon_hide_password"></span>
                    </span>
                    <input id="pass_id" name="password" type="password" class="validate password" data-error="#e1">
                    <label for="pass_id">Password</label>
                    <div class="error_text" id="e1"></div>
                </div>
                <div class="input_box">
                    <span class="password_toggle">
                        <span class="app_icon icon_hide_password"></span>
                    </span>
                    <input id="re_pass_id" name="re_password" type="password" class="validate password" data-error="#e2">
                    <label for="re_pass_id">Repeat Password</label>
                    <div class="error_text" id="e2"></div>
                </div>
                <button id="send_new_pass_g" type="submit" class="btn btn_login">Reset My password</button>
            </form>
        </div>
        <div class="reset-form-success-message-rel" style="display: none">
            <!-- Your password successfully changed -->
            <div class="reset-icon-wrapper ">
                <div class="checked_attention_icon">
                    <img src="/images/content/general/checked_icon_green.svg" alt="">
                </div>
            </div>
            <h3 class="reset-heading">
                Your password <br> successfully changed
            </h3>
            <a href="/login" class="btn btn_login">Login now</a>
        </div>
    </div>
</div>

<%- include("../default/footer.ejs") %>