<%- include("../default/header.ejs") %>
<!-- Reset your password -->
<div class="resetting-wrapper">
    <div class="reset-container">
        <div class="reset-form-wrapper">
            <h3 class="reset-heading">
                Reset your password
            </h3>
            <div class="reset-icon-wrapper">
                <div class="attention_icon">
                    <img src="/images/content/general/attention_icon.svg" alt="">
                </div>
            </div>
            <div class="reset-content-box">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <form action="" class="form_box reset_password_form" novalidate="novalidate">
               <div class="input_box">
                   <input id="email_reset_id" name="emailReset" type="email" class="validate" data-error="#e3222">
                   <label for="email_reset_id">Email</label>
                   <div class="error_text" id="e3222"></div>
               </div>
               <button type="submit" class="btn btn_login" id="send_ver_g">Send me reset link</button>
            </form>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>