<%- include("../default/header.ejs") %>

    <section class="create_wrapper">
        <div class="container">
            <div class="create_box">
                <h2 class="primary_title">Create An Account</h2>

                <form action="" class="reg_form form_box">
                    <div class="login-error-notice create_error_notice">
                        <i class="alert-notice-icon"></i>
                        <span class="error_notice_text"></span>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input id="r_name_id" name="login" type="text" class="validate" data-error="#e1">
                                <label for="r_name_id">Name</label>
                                <div class="error_text" id="e1"></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input id="r_lname_id" name="lastname" type="text" class="validate" data-error="#e2">
                                <label for="r_lname_id">Last name</label>
                                <div class="error_text" id="e2"></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input id="r_birdth_id" name="birdth" type="text" class="datepicker validate datepickerBirdthday" autocomplete="disabled" data-error="#e4">
                                <label for="r_birdth_id">Birdth</label>
                                <div class="error_text" id="e4"></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input id="r_email_id" name="email" type="email" class="validate" data-error="#e3">
                                <label for="r_email_id">Email</label>
                                <div class="error_text" id="e3"></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="r_phone_id" name="phoneNumber" type="number" class="validate" data-error="#e5">
                                <label for="r_phone_id">Phone number</label>
                                <div class="error_text" id="e5"></div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input id="r_password_id" name="password" type="password" class="validate password" data-error="#e7">
                                <label for="r_password_id">Password</label>
                                <div class="error_text" id="e7"></div>
                                <span class="password_toggle">
                                    <span class="app_icon icon_hide_password"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="input_box">
                                <input id="r_repassword_id" name="repassword" type="password" class="validate password" data-error="#e9">
                                <label for="r_repassword_id">re password</label>
                                <div class="error_text" id="e9"></div>
                                <span class="password_toggle">
                                    <span class="app_icon icon_hide_password"></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="submit" class="btn btn_create" value="Create An Account">
                        </div>
                        <div class="col-12">
                            <div class="input_checkbox flex">
                                <input type="checkbox" id="checkbox" name="accept" checked class="validate" data-error="#e393">
                                <label for="checkbox">
                                    <span>I accept <a target="_blank" href="/service-page/terms">terms and conditions</a> and <a target="_blank" href="/service-page/privacy-policy">privacy policy</a></span>
                                </label>
                                <div class="error_text" id="e393"></div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>

<%- include("../default/footer.ejs") %>



