<%- include("../default/header.ejs") %>

<section class="login_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="login_box">
                    <h2 class="primary_title">Login</h2>
                    <p>Enter your email and password to login.</p>
                    <form class="form_box login_form">
                        <div class="login-error-notice">
                            <i class="alert-notice-icon"></i>
                            <span>login incorrect, we didn't found user</span>
                        </div>
                        <div class="input_box">
                            <input id="email_id" name="email" type="text" class="validate" data-error="#e1">
                            <label for="email_id">Email</label>
                            <div class="error_text" id="e1"></div>
                        </div>
                        <div class="input_box">
                            <span class="password_toggle">
                                <span class="app_icon icon_hide_password"></span>
                            </span>
                            <input id="pass_id" name="password" type="password" class="validate password" data-error="#e2">
                            <label for="pass_id">Password</label>
                            <div class="error_text" id="e2"></div>
                        </div>
                        <button type="submit" class="btn btn_login"><%=translations.log_in%></button>
                    </form>

                    <a href="/reset-password" class="btn_link btn_lost_password">Lost password?</a>

                    <div class="login_soc_media">
                        <p>login with social media</p>
                        <ul class="fcb">
                            <li>
                                <a href="">
                                    <img src="images/content/general/facebook_icon.svg" alt=""> Facebook
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/content/general/google_icon.svg" alt=""> Google
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="login_box fcc" style="background-image: url('images/content/product_brand_more_bg.png')">
                    <div class="login_box_create">
                        <h2 class="primary_title">Create An Account</h2>
                        <p>In nose, we appreciate its big aromatic diversity. Very intense, dominating the red fresh fruit (cherry, plum, blackberry, cranberry), melted with the toasted</p>
                        <a href="/sign-up" class="btn_outline"><%=translations.sign_up%></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("../default/footer.ejs") %>



