<%- include("../default/header.ejs") %>
<!-- Your verify email success -->
<div class="resetting-wrapper">
    <div class="reset-container">
        <div class="reset-form-wrapper verify_email_warraper">
            <div class="reset-icon-wrapper ">
                <div class="checked_attention_icon">
                    <img src="/images/content/general/verify_email_success.svg" alt="">
                </div>
            </div>
            <h3 class="reset-heading">
                your e-mail has been <br> successfully verified
            </h3>
            <a href="/" class="btn_outline">GO to home page</a>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>