<%- include("../default/header.ejs") %>
<!-- Enter your new password -->
<div class="resetting-wrapper" >
    <div class="reset-container">
        <div class="reset-form-wrapper verify_email_warraper">
            <h3 class="reset-heading">
                Your Email is <br>not verifyed
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At earum magnam molestiae nihil? A, beatae consectetur deleniti doloremque dolores eum fuga fugit harum molestiae, non omnis quia repellendus sed voluptates!</p>
<!--            <a class="btn_outline" href="/verify-email/verify?email=<%=email%>" id="email_verify_g">Veriyfy email</a>-->
            <a class="btn_outline" href="/verify-email/verify?email=<%=email%>" id="email_verify_g">Resend email</a>
        </div>
    </div>
</div>

<%- include("../default/footer.ejs") %>