<%- include("../default/header.ejs") %>
    
<!--verify check-->
<div class="resetting-wrapper" >
    <div class="reset-container">
        <div class="reset-form-wrapper verify_email_warraper">
            <div class="checked_attention_icon cf_thanks_icon">
                <img src="/images/content/general/checked_icon_green.svg" alt="">
            </div>
            <h3 class="reset-heading">check your e-mail</h3>
            <p>You will be sent an email providing instructions to verify your account</p>
            <a href="/" class="btn">GO to home page</a>
        </div>
    </div>
</div>

<%- include("../default/footer.ejs") %>