<%- include("../default/header.ejs") %>
<!-- Your verify email failed -->
<div class="resetting-wrapper">
    <div class="reset-container">
        <div class="reset-form-wrapper verify_email_warraper">
            <div class="reset-icon-wrapper">
                <div class="checked_attention_icon">
                    <img src="/images/content/general/verify_email_faild.svg" alt="">
                </div>
            </div>
            <h3 class="reset-heading">
                your e-mail address is <br> not verified yet !
            </h3>
            <p>Sign in to your email to verify your account To see if your account is verified</p>
            <a href="/" class="btn_outline">GO to home page</a>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>