<html>
    <head>
        <title>Pernod Ricard</title>
    </head>
    <body>
        <div style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25%;
        font-size: 70px;
        font-family: monospace;"
        >
            COMING SOON
        </div>
    </body>
</html>