
</main>

<footer>
    <div class="footer_top">
        <div class="container">
            <div class="flex">
                <div class="footer_brand hide_mobile">
                    <a href="/">
                        <img src="/images/content/general/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <a href="#header_id" class="got_top_btn"></a>
        </div>
    </div> <!-- / footer_top -->

    <div class="footer_middle">
        <div class="footer_line fcc">
            <span class="infinity_icon"></span>
        </div>
        <div class="container">
            <div class="row footer_nav">
                <div class="col-12 col-md-4 col-lg-3">
                    <h4 class="footer_nav_title secondary_title"><%=translations.shop%></h4>
                    <ul class="footer_navbar">
                        <% 
                            var erk = siteData.brands.length >= 10 ? 10  : siteData.brands.length
                        %>
                            <% for(var i = 0; i < erk; i++){ %>
                                  <li><a href="<%=siteData.brands[i].catalogUrl%>"><%= siteData.brands[i].name %></a></li>
                            <% } %>

                        <li><a href="/catalog"><%=translations.see_all%></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <h4 class="footer_nav_title secondary_title"><%=translations.about_pernod_ricard%></h4>
                    <ul class="footer_navbar">
                        <li><a href="/about"><%=translations.pernod_ricard_group_in_armenia%></a></li>
                        <li><a href="/about"><%=translations.group_values%></a></li>
                        <li><a href="/about"><%=translations.social_responsibility%></a></li>
                        <li><a href="https://pernod-ricard.com/en/our-group/" class="external-link" target="_blank"><%=translations.pernod_ricard_group%></a></li>
                        <li><a href="/history"><%=translations.history%></a></li>
                        <li><a href="https://pernod-ricard.com/en/our-strategy/our-strategic-model/" class="external-link" target="_blank"><%=translations.global_strategy%></a></li>
                        <li><a href="https://pernod-ricard.com/en/our-group/our-organisation/" class="external-link" target="_blank"><%=translations.oganization%></a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <h4 class="footer_nav_title secondary_title"><%=translations.service_pages%></h4>
                    <ul class="footer_navbar">
                        <li><a href="/payment-and-delivery"><%=translations.payment_and_delivery%></a></li>
                        <li><a href="/service-page/return-and-refund-policy"><%=translations.return_and_refund%></a></li>
                        <li><a href="/service-page/terms"><%=translations.terms_and_conditions%></a></li>
                        <li><a href="/service-page/cookies"><%=translations.cookies%></a></li>
                        <li><a href="/service-page/privacy-policy"><%=translations.privacy_policy%></a></li>
                        <li><a href="http://www.responsibledrinking.org/" target="_blank" class="external-link"><%=translations.responsible_drinking%></a></li>
                        <li><a href="/service-page/faq"><%=translations.faq%></a></li>
                        <li><a href="/contact"><%=translations.contacts%></a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-3">

                    <% if(typeof siteData.userInfo == "undefined"){%>
                        <h4 class="footer_nav_title secondary_title"><%=translations.become_a_memeber%></h4>
                        <a href="/sign-up" class="footer_more_btn btn_outline"><%=translations.register_now%></a>
                    <%}%>

                    <h4 class="footer_nav_title secondary_title"><%=translations.contacts%></h4>
                    <ul class="contact_list">
                        <li>
                            <span class="app_icon icon_phone"></span>
                            <a href="tel:<%=siteData.settings.public_phone%>">
                                <%=siteData.settings.public_phone%>
                            </a>
                        </li>
                        <li>
                            <span class="app_icon icon_phone"></span>
                            <a href="tel:<%=siteData.settings.public_fax%>">
                                <%=siteData.settings.public_fax%>
                            </a>
                        </li>
                        <li>
                            <span class="app_icon icon_mail"></span>
                            <script type="text/javascript">
                                //<![CDATA[
                                var l=new Array();
                                l[0] = '>';
                                l[1] = 'a';
                                l[2] = '/';
                                l[3] = '<';
                                l[4] = '|109';
                                l[5] = '|111';
                                l[6] = '|99';
                                l[7] = '|46';
                                l[8] = '|100';
                                l[9] = '|114';
                                l[10] = '|97';
                                l[11] = '|99';
                                l[12] = '|105';
                                l[13] = '|114';
                                l[14] = '|45';
                                l[15] = '|100';
                                l[16] = '|111';
                                l[17] = '|110';
                                l[18] = '|114';
                                l[19] = '|101';
                                l[20] = '|112';
                                l[21] = '|64';
                                l[22] = '|111';
                                l[23] = '|102';
                                l[24] = '|110';
                                l[25] = '|105';
                                l[26] = '>';
                                l[27] = '"';
                                l[28] = '|109';
                                l[29] = '|111';
                                l[30] = '|99';
                                l[31] = '|46';
                                l[32] = '|100';
                                l[33] = '|114';
                                l[34] = '|97';
                                l[35] = '|99';
                                l[36] = '|105';
                                l[37] = '|114';
                                l[38] = '|45';
                                l[39] = '|100';
                                l[40] = '|111';
                                l[41] = '|110';
                                l[42] = '|114';
                                l[43] = '|101';
                                l[44] = '|112';
                                l[45] = '|64';
                                l[46] = '|111';
                                l[47] = '|102';
                                l[48] = '|110';
                                l[49] = '|105';
                                l[50] = ':';
                                l[51] = 'o';
                                l[52] = 't';
                                l[53] = 'l';
                                l[54] = 'i';
                                l[55] = 'a';
                                l[56] = 'm';
                                l[57] = '"';
                                l[58] = '=';
                                l[59] = 'f';
                                l[60] = 'e';
                                l[61] = 'r';
                                l[62] = 'h';
                                l[63] = ' ';
                                l[64] = 'a';
                                l[65] = '<';

                                for (var i = l.length-1; i >= 0; i=i-1) {
                                    if (l[i].substring(0, 1) === '|') document.write("&#"+unescape(l[i].substring(1))+";");
                                    else document.write(unescape(l[i]));
                                }
                                //]]>
                                </script>
                        </li>
                    </ul>

                    <div class="footer_soc_page_links">
                        <a href="<%=siteData.settings.fb_link%>" target="_blank" class="flex">
                            <span class="footer_soc_page_icon">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.402 18V11.034H14.735L15.084 8.326H12.402V6.598C12.402 5.814 12.62 5.279 13.744 5.279H15.178V2.857C14.4838 2.78334 13.7861 2.74762 13.088 2.75C11.021 2.75 9.606 4.012 9.606 6.33V8.326H7.268V11.034H9.606V18H1C0.734784 18 0.48043 17.8946 0.292893 17.7071C0.105357 17.5196 0 17.2652 0 17V1C0 0.734784 0.105357 0.48043 0.292893 0.292893C0.48043 0.105357 0.734784 0 1 0H17C17.2652 0 17.5196 0.105357 17.7071 0.292893C17.8946 0.48043 18 0.734784 18 1V17C18 17.2652 17.8946 17.5196 17.7071 17.7071C17.5196 17.8946 17.2652 18 17 18H12.402Z" fill="#005092"/>
                                </svg>
                            </span>
                           
                            <span class="footer_soc_page_info">
                                <strong><%=translations.pernod_ricard_armenia%></strong>
                                <%=translations.join_our_facebook_page%>
                            </span>
                        </a>
                    </div>
                    <p class="hide_mobile"><%=translations.paymant_metods%>:</p>
                    <div class="payment_methods fcb">
                        <div class="payment_box"><img src="/images/content/general/master_card.svg" alt=""></div>
                        <div class="payment_box"><img src="/images/content/general/visa_card.svg" alt=""></div>
                        <div class="payment_box"><img src="/images/content/general/arca_card.svg" alt=""></div>
                        <div class="payment_box"><img src="/images/content/general/idram.svg" alt=""></div>
                        <div class="payment_box"><img src="/images/content/general/cash.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- / footer_middle -->

    <div class="footer_foot">
        <div class="container">
            <div class="flex ais">
                <div class="footer_col">©
                    <script>document.write(new Date().getFullYear())</script> <%=translations.pernod_ricard_armenia_cjsc%></div>
                <div class="footer_bigcol">
                    <div class="footer_line">
                        <span class="infinity_icon"></span>
                    </div>
                </div>
                <div class="footer_col"><%=translations.all_rights_reserved%></div>
            </div>
        </div>
    </div> <!-- / footer_foot -->

</footer>
</div>

<%if(pathName != 'login'){%><%- include("../components/login_modal.ejs") %><%}%>
<%- include("../components/cart_popup.ejs") %>
<%- include("../components/search_popup.ejs") %>
<%- include("../components/reset_password.ejs") %>
<%- include("../components/reset_password_success_modal.ejs") %>
<%- include("../components/updated_modal.ejs") %>

<% if(typeof siteData.userInfo !== "undefined"){%>
<%- include("../components/log_out_modal.ejs") %>

<% } %>

<% if(pathName != 'cookies' && pathName != 'privacy-policy'){
    if(permition == '0'){%>
    <%- include("../components/firtsVisite_modal.ejs") %>
<%}}%>

<% if(/^catalog\?(.+)?/.test(pathName) || pathName == 'catalog') {%>
    <button type="buttton" class="btn filter_open_btn hide_desktop hide_tablet" data-open="#filter_id">
        <span class="app_icon filter_icon"></span>
        <%=translations.filter%>
    </button>
<% }%>

<%- include("../components/scripts.ejs") %>

<%if(pathName == 'test' || pathName == ''){%><%- include("../components/video_modal.ejs")  %><%}%>

<%if(pathName == 'contact' ){%><%- include("../components/map_modal.ejs")  %><%}%>

<!-- jQuery -->
<script src="/javascripts/plugins/jquery-3.5.1.min.js"></script>
<script src="/javascripts/plugins/jquery-ui.min.js"></script>
<!-- jQuery validate -->
<script src="/javascripts/plugins/jquery.validate.min.js"></script>
<!-- TweenMax -->
<script src="/javascripts/plugins/TweenMax.min.js"></script>
<!-- Feather -->
<script src="/javascripts/plugins/feather.js"></script>
<!-- Tilt -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.0.3/tilt.jquery.min.js"></script>-->
<script src="/javascripts/plugins/tilt.jquery.min.js"></script>
<!-- Masonry -->
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<!-- Profile -->
<script src="/javascripts/profile.js"></script>
<!-- Preload -->
<script src="/javascripts/plugins/modernizr.custom.js"></script>
<script src="/javascripts/plugins/classie.js"></script>
<script src="/javascripts/plugins/pathLoader.js"></script>
<script src="/javascripts/plugins/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/gsap.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

<!-- Own -->
<script src="/javascripts/custom.js"></script>
<script src="/javascripts/main.js"></script>

<!-- JS disabled alert -->
<noscript>
    <!-- JS DISABLED MESSAGE -->
    <div class="global-site-notice">
        <div class="container">
            <p>
                <strong>JavaScript seem to be disabled in your browser.</strong><br/>
                Enable Javascript to use the functionality of the site
            </p>
        </div>
    </div>
</noscript>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ETSNDBKYWG"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-ETSNDBKYWG');
</script>

</body>
</html>