<header id="header_id">
    <div class="header_top">
        <div class="container">
            <div class="fcb">
                <ul class="contact_list flex">
                    <li class="hide_mobile">
                        <span class="app_icon icon_mail"></span>
                        <script type="text/javascript">
                            //<![CDATA[
                            var l=new Array();
                            l[0] = '>';
                            l[1] = 'a';
                            l[2] = '/';
                            l[3] = '<';
                            l[4] = '|109';
                            l[5] = '|111';
                            l[6] = '|99';
                            l[7] = '|46';
                            l[8] = '|100';
                            l[9] = '|114';
                            l[10] = '|97';
                            l[11] = '|99';
                            l[12] = '|105';
                            l[13] = '|114';
                            l[14] = '|45';
                            l[15] = '|100';
                            l[16] = '|111';
                            l[17] = '|110';
                            l[18] = '|114';
                            l[19] = '|101';
                            l[20] = '|112';
                            l[21] = '|64';
                            l[22] = '|111';
                            l[23] = '|102';
                            l[24] = '|110';
                            l[25] = '|105';
                            l[26] = '>';
                            l[27] = '"';
                            l[28] = '|109';
                            l[29] = '|111';
                            l[30] = '|99';
                            l[31] = '|46';
                            l[32] = '|100';
                            l[33] = '|114';
                            l[34] = '|97';
                            l[35] = '|99';
                            l[36] = '|105';
                            l[37] = '|114';
                            l[38] = '|45';
                            l[39] = '|100';
                            l[40] = '|111';
                            l[41] = '|110';
                            l[42] = '|114';
                            l[43] = '|101';
                            l[44] = '|112';
                            l[45] = '|64';
                            l[46] = '|111';
                            l[47] = '|102';
                            l[48] = '|110';
                            l[49] = '|105';
                            l[50] = ':';
                            l[51] = 'o';
                            l[52] = 't';
                            l[53] = 'l';
                            l[54] = 'i';
                            l[55] = 'a';
                            l[56] = 'm';
                            l[57] = '"';
                            l[58] = '=';
                            l[59] = 'f';
                            l[60] = 'e';
                            l[61] = 'r';
                            l[62] = 'h';
                            l[63] = ' ';
                            l[64] = 'a';
                            l[65] = '<';

                            for (var i = l.length-1; i >= 0; i=i-1) {
                                if (l[i].substring(0, 1) === '|') document.write("&#"+unescape(l[i].substring(1))+";");
                                else document.write(unescape(l[i]));
                            }
                            //]]>
                        </script>
                    </li>
                    <li>
                        <span class="app_icon icon_phone"></span>
                        <a href="tel:+374(10)354-879">
                            +374 (10) 354-879
                        </a>
                    </li>
                </ul>
                <ul class="language_list flex">
                    <li><a href="javascript:void(0)" data-lang="1" class="change_lang <%if(siteData.lang == '1'){%><%='active'%><%}%>">ENG</a></li>
                    <li><a href="javascript:void(0)" data-lang="2" class="change_lang <%if(siteData.lang == '2'){%><%='active'%><%}%>">ARM</a></li>
                </ul>
            </div>
        </div>
    </div> <!-- / HEADER top-->

    <div class="container hide_mobile">
        <div class="header_brand">
            <a href="/">
                <img src="/images/content/general/logo.svg" alt="">
            </a>
        </div>
    </div>

    <div class="header_middle">
        <div class="container hide_mobile">
            <div class="fcb">
                <div class="search_box">
                    <form action="">
                        <div class="search_input">
                            <input type="text"  placeholder="Search" />
                            <span class="search_btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.75 11.9571C3.88418 11.9571 1.54286 9.61582 1.54286 6.75C1.54286 3.88418 3.88418 1.54286 6.75 1.54286C9.61582 1.54286 11.9571 3.88418 11.9571 6.75C11.9571 9.61582 9.61582 11.9571 6.75 11.9571ZM6.75 13.5C10.4679 13.5 13.5 10.4679 13.5 6.75C13.5 3.03209 10.4679 0 6.75 0C3.03209 0 0 3.03209 0 6.75C0 10.4679 3.03209 13.5 6.75 13.5Z" fill="black"/>
                                    <path d="M10.1652 11.2347L11.2561 10.1437L17.4686 16.3562L16.3776 17.4471L10.1652 11.2347Z" fill="black"/>
                                </svg>
                            </span>
                        </div>
                        <ul class="search_result">
                        </ul>
                        <!--
                        If more results then 3
                        <li class="seach_input_more" style="display: none">
                            <a href="javascript:void(0)" class="btn">Show more</a>
                        </li>
                        -->
                    </form>
                </div>
                <ul class="flex user_info_list">
                    <% if(typeof siteData.userInfo !== "undefined"){%>
                    <!-- For Registration User -->
                    <li class="drop-down">
                        <a href="javascript:void(0)" id="dropDown">
                            <%=siteData.userInfo.name%> <%=siteData.userInfo.last_name%>
                            <span class="app_icon icon_user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                    <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                                </svg>
                            </span>
                        </a>
                        <ul class="drop-down__menu">
                            <li class="drop-down__item">
                                <a href="/profile">Dashboard</a>
                            </li>
                            <li class="drop-down__item">
                                <a href="/profile/orders">History of orders</a>
                            </li>
                            <li class="drop-down__item">
                                <a href="/profile/personal-data">Personal data</a>
                            </li>
                            <li class="drop-down__item">
                                <a href="javascript:void(0)" class="user-log-out-btn">Log out</a>
                            </li>
                        </ul>
                    </li>
                    <% }else { %>
                    <!-- For Not Registration User -->
                    <li>
                        <%if(pathName != 'login'){%>
                        <a href="javascript:;" data-open="#login_modal">
                            <%=translations.log_in%>
                            <span class="app_icon icon_user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                    <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                                </svg>
                            </span>
                        </a>
                        <%}%>
                    </li>
                    <% } %>
                    <li>
                        <a href="/favorite">
                            Favorites
                            <span class="app_real_count_btn">
                                <span class="app_icon icon_favorites">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M12.8943 1.21155C15.5233 1.21155 17.6539 3.37501 17.6539 6.40385C17.6539 12.4615 11.1635 15.9231 9.00004 17.2212C6.83658 15.9231 0.346191 12.4615 0.346191 6.40385C0.346191 3.37501 2.50965 1.21155 5.10581 1.21155C6.71542 1.21155 8.13465 2.07693 9.00004 2.94232C9.86542 2.07693 11.2847 1.21155 12.8943 1.21155ZM9.80831 14.715C10.5707 14.2339 11.2587 13.7553 11.9025 13.243C14.4823 11.192 15.9231 8.95068 15.9231 6.40385C15.9231 4.36155 14.593 2.94232 12.8943 2.94232C11.9631 2.94232 10.9558 3.43559 10.2237 4.16597L9.00004 5.38962L7.77638 4.16597C7.04427 3.43559 6.03696 2.94232 5.10581 2.94232C3.42696 2.94232 2.07696 4.37539 2.07696 6.40385C2.07696 8.95155 3.51869 11.192 6.09667 13.243C6.74138 13.7553 7.42937 14.2339 8.19177 14.7141C8.45052 14.8777 8.70667 15.0343 9.00004 15.2091C9.2934 15.0343 9.54956 14.8777 9.80831 14.715Z" fill="black"/>
                                    </svg>
                                </span>
                                <span class="fav_count count_number"><%= siteData.favouriteCount%></span>
                            </span>
                        </a>
                    </li>
                    <%if(pathName !== 'cart'){%>
                    <li>
                        <a href="javascript:;" data-open="#cart_popup_id">
                            <span class="hide_mobile">Cart</span>
                            <span class="app_real_count_btn">
                                <span class="app_icon icon_basket">
                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.33329 12.3334V2.33335H0.666626V0.666687H3.16663C3.38764 0.666687 3.5996 0.754484 3.75588 0.910765C3.91216 1.06704 3.99996 1.27901 3.99996 1.50002V11.5H14.365L16.0316 4.83335H5.66663V3.16669H17.1C17.2266 3.16669 17.3516 3.19557 17.4655 3.25113C17.5793 3.3067 17.679 3.38748 17.7569 3.48734C17.8348 3.5872 17.889 3.70352 17.9152 3.82745C17.9414 3.95137 17.9391 4.07965 17.9083 4.20252L15.825 12.5359C15.7798 12.7161 15.6758 12.876 15.5293 12.9903C15.3828 13.1046 15.2024 13.1667 15.0166 13.1667H3.16663C2.94561 13.1667 2.73365 13.0789 2.57737 12.9226C2.42109 12.7663 2.33329 12.5544 2.33329 12.3334ZM3.99996 18.1667C3.55793 18.1667 3.13401 17.9911 2.82145 17.6785C2.50889 17.366 2.33329 16.942 2.33329 16.5C2.33329 16.058 2.50889 15.6341 2.82145 15.3215C3.13401 15.0089 3.55793 14.8334 3.99996 14.8334C4.44199 14.8334 4.86591 15.0089 5.17847 15.3215C5.49103 15.6341 5.66663 16.058 5.66663 16.5C5.66663 16.942 5.49103 17.366 5.17847 17.6785C4.86591 17.9911 4.44199 18.1667 3.99996 18.1667ZM14 18.1667C13.5579 18.1667 13.134 17.9911 12.8215 17.6785C12.5089 17.366 12.3333 16.942 12.3333 16.5C12.3333 16.058 12.5089 15.6341 12.8215 15.3215C13.134 15.0089 13.5579 14.8334 14 14.8334C14.442 14.8334 14.8659 15.0089 15.1785 15.3215C15.491 15.6341 15.6666 16.058 15.6666 16.5C15.6666 16.942 15.491 17.366 15.1785 17.6785C14.8659 17.9911 14.442 18.1667 14 18.1667Z" fill="black"/>
                                    </svg>
                                </span>
                                <span class="count_product count_number"><%=siteData.allProductQuantity%></span>
                            </span>
                        </a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
        <div class="container hide_tablet hide_desktop">
            <div class="fcb">
                <div class="flex ais">
                    <button type="button" class="menu_toggle burger_btn">
                        <span class="burger_icon"></span>
                    </button>
                    <button type="button" class="search_toggle_btn" data-open="#search_popup_id">
                        <span class="search_btn">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.75 11.9571C3.88418 11.9571 1.54286 9.61582 1.54286 6.75C1.54286 3.88418 3.88418 1.54286 6.75 1.54286C9.61582 1.54286 11.9571 3.88418 11.9571 6.75C11.9571 9.61582 9.61582 11.9571 6.75 11.9571ZM6.75 13.5C10.4679 13.5 13.5 10.4679 13.5 6.75C13.5 3.03209 10.4679 0 6.75 0C3.03209 0 0 3.03209 0 6.75C0 10.4679 3.03209 13.5 6.75 13.5Z" fill="black"/>
                                <path d="M10.1652 11.2347L11.2561 10.1437L17.4686 16.3562L16.3776 17.4471L10.1652 11.2347Z" fill="black"/>
                            </svg>
                        </span>
                    </button>
                    <a href="/favorite" class="favorites_btn">
                        <span class="app_real_count_btn">
                            <span class="app_icon icon_favorites">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M12.8943 1.21155C15.5233 1.21155 17.6539 3.37501 17.6539 6.40385C17.6539 12.4615 11.1635 15.9231 9.00004 17.2212C6.83658 15.9231 0.346191 12.4615 0.346191 6.40385C0.346191 3.37501 2.50965 1.21155 5.10581 1.21155C6.71542 1.21155 8.13465 2.07693 9.00004 2.94232C9.86542 2.07693 11.2847 1.21155 12.8943 1.21155ZM9.80831 14.715C10.5707 14.2339 11.2587 13.7553 11.9025 13.243C14.4823 11.192 15.9231 8.95068 15.9231 6.40385C15.9231 4.36155 14.593 2.94232 12.8943 2.94232C11.9631 2.94232 10.9558 3.43559 10.2237 4.16597L9.00004 5.38962L7.77638 4.16597C7.04427 3.43559 6.03696 2.94232 5.10581 2.94232C3.42696 2.94232 2.07696 4.37539 2.07696 6.40385C2.07696 8.95155 3.51869 11.192 6.09667 13.243C6.74138 13.7553 7.42937 14.2339 8.19177 14.7141C8.45052 14.8777 8.70667 15.0343 9.00004 15.2091C9.2934 15.0343 9.54956 14.8777 9.80831 14.715Z" fill="black"/>
                                </svg>
                            </span>
                            <span class="fav_count count_number"><%= siteData.favouriteCount%></span>
                        </span>
                    </a>
                </div>
                <a href="/" class="mob_brand flex ais">
                    <img src="/images/content/general/logo_mob.svg" alt="">
                </a>
                <div class="flex ais">
                    <% if(typeof siteData.userInfo !== "undefined"){%>
                        <a href="/profile">
                        <span class="app_icon icon_user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                            </svg>
                        </span>
                        </a>
                    <% }else { %>
                    <%if(pathName != 'login'){%>
                        <a href="javascript:;" data-open="#login_modal">
                        <span class="app_icon icon_user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                            </svg>
                        </span>
                        </a>
                    <%}%>
                    <%}%>
                    <%if(pathName !== 'cart'){%>
                    <a href="javascript:;" data-open="#cart_popup_id" class="mob_cart_btn">
                        <span class="hide_mobile">Cart</span>
                        <span class="app_real_count_btn">
                            <span class="app_icon icon_basket">
                                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.33329 12.3334V2.33335H0.666626V0.666687H3.16663C3.38764 0.666687 3.5996 0.754484 3.75588 0.910765C3.91216 1.06704 3.99996 1.27901 3.99996 1.50002V11.5H14.365L16.0316 4.83335H5.66663V3.16669H17.1C17.2266 3.16669 17.3516 3.19557 17.4655 3.25113C17.5793 3.3067 17.679 3.38748 17.7569 3.48734C17.8348 3.5872 17.889 3.70352 17.9152 3.82745C17.9414 3.95137 17.9391 4.07965 17.9083 4.20252L15.825 12.5359C15.7798 12.7161 15.6758 12.876 15.5293 12.9903C15.3828 13.1046 15.2024 13.1667 15.0166 13.1667H3.16663C2.94561 13.1667 2.73365 13.0789 2.57737 12.9226C2.42109 12.7663 2.33329 12.5544 2.33329 12.3334ZM3.99996 18.1667C3.55793 18.1667 3.13401 17.9911 2.82145 17.6785C2.50889 17.366 2.33329 16.942 2.33329 16.5C2.33329 16.058 2.50889 15.6341 2.82145 15.3215C3.13401 15.0089 3.55793 14.8334 3.99996 14.8334C4.44199 14.8334 4.86591 15.0089 5.17847 15.3215C5.49103 15.6341 5.66663 16.058 5.66663 16.5C5.66663 16.942 5.49103 17.366 5.17847 17.6785C4.86591 17.9911 4.44199 18.1667 3.99996 18.1667ZM14 18.1667C13.5579 18.1667 13.134 17.9911 12.8215 17.6785C12.5089 17.366 12.3333 16.942 12.3333 16.5C12.3333 16.058 12.5089 15.6341 12.8215 15.3215C13.134 15.0089 13.5579 14.8334 14 14.8334C14.442 14.8334 14.8659 15.0089 15.1785 15.3215C15.491 15.6341 15.6666 16.058 15.6666 16.5C15.6666 16.942 15.491 17.366 15.1785 17.6785C14.8659 17.9911 14.442 18.1667 14 18.1667Z" fill="black"/>
                                </svg>
                            </span>
                            <span class="count_product count_number"><%=siteData.allProductQuantity%></span>
                        </span>
                    </a>
                    <%}%>
                </div>
            </div>
        </div>
    </div> <!-- / HEADER middle-->

    <div class="header_navbar">
        <div class="container-fluid">
            <ul class="navbar">
                <li class="navbar_item navbar_dropdown">
                    <a href="/catalog?page=1">Shop <span class="app_icon icon_dropdown"></span></a>
                    <div class="dropdown_content">
                        <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> Shop </button>
                        <div class="dropdown_shop">
                            <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_toggle_megamenu"></span></button>

                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="row  grid">
                                        <div class="grid-sizer"></div>
                                        <% siteData.categories.forEach(function (cWb) { %>
                                        <div class="reveal_effect_box grid-item">
                                            <h3 class="dropdown_nav_title"><%=cWb.name%></h3>
                                            <ul class="dropdown_nav_list reveal_effect_block" data-fx="1">
                                                <% cWb.brands.forEach(function (brands) { %>
                                                <li><a data-img="<%=brands.image%>" class="reveal_effect_block__link" href="/catalog?page=1&cat=&brand=<%=brands.slug%>&filters=&price=0,10000000"><%=brands.name%></a></li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                        <% }) %>

                                    </div>
                                </div>
                                <div class="col-12 col-md-4 hide_mobile">
                                    <a href="javascript:;" class="dropdown_product">
                                        <div class="dropdown_product_img">
                                            <img src="/images/content/dropdown_product_img.png" alt="">
                                        </div>
                                        <h2 class="dropdown_product_name">The Glenlivet Rare Cask</h2>
                                        <div class="dropdown_product_price">12 600 <sup>֏</sup></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar_item navbar_dropdown navbar_dropdown_brands">
                    <a href="javascript:void(0)">Our brands <span class="app_icon icon_dropdown"></span></a>
                    <div class="dropdown_content">
                        <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> Our brands  </button>
                        <div class="dropdown_brands">
                            <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_toggle_megamenu"></span></button>

                            <div class="row">
                                <% siteData.brands.forEach(function (brand) { %>
                                <div class="brands-col col-4 col-md-2">
                                    <a href="/brand/<%=brand.slug%>" class="dropdown_brands_cart">
                                        <img src="<%=brand.image%>" alt="<%=brand.name%>">
                                    </a>
                                </div>
                                <% })%>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar_item navbar_dropdown">
                    <a href="/about/">Company <span class="app_icon icon_dropdown"></span></a>
                    <div class="dropdown_content">
                        <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> Company  </button>
                        <div class="dropdown_company">
                            <div class="row">
                                <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_toggle_megamenu"></span></button>

                                <div class="col-12 col-md-9">
                                    <ul class="company_navbar flex fcb">
                                        <li><a href="/about">Pernod Ricard Group in Armenia</a></li>
                                        <li><a target="_blank" href="https://pernod-ricard.com/en/our-group/" class="external-link">Pernod Ricard Group</a></li>
                                        <li><a target="_blank" href="https://pernod-ricard.com/en/our-strategy/our-strategic-model/" class="external-link">Global Strategy</a></li>
                                        <li><a href="/about">Group Values</a></li>
                                        <li><a href="/history">History</a></li>
                                        <li><a target="_blank" href="https://pernod-ricard.com/en/our-group/our-organisation/" class="external-link">Organization</a></li>
                                        <li><a href="/about">Social Responsibility</a></li>
                                    </ul>

                                    <div class="dropdown_aboutcompany">
                                        <p>The history of Pernod Ricard in Armenia dates back to the years 1998-1999, when the Group acquired Yerevan Brandy Company, the producer of legendary ARARAT brandies. However, this was just the beginning: Pernod Ricard did not intend to confine to the achievements already gained.</p>
                                        <a href="javascript:;" class="company_btn">MORE</a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 hide_mobile">
                                    <a href="javascript:;" class="dropdown_company_img">
                                        <img src="/images/content/dropdown_product_img.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar_item">
                    <a href="/service-page/faq">FAQ</a>
                </li>
                <li class="navbar_item">
                    <a href="/blog">News</a>
                </li>
                <li class="navbar_item">
                    <a href="/special-offers">Special Offers</a>
                </li>
                <li class="navbar_item">
                    <a href="/contact">Contacts</a>
                </li>
            </ul>
        </div>

        <div class="header_navbar_foot hide_tablet">
            <span class="app_icon icon_mail"></span>
            <script type="text/javascript">
                //<![CDATA[
                var l=new Array();
                l[0] = '>';
                l[1] = 'a';
                l[2] = '/';
                l[3] = '<';
                l[4] = '|109';
                l[5] = '|111';
                l[6] = '|99';
                l[7] = '|46';
                l[8] = '|100';
                l[9] = '|114';
                l[10] = '|97';
                l[11] = '|99';
                l[12] = '|105';
                l[13] = '|114';
                l[14] = '|45';
                l[15] = '|100';
                l[16] = '|111';
                l[17] = '|110';
                l[18] = '|114';
                l[19] = '|101';
                l[20] = '|112';
                l[21] = '|64';
                l[22] = '|111';
                l[23] = '|102';
                l[24] = '|110';
                l[25] = '|105';
                l[26] = '>';
                l[27] = '"';
                l[28] = '|109';
                l[29] = '|111';
                l[30] = '|99';
                l[31] = '|46';
                l[32] = '|100';
                l[33] = '|114';
                l[34] = '|97';
                l[35] = '|99';
                l[36] = '|105';
                l[37] = '|114';
                l[38] = '|45';
                l[39] = '|100';
                l[40] = '|111';
                l[41] = '|110';
                l[42] = '|114';
                l[43] = '|101';
                l[44] = '|112';
                l[45] = '|64';
                l[46] = '|111';
                l[47] = '|102';
                l[48] = '|110';
                l[49] = '|105';
                l[50] = ':';
                l[51] = 'o';
                l[52] = 't';
                l[53] = 'l';
                l[54] = 'i';
                l[55] = 'a';
                l[56] = 'm';
                l[57] = '"';
                l[58] = '=';
                l[59] = 'f';
                l[60] = 'e';
                l[61] = 'r';
                l[62] = 'h';
                l[63] = ' ';
                l[64] = 'a';
                l[65] = '<';

                for (var i = l.length-1; i >= 0; i=i-1) {
                    if (l[i].substring(0, 1) === '|') document.write("&#"+unescape(l[i].substring(1))+";");
                    else document.write(unescape(l[i]));
                }
                //]]>
            </script>
        </div>
    </div> <!-- HEADER navbar -->
</header>