<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% if(typeof siteData.seoInstruments.title !== "undefined"){ %><%= siteData.seoInstruments.title %><%}else {%> <%='Pernod Ricard'%><%}%></title>
    <meta property="og:title" content="<% if(typeof siteData.seoInstruments.title !== "undefined"){ %><%= siteData.seoInstruments.title %><%}else {%> <%='Pernod Ricard'%><%}%>">
    <meta property="og:url" content="<% if(typeof siteData.seoInstruments.url !== "undefined"){ %><%= siteData.seoInstruments.url %><%}else {%> <%='Pernod Ricard'%><%}%>">
    <meta property="og:description" content="<% if(typeof siteData.seoInstruments.description !== "undefined"){ %><%= siteData.seoInstruments.description %><%}else {%> <%='Pernod Ricard'%><%}%>">
    <meta property="og:type" content="<% if(typeof siteData.seoInstruments.description !== "undefined"){ %><%= siteData.seoInstruments.description %><%}else {%> <%='article'%><%}%>">
    <meta property="og:image" content="<% if(typeof siteData.seoInstruments.image !== "undefined"){ %><%= siteData.seoInstruments.image %><%}else {%> <%='article'%><%}%>">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">
    <link rel="shortcut icon" href="/images/content/general/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- Old browsers alert -->
    <script>
        var $buoop = {required:{e:-4,f:-3,o:-3,s:-1,c:-3},insecure:true,api:2021.01 };
        function $buo_f(){
            var e = document.createElement("script");
            e.src = "//browser-update.org/update.min.js";
            document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>

</head>

<body class="<%if(pathName == 'cart'){%><%='cart_layout '%><%}%>">
<script>
    // window.fbAsyncInit = function() {
    //     FB.init({
    //         appId      : '218706956647305',
    //         cookie     : true,
    //         xfbml      : true,
    //         version    : 'v9.0'
    //     });
    //
    //     FB.AppEvents.logPageView();
    //     init();
    // };
    //
    // (function(d, s, id){
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //     if (d.getElementById(id)) {return;}
    //     js = d.createElement(s); js.id = id;
    //     js.src = "https://connect.facebook.net/en_US/sdk.js";
    //     fjs.parentNode.insertBefore(js, fjs);
    // }(document, 'script', 'facebook-jssdk'));
</script>
<!-- Preload -->
<%if(pathName == '' || pathName == 'test' || pathName == 'catalog' || pathName == 'product'){%>
    <div id="ip-container" class="ip-container">
    <header class="ip-header">
        <h1 class="ip-logo">
            <svg class="ip-inner"  preserveAspectRatio="xMidYMin meet"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 238 76" fill="none" aria-labelledby="logo_title">
                <path d="M107.454 15.3636C110.273 16.4545 112.091 18.1817 112.091 18.1817C112.091 17.3636 112.363 16.4545 112.636 15.7272C112.636 15.7272 111.727 14.0908 109.091 12.2727C106.273 10.3636 103.091 9.81812 103.091 9.81812C102.454 11.2727 102 12.7272 101.727 14.3636C101.727 14.3636 104.091 14.0908 107.454 15.3636Z" fill="#7FA5D0"/>
                <path d="M109.454 9.81825C112.091 12.3637 113.091 14.9092 113.091 14.9092C113.545 14.091 114.273 13.4546 115 12.9092C115 12.9092 114 9.81825 112.454 7.54552C110.818 5.2728 108.273 3.36371 108.273 3.36371C107 4.36371 105.909 5.45461 104.909 6.72734C104.909 6.81825 107.545 7.90916 109.454 9.81825Z" fill="#7FA5D0"/>
                <path d="M114.091 6.54545C115.273 9.63636 115.636 12.5454 115.636 12.5454C116.455 12.0909 117.455 11.8182 118.364 11.7273C118.364 11.7273 118.455 8.81818 117.727 5.72727C117 2.18182 116.091 0 116.091 0C114.545 0.272727 113 0.727272 111.636 1.36364C111.636 1.36364 113.273 4.45454 114.091 6.54545Z" fill="#7FA5D0"/>
                <path d="M129.909 15.3636C127.091 16.4545 125.273 18.1817 125.273 18.1817C125.273 17.3636 125 16.4545 124.727 15.7272C124.727 15.7272 125.636 14.0908 128.273 12.2727C131.091 10.3636 134.272 9.81812 134.272 9.81812C134.909 11.2727 135.363 12.7272 135.636 14.3636C135.636 14.3636 133.273 14.0908 129.909 15.3636Z" fill="#7FA5D0"/>
                <path d="M127.909 9.81825C125.273 12.3637 124.273 14.9092 124.273 14.9092C123.818 14.091 123.091 13.4546 122.364 12.9092C122.364 12.9092 123.364 9.81825 124.909 7.54552C126.545 5.2728 129.091 3.36371 129.091 3.36371C130.364 4.36371 131.455 5.45461 132.455 6.72734C132.455 6.81825 129.818 7.90916 127.909 9.81825Z" fill="#7FA5D0"/>
                <path d="M123.273 6.54545C122.091 9.63636 121.727 12.5454 121.727 12.5454C120.909 12.0909 119.909 11.8182 119 11.7273C119 11.7273 118.909 8.81818 119.636 5.72727C120.364 2.18182 121.273 0 121.273 0C122.818 0.272727 124.363 0.727272 125.727 1.36364C125.727 1.36364 124.091 4.45454 123.273 6.54545Z" fill="#7FA5D0"/>
                <path d="M109.727 25.818C113 24.2726 116.363 24.5453 116.363 24.5453C115.182 24.0907 114.182 23.3635 113.363 22.3635C113.363 22.3635 110.363 21.9998 108.091 22.4544C104.636 23.1817 103.091 24.3635 103.091 24.3635C103.818 25.818 104.727 27.0907 105.727 28.2726C105.909 28.2726 107.273 26.9998 109.727 25.818Z" fill="#023466"/>
                <path d="M107.182 20.8181C110.545 20.6363 112.909 21.5454 112.909 21.5454C112.454 20.8181 112.182 19.909 112.091 19.0908C112.091 19.0908 109.454 17.5454 106.909 17.2726C103.454 16.8181 101.545 17.4545 101.545 17.4545C101.545 19.0908 101.818 20.6363 102.363 22.0908C102.363 21.9999 104.545 20.909 107.182 20.8181Z" fill="#023466"/>
                <path d="M118.636 28.3637C123.454 28.3637 125.545 32.5455 125.545 32.5455C127.091 31.9091 128.454 31 129.636 30C129.636 30 125.545 24.9091 118.545 24.9091C111.545 24.9091 107.454 30 107.454 30C108.727 31.0909 110.091 31.9091 111.545 32.5455C111.727 32.5455 113.818 28.3637 118.636 28.3637Z" fill="#023466"/>
                <path d="M127.636 25.818C124.364 24.2726 121 24.5453 121 24.5453C122.182 24.0907 123.182 23.3635 124 22.3635C124 22.3635 127 21.9998 129.273 22.4544C132.727 23.1817 134.273 24.3635 134.273 24.3635C133.545 25.818 132.636 27.0907 131.636 28.2726C131.454 28.2726 130.091 26.9998 127.636 25.818Z" fill="#023466"/>
                <path d="M130.182 20.8181C126.818 20.6363 124.454 21.5454 124.454 21.5454C124.909 20.8181 125.182 19.909 125.272 19.0908C125.272 19.0908 127.909 17.5454 130.454 17.2726C133.909 16.8181 135.818 17.4545 135.818 17.4545C135.818 19.0908 135.545 20.6363 135 22.0908C135 21.9999 132.818 20.909 130.182 20.8181Z" fill="#023466"/>
                <path d="M29.7271 74.0907L26.7271 74.9089C25.5453 75.1816 24.5453 75.2725 23.6362 75.2725C20.6362 75.2725 19.0908 74.1816 19.0908 71.9998C19.0908 70.9998 19.5453 69.7271 20.5453 68.3635C21.3635 67.1816 22.2726 66.1816 23.2726 65.4544C24.5453 64.5453 25.6362 63.9998 26.5453 63.9998C27.909 63.9998 28.6362 64.6362 28.6362 65.9998C28.6362 66.1816 28.5453 66.9089 28.3635 68.0907C27.9999 67.9998 27.8181 67.9998 27.7271 67.9998C27.6362 67.9089 27.4544 67.7271 27.3635 67.5453C27.5453 66.9089 27.6362 66.4544 27.6362 66.0907C27.6362 65.4544 27.2726 65.0907 26.5453 65.0907C25.5453 65.0907 24.5453 65.5453 23.4544 66.5453C22.5453 67.2725 21.8181 68.1816 21.1817 69.1816C20.4544 70.2725 20.0908 71.3634 20.0908 72.1816C20.0908 73.0907 20.5453 73.7271 21.3635 74.1816C21.9999 74.5453 22.8181 74.7271 23.8181 74.7271C24.3635 74.7271 24.9999 74.7271 25.7271 74.6362C25.9999 74.6362 26.6362 74.5453 27.6362 74.3634C27.8181 74.3634 28.1817 74.2725 28.6362 74.0907C29.0908 73.9089 29.3635 73.818 29.5453 73.818C29.6362 73.7271 29.7271 73.9089 29.7271 74.0907Z" fill="#023466"/>
                <path d="M37.2726 71.1817L34.6362 70.2726C33.9999 70.2726 33.3635 70.7271 32.9089 71.6362C32.7271 71.909 32.4544 72.6362 31.9999 73.8181C31.5453 74.9999 30.9089 75.5453 29.9089 75.5453C29.9999 75.0908 30.2726 74.4544 30.818 73.6362C31.3635 72.7271 31.7271 72.0908 31.818 71.6362C31.9089 71.2726 31.9999 70.7271 31.9999 69.909C31.9999 69.5453 32.0908 69.1817 32.2726 68.8181C32.4544 68.2726 32.7271 67.9999 32.9999 67.9999H33.3635L33.5453 69.1817C33.6362 69.4544 33.9089 69.6362 34.3635 69.6362H34.818C34.9089 69.6362 34.9999 69.6362 35.0908 69.6362C36.3635 69.6362 37.0908 70.0908 37.2726 71.1817Z" fill="#023466"/>
                <path d="M44.2727 67.1816C43.5455 67.9089 43.0909 68.2725 42.9091 68.1816C42.8182 68.1816 42.6364 68.0907 42.4546 68.0907C42.4546 68.0907 42.2727 67.9998 42.0909 67.818L42.1818 67.5452C42.2727 67.2725 42.7273 66.818 43.4546 65.9998L44.1818 65.1816C44.5455 64.818 44.8182 64.7271 45.0909 64.7271C45.4546 64.7271 45.6364 64.9089 45.6364 65.1816C45.6364 65.7271 45.1818 66.3634 44.2727 67.1816ZM43.9091 70.6361C43.5455 70.2725 43.1818 70.0907 42.6364 70.0907C42.2727 70.0907 42 70.1816 41.7273 70.2725C41.7273 70.2725 41.4546 70.4543 40.8182 70.727C41.1818 71.2725 41.6364 71.5452 42.1818 71.5452C42.9091 71.6361 43.4546 71.2725 43.9091 70.6361ZM45.6364 73.9089C45.2727 74.2725 44.4546 74.5452 43.1818 74.727C42.2727 74.9089 41.3636 74.9089 40.4546 74.9089C38.5455 74.9089 37.5455 74.3634 37.5455 73.2725C37.5455 71.9089 38.5455 70.727 40.5455 69.818C41.2727 69.4543 42 69.1816 42.7273 68.9998C43.4546 69.1816 43.9091 69.2725 44.1818 69.3634C44.7273 69.5452 44.9091 69.9998 44.9091 70.6361C44.9091 71.2725 44.5455 71.727 43.7273 72.0907C43.0909 72.3634 42.4546 72.5452 41.7273 72.5452C40.7273 72.5452 39.9091 72.3634 39.4546 72.0907C38.9091 72.3634 38.6364 72.727 38.6364 73.1816C38.6364 73.9089 39.3637 74.3634 40.7273 74.3634C41.2727 74.3634 41.8182 74.3634 42.5455 74.2725C44.1818 73.9998 45.1818 73.9089 45.6364 73.9089Z" fill="#023466"/>
                <path d="M54.3636 75.5453V75.4544V75.3635H54.4545L54.3636 75.5453ZM53.8181 69.4544C53.8181 69.0908 53.4545 68.8181 52.7272 68.8181C51.7272 68.8181 50.8181 69.0908 50.1817 69.5453C49.5454 69.9999 48.909 70.5453 48.1817 71.2726C47.2727 72.1817 46.909 72.909 46.909 73.4544C46.909 73.7271 47.0908 73.9999 47.2727 74.1817C47.5454 74.3635 47.8181 74.3635 48.1817 74.3635C49.1817 74.3635 49.9999 73.9999 50.7272 73.3635C50.909 73.1817 51.3636 72.5453 52.1817 71.3635C52.6363 70.6362 53.1817 70.2726 53.6363 70.2726C53.7272 69.9999 53.8181 69.7271 53.8181 69.4544ZM54.4545 75.1817C54.1817 75.7271 53.909 75.9999 53.5454 75.9999C53.1817 75.9999 52.7272 75.7271 52.2727 75.1817C51.909 74.7271 51.6363 74.2726 51.3636 73.8181C50.4545 74.2726 49.7272 74.5453 49.4545 74.7271C48.6363 75.0908 47.909 75.1817 47.4545 75.1817C46.5454 75.1817 46.0908 74.7271 46.0908 73.8181C46.0908 72.3635 46.909 71.0908 48.4545 69.909C48.9999 69.5453 49.6363 69.0908 50.5454 68.7272C51.6363 68.1817 52.3636 67.9999 52.8181 67.9999C53.0908 67.9999 53.4545 68.1817 53.7272 68.4544C53.9999 68.8181 54.0908 69.0908 54.0908 69.4544C54.0908 70.0908 53.8181 70.909 53.3636 71.909C52.909 72.909 52.6363 73.5453 52.6363 73.6362C52.6363 74.1817 52.7272 74.5453 52.909 74.7271C52.9999 74.8181 53.5454 74.9999 54.4545 75.1817Z" fill="#023466"/>
                <path d="M61.818 64.818C61.818 65.0907 61.7271 65.4544 61.5453 65.7271C61.4544 65.9089 61.0908 66.3634 60.5453 67.1816C60.818 67.3634 61.0908 67.5453 61.4544 67.7271C61.818 67.9998 61.9089 68.2725 61.9089 68.6362V68.818C61.9089 68.818 61.6362 68.7271 61.0908 68.5453C60.7271 68.4544 60.5453 68.3634 60.3635 68.3634C59.7271 68.3634 58.818 68.9998 57.6362 70.3634C56.4544 71.6362 55.9089 72.6362 55.9089 73.2725C55.9089 73.818 56.4544 74.2725 57.4544 74.4543C58.0908 74.6362 58.818 74.7271 59.6362 74.7271C59.9089 74.7271 60.2726 74.7271 60.5453 74.6362C60.5453 74.7271 60.5453 74.818 60.7271 74.9089C59.9998 75.1816 59.2726 75.3634 58.6362 75.3634C56.0908 75.3634 54.818 74.7271 54.818 73.4543C54.818 72.7271 55.4544 71.6362 56.7271 70.1816L58.1817 68.5453H57.5453C57.2726 68.5453 56.9998 68.6362 56.5453 68.7271C55.7271 68.9998 55.2726 69.1816 55.0908 69.1816C54.9089 69.1816 54.7271 69.0907 54.5453 68.9998C54.3635 68.9089 54.2726 68.7271 54.2726 68.5453C54.2726 68.0907 54.818 67.9089 55.818 67.9089C55.9089 67.9089 56.0908 67.9089 56.2726 67.9089C56.4544 67.9089 56.6362 67.9089 56.7271 67.9089C57.5453 67.9089 58.2726 67.7271 58.9089 67.4544C59.4544 67.1816 59.9998 66.6362 60.3635 65.9089C60.5453 65.6362 60.818 64.9998 61.3635 63.818C61.5453 63.818 61.6362 63.9089 61.818 64.0907C61.7271 64.4544 61.818 64.6362 61.818 64.818Z" fill="#023466"/>
                <path d="M68.3636 70.6362C68 70.2726 67.6364 70.0908 67.0909 70.0908C66.7273 70.0908 66.4546 70.1817 66.1818 70.2726C66.1818 70.2726 65.9091 70.4544 65.2727 70.7272C65.6364 71.2726 66.0909 71.5453 66.6364 71.5453C67.3636 71.6362 67.9091 71.2726 68.3636 70.6362ZM70.0909 73.909C69.7273 74.2726 68.9091 74.5453 67.6364 74.7271C66.7273 74.909 65.8182 74.909 64.9091 74.909C63 74.909 62 74.3635 62 73.2726C62 71.909 63 70.7272 65 69.8181C65.7273 69.4544 66.4546 69.1817 67.1818 68.9999C67.9091 69.1817 68.3636 69.2726 68.6364 69.3635C69.1818 69.5453 69.3636 69.9999 69.3636 70.6362C69.3636 71.2726 69 71.7272 68.1818 72.0908C67.5455 72.3635 66.9091 72.5453 66.1818 72.5453C65.1818 72.5453 64.3636 72.3635 63.9091 72.0908C63.3636 72.3635 63.0909 72.7271 63.0909 73.1817C63.0909 73.909 63.8182 74.3635 65.1818 74.3635C65.7273 74.3635 66.2727 74.3635 67 74.2726C68.6364 73.9999 69.6364 73.909 70.0909 73.909Z" fill="#023466"/>
                <path d="M81.9999 68.1819C81.9999 68.5456 81.7272 69.091 81.1817 69.8183C80.909 70.1819 80.2727 70.9092 79.4545 71.9092C78.8181 72.6365 78.5454 73.3637 78.5454 74.0001C78.5454 74.3637 78.7272 74.4547 79.1817 74.4547C79.2727 74.4547 79.3636 74.4547 79.4545 74.4547H79.6363C79.8181 74.4547 79.9999 74.4547 80.1817 74.5456L80.4545 74.8183C80.3636 74.8183 80.0908 74.9092 79.6363 75.0001C79.2727 75.091 78.9999 75.091 78.8181 75.091C78.3636 75.091 77.9999 75.0001 77.8181 74.7274C77.6363 74.5456 77.5454 74.1819 77.5454 73.7274V73.3637C77.5454 73.2728 77.5454 73.091 77.5454 73.0001C76.7272 73.4547 76.1817 73.8183 75.909 74.0001C74.4545 74.8183 73.2727 75.1819 72.1817 75.1819C70.9999 75.1819 70.4545 74.9092 70.4545 74.3637C70.4545 74.0001 70.9999 73.091 71.9999 71.8183C72.7272 70.9092 73.4545 70.1819 74.0908 69.4547C74.9999 68.5456 75.5454 68.091 75.8181 68.091C75.9999 68.091 76.1817 68.1819 76.1817 68.4547C76.1817 68.7274 75.7272 69.3637 74.909 70.3637C74.5454 70.7274 73.9999 71.3637 73.2727 72.1819C72.5454 73.0001 72.0908 73.7274 71.8181 74.1819L71.9999 74.3637C72.0908 74.3637 72.1818 74.3637 72.3636 74.3637C72.5454 74.3637 72.6363 74.3637 72.7272 74.3637C73.0908 74.3637 73.4545 74.2728 73.8181 74.091C74.0908 74.0001 74.4545 73.8183 74.909 73.6365C76.0908 73.1819 76.9999 72.6365 77.6363 72.1819C77.9999 71.9092 78.4545 71.3637 78.9999 70.6365C79.2727 70.2728 79.7272 69.6365 80.3636 68.7274C80.8181 68.091 81.1817 67.8183 81.3636 67.8183C81.5454 67.8183 81.6363 67.9092 81.8181 68.0001L81.9999 68.1819Z" fill="#023466"/>
                <path d="M89.3635 71.1817L86.7272 70.2726C86.0908 70.2726 85.4545 70.7271 84.9999 71.6362C84.8181 71.909 84.5454 72.6362 84.0908 73.8181C83.6363 74.9999 82.9999 75.5453 81.9999 75.5453C82.0908 75.0908 82.3636 74.4544 82.909 73.6362C83.4545 72.7271 83.8181 72.0908 83.909 71.6362C83.9999 71.2726 84.0908 70.7271 84.0908 69.909C84.0908 69.5453 84.1817 69.1817 84.3635 68.8181C84.5454 68.2726 84.8181 67.9999 85.0908 67.9999H85.4545L85.6363 69.1817C85.7272 69.4544 85.9999 69.6362 86.4545 69.6362H86.9999C87.0908 69.6362 87.1817 69.6362 87.2726 69.6362C88.4545 69.6362 89.1817 70.0908 89.3635 71.1817Z" fill="#023466"/>
                <path d="M99.9089 66.9089C99.818 67.4543 99.3635 67.818 98.6362 67.9998C98.1817 68.0907 97.3635 68.2725 96.2726 68.6361C95.2726 68.9089 94.5453 69.2725 94.1817 69.7271C95.6362 70.0907 96.5453 70.3634 96.818 70.4543C98.0907 70.9089 98.7271 71.4543 98.7271 72.0907C98.7271 72.9998 97.9998 73.818 96.4544 74.5452C95.1817 75.1816 93.9998 75.5452 92.9998 75.5452C92.1817 75.5452 91.4544 75.2725 90.818 74.6361C90.0908 73.9998 89.7271 73.1816 89.818 72.4543V72.1816C90.0908 72.2725 90.6362 72.7271 91.1817 73.6361C91.7271 74.4543 92.2726 74.818 92.6362 74.818C93.3635 74.818 94.3635 74.5452 95.4544 74.0907C96.818 73.5452 97.4544 72.9089 97.4544 72.2725C97.4544 71.818 97.0908 71.4543 96.2726 71.2725C96.2726 71.2725 95.3635 71.0907 93.7271 70.6361C92.818 70.3634 92.1817 70.0907 91.9089 69.818C92.2726 69.4543 92.9089 69.0907 93.9089 68.6361C94.5453 68.3634 95.5453 67.9998 96.818 67.6361C98.1817 67.1816 98.9998 66.9998 99.2726 66.9089C99.5453 66.818 99.7271 66.818 99.9089 66.9089Z" fill="#023466"/>
                <path d="M112.818 71.8182C112.818 70.9091 112.454 70.4546 111.636 70.4546C111.091 70.4546 110.364 70.7273 109.545 71.2727C108.636 71.8182 108.182 72.3637 108.182 72.9091C108.182 73.4546 108.909 73.8182 110.454 73.8182C112.091 73.8182 112.818 73.1818 112.818 71.8182ZM116.909 64.6364C116.818 65.0909 116.545 65.8182 116.091 66.9091L114.727 70C114.182 71.3636 113.818 72.2727 113.636 72.7273C114.182 72.7273 114.454 72.8182 114.545 73C114.454 73.2727 114.182 73.6364 113.818 74C113.364 74.4546 113 74.6364 112.818 74.6364C112.636 74.6364 112.364 74.6364 112 74.5455C111.636 74.5455 111.364 74.4546 111.182 74.4546C111 74.4546 110.636 74.4546 110.273 74.4546C109.909 74.4546 109.545 74.4546 109.364 74.4546C107.909 74.4546 107.091 74 107.091 73.1818C107.091 72.1818 107.636 71.2727 108.727 70.4546C109.727 69.6364 110.727 69.2727 111.818 69.2727C112.182 69.2727 112.454 69.3637 112.727 69.4546C112.818 69.4546 113.091 69.6364 113.545 69.9091L113.727 69.7273V69.3637L113.909 69.1818C113.818 68.8182 114.182 67.8182 114.818 66.1818C115.454 64.5455 115.909 63.7273 116.091 63.7273C116.273 63.7273 116.454 63.8182 116.727 64L116.909 64.6364Z" fill="#023466"/>
                <path d="M122.273 70.6362C121.909 70.2726 121.545 70.0908 121 70.0908C120.636 70.0908 120.363 70.1817 120.091 70.2726C120.091 70.2726 119.818 70.4544 119.182 70.7272C119.545 71.2726 120 71.5453 120.545 71.5453C121.273 71.6362 121.818 71.2726 122.273 70.6362ZM124 73.909C123.636 74.2726 122.818 74.5453 121.545 74.7271C120.636 74.909 119.727 74.909 118.818 74.909C116.909 74.909 115.909 74.3635 115.909 73.2726C115.909 71.909 116.909 70.7272 118.909 69.8181C119.636 69.4544 120.363 69.1817 121.091 68.9999C121.818 69.1817 122.273 69.2726 122.545 69.3635C123.091 69.5453 123.273 69.9999 123.273 70.6362C123.273 71.2726 122.909 71.7272 122.091 72.0908C121.454 72.3635 120.818 72.5453 120.091 72.5453C119.091 72.5453 118.273 72.3635 117.818 72.0908C117.273 72.3635 117 72.7271 117 73.1817C117 73.909 117.727 74.3635 119.091 74.3635C119.636 74.3635 120.182 74.3635 120.909 74.2726C122.545 73.9999 123.545 73.909 124 73.909Z" fill="#023466"/>
                <path d="M142 73.9092C141.273 74.4547 140.273 74.8183 138.818 75.091C137.727 75.3638 136.545 75.4547 135.364 75.4547C132.727 75.4547 131.454 74.6365 131.454 73.091C131.454 71.3638 133.091 69.8183 136.273 68.4547C137.364 68.0001 138.454 67.6365 139.454 67.3638C139.909 67.6365 140.091 67.9092 140.091 68.1819C140.091 68.6365 139.909 69.091 139.636 69.7274C139.273 70.4547 139 70.8183 138.636 70.8183C138.454 70.8183 138.273 70.7274 138.091 70.6365C137.909 70.5456 137.818 70.3638 137.818 70.2729C137.818 70.091 138.091 69.6365 138.727 68.8183C138.545 68.8183 138.364 68.7274 138.182 68.7274C137.182 68.7274 136 69.1819 134.636 70.0001C133.091 70.9092 132.364 71.9092 132.364 72.9092C132.364 73.6365 132.727 74.1819 133.454 74.4547C134 74.7274 134.636 74.8183 135.454 74.8183C137.273 74.8183 138.909 74.6365 140.182 74.3638C140.182 74.3638 140.364 74.2729 140.727 74.1819C140.909 74.091 141.091 74.0001 141.273 74.0001H141.364L141.545 73.8183L142 73.9092Z" fill="#023466"/>
                <path d="M151.727 71.7272C151.727 71.1817 151.454 70.7272 150.909 70.4545C150.454 70.1817 149.909 70.0908 149.273 70.0908C148.273 70.0908 147.182 70.3635 146.091 70.909C144.909 71.4545 144.091 72.1817 143.636 72.9999C144.364 73.8181 145.364 74.1817 146.454 74.1817C147.454 74.1817 148.545 73.9999 149.636 73.6363C151 73.2726 151.727 72.5454 151.727 71.7272ZM152.636 71.8181C152.636 72.909 151.818 73.7272 150.273 74.3635C149.091 74.8181 147.909 75.0908 146.545 75.0908C143.818 75.0908 142.454 74.4545 142.454 73.0908C142.454 72.1817 143.364 71.1817 145.091 70.2726C146.636 69.4545 148 69.0908 149.091 69.0908C150 69.0908 150.818 69.2726 151.454 69.7272C152.273 70.1817 152.636 70.909 152.636 71.8181Z" fill="#023466"/>
                <path d="M161.636 70.9089C161.636 71.2726 161.454 71.9089 161.091 72.6362C160.727 73.3635 160.363 73.909 160.091 74.1817C160.091 74.3635 160.091 74.4544 160.091 74.4544C160.091 74.5453 160.182 74.6362 160.182 74.7271C160.091 75.0908 159.818 75.2726 159.454 75.2726C159.273 75.2726 159.091 75.1817 158.909 75.0908C158.727 74.9999 158.636 74.818 158.636 74.6362C158.636 74.2726 158.909 73.7271 159.545 72.909C160.091 72.0908 160.454 71.5453 160.454 71.2726C160.454 70.7271 160.182 70.3635 159.545 70.3635C158.727 70.3635 158 70.7271 157.273 71.4544C156.909 71.818 156.182 72.5453 155.182 73.5453C154.363 74.3635 153.636 74.818 152.909 74.9089V74.7271L152.727 74.5453C152.727 73.9089 153.273 72.9999 154.363 71.6362C155 70.909 155.454 70.3635 155.545 69.9999C155.636 69.7271 155.727 69.3635 155.909 69.0908C156 68.818 156.091 68.7271 156.182 68.6362C156.273 68.5453 156.454 68.4544 156.636 68.4544C156.909 68.4544 157.091 68.6362 157.091 68.909C157.091 69.0908 157.091 69.2726 157 69.4544C157 69.4544 156.818 69.818 156.636 70.3635C157.636 69.818 158.182 69.5453 158.273 69.4544C159 69.0908 159.636 68.909 160 68.909C160.454 68.909 160.727 69.0908 161 69.4544C161.545 70.0908 161.636 70.4544 161.636 70.9089Z" fill="#023466"/>
                <path d="M169.545 66.909C169.545 67.7272 169 68.5453 167.909 69.4544L165.455 71.6362C165.364 71.7271 165.273 71.909 165.182 72.3635L164.545 73.909C164.182 74.8181 163.636 75.2726 163.091 75.2726C162.546 75.2726 162.182 74.8181 162.182 73.8181C162.182 73.6362 162.182 73.4544 162.182 73.1817C162.182 72.818 162.182 72.6362 162.182 72.4544C162.182 72.0908 162.091 71.6362 161.818 70.909C161.545 70.2726 161.455 69.7271 161.455 69.3635C161.455 69.0908 161.545 68.909 161.636 68.7271C161.727 68.5453 161.909 68.4544 162.182 68.4544C162.546 68.4544 162.818 69.0908 163.091 70.3635L163.546 72.909C163.818 72.6362 164.455 71.909 165.364 70.909C165.818 70.4544 166.182 69.9999 166.455 69.6362L169.182 66.8181H169.545V66.909Z" fill="#023466"/>
                <path d="M172.636 65.4544C172.636 65.818 172.364 66.0907 171.818 66.0907C171.364 66.0907 171.091 65.9089 171.091 65.4544C171.091 65.2725 171.182 64.9998 171.273 64.6362C171.364 64.2725 171.454 63.9998 171.454 63.818C171.545 63.9089 171.818 64.1816 172.091 64.818C172.091 64.818 172.182 64.9089 172.364 65.0907C172.545 65.1816 172.636 65.2725 172.636 65.4544ZM171 70.0907C171 70.2725 170.727 71.1816 170.091 72.818C170 72.9998 169.909 73.3634 169.727 73.7271C169.545 73.9998 169.454 74.2725 169.182 74.2725C169.091 74.3634 168.818 74.3634 168.454 74.3634C168.454 74.2725 168.454 74.1816 168.454 73.9998C168.454 73.818 168.454 73.7271 168.454 73.6362C168.454 73.3634 168.545 73.0907 168.727 72.818C169 72.3634 169.182 72.1816 169.182 72.0907C169.273 71.818 169.454 71.2725 169.727 70.5453C169.909 69.9998 170.182 69.6362 170.636 69.2725C170.818 69.7271 171 69.9089 171 70.0907Z" fill="#023466"/>
                <path d="M180.636 66.909C180.636 67.7272 180.091 68.5453 179 69.4544L176.545 71.6362C176.545 71.7271 176.364 71.909 176.273 72.3635L175.636 73.909C175.273 74.8181 174.727 75.2726 174.182 75.2726C173.636 75.2726 173.273 74.8181 173.273 73.8181C173.273 73.6362 173.273 73.4544 173.273 73.1817C173.273 72.818 173.273 72.6362 173.273 72.4544C173.273 72.0908 173.182 71.6362 172.909 70.909C172.636 70.2726 172.545 69.7271 172.545 69.3635C172.545 69.0908 172.636 68.909 172.727 68.7271C172.818 68.5453 173 68.4544 173.182 68.4544C173.545 68.4544 173.818 69.0908 174.091 70.3635L174.545 72.909C174.818 72.6362 175.455 71.909 176.364 70.909C176.818 70.4544 177.182 69.9999 177.455 69.6362L180.182 66.8181H180.636V66.909Z" fill="#023466"/>
                <path d="M183.636 65.4544C183.636 65.818 183.364 66.0907 182.818 66.0907C182.364 66.0907 182.091 65.9089 182.091 65.4544C182.091 65.2725 182.182 64.9998 182.273 64.6362C182.364 64.2725 182.454 63.9998 182.454 63.818C182.545 63.9089 182.818 64.1816 183.091 64.818C183.091 64.818 183.182 64.9089 183.364 65.0907C183.636 65.1816 183.636 65.2725 183.636 65.4544ZM182.091 70.0907C182.091 70.2725 181.818 71.1816 181.182 72.818C181.091 72.9998 181 73.3634 180.818 73.7271C180.727 73.9998 180.545 74.2725 180.273 74.2725C180.182 74.3634 179.909 74.3634 179.545 74.3634C179.545 74.2725 179.545 74.1816 179.545 73.9998C179.545 73.818 179.545 73.7271 179.545 73.6362C179.545 73.3634 179.636 73.0907 179.818 72.818C180.091 72.3634 180.182 72.1816 180.273 72.0907C180.364 71.818 180.545 71.2725 180.818 70.5453C181 69.9998 181.364 69.6362 181.727 69.2725C181.909 69.7271 182.091 69.9089 182.091 70.0907Z" fill="#023466"/>
                <path d="M192.272 75.5453V75.4544V75.3635H192.363L192.272 75.5453ZM191.727 69.4544C191.727 69.0908 191.363 68.8181 190.636 68.8181C189.636 68.8181 188.727 69.0908 188.091 69.5453C187.454 69.9999 186.818 70.5453 186.091 71.2726C185.182 72.1817 184.818 72.909 184.818 73.4544C184.818 73.7271 185 73.9999 185.182 74.1817C185.454 74.3635 185.727 74.3635 186.091 74.3635C187.091 74.3635 187.909 73.9999 188.636 73.3635C188.818 73.1817 189.272 72.5453 190.091 71.3635C190.545 70.6362 191.091 70.2726 191.545 70.2726C191.636 69.9999 191.727 69.7271 191.727 69.4544ZM192.363 75.1817C192.091 75.7271 191.818 75.9999 191.454 75.9999C191.091 75.9999 190.636 75.7271 190.182 75.1817C189.818 74.7271 189.545 74.2726 189.272 73.8181C188.272 74.2726 187.636 74.5453 187.363 74.7271C186.545 75.0908 185.818 75.1817 185.363 75.1817C184.454 75.1817 184 74.7271 184 73.8181C184 72.3635 184.818 71.0908 186.363 69.909C186.909 69.5453 187.545 69.0908 188.454 68.7272C189.545 68.1817 190.272 67.9999 190.727 67.9999C191 67.9999 191.363 68.1817 191.636 68.4544C191.909 68.8181 192 69.0908 192 69.4544C192 70.0908 191.727 70.909 191.272 71.909C190.818 72.909 190.545 73.5453 190.545 73.6362C190.545 74.1817 190.636 74.5453 190.818 74.7271C190.909 74.8181 191.454 74.9999 192.363 75.1817Z" fill="#023466"/>
                <path d="M198.727 64C198.727 64.0909 198.364 64.8182 197.545 66.1818L195.364 70.2727C194.454 72 193.909 73 193.818 73.2727L193.454 74.3636C193.273 74.8182 193 75.0909 192.727 75.0909C192.545 75.0909 192.364 75.0909 192.182 75L192 74.7273C192.091 74.0909 192.545 73.2727 193.273 72.0909L195.454 68.5455C196.273 67.1818 196.818 66 197.091 65.0909C197.091 64.9091 197.273 64.5455 197.364 64.0909C197.454 63.7273 197.727 63.4546 198 63.3636C198.182 63.3636 198.364 63.4546 198.454 63.7273C198.636 63.6364 198.727 63.8182 198.727 64Z" fill="#023466"/>
                <path d="M202.091 65.4544C202.091 65.818 201.818 66.0907 201.273 66.0907C200.727 66.0907 200.545 65.9089 200.545 65.4544C200.545 65.2725 200.636 64.9998 200.727 64.6362C200.818 64.2725 200.909 63.9998 200.909 63.818C201 63.9089 201.273 64.1816 201.545 64.818C201.545 64.818 201.636 64.9089 201.818 65.0907C202 65.1816 202.091 65.2725 202.091 65.4544ZM200.455 70.0907C200.455 70.2725 200.091 71.1816 199.455 72.818C199.364 72.9998 199.273 73.3634 199.091 73.7271C198.909 73.9998 198.818 74.2725 198.545 74.2725C198.455 74.3634 198.182 74.3634 197.818 74.3634C197.818 74.2725 197.818 74.1816 197.818 73.9998C197.818 73.818 197.818 73.7271 197.818 73.6362C197.818 73.3634 197.909 73.0907 198.091 72.818C198.364 72.3634 198.545 72.1816 198.545 72.0907C198.636 71.818 198.818 71.2725 199.091 70.5453C199.273 69.9998 199.545 69.6362 200 69.2725C200.273 69.7271 200.455 69.9089 200.455 70.0907Z" fill="#023466"/>
                <path d="M209.909 64.818C209.909 65.0907 209.818 65.4544 209.636 65.7271C209.545 65.9089 209.182 66.3634 208.636 67.1816C208.909 67.3634 209.182 67.5453 209.545 67.7271C209.909 67.9998 210 68.2725 210 68.6362V68.818C210 68.818 209.727 68.7271 209.182 68.5453C208.818 68.4544 208.636 68.3634 208.454 68.3634C207.818 68.3634 206.909 68.9998 205.727 70.3634C204.545 71.6362 204 72.6362 204 73.2725C204 73.818 204.545 74.2725 205.545 74.4543C206.182 74.6362 206.909 74.7271 207.727 74.7271C208 74.7271 208.363 74.7271 208.636 74.6362C208.636 74.7271 208.636 74.818 208.818 74.9089C208.091 75.1816 207.363 75.3634 206.727 75.3634C204.182 75.3634 202.909 74.7271 202.909 73.4543C202.909 72.7271 203.545 71.6362 204.818 70.1816L206.273 68.5453H205.636C205.363 68.5453 205.091 68.6362 204.636 68.7271C203.818 68.9998 203.363 69.1816 203.182 69.1816C203 69.1816 202.818 69.0907 202.636 68.9998C202.454 68.9089 202.363 68.7271 202.363 68.5453C202.363 68.0907 202.909 67.9089 203.909 67.9089C204 67.9089 204.182 67.9089 204.363 67.9089C204.545 67.9089 204.727 67.9089 204.818 67.9089C205.636 67.9089 206.363 67.7271 207 67.4544C207.545 67.1816 208.091 66.6362 208.454 65.9089C208.636 65.6362 208.909 64.9998 209.454 63.818C209.636 63.818 209.727 63.9089 209.909 64.0907C209.818 64.4544 209.909 64.6362 209.909 64.818Z" fill="#023466"/>
                <path d="M216.818 67.1816C216.091 67.9089 215.636 68.2725 215.455 68.1816C215.364 68.1816 215.182 68.0907 215 68.0907C215 68.0907 214.818 67.9998 214.546 67.818L214.636 67.5452C214.727 67.2725 215.182 66.818 215.909 65.9998L216.636 65.1816C217 64.818 217.273 64.7271 217.545 64.7271C217.909 64.7271 218.091 64.9089 218.091 65.1816C218.182 65.7271 217.727 66.3634 216.818 67.1816ZM216.455 70.6361C216.091 70.2725 215.727 70.0907 215.182 70.0907C214.818 70.0907 214.545 70.1816 214.273 70.2725C214.273 70.2725 214 70.4543 213.364 70.727C213.727 71.2725 214.182 71.5452 214.727 71.5452C215.455 71.6361 216 71.2725 216.455 70.6361ZM218.182 73.9089C217.818 74.2725 217 74.5452 215.727 74.727C214.818 74.9089 213.909 74.9089 213 74.9089C211.091 74.9089 210.091 74.3634 210.091 73.2725C210.091 71.9089 211.091 70.727 213.091 69.818C213.818 69.4543 214.545 69.1816 215.273 68.9998C216 69.1816 216.455 69.2725 216.727 69.3634C217.273 69.5452 217.455 69.9998 217.455 70.6361C217.455 71.2725 217.091 71.727 216.273 72.0907C215.636 72.3634 215 72.5452 214.273 72.5452C213.273 72.5452 212.455 72.3634 212 72.0907C211.455 72.3634 211.182 72.727 211.182 73.1816C211.182 73.9089 211.909 74.3634 213.273 74.3634C213.818 74.3634 214.364 74.3634 215.091 74.2725C216.818 73.9998 217.818 73.9089 218.182 73.9089Z" fill="#023466"/>
                <path d="M3.27272 39V45.0909H5.81818C8.54545 45.0909 9.72727 44 9.72727 42C9.72727 40 8.54545 38.9091 5.81818 38.9091H3.27272V39ZM3.27272 50.5455H5.0909V51.9091H0V50.5455H1.81818V38.9091H0V37.5455H5.90909C9.18181 37.5455 11.3636 39 11.3636 42.0909C11.3636 45.1818 9.0909 46.6364 5.90909 46.6364H3.36364V50.5455H3.27272Z" fill="#023466"/>
                <path d="M20.9091 46.2728C20.9091 44.3637 19.4545 42.8183 17.4545 42.8183C15.4545 42.8183 14 44.2728 14 46.2728H20.9091ZM22.0909 49.0001C21.6364 50.8183 19.9091 52.1819 17.4545 52.1819C14.3636 52.1819 12.4546 50.2728 12.4546 46.8183C12.4546 43.5456 14.4546 41.4547 17.4545 41.4547C20.7273 41.4547 22.8182 44.0001 22.3636 47.6365H14C14.0909 49.1819 15.2727 50.8183 17.3636 50.8183C18.8182 50.8183 19.8182 50.1819 20.3636 49.0001H22.0909Z" fill="#023466"/>
                <path d="M27.7273 50.6364H29.3636V52H24.5455V50.6364H26.1818V43H24.5455V41.6364H27.5455V43.0909C28.1818 42 29.6364 40.9091 31.7273 41.6364V43.0909C29.2727 42.3636 27.7273 43.7273 27.7273 46.0909V50.6364Z" fill="#023466"/>
                <path d="M43.7272 50.6365H45.3635V52.0001H40.5454V50.6365H42.1817V46.2728C42.1817 43.8183 40.7272 42.8183 39.1817 42.8183C37.6363 42.8183 36.2726 43.9092 36.2726 46.3637V50.6365H37.909V52.0001H33.0908V50.6365H34.7272V43.0001H33.0908V41.6365H36.1817V43.091C36.7272 42.2728 37.909 41.4547 39.5454 41.4547C41.8181 41.4547 43.8181 42.7274 43.8181 46.2728V50.6365H43.7272Z" fill="#023466"/>
                <path d="M51.8181 50.8183C53.8181 50.8183 55.2727 49.3637 55.2727 46.8183C55.2727 44.2728 53.8181 42.8183 51.8181 42.8183C49.8181 42.8183 48.3636 44.2728 48.3636 46.8183C48.2727 49.3637 49.8181 50.8183 51.8181 50.8183ZM51.8181 41.4547C54.9999 41.4547 56.8181 43.7274 56.8181 46.8183C56.8181 49.9092 54.9999 52.1819 51.8181 52.1819C48.6363 52.1819 46.8181 49.9092 46.8181 46.8183C46.8181 43.7274 48.6363 41.4547 51.8181 41.4547Z" fill="#023466"/>
                <path d="M60.1818 46.8182C60.1818 49.4546 61.7272 50.8182 63.6363 50.8182C65.5454 50.8182 67.0908 49.4546 67.0908 46.8182C67.0908 44.1818 65.5454 42.8182 63.6363 42.8182C61.7272 42.8182 60.1818 44.1818 60.1818 46.8182ZM68.5454 50.6364H70.1818V52H67.0908V50.5455C66.4545 51.4546 65.1818 52.2727 63.5454 52.2727C60.6363 52.2727 58.7272 50 58.7272 46.9091C58.7272 43.8182 60.6363 41.5455 63.5454 41.5455C65.0908 41.5455 66.4545 42.2727 67.0908 43.2727V39H65.4545V37.5455H68.6363V50.6364H68.5454Z" fill="#023466"/>
                <path d="M80.4543 39V44.3636H83.818C85.9998 44.3636 86.9089 43.2727 86.9089 41.7273C86.9089 40.0909 85.9998 39.0909 83.818 39.0909H80.4543V39ZM77.0907 37.5455H83.818C86.5453 37.5455 88.5453 39 88.5453 41.7273C88.5453 44 87.0907 45.4546 84.9998 45.8182L87.3634 50.6364H89.2725V52.0909H86.2725L83.2725 46H80.4543V50.7273H81.9998V52.0909H76.9998V50.7273H78.818V38.9091H76.9998V37.5455H77.0907Z" fill="#023466"/>
                <path d="M92.5453 39.4546H94.2726V37.5455H92.5453V39.4546ZM94.2726 50.6364H95.9089V52H91.0908V50.6364H92.7271V43H91.0908V41.6364H94.2726V50.6364Z" fill="#023466"/>
                <path d="M107.273 48.1819C106.636 50.5455 105.091 52.1819 102.273 52.1819C99.0909 52.1819 97.2727 49.9092 97.2727 46.8183C97.2727 43.7274 99.0909 41.4547 102.273 41.4547C103.727 41.4547 105.091 42.1819 105.727 43.1819V41.7274H107.182V45.4546H105.545C105.091 44.091 104.182 42.8183 102.364 42.8183C100.364 42.8183 98.9091 44.2728 98.9091 46.8183C98.9091 49.3637 100.364 50.8183 102.364 50.8183C104.091 50.8183 105.273 49.7274 105.727 48.1819H107.273Z" fill="#023466"/>
                <path d="M110.636 46.818C110.636 49.4544 112.182 50.818 114.091 50.818C116 50.818 117.545 49.4544 117.545 46.818C117.545 44.1816 116 42.818 114.091 42.818C112.182 42.818 110.636 44.1816 110.636 46.818ZM117.545 41.6362H120.636V42.9998H119V50.6362H120.636V51.9998H117.545V50.5453C116.909 51.5453 115.545 52.2725 114 52.2725C111.091 52.2725 109.182 49.9998 109.182 46.9089C109.182 43.818 111.091 41.5453 114 41.5453C115.545 41.5453 116.909 42.2726 117.545 43.2726V41.6362Z" fill="#023466"/>
                <path d="M126 50.6364H127.636V52H122.818V50.6364H124.455V43H122.818V41.6364H125.909V43.0909C126.545 42 128 40.9091 130.091 41.6364V43.0909C127.636 42.3636 126.091 43.7273 126.091 46.0909V50.6364H126Z" fill="#023466"/>
                <path d="M132.364 46.8182C132.364 49.4546 133.909 50.8182 135.818 50.8182C137.727 50.8182 139.273 49.4546 139.273 46.8182C139.273 44.1818 137.727 42.8182 135.818 42.8182C133.909 42.8182 132.364 44.1818 132.364 46.8182ZM140.727 50.6364H142.364V52H139.273V50.5455C138.636 51.4546 137.364 52.2727 135.727 52.2727C132.818 52.2727 130.909 50 130.909 46.9091C130.909 43.8182 132.818 41.5455 135.727 41.5455C137.273 41.5455 138.636 42.2727 139.273 43.2727V39H137.545V37.5455H140.727V50.6364Z" fill="#023466"/>
                <path d="M149.273 50.5455H150.636L155.273 37.5455H157.455L162.091 50.5455H163.455V51.9091H158.727V50.5455H160.364L159.364 47.6364H153.364L152.273 50.5455H153.909V51.9091H149.182V50.5455H149.273ZM153.909 46.1818H158.909L156.455 39.1818L153.909 46.1818ZM167.909 50.6364H169.545V52H164.727V50.6364H166.364V43H164.727V41.6364H167.818V43.0909C168.455 42 169.909 40.9091 172 41.6364V43.0909C169.545 42.3636 168 43.7273 168 46.0909V50.6364H167.909ZM183.636 50.6364H185.273V52H180.455V50.6364H182.091V46.2727C182.091 43.8182 180.636 42.8182 179.182 42.8182C177.727 42.8182 176.364 43.9091 176.364 46.3636V50.6364H178V52H173.182V50.6364H174.818V43H173.182V41.6364H176.273V43.0909C176.818 42.2727 177.909 41.4546 179.455 41.4546C180.909 41.4546 182.091 42 182.909 43.2727C183.727 42.0909 184.909 41.4546 186.364 41.4546C188.818 41.4546 190.727 42.7273 190.727 46.2727V50.6364H192.364V52H187.545V50.6364H189.182V46.2727C189.182 43.8182 187.727 42.8182 186.273 42.8182C185 42.8182 183.545 43.8182 183.455 46.0909V50.6364H183.636ZM203.455 49C203 50.8182 201.273 52.1818 198.818 52.1818C195.727 52.1818 193.818 50.2727 193.818 46.8182C193.818 43.5455 195.818 41.4546 198.818 41.4546C202.091 41.4546 204.182 43.9091 203.727 47.6364H195.364C195.455 49.1818 196.636 50.8182 198.727 50.8182C200.182 50.8182 201.182 50.1818 201.727 49H203.455ZM202.273 46.2727C202.273 44.3636 200.818 42.8182 198.818 42.8182C196.818 42.8182 195.364 44.2727 195.364 46.2727H202.273ZM216.545 50.6364H218.182V52H213.364V50.6364H215V46.2727C215 43.8182 213.545 42.8182 212 42.8182C210.455 42.8182 209.091 43.9091 209.091 46.3636V50.6364H210.727V52H205.909V50.6364H207.545V43H205.909V41.6364H209V43.0909C209.545 42.2727 210.727 41.4546 212.364 41.4546C214.636 41.4546 216.636 42.7273 216.636 46.2727V50.6364H216.545ZM222.909 50.6364H224.545V52H219.727V50.6364H221.364V43H219.727V41.6364H222.909V50.6364ZM221.182 39.4546H222.909V37.5455H221.182V39.4546ZM234.364 41.6364H237.455V43H235.818V50.6364H237.455V52H234.364V50.5455C233.727 51.5455 232.364 52.2727 230.818 52.2727C227.909 52.2727 226 50 226 46.9091C226 43.8182 227.909 41.5455 230.818 41.5455C232.364 41.5455 233.727 42.2727 234.364 43.2727V41.6364ZM230.909 42.8182C229 42.8182 227.455 44.1818 227.455 46.8182C227.455 49.4546 229 50.8182 230.909 50.8182C232.818 50.8182 234.364 49.4546 234.364 46.8182C234.364 44.1818 232.818 42.8182 230.909 42.8182Z" fill="#023466"/>
            </svg>
        </h1>
        <div class="ip-loader">
            <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
                <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
                <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
            </svg>
        </div>
    </header>
</div>
<%}%>
<!-- /Preload -->

<div id="cover-spin"></div>

<div id="fixed_navbar" class="heads_up hide_mobile">
    <div class="container-fluid">
        <div class="fixed_navbar_content fcb">
            <div class="fixed_brand">
                <a href="/">
                    <img src="/images/content/general/logo_mob.svg" alt="">
                </a>
            </div>

            <div class="fcb">
                <ul class="navbar hide_mobile ">
                    <li class="navbar_item navbar_dropdown">
                        <a href="/catalog?page=1"><%=translations.shop%> <span class="app_icon icon_dropdown"></span></a>
                        <div class="dropdown_content">
                            <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> <%=translations.shop%> </button>
                            <div class="dropdown_shop">
                                <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_close"></span></button>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="row  grid">
                                            <div class="grid-sizer"></div>
                                            <% siteData.categories.forEach(function (cWb) { %>
                                            <div class="reveal_effect_box grid-item">
                                                <h3 class="dropdown_nav_title"><%=cWb.name%></h3>
                                                <ul class="dropdown_nav_list reveal_effect_block" data-fx="1">
                                                    <% cWb.brands.forEach(function (brands) { %>
                                                    <li><a  data-img="<%=brands.image%>" class="reveal_effect_block__link" href="/catalog?page=1&cat=&brand=<%=brands.slug%>&filters=&price=0,10000000"><%=brands.name%></a></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <% if(siteData.ssProduct.length !== 0){ %>
                                        <div class="col-12 col-md-4 hide_mobile">
                                            <a href="/product?id=<%=siteData.ssProduct[0].slug%>" class="dropdown_product">
                                                <div class="dropdown_product_img">
                                                    <img src="<%=siteData.ssProduct[0].image%>" alt="<%=siteData.ssProduct[0].name%>">
                                                </div>
                                                <h2 class="dropdown_product_name"><%=siteData.ssProduct[0].name%></h2>
                                                <div class="dropdown_product_price"><%=siteData.ssProduct[0].price%> <sup>֏</sup></div>
                                            </a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar_item navbar_dropdown">
                        <a href="javascript:void(0)"><%=translations.our_brands%> <span class="app_icon icon_dropdown"></span></a>
                        <div class="dropdown_content">
                            <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> <%=translations.our_brands%></button>
                            <div class="dropdown_brands">
                                <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_close"></span></button>

                                <div class="row">
                                    <% siteData.brands.forEach(function (brand) { %>
                                    <div class="col-4 col-md-2">
                                        <a href="/brand/<%=brand.slug%>" class="dropdown_brands_cart">
                                            <img src="<%=brand.image%>" alt="<%=brand.name%>">
                                        </a>
                                    </div>
                                    <% })%>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar_item navbar_dropdown">
                        <a href="javascript:void(0)"><%=translations.company%> <span class="app_icon icon_dropdown"></span></a>
                        <div class="dropdown_content">
                            <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> <%=translations.company%>  </button>
                            <div class="dropdown_company">
                                <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_close"></span></button>

                                <div class="row">
                                    <div class="col-12 col-md-9">
                                        <ul class="company_navbar flex fcb">
                                            <li><a href="/about"><%=translations.pernod_ricard_group_in_armenia%></a></li>
                                            <li><a target="_blank" href="https://pernod-ricard.com/en/our-group/" class="external-link"><%=translations.pernod_ricard_group%></a></li>
                                            <li><a target="_blank" href="https://pernod-ricard.com/en/our-strategy/our-strategic-model/" class="external-link"><%=translations.global_strategy%></a></li>
                                            <li><a href="/about"><%=translations.group_values%></a></li>
                                            <li><a href="/history"><%=translations.history%></a></li>
                                            <li><a target="_blank" href="https://pernod-ricard.com/en/our-group/our-organisation/" class="external-link"><%=translations.oganization%></a></li>
                                            <li><a href="/about"><%=translations.social_responsibility%></a></li>
                                        </ul>

                                        <div class="dropdown_aboutcompany">
                                            <p>The history of Pernod Ricard in Armenia dates back to the years 1998-1999, when the Group acquired Yerevan Brandy Company, the producer of legendary ARARAT brandies. However, this was just the beginning: Pernod Ricard did not intend to confine to the achievements already gained.</p>
                                            <a href="#" class="company_btn"><%=translations.more%></a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 hide_mobile">
                                        <a href="javascript:;" class="dropdown_company_img">
                                            <img src="/images/content/dropdown_product_img.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar_item">
                        <a href="/news?page=1"><%=translations.news%></a>
                    </li>
                    <li class="navbar_item">
                        <a href="/special-offers">  <%=translations.special_offers%></a>
                    </li>
                    <li class="navbar_item">
                        <a href="/contact"><%=translations.contacts%></a>
                    </li>
                </ul>
            </div>

            <div class="fcb">
                <div class="flex ais fixed_navbar_content_icons_box fixed_navbar_content_icons_box_new hide_mobile">
                    <ul class="language_list flex">
                        <%if(siteData.lang == '1'){%>
                            <li class="change_lang_new" data-lang="2">
                                ARM
                            </li>
                        <%}%>
                        <%if(siteData.lang == '2'){%>
                            <li class="change_lang_new" data-lang="1">
                                ENG
                            </li>
                        <%}%>
                    </ul>

                    <div class="search_box ">
                        <button type="button" class="search_btn fixed_search_btn" data-open="#hidden_input_search">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.75 11.9571C3.88418 11.9571 1.54286 9.61582 1.54286 6.75C1.54286 3.88418 3.88418 1.54286 6.75 1.54286C9.61582 1.54286 11.9571 3.88418 11.9571 6.75C11.9571 9.61582 9.61582 11.9571 6.75 11.9571ZM6.75 13.5C10.4679 13.5 13.5 10.4679 13.5 6.75C13.5 3.03209 10.4679 0 6.75 0C3.03209 0 0 3.03209 0 6.75C0 10.4679 3.03209 13.5 6.75 13.5Z" fill="black"/>
                                <path d="M10.1652 11.2347L11.2561 10.1437L17.4686 16.3562L16.3776 17.4471L10.1652 11.2347Z" fill="black"/>
                            </svg>
                        </button>
                        <form action="" id="hidden_input_search">
                            <div class="search_input">
                                <input type="text"  placeholder="<%=translations.search%>" />
                                <span data-close="#hidden_input_search" class="app_icon icon_close"></span>
                            </div>
                            <ul class="search_result">
                            </ul>
                            <!--
                            If more results then 3
                            <li class="seach_input_more" style="display: none">
                               <a href="javascript:void(0)" class="btn">Show more</a>
                            </li>
                           -->
                        </form>
                    </div>
                    <% if(typeof siteData.userInfo !== "undefined"){%>
                        <div class="items">
                            <a href="/profile">
                                <span class="app_icon icon_user">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                        <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    <% }else { %>
                        <%if(pathName != 'login'){%>
                        <div class="items">
                            <a href="javascript:;" data-open="#login_modal">
                                <span class="app_icon icon_user">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                        <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                        <%}%>
                    <%}%>
                    <div class="items">
                        <a href="/favorite" class="favorites_btn">
                            <span class="app_real_count_btn">
                                <span class="app_icon icon_favorites">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M12.8943 1.21155C15.5233 1.21155 17.6539 3.37501 17.6539 6.40385C17.6539 12.4615 11.1635 15.9231 9.00004 17.2212C6.83658 15.9231 0.346191 12.4615 0.346191 6.40385C0.346191 3.37501 2.50965 1.21155 5.10581 1.21155C6.71542 1.21155 8.13465 2.07693 9.00004 2.94232C9.86542 2.07693 11.2847 1.21155 12.8943 1.21155ZM9.80831 14.715C10.5707 14.2339 11.2587 13.7553 11.9025 13.243C14.4823 11.192 15.9231 8.95068 15.9231 6.40385C15.9231 4.36155 14.593 2.94232 12.8943 2.94232C11.9631 2.94232 10.9558 3.43559 10.2237 4.16597L9.00004 5.38962L7.77638 4.16597C7.04427 3.43559 6.03696 2.94232 5.10581 2.94232C3.42696 2.94232 2.07696 4.37539 2.07696 6.40385C2.07696 8.95155 3.51869 11.192 6.09667 13.243C6.74138 13.7553 7.42937 14.2339 8.19177 14.7141C8.45052 14.8777 8.70667 15.0343 9.00004 15.2091C9.2934 15.0343 9.54956 14.8777 9.80831 14.715Z" fill="black"/>
                                    </svg>
                                </span>
                                <span class="fav_count count_number"><%= siteData.favouriteCount%></span>
                            </span>
                        </a>
                    </div>
                    <%if(pathName !== 'cart'){%>
                    <div class="items items_cart_btn">
                        <a href="javascript:;" data-open="#cart_popup_id" class="mob_cart_btn">
                            <span class="app_real_count_btn">
                                <span class="app_icon icon_basket">
                                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.33329 12.3334V2.33335H0.666626V0.666687H3.16663C3.38764 0.666687 3.5996 0.754484 3.75588 0.910765C3.91216 1.06704 3.99996 1.27901 3.99996 1.50002V11.5H14.365L16.0316 4.83335H5.66663V3.16669H17.1C17.2266 3.16669 17.3516 3.19557 17.4655 3.25113C17.5793 3.3067 17.679 3.38748 17.7569 3.48734C17.8348 3.5872 17.889 3.70352 17.9152 3.82745C17.9414 3.95137 17.9391 4.07965 17.9083 4.20252L15.825 12.5359C15.7798 12.7161 15.6758 12.876 15.5293 12.9903C15.3828 13.1046 15.2024 13.1667 15.0166 13.1667H3.16663C2.94561 13.1667 2.73365 13.0789 2.57737 12.9226C2.42109 12.7663 2.33329 12.5544 2.33329 12.3334ZM3.99996 18.1667C3.55793 18.1667 3.13401 17.9911 2.82145 17.6785C2.50889 17.366 2.33329 16.942 2.33329 16.5C2.33329 16.058 2.50889 15.6341 2.82145 15.3215C3.13401 15.0089 3.55793 14.8334 3.99996 14.8334C4.44199 14.8334 4.86591 15.0089 5.17847 15.3215C5.49103 15.6341 5.66663 16.058 5.66663 16.5C5.66663 16.942 5.49103 17.366 5.17847 17.6785C4.86591 17.9911 4.44199 18.1667 3.99996 18.1667ZM14 18.1667C13.5579 18.1667 13.134 17.9911 12.8215 17.6785C12.5089 17.366 12.3333 16.942 12.3333 16.5C12.3333 16.058 12.5089 15.6341 12.8215 15.3215C13.134 15.0089 13.5579 14.8334 14 14.8334C14.442 14.8334 14.8659 15.0089 15.1785 15.3215C15.491 15.6341 15.6666 16.058 15.6666 16.5C15.6666 16.942 15.491 17.366 15.1785 17.6785C14.8659 17.9911 14.442 18.1667 14 18.1667Z" fill="black"/>
                                    </svg>
                                </span>
                                <span class="count_product count_number"><%=siteData.allProductQuantity%></span>
                            </span>
                        </a>
                    </div>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="app_root">
<header id="header_id">
    <div class="header_top_new hide_mobile">
        <div class="container-fluid">
            <div class="fcb">
                <div class="search_box">
                    <form action="">
                        <div class="search_input">
                            <input type="text"  placeholder="<%=translations.search%>" />
                            <span class="search_btn">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.75 11.9571C3.88418 11.9571 1.54286 9.61582 1.54286 6.75C1.54286 3.88418 3.88418 1.54286 6.75 1.54286C9.61582 1.54286 11.9571 3.88418 11.9571 6.75C11.9571 9.61582 9.61582 11.9571 6.75 11.9571ZM6.75 13.5C10.4679 13.5 13.5 10.4679 13.5 6.75C13.5 3.03209 10.4679 0 6.75 0C3.03209 0 0 3.03209 0 6.75C0 10.4679 3.03209 13.5 6.75 13.5Z" fill="black"/>
                                    <path d="M10.1652 11.2347L11.2561 10.1437L17.4686 16.3562L16.3776 17.4471L10.1652 11.2347Z" fill="black"/>
                                </svg>
                            </span>
                        </div>
                        <ul class="search_result">
                        </ul>
                        <!--
                        If more results then 3
                        <li class="seach_input_more" style="display: none">
                            <a href="javascript:void(0)" class="btn">Show more</a>
                        </li>
                        -->
                    </form>
                </div>
                <div class="fcb">
                    <ul class="language_list flex">
                        <%if(siteData.lang == '1'){%>
                            <li class="change_lang_new" data-lang="2">
                                    <span class="lang_icon">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.63704 3.76409C2.89332 4.53601 2.438 5.54043 2.34763 6.60852C2.25725 7.67661 2.53733 8.74325 3.14078 9.62916C3.74423 10.5151 4.63426 11.1662 5.66127 11.4732C6.68829 11.7802 7.78967 11.7242 8.78029 11.3148C8.84737 10.8773 8.70038 10.4573 8.64029 10.3103C8.50612 9.98359 8.06396 9.42534 7.32604 8.65125C7.12888 8.44417 7.14171 8.28492 7.21229 7.813L7.21987 7.75992C7.26771 7.43675 7.34821 7.24542 8.43612 7.07275C8.98912 6.98525 9.13437 7.20575 9.33562 7.512L9.40329 7.61234C9.59463 7.89234 9.73637 7.9565 9.95046 8.05334C10.0467 8.09709 10.1663 8.1525 10.3267 8.24292C10.707 8.4605 10.707 8.70609 10.707 9.24392V9.30517C10.707 9.53325 10.6849 9.73392 10.6499 9.90834C11.0975 9.34654 11.4094 8.68901 11.5614 7.98695C11.7133 7.28488 11.7012 6.55722 11.5259 5.86061C11.3507 5.16399 11.017 4.51723 10.5509 3.97067C10.0848 3.4241 9.49882 2.99249 8.83862 2.70942C8.51604 2.927 8.07329 3.23559 7.91871 3.44734C7.83996 3.55525 7.72796 4.10767 7.36454 4.15317C7.27004 4.16484 7.14229 4.15667 7.00696 4.14792C6.64413 4.12459 6.14829 4.0925 5.98962 4.52359C5.88871 4.79659 5.87121 5.53859 6.19729 5.92359C6.24979 5.98484 6.25971 6.09859 6.22413 6.22634C6.17746 6.39375 6.08354 6.49584 6.05379 6.51684C5.99779 6.48417 5.88579 6.35409 5.80938 6.266C5.62679 6.05309 5.39813 5.78767 5.10296 5.706C4.99563 5.67625 4.87779 5.65175 4.76288 5.62725C4.44263 5.56017 4.08038 5.48375 3.99579 5.30409C3.93396 5.17225 3.93454 4.99084 3.93454 4.7995C3.93454 4.55625 3.93454 4.2815 3.81554 4.01492C3.77417 3.91978 3.71337 3.83435 3.63704 3.76409ZM6.99996 12.8332C3.77821 12.8332 1.16663 10.2216 1.16663 6.99984C1.16663 3.77809 3.77821 1.1665 6.99996 1.1665C10.2217 1.1665 12.8333 3.77809 12.8333 6.99984C12.8333 10.2216 10.2217 12.8332 6.99996 12.8332Z" fill="#000000"/>
                                        </svg>
                                    </span>
                                ARM
                            </li>
                        <%}%>
                        <%if(siteData.lang == '2'){%>
                            <li class="change_lang_new" data-lang="1">
                                    <span class="lang_icon">
                                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.63704 3.76409C2.89332 4.53601 2.438 5.54043 2.34763 6.60852C2.25725 7.67661 2.53733 8.74325 3.14078 9.62916C3.74423 10.5151 4.63426 11.1662 5.66127 11.4732C6.68829 11.7802 7.78967 11.7242 8.78029 11.3148C8.84737 10.8773 8.70038 10.4573 8.64029 10.3103C8.50612 9.98359 8.06396 9.42534 7.32604 8.65125C7.12888 8.44417 7.14171 8.28492 7.21229 7.813L7.21987 7.75992C7.26771 7.43675 7.34821 7.24542 8.43612 7.07275C8.98912 6.98525 9.13437 7.20575 9.33562 7.512L9.40329 7.61234C9.59463 7.89234 9.73637 7.9565 9.95046 8.05334C10.0467 8.09709 10.1663 8.1525 10.3267 8.24292C10.707 8.4605 10.707 8.70609 10.707 9.24392V9.30517C10.707 9.53325 10.6849 9.73392 10.6499 9.90834C11.0975 9.34654 11.4094 8.68901 11.5614 7.98695C11.7133 7.28488 11.7012 6.55722 11.5259 5.86061C11.3507 5.16399 11.017 4.51723 10.5509 3.97067C10.0848 3.4241 9.49882 2.99249 8.83862 2.70942C8.51604 2.927 8.07329 3.23559 7.91871 3.44734C7.83996 3.55525 7.72796 4.10767 7.36454 4.15317C7.27004 4.16484 7.14229 4.15667 7.00696 4.14792C6.64413 4.12459 6.14829 4.0925 5.98962 4.52359C5.88871 4.79659 5.87121 5.53859 6.19729 5.92359C6.24979 5.98484 6.25971 6.09859 6.22413 6.22634C6.17746 6.39375 6.08354 6.49584 6.05379 6.51684C5.99779 6.48417 5.88579 6.35409 5.80938 6.266C5.62679 6.05309 5.39813 5.78767 5.10296 5.706C4.99563 5.67625 4.87779 5.65175 4.76288 5.62725C4.44263 5.56017 4.08038 5.48375 3.99579 5.30409C3.93396 5.17225 3.93454 4.99084 3.93454 4.7995C3.93454 4.55625 3.93454 4.2815 3.81554 4.01492C3.77417 3.91978 3.71337 3.83435 3.63704 3.76409ZM6.99996 12.8332C3.77821 12.8332 1.16663 10.2216 1.16663 6.99984C1.16663 3.77809 3.77821 1.1665 6.99996 1.1665C10.2217 1.1665 12.8333 3.77809 12.8333 6.99984C12.8333 10.2216 10.2217 12.8332 6.99996 12.8332Z" fill="#000000"/>
                                        </svg>
                                    </span>
                                ENG
                            </li>
                        <%}%>
                    </ul>
                    <ul class="flex user_info_list">
                        <% if(typeof siteData.userInfo !== "undefined"){%>
                        <!-- For Registration User -->
                        <li class="drop-down">
                            <a href="javascript:void(0)" id="dropDown">
                                <span class="app_icon icon_user">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                        <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                                    </svg>
                                </span>
                                <%=siteData.userInfo.name%> <%=siteData.userInfo.last_name%>
                            </a>
                            <ul class="drop-down__menu">
                                <li class="drop-down__item">
                                    <a href="/profile"><%=translations.dashboard%></a>
                                </li>
                                <li class="drop-down__item">
                                    <a href="/profile/orders"><%=translations.history_of_orders%></a>
                                </li>
                                <li class="drop-down__item">
                                    <a href="/profile/personal-data"><%=translations.personal_data%></a>
                                </li>
                                <li class="drop-down__item">
                                    <a href="javascript:void(0)" class="user-log-out-btn"><%=translations.log_out%></a>
                                </li>
                            </ul>
                        </li>
                        <% }else { %>
                        <!-- For Not Registration User -->
                        <%if(pathName != 'login'){%>
                        <li>
                            <a href="javascript:;" data-open="#login_modal">
                                <span class="app_icon icon_user">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                        <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                                    </svg>
                                </span>
                                <%=translations.log_in%>
                            </a>
                        </li>
                        <%}%>
                        <% } %>
                        <li>
                            <a href="/favorite">
                                <span class="app_real_count_btn">
                                    <span class="app_icon icon_favorites">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                            <path d="M12.8943 1.21155C15.5233 1.21155 17.6539 3.37501 17.6539 6.40385C17.6539 12.4615 11.1635 15.9231 9.00004 17.2212C6.83658 15.9231 0.346191 12.4615 0.346191 6.40385C0.346191 3.37501 2.50965 1.21155 5.10581 1.21155C6.71542 1.21155 8.13465 2.07693 9.00004 2.94232C9.86542 2.07693 11.2847 1.21155 12.8943 1.21155ZM9.80831 14.715C10.5707 14.2339 11.2587 13.7553 11.9025 13.243C14.4823 11.192 15.9231 8.95068 15.9231 6.40385C15.9231 4.36155 14.593 2.94232 12.8943 2.94232C11.9631 2.94232 10.9558 3.43559 10.2237 4.16597L9.00004 5.38962L7.77638 4.16597C7.04427 3.43559 6.03696 2.94232 5.10581 2.94232C3.42696 2.94232 2.07696 4.37539 2.07696 6.40385C2.07696 8.95155 3.51869 11.192 6.09667 13.243C6.74138 13.7553 7.42937 14.2339 8.19177 14.7141C8.45052 14.8777 8.70667 15.0343 9.00004 15.2091C9.2934 15.0343 9.54956 14.8777 9.80831 14.715Z" fill="black"/>
                                        </svg>
                                    </span>
                                    <span class="fav_count count_number"><%= siteData.favouriteCount%></span>
                                </span>
                                <%=translations.favorites%>
                            </a>
                        </li>
                        <%if(pathName !== 'cart'){%>
                        <li>
                            <a href="javascript:;" data-open="#cart_popup_id">
                                <span class="app_real_count_btn">
                                    <span class="app_icon icon_basket">
                                        <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.33329 12.3334V2.33335H0.666626V0.666687H3.16663C3.38764 0.666687 3.5996 0.754484 3.75588 0.910765C3.91216 1.06704 3.99996 1.27901 3.99996 1.50002V11.5H14.365L16.0316 4.83335H5.66663V3.16669H17.1C17.2266 3.16669 17.3516 3.19557 17.4655 3.25113C17.5793 3.3067 17.679 3.38748 17.7569 3.48734C17.8348 3.5872 17.889 3.70352 17.9152 3.82745C17.9414 3.95137 17.9391 4.07965 17.9083 4.20252L15.825 12.5359C15.7798 12.7161 15.6758 12.876 15.5293 12.9903C15.3828 13.1046 15.2024 13.1667 15.0166 13.1667H3.16663C2.94561 13.1667 2.73365 13.0789 2.57737 12.9226C2.42109 12.7663 2.33329 12.5544 2.33329 12.3334ZM3.99996 18.1667C3.55793 18.1667 3.13401 17.9911 2.82145 17.6785C2.50889 17.366 2.33329 16.942 2.33329 16.5C2.33329 16.058 2.50889 15.6341 2.82145 15.3215C3.13401 15.0089 3.55793 14.8334 3.99996 14.8334C4.44199 14.8334 4.86591 15.0089 5.17847 15.3215C5.49103 15.6341 5.66663 16.058 5.66663 16.5C5.66663 16.942 5.49103 17.366 5.17847 17.6785C4.86591 17.9911 4.44199 18.1667 3.99996 18.1667ZM14 18.1667C13.5579 18.1667 13.134 17.9911 12.8215 17.6785C12.5089 17.366 12.3333 16.942 12.3333 16.5C12.3333 16.058 12.5089 15.6341 12.8215 15.3215C13.134 15.0089 13.5579 14.8334 14 14.8334C14.442 14.8334 14.8659 15.0089 15.1785 15.3215C15.491 15.6341 15.6666 16.058 15.6666 16.5C15.6666 16.942 15.491 17.366 15.1785 17.6785C14.8659 17.9911 14.442 18.1667 14 18.1667Z" fill="black"/>
                                        </svg>
                                    </span>
                                    <span class="count_product count_number"><%=siteData.allProductQuantity%></span>
                                </span>
                                <span class="hide_mobile"><%=translations.cart%></span>
                            </a>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- / HEADER top-->

    <div class="container hide_mobile">
        <div class="header_brand">
            <a href="/">
                <img src="/images/content/general/logo.svg" alt="">
            </a>
        </div>
    </div>

    <div class="header_middle header_middle_new hide_tablet hide_desktop">
        <div class="container ">
            <div class="fcb">
                <div class="flex ais">
                    <button type="button" class="menu_toggle burger_btn">
                        <span class="burger_icon"></span>
                    </button>
                    <button type="button" class="search_toggle_btn" data-open="#search_popup_id">
                        <span class="search_btn">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.75 11.9571C3.88418 11.9571 1.54286 9.61582 1.54286 6.75C1.54286 3.88418 3.88418 1.54286 6.75 1.54286C9.61582 1.54286 11.9571 3.88418 11.9571 6.75C11.9571 9.61582 9.61582 11.9571 6.75 11.9571ZM6.75 13.5C10.4679 13.5 13.5 10.4679 13.5 6.75C13.5 3.03209 10.4679 0 6.75 0C3.03209 0 0 3.03209 0 6.75C0 10.4679 3.03209 13.5 6.75 13.5Z" fill="black"/>
                                <path d="M10.1652 11.2347L11.2561 10.1437L17.4686 16.3562L16.3776 17.4471L10.1652 11.2347Z" fill="black"/>
                            </svg>
                        </span>
                    </button>
                    <a href="/favorite" class="favorites_btn">
                        <span class="app_real_count_btn">
                            <span class="app_icon icon_favorites">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M12.8943 1.21155C15.5233 1.21155 17.6539 3.37501 17.6539 6.40385C17.6539 12.4615 11.1635 15.9231 9.00004 17.2212C6.83658 15.9231 0.346191 12.4615 0.346191 6.40385C0.346191 3.37501 2.50965 1.21155 5.10581 1.21155C6.71542 1.21155 8.13465 2.07693 9.00004 2.94232C9.86542 2.07693 11.2847 1.21155 12.8943 1.21155ZM9.80831 14.715C10.5707 14.2339 11.2587 13.7553 11.9025 13.243C14.4823 11.192 15.9231 8.95068 15.9231 6.40385C15.9231 4.36155 14.593 2.94232 12.8943 2.94232C11.9631 2.94232 10.9558 3.43559 10.2237 4.16597L9.00004 5.38962L7.77638 4.16597C7.04427 3.43559 6.03696 2.94232 5.10581 2.94232C3.42696 2.94232 2.07696 4.37539 2.07696 6.40385C2.07696 8.95155 3.51869 11.192 6.09667 13.243C6.74138 13.7553 7.42937 14.2339 8.19177 14.7141C8.45052 14.8777 8.70667 15.0343 9.00004 15.2091C9.2934 15.0343 9.54956 14.8777 9.80831 14.715Z" fill="black"/>
                                </svg>
                            </span>
                            <span class="fav_count count_number"><%= siteData.favouriteCount%></span>
                        </span>
                    </a>
                </div>
                <a href="/" class="mob_brand flex ais">
                    <img src="/images/content/general/logo_mob.svg" alt="">
                </a>
                <div class="flex ais">
                    <ul class="language_list flex">
                        <%if(siteData.lang == '1'){%>
                            <li class="change_lang_new" data-lang="2">
                                ARM
                            </li>
                        <%}%>
                        <%if(siteData.lang == '2'){%>
                            <li class="change_lang_new" data-lang="1">
                                ENG
                            </li>
                        <%}%>
                    </ul>
                    <% if(typeof siteData.userInfo !== "undefined"){%>
                    <a href="/profile">
                        <span class="app_icon icon_user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                            </svg>
                        </span>
                    </a>
                    <% }else { %>
                    <%if(pathName != 'login'){%>
                    <a href="javascript:;" data-open="#login_modal">
                        <span class="app_icon icon_user">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M9.25715 8.64C11.3874 8.64 13.1143 7.02822 13.1143 5.04C13.1143 3.05177 11.3874 1.44 9.25715 1.44C7.12691 1.44 5.4 3.05177 5.4 5.04C5.4 7.02822 7.12691 8.64 9.25715 8.64ZM9.25715 10.08C6.27481 10.08 3.85715 7.82352 3.85715 5.04C3.85715 2.25648 6.27481 0 9.25715 0C12.2395 0 14.6571 2.25648 14.6571 5.04C14.6571 7.82352 12.2395 10.08 9.25715 10.08Z" fill="black"/>
                                <path d="M15.3 16.8C15.3 13.5525 12.4794 10.92 8.99999 10.92C5.5206 10.92 2.69999 13.5525 2.69999 16.8L2.57142 16.92H1.28571L1.15714 16.8C1.15714 12.7573 4.6685 9.47998 8.99999 9.47998C13.3315 9.47998 16.8428 12.7573 16.8428 16.8L16.7143 16.92H15.4286L15.3 16.8Z" fill="black"/>
                            </svg>
                        </span>
                    </a>
                    <%}%>
                    <%}%>
                    <%if(pathName !== 'cart'){%>
                    <a href="javascript:;" data-open="#cart_popup_id" class="mob_cart_btn">
                        <span class="hide_mobile"><%=translations.cart%></span>
                        <span class="app_real_count_btn">
                            <span class="app_icon icon_basket">
                                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.33329 12.3334V2.33335H0.666626V0.666687H3.16663C3.38764 0.666687 3.5996 0.754484 3.75588 0.910765C3.91216 1.06704 3.99996 1.27901 3.99996 1.50002V11.5H14.365L16.0316 4.83335H5.66663V3.16669H17.1C17.2266 3.16669 17.3516 3.19557 17.4655 3.25113C17.5793 3.3067 17.679 3.38748 17.7569 3.48734C17.8348 3.5872 17.889 3.70352 17.9152 3.82745C17.9414 3.95137 17.9391 4.07965 17.9083 4.20252L15.825 12.5359C15.7798 12.7161 15.6758 12.876 15.5293 12.9903C15.3828 13.1046 15.2024 13.1667 15.0166 13.1667H3.16663C2.94561 13.1667 2.73365 13.0789 2.57737 12.9226C2.42109 12.7663 2.33329 12.5544 2.33329 12.3334ZM3.99996 18.1667C3.55793 18.1667 3.13401 17.9911 2.82145 17.6785C2.50889 17.366 2.33329 16.942 2.33329 16.5C2.33329 16.058 2.50889 15.6341 2.82145 15.3215C3.13401 15.0089 3.55793 14.8334 3.99996 14.8334C4.44199 14.8334 4.86591 15.0089 5.17847 15.3215C5.49103 15.6341 5.66663 16.058 5.66663 16.5C5.66663 16.942 5.49103 17.366 5.17847 17.6785C4.86591 17.9911 4.44199 18.1667 3.99996 18.1667ZM14 18.1667C13.5579 18.1667 13.134 17.9911 12.8215 17.6785C12.5089 17.366 12.3333 16.942 12.3333 16.5C12.3333 16.058 12.5089 15.6341 12.8215 15.3215C13.134 15.0089 13.5579 14.8334 14 14.8334C14.442 14.8334 14.8659 15.0089 15.1785 15.3215C15.491 15.6341 15.6666 16.058 15.6666 16.5C15.6666 16.942 15.491 17.366 15.1785 17.6785C14.8659 17.9911 14.442 18.1667 14 18.1667Z" fill="black"/>
                                </svg>
                            </span>
                            <span class="count_product count_number"><%=siteData.allProductQuantity%></span>
                        </span>
                    </a>
                    <%}%>
                </div>
            </div>
        </div>
    </div> <!-- / HEADER middle-->

    <div class="header_navbar header_navbar_new">
        <div class="container-fluid">
            <ul class="navbar">
                <li class="navbar_item navbar_dropdown">
                    <a href="/catalog?page=1"><%=translations.shop%> <span class="app_icon icon_dropdown"></span></a>
                    <div class="dropdown_content">
                        <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> <%=translations.shop%> </button>
                        <div class="dropdown_shop">
                            <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_toggle_megamenu"></span></button>

                            <div class="row">
                                <div class="col-12 col-md-8">
                                    <div class="row  grid">
                                        <div class="grid-sizer"></div>
                                        <% siteData.categories.forEach(function (cWb) { %>
                                            <div class="reveal_effect_box grid-item">
                                                <h3 class="dropdown_nav_title"><%=cWb.name%></h3>
                                                <ul class="dropdown_nav_list reveal_effect_block" data-fx="1">
                                                    <% cWb.brands.forEach(function (brands) { %>
                                                        <li><a data-img="<%=brands.image%>" class="reveal_effect_block__link" href="<%=brands.catalogUrl%>"><%=brands.name%></a></li>
                                                    <% }) %>
                                                </ul>
                                            </div>
                                        <% }) %>

                                    </div>
                                </div>
                                <% if(siteData.ssProduct.length !== 0){ %>
                                <div class="col-12 col-md-4 hide_mobile">
                                    <a href="/product?id=<%=siteData.ssProduct[0].slug%>" class="dropdown_product">
                                        <div class="dropdown_product_img">
                                            <img src="<%=siteData.ssProduct[0].image%>" alt="<%=siteData.ssProduct[0].name%>">
                                        </div>
                                        <h2 class="dropdown_product_name"><%=siteData.ssProduct[0].name%></h2>
                                        <div class="dropdown_product_price"><%=siteData.ssProduct[0].price%> <sup>֏</sup></div>
                                    </a>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar_item navbar_dropdown navbar_dropdown_brands">
                    <a href="javascript:void(0)"><%=translations.our_brands%><span class="app_icon icon_dropdown"></span></a>
                    <div class="dropdown_content">
                        <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> <%=translations.our_brands%> </button>
                        <div class="dropdown_brands">
                            <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_toggle_megamenu"></span></button>

                            <div class="row">
                                <% siteData.brands.forEach(function (brand) { %>
                                <div class="brands-col col-4 col-md-2">
                                    <a href="/brand/<%=brand.slug%>" class="dropdown_brands_cart">
                                        <img src="<%=brand.image%>" alt="<%=brand.name%>">
                                    </a>
                                </div>
                                <% })%>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar_item navbar_dropdown">
                    <a href="/about/"><%=translations.company%> <span class="app_icon icon_dropdown"></span></a>
                    <div class="dropdown_content">
                        <button type="button"  class="hide_tablet mob_drop_btn"><span class="app_icon icon_dropdown"></span> <%=translations.company%>  </button>
                        <div class="dropdown_company">
                            <div class="row">
                                <button type="button" class="close_dropdown_btn hide_mobile"><span class="app_icon icon_toggle_megamenu"></span></button>

                                <div class="col-12 col-md-9">
                                    <ul class="company_navbar flex fcb">
                                        <li><a href="/about"><%=translations.pernod_ricard_group_in_armenia%></a></li>
                                        <li><a target="_blank" href="https://pernod-ricard.com/en/our-group/" class="external-link"><%=translations.pernod_ricard_group%></a></li>
                                        <li><a target="_blank" href="https://pernod-ricard.com/en/our-strategy/our-strategic-model/" class="external-link"><%=translations.global_strategy%></a></li>
                                        <li><a href="/about"><%=translations.group_values%></a></li>
                                        <li><a href="/history"><%=translations.history%></a></li>
                                        <li><a target="_blank" href="https://pernod-ricard.com/en/our-group/our-organisation/" class="external-link"><%=translations.oganization%></a></li>
                                        <li><a href="/about"><%=translations.social_responsibility%></a></li>
                                    </ul>

                                    <div class="dropdown_aboutcompany">
                                        <p>The history of Pernod Ricard in Armenia dates back to the years 1998-1999, when the Group acquired Yerevan Brandy Company, the producer of legendary ARARAT brandies. However, this was just the beginning: Pernod Ricard did not intend to confine to the achievements already gained.</p>
                                        <a href="javascript:;" class="company_btn"><%=translations.more%></a>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 hide_mobile">
                                    <a href="javascript:;" class="dropdown_company_img">
                                        <img src="/images/content/dropdown_product_img.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar_item">
                    <a href="/news?page=1"><%=translations.news%></a>
                </li>
                <li class="navbar_item">
                    <a href="/special-offers"><%=translations.special_offers%></a>
                </li>
                <li class="navbar_item">
                    <a href="/contact"><%=translations.contacts%></a>
                </li>
            </ul>
        </div>

        <div class="header_navbar_foot hide_tablet">
            <span class="app_icon icon_mail"></span>
            <script type="text/javascript">
                    //<![CDATA[
                    var l=new Array();
                    l[0] = '>';
                    l[1] = 'a';
                    l[2] = '/';
                    l[3] = '<';
                    l[4] = '|109';
                    l[5] = '|111';
                    l[6] = '|99';
                    l[7] = '|46';
                    l[8] = '|100';
                    l[9] = '|114';
                    l[10] = '|97';
                    l[11] = '|99';
                    l[12] = '|105';
                    l[13] = '|114';
                    l[14] = '|45';
                    l[15] = '|100';
                    l[16] = '|111';
                    l[17] = '|110';
                    l[18] = '|114';
                    l[19] = '|101';
                    l[20] = '|112';
                    l[21] = '|64';
                    l[22] = '|111';
                    l[23] = '|102';
                    l[24] = '|110';
                    l[25] = '|105';
                    l[26] = '>';
                    l[27] = '"';
                    l[28] = '|109';
                    l[29] = '|111';
                    l[30] = '|99';
                    l[31] = '|46';
                    l[32] = '|100';
                    l[33] = '|114';
                    l[34] = '|97';
                    l[35] = '|99';
                    l[36] = '|105';
                    l[37] = '|114';
                    l[38] = '|45';
                    l[39] = '|100';
                    l[40] = '|111';
                    l[41] = '|110';
                    l[42] = '|114';
                    l[43] = '|101';
                    l[44] = '|112';
                    l[45] = '|64';
                    l[46] = '|111';
                    l[47] = '|102';
                    l[48] = '|110';
                    l[49] = '|105';
                    l[50] = ':';
                    l[51] = 'o';
                    l[52] = 't';
                    l[53] = 'l';
                    l[54] = 'i';
                    l[55] = 'a';
                    l[56] = 'm';
                    l[57] = '"';
                    l[58] = '=';
                    l[59] = 'f';
                    l[60] = 'e';
                    l[61] = 'r';
                    l[62] = 'h';
                    l[63] = ' ';
                    l[64] = 'a';
                    l[65] = '<';

                    for (var i = l.length-1; i >= 0; i=i-1) {
                        if (l[i].substring(0, 1) === '|') document.write("&#"+unescape(l[i].substring(1))+";");
                        else document.write(unescape(l[i]));
                    }
                    //]]>
            </script>
        </div>
    </div> <!-- HEADER navbar -->
</header>

<main>