<%- include("../default/header.ejs") %>

<div class="not_found_wrapper">
    <div class="container">
        <div class="not_found_box" style="background-image: url('images/content/404_bg.png')">
            <div class="not_found_cart fcc">
                <div class="not_found_top fcc">
                    <img src="/images/content/general/404_logo.svg" alt="">
                </div>
                <p>Sorry, the page you are looking for is no longer available</p>
                <a href="/" class="btn_outline">Back to Home</a>
                <a href="/catalog" class="btn">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>


<%- include("../default/footer.ejs") %>