<%- include("../default/header.ejs") %>

<section class="hero_banner">
    <div class="item">
        <div class="item__img-wrap parallax-section">
            <div class="item__img parallax-image" style="background-image: url('images/content/contact_hero.png');"></div>
        </div>
    </div>
</section>

<section class="contact_wrapper">
    <div class="container">
        <div class="contact_box">
            <h1 class="primary_title title_infinities"><%=translations.contacts%></h1>
            <div class="contact_form">
                <form  class="__contact_formN">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="contact-col">
                                <div class="input_box">
                                    <input id="r_name_id" name="name" type="text" class="validate" data-error="#e1">
                                    <label for="r_name_id"><%=translations.name%></label>
                                    <div class="error_text" id="e1"></div>
                                </div>
                            </div>
                            <div class="contact-col">
                                <div class="input_box">
                                    <input id="r_email_id" name="email" type="email" class="validate" data-error="#e3">
                                    <label for="r_email_id"><%=translations.email%></label>
                                    <div class="error_text" id="e3"></div>
                                </div>
                            </div>
                            <div class="contact-col">
                                <div class="input_box">
                                    <input id="r_subject_id" name="subject" type="text" class="validate" data-error="#e4">
                                    <label for="r_subject_id"><%=translations.subject%></label>
                                    <div class="error_text" id="e4"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="contact-col">
                                <div class="input_box">
                                    <textarea name="message" id="message_id1" class="validate" data-error="#e61" spellcheck="false"></textarea>
                                    <label for="message_id1"><%=translations.message%> </label>
                                    <div class="error_text" id="e61"></div>
                                </div>
                            </div>
                            <div class="contact-col">
                                <input type="submit"  class="btn btn_create" value="<%=translations.send%>">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">

                        </div>
                        <!--                        <div class="col-12">-->
                        <!--                            <div class="input_checkbox flex">-->
                        <!--                                <input type="checkbox" id="checkbox" name="accept" checked>-->
                        <!--                                <label for="checkbox">-->
                        <!--                                    <span>I accept <a href="javascript:;">terms and conditions</a> and <a href="javascript:;">privacy policy</a></span>-->
                        <!--                                </label>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> <!-- / contact_wrapper -->

<section class="contact_data_wrapper">
    <div class="container">
        <div class="contact_data_box">
            <table class="account_table">
                <tr>
                    <th><%=translations.address%>:</th>
                    <th><%=translations.phone%>:</th>
                    <th><%=translations.faq%>:</th>
                    <th><%=translations.email%>:</th>
                </tr>
                <tr>
                    <td><a href="javascript:void(0)"  data-open="#map_contact_modal"><%=translations.pernode_address%></a></td>
                    <td><a href="tel:<%=siteData.settings.public_phone%>"><%=siteData.settings.public_phone%></a></td>
                    <td><a href="tel:<%=siteData.settings.public_fax%>"><%=siteData.settings.public_fax%></a></td>
                    <td>
                        <script type="text/javascript">
                        //<![CDATA[
                        var l=new Array();
                        l[0] = '>';
                        l[1] = 'a';
                        l[2] = '/';
                        l[3] = '<';
                        l[4] = '|109';
                        l[5] = '|111';
                        l[6] = '|99';
                        l[7] = '|46';
                        l[8] = '|100';
                        l[9] = '|114';
                        l[10] = '|97';
                        l[11] = '|99';
                        l[12] = '|105';
                        l[13] = '|114';
                        l[14] = '|45';
                        l[15] = '|100';
                        l[16] = '|111';
                        l[17] = '|110';
                        l[18] = '|114';
                        l[19] = '|101';
                        l[20] = '|112';
                        l[21] = '|64';
                        l[22] = '|111';
                        l[23] = '|102';
                        l[24] = '|110';
                        l[25] = '|105';
                        l[26] = '>';
                        l[27] = '"';
                        l[28] = '|109';
                        l[29] = '|111';
                        l[30] = '|99';
                        l[31] = '|46';
                        l[32] = '|100';
                        l[33] = '|114';
                        l[34] = '|97';
                        l[35] = '|99';
                        l[36] = '|105';
                        l[37] = '|114';
                        l[38] = '|45';
                        l[39] = '|100';
                        l[40] = '|111';
                        l[41] = '|110';
                        l[42] = '|114';
                        l[43] = '|101';
                        l[44] = '|112';
                        l[45] = '|64';
                        l[46] = '|111';
                        l[47] = '|102';
                        l[48] = '|110';
                        l[49] = '|105';
                        l[50] = ':';
                        l[51] = 'o';
                        l[52] = 't';
                        l[53] = 'l';
                        l[54] = 'i';
                        l[55] = 'a';
                        l[56] = 'm';
                        l[57] = '"';
                        l[58] = '=';
                        l[59] = 'f';
                        l[60] = 'e';
                        l[61] = 'r';
                        l[62] = 'h';
                        l[63] = ' ';
                        l[64] = 'a';
                        l[65] = '<';

                        for (var i = l.length-1; i >= 0; i=i-1) {
                            if (l[i].substring(0, 1) === '|') document.write("&#"+unescape(l[i].substring(1))+";");
                            else document.write(unescape(l[i]));
                        }
                        //]]>
                        </script>
                    </td>
                </tr>
            </table>

            <div class="account_table_mob">
                <div>
                    <div class="table_title"><%=translations.address%>:</div>
                    <div class="table_data"><a href="javascript:void(0)" data-open="#map_contact_modal"><%=translations.pernode_address%></a></div>
                </div>
                <div>
                    <div class="table_title"><%=translations.phone%>:</div>
                    <div class="table_data"><%=siteData.settings.public_phone%></div>
                </div>
                <div>
                    <div class="table_title"><%=translations.faq%>:</div>
                    <div class="table_data"> <%=siteData.settings.public_fax%></div>
                </div>
                <div>
                    <div class="table_title"><%=translations.email%>:</div>
                    <div class="table_data">
                        <script type="text/javascript">
                        //<![CDATA[
                        var l=new Array();
                        l[0] = '>';
                        l[1] = 'a';
                        l[2] = '/';
                        l[3] = '<';
                        l[4] = '|109';
                        l[5] = '|111';
                        l[6] = '|99';
                        l[7] = '|46';
                        l[8] = '|100';
                        l[9] = '|114';
                        l[10] = '|97';
                        l[11] = '|99';
                        l[12] = '|105';
                        l[13] = '|114';
                        l[14] = '|45';
                        l[15] = '|100';
                        l[16] = '|111';
                        l[17] = '|110';
                        l[18] = '|114';
                        l[19] = '|101';
                        l[20] = '|112';
                        l[21] = '|64';
                        l[22] = '|111';
                        l[23] = '|102';
                        l[24] = '|110';
                        l[25] = '|105';
                        l[26] = '>';
                        l[27] = '"';
                        l[28] = '|109';
                        l[29] = '|111';
                        l[30] = '|99';
                        l[31] = '|46';
                        l[32] = '|100';
                        l[33] = '|114';
                        l[34] = '|97';
                        l[35] = '|99';
                        l[36] = '|105';
                        l[37] = '|114';
                        l[38] = '|45';
                        l[39] = '|100';
                        l[40] = '|111';
                        l[41] = '|110';
                        l[42] = '|114';
                        l[43] = '|101';
                        l[44] = '|112';
                        l[45] = '|64';
                        l[46] = '|111';
                        l[47] = '|102';
                        l[48] = '|110';
                        l[49] = '|105';
                        l[50] = ':';
                        l[51] = 'o';
                        l[52] = 't';
                        l[53] = 'l';
                        l[54] = 'i';
                        l[55] = 'a';
                        l[56] = 'm';
                        l[57] = '"';
                        l[58] = '=';
                        l[59] = 'f';
                        l[60] = 'e';
                        l[61] = 'r';
                        l[62] = 'h';
                        l[63] = ' ';
                        l[64] = 'a';
                        l[65] = '<';

                        for (var i = l.length-1; i >= 0; i=i-1) {
                            if (l[i].substring(0, 1) === '|') document.write("&#"+unescape(l[i].substring(1))+";");
                            else document.write(unescape(l[i]));
                        }
                        //]]>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- / contact_data_wrapper -->




<%- include("../components/thank_you_modal.ejs") %>

<%- include("../default/footer.ejs") %>


<!--client     6LcXmSkaAAAAAEChJKr4mwwT0598GhOZ2tOO8OBj    -->
<!--server     6LcXmSkaAAAAAKS7XDPyeJBhep9jppxUulwiRDnB    -->