<%- include("../default/header.ejs") %>

<section class="hero_profile_wrapper">
    <div class="container">
        <h2 class="profile_title">№ <%=orderInfo.public_id%> </h2>
        <p>Order number</p>
    </div>
</section>

<section class="profile_nav">
    <div class="container">
        <ul class="flex profile_navbar">
            <li><a href="/profile">Dashboard</a></li>
            <li><a href="/profile/orders" class="active">History of orders</a></li>
            <li><a href="/profile/personal-data">Personal data</a></li>
            <li>
                <a href="javascript:void(0)" class="user-log-out-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3.75 8.25H9.75V9.75H3.75V12L0 9L3.75 6V8.25ZM3 13.5H5.031C5.89701 14.2638 6.96501 14.7614 8.10685 14.9332C9.24868 15.105 10.4158 14.9437 11.4683 14.4686C12.5207 13.9935 13.4137 13.2249 14.0401 12.2549C14.6664 11.2848 14.9996 10.1547 14.9996 9C14.9996 7.84532 14.6664 6.71516 14.0401 5.74514C13.4137 4.77512 12.5207 4.00646 11.4683 3.53138C10.4158 3.05629 9.24868 2.89498 8.10685 3.0668C6.96501 3.23861 5.89701 3.73625 5.031 4.5H3C3.698 3.56788 4.60375 2.81139 5.6453 2.29061C6.68686 1.76983 7.83551 1.49913 9 1.5C13.1423 1.5 16.5 4.85775 16.5 9C16.5 13.1423 13.1423 16.5 9 16.5C7.83551 16.5009 6.68686 16.2302 5.6453 15.7094C4.60375 15.1886 3.698 14.4321 3 13.5Z" fill="#7B93C5"/></svg>
                    Log out
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="order_item_top">
    <div class="container">
        <div class="fcb">
            <a href="/profile/orders" class="back_to_orders_btn">
                <span class="ob-back-icon">
                    <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"></path> </svg>
                </span>
                Back to order list
            </a>

            <button type="button" class="order_dropdown_btn collapse" data-collapse="#order_dropdown_list_id">
                <span class="order_dropdown_btn_icon">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 426.667 426.667" style="enable-background:new 0 0 426.667 426.667;" xml:space="preserve"> <g> <g> <circle cx="42.667" cy="213.333" r="42.667"/> </g> </g> <g> <g> <circle cx="213.333" cy="213.333" r="42.667"/> </g> </g> <g> <g> <circle cx="384" cy="213.333" r="42.667"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
                </span>
            </button>
            <ul class="order_dropdown_list" style="display: none" id="order_dropdown_list_id">
                <li><a href="javascript:;" id="prindOrder">Print order</a></li>
                <li><a href="javascript:;">Repeat Order</a></li>
                <li><a href="/profile/order/get-invoice/<%=orderInfo.public_id%>" target="_blank" id="generateInvoice">Get Invoice</a></li>
                <li id="remove-order" data-id="<%=orderInfo.order_id%>"><a href="">Remove order</a></li>
            </ul>
        </div>
    </div>
</section>
<div id="printableArea">
    <section class="account_orderItems_wrapper">
        <div class="container">
            <h1 class="account_deliveryInfo_title primary_title">Order details #<%=orderInfo.public_id%></h1>
            <div class="account_items_box">
                <div class="checkout_product_list">
                    <% orderProducts.forEach(function (orderProduct) { %>
                        <div class="cart_popup_product flex">
                            <div class="cart_popup_product_img">
                                <img src="<%=orderProduct.image%>" alt="<%=orderProduct.name%>">
                            </div>
                            <div class="cart_popup_product_box">
                                <div class="cart_popup_product_info flex jsb">
                                    <div>
                                        <h4><%=orderProduct.name%></h4>
        <!--                                <p>Dry red wine, 0.75 L</p>-->
                                        <p>Quantity: <%=orderProduct.quantity%></p>
                                    </div>
                                    <div class="cart_popup_product_price">
                                        <%=orderProduct.price%> <sup>֏</sup>
                                        <% if(orderProduct.price_before_sale !== null){ %>
                                        <del><%=orderProduct.price_before_sale%> <sup>֏</sup></del>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%  })%> %>
                </div>
                <div class="total_box fcb">
                    <p>TotaL</p>
                    <div class="cart_total_price"><%=orderInfo.total_price%> <sup>֏</sup></div>
                </div>
            </div>
        </div>
    </section>

    <div class="account_deliveryInfo_iten_wrapper">
        <div class="container">
            <div class="account_deliveryInfo_box account_data_box">
                <h2 class="account_deliveryInfo_title primary_title">Order delivery information</h2>

                <!-- Delivery Information for WEB -->
                <table class="account_table">
                    <tr>
                        <th>Name</th>
                        <th>email</th>
                        <th>Phone  number</th>
                    </tr>
                    <tr>
                        <td><%=orderInfo.name%> <%=orderInfo.last_name%></td>
                        <td><%=orderInfo.email%></td>
                        <td><%=orderInfo.phone%></td>
                    </tr>
                    <tr>
                        <th colspan="3">delivery address</th>
                    </tr>
                    <tr>
                        <td colspan="3"><%=orderInfo.address%></td>
                    </tr>
                </table>

                <div class="account_deliveryInfo_table">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <table class="account_table">
                                <tr>
                                    <th>Order comments</th>
                                </tr>
                                <tr>
                                    <td>
                                        <%if(orderInfo.comment == '' || orderInfo.comment == null){%>
                                           No Comment
                                        <%}else{%>
                                        <%=orderInfo.comment%>
                                        <%}%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>delivery date slot</th>
                                </tr>
                                <tr>
                                    <td>
                                        <%if(orderInfo.delivery_date == '' || orderInfo.delivery_date == null){%>
                                            No delivery date slot
                                        <%}else{%>
                                        <%=orderInfo.delivery_date%>
                                        <%}%>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-12 col-lg-6">
                            <table class="account_table">
                                <tr>
                                    <th>payment method</th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="fcb">
                                            <% if(orderInfo.payment_type == '1'){ %>
                                                <span>Credit Card</span>
                                                <span><%=orderInfo.CardNumber%></span>
                                            <% }else if(orderInfo.payment_type == '2'){ %>
                                                <span>Idram</span>
                                            <% }else if(orderInfo.payment_type == '3'){ %>
                                                <span>Cash</span>
                                            <% }else if(orderInfo.payment_type == '4'){ %>
                                                <span>Bank Transfer</span>
                                            <% } %>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>From -to</th>
                                </tr>
                                <tr>
                                    <td>
                                        <%if(orderInfo.delivery_time == '' || orderInfo.delivery_time == null){%>
                                            No time slot
                                        <%}else{%>
                                        <%=orderInfo.delivery_time%>
                                        <%}%>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <% if(orderInfo.payment_type == '4'){ %>
                    <div class="account_deliveryInfo_box">
                        <h2 class="account_deliveryInfo_title primary_title">Information For Bank transfer Dtails</h2>
                        <div class="cart_popup_product flex"> Test info Test info </div>
                    </div>
                <% } %>
                <!--  Delivery Information for Mobile -->
                <div class="account_table_mob">
                    <div class="table_mob_col">
                        <div class="table_title">Name</div>
                        <div class="table_data"><%=orderInfo.name%> <%=orderInfo.last_name%></div>

                        <div class="table_title">email</div>
                        <div class="table_data"><%=orderInfo.email%></div>

                        <div class="table_title">Phone  number</div>
                        <div class="table_data"><%=orderInfo.phone%></div>
                    </div>
                    <div class="table_mob_col">
                        <div class="table_title">delivery address</div>
                        <div class="table_data"><%=orderInfo.address%></div>
                    </div>
                    <div class="table_mob_col">
                        <div class="table_title">Order comments</div>
                        <div class="table_data"><%=orderInfo.comment%></div>
                    </div>
                    <div class="table_mob_col">
                        <div class="table_title">payment method</div>
                        <div class="table_data">ARCA <br><br>
                            <%=orderInfo.CardNumber%>
                        </div>
                    </div>
                    <div class="table_mob_col">
                        <div class="table_title">delivery date and time slot</div>
                        <div class="table_data"><%=orderInfo.delivery_date%></div>
                    </div>
                    <div class="table_mob_col">
                        <div class="table_title">From -to</div>
                        <div class="table_data"><%=orderInfo.delivery_time%></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="account_deliveryInfo_iten_wrapper">
    <div class="container">
        <a href="javascript:;" class="btn_outline btn_repeat_order">Repeat order</a>
    </div>
</section>

<%- include("../default/footer.ejs") %>
<script>
    $('#remove-order').click(function () {
        var orderId = $(this).attr('data-id');
        requestPost('/profile/orders/remove-order','orderId='+orderId+'', function () {
            if(this.readyState == 4) {
                let result = JSON.parse(this.responseText);
                console.log('result',result)
                window.location.href = '/profile/orders';
            }
        })
    })
</script>