<%- include("../default/header.ejs") %>

<section class="hero_profile_wrapper">
    <div class="container">
        <h2 class="profile_title">Orders</h2>
<!--        <p>hellopetros@gmail.com</p>-->
    </div>
</section>

<section class="profile_nav">
    <div class="container">
        <ul class="flex profile_navbar">
            <li><a href="/profile">Dashboard</a></li>
            <li><a href="/profile/orders" class="active">History of orders</a></li>
            <li><a href="/profile/personal-data">Personal data</a></li>
            <li>
                <a href="javascript:void(0)" class="user-log-out-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3.75 8.25H9.75V9.75H3.75V12L0 9L3.75 6V8.25ZM3 13.5H5.031C5.89701 14.2638 6.96501 14.7614 8.10685 14.9332C9.24868 15.105 10.4158 14.9437 11.4683 14.4686C12.5207 13.9935 13.4137 13.2249 14.0401 12.2549C14.6664 11.2848 14.9996 10.1547 14.9996 9C14.9996 7.84532 14.6664 6.71516 14.0401 5.74514C13.4137 4.77512 12.5207 4.00646 11.4683 3.53138C10.4158 3.05629 9.24868 2.89498 8.10685 3.0668C6.96501 3.23861 5.89701 3.73625 5.031 4.5H3C3.698 3.56788 4.60375 2.81139 5.6453 2.29061C6.68686 1.76983 7.83551 1.49913 9 1.5C13.1423 1.5 16.5 4.85775 16.5 9C16.5 13.1423 13.1423 16.5 9 16.5C7.83551 16.5009 6.68686 16.2302 5.6453 15.7094C4.60375 15.1886 3.698 14.4321 3 13.5Z" fill="#7B93C5"/></svg>
                    Log out
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="account_orders_wrapper">
    <div class="container">
        <div class="account_orders_box">
            <h2 class="primary_title">orders history</h2>

            <%if(data.orders.length > 0) {%>
            <table class="account_table">
                <tr>
                    <th>order number</th>
                    <th>date</th>
                    <th>Summ</th>
                    <th>Payment status</th>
                    <th>Order status</th>
                    <th>Delivery status</th>
                    <th>&nbsp;</th>
                </tr>
                <% data.orders.forEach(function (order) { %>
                    <tr>
                        <td>№ <%=order.publicId%></td>
                        <td><%=order.order_date%></td>
                        <td><%=order.total_price%> <span class="table_price_f">֏</span></td>
                        <td>
                            <% if(order.payment_status == '0'){ %>
                                Not Paid
                            <%}else if(order.payment_status == '1'){%>
                                Paid
                            <%}%>
                        </td>
                        <td>
                            <% if(order.order_status == '0'){ %>
                                Pending
                            <%}else if(order.order_status == '1'){%>
                                Decline
                            <%}else if(order.order_status == '2'){%>
                                Accepted
                            <%}%>
                        </td>
                        <td>
                            <% if(order.delivery_status == '0'){ %>
                                Pending
                            <%}else if(order.delivery_status == '1'){%>
                                Accepted
                            <%}else if(order.delivery_status == '2'){%>
                                Shipping
                            <%}else if(order.delivery_status == '3'){%>
                                Finished
                            <%}%>
                        </td>
                        <td><a href="/profile/orders/<%=order.publicId%>" class="btn_link btn_orders_more">More</a></td>
                    </tr>
                <% }) %>
            </table>

            <div class="account_table_mob">
                <% data.orders.forEach(function (order) { %>
                    <div class="table_mob_col">
                        <div class="table_title">order number</div>
                        <div class="table_data">№<%=order.publicId%></div>

                        <div class="table_title">date</div>
                        <div class="table_data"><%=order.order_date%></div>

                        <div class="table_title">Summ</div>
                        <div class="table_data"><%=order.total_price%></div>


                        <div class="table_title">>Payment status</div>
                        <div class="table_data">
                            <% if(order.payment_status == '0'){ %>
                                Not Paid
                            <%}else if(order.payment_status == '1'){%>
                                Paid
                            <%}%>
                        </div>

                        <div class="table_title">Order status</div>
                        <div class="table_data">
                            <% if(order.order_status == null){ %>
                                No Action
                            <%}else if(order.order_status == '0'){%>
                                Decline
                            <%}else if(order.order_status == '1'){%>
                                Accepted
                            <%}%>
                        </div>

                        <div class="table_title">Delivery status</div>
                        <div class="table_data">
                            <% if(order.delivery_status == null){ %>
                                No Action
                            <%}else if(order.delivery_status == '1'){%>
                                Accepted
                            <%}else if(order.delivery_status == '2'){%>
                                Shipping
                            <%}else if(order.delivery_status == '3'){%>
                                Finished
                            <%}%>
                        </div>

                        <a href="/profile/orders/<%=order.publicId%>" class="btn_link btn_orders_more">More</a>
                    </div>
                <% }) %>
            </div>

            <%}else{%>
                <!-- For empty orders -->
                <div class="account_orders_empty">
                    <p>You have no orders yet</p>
                    <a href="/catalog" class="btn_outline">SHOP NOW</a>
                </div>
            <%}%>
        </div>
    </div>
</section>



<%- include("../default/footer.ejs") %>
<script src="/javascripts/main.js"></script>
<!--<script src="/javascripts/g_script.js"></script>-->