<%- include("../default/header.ejs") %>

<section class="hero_profile_wrapper">
    <div class="container">
        <h2 class="profile_title">PERSONAL DATA</h2>
<!--        <p>Order number</p>-->
    </div>
</section>

<section class="profile_nav">
    <div class="container">
        <ul class="flex profile_navbar">
            <li><a href="/profile">Dashboard</a></li>
            <li><a href="/profile/orders" >History of orders</a></li>
            <li><a href="/profile/personal-data" class="active">Personal data</a></li>
            <li>
                <a href="javascript:void(0)" class="user-log-out-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3.75 8.25H9.75V9.75H3.75V12L0 9L3.75 6V8.25ZM3 13.5H5.031C5.89701 14.2638 6.96501 14.7614 8.10685 14.9332C9.24868 15.105 10.4158 14.9437 11.4683 14.4686C12.5207 13.9935 13.4137 13.2249 14.0401 12.2549C14.6664 11.2848 14.9996 10.1547 14.9996 9C14.9996 7.84532 14.6664 6.71516 14.0401 5.74514C13.4137 4.77512 12.5207 4.00646 11.4683 3.53138C10.4158 3.05629 9.24868 2.89498 8.10685 3.0668C6.96501 3.23861 5.89701 3.73625 5.031 4.5H3C3.698 3.56788 4.60375 2.81139 5.6453 2.29061C6.68686 1.76983 7.83551 1.49913 9 1.5C13.1423 1.5 16.5 4.85775 16.5 9C16.5 13.1423 13.1423 16.5 9 16.5C7.83551 16.5009 6.68686 16.2302 5.6453 15.7094C4.60375 15.1886 3.698 14.4321 3 13.5Z" fill="#7B93C5"/></svg>
                    Log out
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="account_personData_wrapper">
    <div class="container">
       <div class="account_personData_box">
           <div class="account_data_box">
               <h1 class="primary_title">Personal data</h1>

               <div id="__profile_data_content_id">
                   <!-- For WEB -->
                   <form action="" class="personData_box_desktop_form">
                       <table class="account_table ">
                           <tr>
                               <th>Name</th>
                               <th>Last Name</th>
                               <th>Phone  number</th>
                           </tr>
                           <tr>
                               <td>
                                   <div class="input_box">
                                       <input id="r_name_id" name="login" type="text" class="validate valid" value="<%=siteData.userInfo.name%>" data-error="#e1" aria-required="true" aria-describedby="r_name_id-error" aria-invalid="false">
                                       <label for="r_name_id">Name</label>
                                       <div class="error_text" id="e1"><div id="r_name_id-error" class="error" style="display: none;"></div></div>
                                   </div>
                               </td>
                               <td>
                                   <div class="input_box">
                                       <input id="lr_name_id" name="lastname1" type="text" class="validate valid" value="<%=siteData.userInfo.last_name%>" data-error="#e1l" aria-required="true" aria-describedby="lr_name_id-error" aria-invalid="false">
                                       <label for="lr_name_id">LAST NAME</label>
                                       <div class="error_text" id="e1l"></div>
                                   </div>
                               </td>
                               <td>
                                   <div class="input_box">
                                       <input inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="<%=siteData.userInfo.phone%>" id="r_phone_id" name="phoneNumber" type="number" class="validate valid" data-error="#e5" aria-required="true" aria-describedby="r_phone_id-error" aria-invalid="false">
                                       <label for="r_phone_id">Phone number</label>
                                       <div class="error_text" id="e5"></div>
                                   </div>
                               </td>
                           </tr>
                           <tr style="border-bottom: 0">
                               <td colspan="3">
                                   <button  type="submit" class="btn_outline change_account_data">Save changes</button>
                               </td>
                           </tr>
                       </table>
                   </form>
                   <form  class="personData_box_desktop_form_email">
                       <table class="account_table ">
                           <tr>
                               <th colspan="3">email</th>
                           </tr>
                           <tr>
                               <td>
                                   <div class="input_box">
                                       <input value="<%=siteData.userInfo.email%>" id="r_email_id" name="emailNotChange" type="email" class="validate valid" data-error="#e3" aria-required="true" aria-describedby="r_email_id-error" aria-invalid="false">
                                       <label for="r_email_id">Email</label>
                                       <div class="error_text" id="e3"></div>
                                       <% if(siteData.userInfo.changing_email !== null){ %>
                                       <div class="email_verify_message">You change your email to <%=siteData.userInfo.changing_email%>, please verify!</div>
                                       <% } %>
                                   </div>
                               </td>
                               <td>&nbsp;</td>
                               <td>&nbsp;</td>
                           </tr>
                           <tr style="border-bottom: 0">
                               <td colspan="3">
                                   <button id="save_new_email" type="submit" class="btn_outline change_account_data">Save new email</button>
                               </td>
                           </tr>
                       </table>
                   </form>
                   <form  class="personData_box_desktop_form_password">
                       <table class="account_table ">
                           <tr>
                               <th colspan="3">Change password</th>
                           </tr>
                           <tr>
                               <td>
                                   <div class="input_box">
                                       <span class="password_toggle">
                                           <span class="app_icon icon_hide_password"></span>
                                       </span>
                                       <input id="r_oldpass_id" name="old_password" type="password" class="validate password" data-error="#epass1">
                                       <label for="r_oldpass_id">old password</label>
                                       <div class="error_text" id="epass1"></div>
                                   </div>
                               </td>
                               <td>
                                   <div class="input_box">
                                       <span class="password_toggle">
                                           <span class="app_icon icon_hide_password"></span>
                                       </span>
                                       <input id="lr_newpass_id" name="new_password" type="password" class="validate password" data-error="#epass1l">
                                       <label for="lr_newpass_id">New password</label>
                                       <div class="error_text" id="epass1l"></div>
                                   </div>
                               </td>
                               <td>
                                   <div class="input_box">
                                       <span class="password_toggle">
                                           <span class="app_icon icon_hide_password"></span>
                                       </span>
                                       <input id="r_renewpass_id" name="renew_password" type="password" class="validate password" data-error="#erepass5">
                                       <label for="r_renewpass_id">re-enter New password</label>
                                       <div class="error_text" id="erepass5"></div>
                                   </div>
                               </td>
                           </tr>
                           <tr style="border-bottom: 0">
                               <td colspan="3">
                                   <button type="submit" class="btn_outline change_account_data">Save changes</button>
                               </td>
                           </tr>
                       </table>
                   </form>

                   <!-- For mobile -->
                   <form action="" class="personData_box_mobile_form">
                       <div class="account_table_mob ">
                           <div>
                               <div class="table_title">Name</div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <input id="r_name_id2" name="login1" type="text" class="validate valid" value="<%=siteData.userInfo.name%>" data-error="#e111" aria-required="true" aria-describedby="r_name_id2-error" aria-invalid="false">
                                       <label for="r_name_id2">Name</label>
                                       <div class="error_text" id="e111"><div id="r_name_id-error" class="error" style="display: none;"></div></div>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <div class="table_title">Last Name</div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <input id="r_name_id_mob" name="lastname2" type="text" class="validate valid" value="<%=siteData.userInfo.last_name%>" data-error="#e112" aria-required="true" aria-describedby="r_name_id-error_mob" aria-invalid="false">
                                       <label for="r_name_id_mob">Last Name</label>
                                       <div class="error_text" id="e112"></div>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <div class="table_title">Phone  number</div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <input inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value="<%=siteData.userInfo.phone%>" id="rm_phone_id" name="phoneNumber1" type="number" class="validate valid" data-error="#e55" aria-required="true" aria-describedby="rm_phone_id-error" aria-invalid="false">
                                       <label for="rm_phone_id">Phone number</label>
                                       <div class="error_text" id="e55"></div>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <button type="submit" class="btn_outline change_account_data">Save changes</button>
                           </div>
                       </div>
                   </form>

                   <form action="" action="" class="personData_box_mobile_form_email">
                       <div class="account_table_mob">
                           <div>
                               <div class="table_title">email</div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <input value="<%=siteData.userInfo.email%>" id="r_email_id2" name="emailNotChangemob" type="email" class="validate valid" data-error="#em3" aria-required="true" aria-describedby="r_email_id2-error" aria-invalid="false">
                                       <label for="r_email_id2">Email</label>
                                       <div class="error_text" id="em3"></div>
                                       <% if(siteData.userInfo.changing_email !== null){ %>
                                       <div class="email_verify_message">You change your email to <%=siteData.userInfo.changing_email%>, please verify!</div>
                                       <% } %>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <button type="submit" class="btn_outline change_account_data">Save new email</button>
                           </div>
                       </div>
                   </form>

                   <form action="" action="" class="personData_box_mobile_form_password">
                       <div class="account_table_mob">
                           <div>
                               <div class="table_title">Change password</div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <button type="button" class="password_toggle">
                                           <span class="app_icon icon_hide_password"></span>
                                       </button>
                                       <input id="rm_oldpass_id" name="old_password_mob" type="password" class="validate" data-error="#emoblie1">
                                       <label for="rm_oldpass_id">old password</label>
                                       <div class="error_text" id="emoblie1"></div>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <button type="button" class="password_toggle">
                                           <span class="app_icon icon_hide_password"></span>
                                       </button>
                                       <input id="lrm_newpass_id" name="new_password_mob" type="password" class="validate" data-error="#emoblie2">
                                       <label for="lrm_newpass_id">New password</label>
                                       <div class="error_text" id="emoblie2"></div>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <div class="table_data">
                                   <div class="input_box">
                                       <button type="button" class="password_toggle">
                                           <span class="app_icon icon_hide_password"></span>
                                       </button>
                                       <input id="rm_renewpass_id" name="renew_password_mob" type="password" class="validate" data-error="#emoblie3">
                                       <label for="rm_renewpass_id">re-enter New password</label>
                                       <div class="error_text" id="emoblie3"></div>
                                   </div>
                               </div>
                           </div>
                           <div>
                               <button type="submit" class="btn_outline change_account_data">Save changes</button>
                           </div>
                       </div>
                   </form>


                   <div class="profile_data_address" id="profile_data_address_id">
                       <h3 class="profile_sipping_title">delivery address</h3>
                       <%if(data.addresses.length <= 0) {%>
                           <!-- For empty Data Address -->
                           <div  class="profile_data_address_area_empty fcc">
                               <img src="/images/content/general/address_delivri.svg" alt="">
                               <p>You have not added any addresses</p>

                               <div class="shipping_address_list">
                                   <a href="javascript:;" class="shipping_address_box fcc" data-edit="#_profile_add_id">
                                       <div class="shipping_add_title">new address</div>
                                       <span class="blog_more_box_btn">
                                   <span class="app_icon more_second_icon"></span>
                               </span>
                                   </a>
                               </div>
                           </div> <!-- / presonl_data_address_area_empty -->
                       <%} else {%>
                           <!-- For full Data Address -->
                           <div  class="profile_data_address_area_full">
                               <div class="profile_data_address_list flex">
                                   <% var num = 1; data.addresses.forEach(function (address) { %>
                                   <div class="input_radio">
                                       <input type="radio" name="shipping_carts1" id="payment_cart4_id<%=num%>"  <% if(address.default_address == '1'){%>checked<%}%>>
                                       <label class="radio_payment_box" for="payment_cart4_id<%=num%>">
                                           <span class="radio_shipping_title fcb">Address №<%=num%> <span><span class="makeDefault">make</span> default</span></span>
                                           <div class="radio_shipping_user">
                                               <span class="_address_edit_userid" style="display: none"><%= address.address_id %></span>
                                               <span class="_address_edit_username"><%= address.name %></span>,
                                                <span class="_address_edit_lastname"><%= address.last_name %></span>,
                                               <span class="_address_edit_userphone"><%=address.phone%></span>,
                                               <span class="_address_edit_email"><%= address.email %></span>
                                           </div>
                                           <div class="radio_shipping_desc fcb">
                                               <span>
                                                   <span class="_address_edit_address"><%=address.address%></span>,
                                                   <span class="_address_edit_city"><%=address.city%></span>,
                                                   <span class="_address_edit_state"><%=address.state%></span>,
                                                   <span class="_address_edit_country"><%=address.country%></span>
                                                   <span class="_address_edit_city_id" style="display: none"><%=address.city_id%></span>
                                                   <span class="_address_edit_countrie_id" style="display: none"><%=address.countrie_id%></span>
                                                   <span class="_address_edit_state_id" style="display: none"><%=address.state_id%></span>
                                                   <span class="_address_edit_default_address_id" style="display: none"><%=address.default_address%></span>
                                               </span>
                                               <a class="edit_btn" href="javascript:;" data-edit="#_profile_edit_id">Edit</a>
                                           </div>
                                       </label>
                                   </div>
                                   <% num++; }) %>
                                   <a href="javascript:;" class="shipping_address_box fcc" data-edit="#_profile_add_id">
                                       <div class="shipping_add_title">new Shipping address</div>
                                       <span class="blog_more_box_btn">
                                    <span class="app_icon more_second_icon"></span>
                                </span>
                                   </a>
                               </div>
                           </div> <!-- / profile_data_address_area_full -->
                       <%}%>
                   </div> <!-- / profile_data_address -->

                   <div class="remove_account_box">
                       <a href="javascript:;" data-open="#remove_account_modal" class="btn_link">Remove account</a>
                   </div>
               </div>

               <div style="display: none" id="_profile_add_id" class="profile_add_popup ">
                   <h3 class="profile_sipping_title">ADD delivery address</h3>

                   <div class="row">
                       <div class="col-12 col-lg-6">
                           <div id="" class="collapse">
                               <h4 class="checkout_form_title">Add new shipping address</h4>
                               <form action="" class="profile_sipping_add_form">
                                   <div class="row">
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <input id="shipr_name_id" name="shiplogin" type="text" class="validate"  data-error="#eship1" aria-required="true" aria-describedby="shipr_name_id-error" aria-invalid="false">
                                               <label for="shipr_name_id">Name</label>
                                               <div class="error_text" id="eship1"></div>
                                           </div>
                                       </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="input_box">
                                                <input id="shipr_lastname_id" name="shiplastname" type="text" class="validate"  data-error="#eship1l" aria-required="true" aria-describedby="shipr_lastname_id-error" aria-invalid="false">
                                                <label for="shipr_lastname_id">Last Name</label>
                                                <div class="error_text" id="eship1l"></div>
                                            </div>
                                        </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <input inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="shipr_phone_id" name="shipphoneNumber" type="number" class="validate" data-error="#eship5" aria-required="true" aria-describedby="r_phone_id-error" aria-invalid="false">
                                               <label for="shipr_phone_id">Phone number</label>
                                               <div class="error_text" id="eship5"></div>
                                           </div>
                                       </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <input  id="shir_email_id" name="emailshi" type="email" class="validate" data-error="#eshi3" aria-required="true" aria-describedby="shir_email_id-error" aria-invalid="false">
                                               <label for="shir_email_id">Email</label>
                                               <div class="error_text" id="eshi3"></div>
                                           </div>
                                       </div>
                                       <div class="col-12">
                                           <div class="input_box">
                                               <select id="countrieList" data-type="country" name="countrieList_add_name" class="validate" data-error="#esss5">
                                                   <option value="hide">Country</option>
                                                   <option value="11">Armenia</option>
                                                   <div class="error_text" id="esss5"></div>
                                               </select>
                                           </div>
                                       </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <select id="stateList" data-type="state" name="stateList_add_name" class="validate" data-error="#esss6">
                                                   <option value="hide">State</option>
                                               </select>
                                               <div class="error_text" id="esss6"></div>
                                           </div>
                                       </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <select id="cityList" data-type="city" name="cityList_add_name" class="validate" data-error="#esss7">
                                                   <option value="hide">City</option>
                                               </select>
                                               <div class="error_text" id="esss7"></div>
                                           </div>
                                       </div>
                                       <div class="col-12">
                                           <div class="input_box">
                                               <input id="address_id" name="address" type="text" class="validate" data-error="#e555">
                                               <label for="address_id">Address of delivery</label>
                                               <div class="error_text" id="e555"></div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row ais">
                                       <div class="col-12 col-lg-6 second">
                                           <a href="javascript:;" class="btn_link close_add_btn" data-edClose="#_profile_add_id">cancel</a>
                                       </div>
                                       <div class="col-12 col-lg-6 first">
                                           <button class="btn_outline" type="submit" >SAve</button>
                                       </div>
                                   </div>
                               </form>
                           </div>
                       </div>

                       <div class="col-12 col-lg-6 flex hide_mobile ">
                           <div class="profile_shipping_attention fcc">
                               <div class="attention_icon">
                                   <img src="/images/content/general/attention_icon.svg" alt="">
                               </div>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                           </div>
                       </div>
                   </div>
               </div> <!-- / add new shipping address -->

               <div style="display: none" id="_profile_edit_id" class="profile_edit_popup ">
                   <h3 class="profile_sipping_title">EDIT delivery address</h3>

                   <div class="row">
                       <div class="col-12 col-lg-6">
                           <div id="" class="collapse">
                               <div class="flex ais jsb">
                                   <h4 class="checkout_form_title">EDIT delivery address</h4>

                                   <a href="javascript:;" class="btn_link remove_address_btn">remove address
                                       <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <path d="M10.334 2.99967H13.6673V4.33301H12.334V12.9997C12.334 13.1765 12.2637 13.3461 12.1387 13.4711C12.0137 13.5961 11.8441 13.6663 11.6673 13.6663H2.33398C2.15717 13.6663 1.9876 13.5961 1.86258 13.4711C1.73756 13.3461 1.66732 13.1765 1.66732 12.9997V4.33301H0.333984V2.99967H3.66732V0.999674C3.66732 0.822863 3.73756 0.653294 3.86258 0.52827C3.98761 0.403246 4.15717 0.333008 4.33399 0.333008H9.66732C9.84413 0.333008 10.0137 0.403246 10.1387 0.52827C10.2637 0.653294 10.334 0.822863 10.334 0.999674V2.99967ZM11.0007 4.33301H3.00065V12.333H11.0007V4.33301ZM5.00065 6.33301H6.33399V10.333H5.00065V6.33301ZM7.66732 6.33301H9.00065V10.333H7.66732V6.33301ZM5.00065 1.66634V2.99967H9.00065V1.66634H5.00065Z" fill="#EB001B"/>
                                       </svg>
                                   </a>
                               </div>
                               <form action="" class="profile_sipping_edit_form">
                                   <span style="display: none" id="__edit_remove_address_ID"></span>
                                   <div class="row">
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <input id="editr_name_id" name="editlogin" value="User" type="text" class="validate valid"  data-error="#editship1">
                                               <label for="editr_name_id">Name</label>
                                               <div class="error_text" id="editship1"></div>
                                           </div>
                                       </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="input_box">
                                                <input id="editr_lastname_id" name="editlastname" value="User" type="text" class="validate valid"  data-error="#editship1l">
                                                <label for="editr_lastname_id">Last Name</label>
                                                <div class="error_text" id="editship1l"></div>
                                            </div>
                                        </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <input inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="editr_phone_id" name="editphoneNumber" value="097878787" type="number" class="validate valid" data-error="#editship2">
                                               <label for="editr_phone_id">Phone number</label>
                                               <div class="error_text" id="editship2"></div>
                                           </div>
                                       </div>
                                       <div class="col-12  col-lg-6">
                                           <div class="input_box">
                                               <input  id="editr_email_id" name="emailedit" value="info@example.com" type="email" class="validate valid" data-error="#editeshi3">
                                               <label for="editr_email_id">Email</label>
                                               <div class="error_text" id="editeshi3"></div>
                                           </div>
                                       </div>
                                       <div class="col-12">
                                           <div class="input_box">
                                               <select id="countrieList_edit" data-type="country" name="countrieList_edit_name" class="validate valid" data-error="#edit1">
                                                   <option value="11">Armenia</option>
                                               </select>
                                               <div class="error_text" id="edit1"></div>
                                           </div>
                                       </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <select id="stateList_edit" data-type="state" name="stateList_edit_name" class="validate valid" data-error="#edit2">
                                                   <option value="">Yerevan</option>
                                               </select>
                                               <div class="error_text" id="edit2"></div>
                                           </div>
                                       </div>
                                       <div class="col-12 col-lg-6">
                                           <div class="input_box">
                                               <select id="cityList_edit" data-type="city" name="cityList_edit_name" class="validate valid" data-error="#edit3">
                                                   <option value="">Erevan</option>
                                               </select>
                                               <div class="error_text" id="edit3"></div>
                                           </div>
                                       </div>
                                       <div class="col-12">
                                           <div class="input_box">
                                               <input id="address_id_ed" name="address_edit" type="text" class="validate valid" value="Armenia, Yeravan, Yeravn 2/4 Janibekian St 44" data-error="#edit4">
                                               <label for="address_id_ed">Address of delivery</label>
                                               <div class="error_text" id="edit4"></div>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="row ais">
                                       <div class="col-12 col-lg-6 second" >
                                           <a href="javascript:;" class="btn_link close_add_btn" data-edClose="#_profile_edit_id">cancel</a>
                                       </div>
                                       <div class="col-12 col-lg-6 first">
                                           <button class="btn_outline" type="submit">SAve</button>
                                       </div>
                                   </div>
                               </form>
                           </div>
                       </div>

                       <div class="col-12 col-lg-6 flex hide_mobile">
                           <div class="profile_shipping_attention fcc">
                               <div class="attention_icon">
                                   <img src="/images/content/general/attention_icon.svg" alt="">
                               </div>
                               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                           </div>
                       </div>
                   </div>
               </div><!-- / edit  shipping address -->
           </div>
       </div>

    </div>
</section>

<%- include("../components/warningRemove.ejs") %>
<%- include("../components/remove_account_modal.ejs") %>
<%- include("../components/email_verify_modal.ejs") %>
<%- include("../default/footer.ejs") %>
