<%- include("../default/header.ejs") %>

<section class="hero_profile_wrapper">
    <div class="container">
        <h2 class="profile_title">№ 44535434</h2>
        <p>Order number</p>
    </div>
</section>

<section class="profile_nav">
    <div class="container">
        <ul class="flex profile_navbar">
            <li><a href="/profile">Dashboard</a></li>
            <li><a href="/profile/orders" >History of orders</a></li>
            <li><a href="/profile/personal-data">Personal data</a></li>
            <li>
                <a href="javascript:void(0)" class="user-log-out-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3.75 8.25H9.75V9.75H3.75V12L0 9L3.75 6V8.25ZM3 13.5H5.031C5.89701 14.2638 6.96501 14.7614 8.10685 14.9332C9.24868 15.105 10.4158 14.9437 11.4683 14.4686C12.5207 13.9935 13.4137 13.2249 14.0401 12.2549C14.6664 11.2848 14.9996 10.1547 14.9996 9C14.9996 7.84532 14.6664 6.71516 14.0401 5.74514C13.4137 4.77512 12.5207 4.00646 11.4683 3.53138C10.4158 3.05629 9.24868 2.89498 8.10685 3.0668C6.96501 3.23861 5.89701 3.73625 5.031 4.5H3C3.698 3.56788 4.60375 2.81139 5.6453 2.29061C6.68686 1.76983 7.83551 1.49913 9 1.5C13.1423 1.5 16.5 4.85775 16.5 9C16.5 13.1423 13.1423 16.5 9 16.5C7.83551 16.5009 6.68686 16.2302 5.6453 15.7094C4.60375 15.1886 3.698 14.4321 3 13.5Z" fill="#7B93C5"/></svg>
                    Log out
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="account_point_wrapper">
    <div class="container">
        <div class="account_point_box">
            <h1 class="primary_title">Bonus points</h1>
        </div>
    </div>
</section>


<%- include("../default/footer.ejs") %>
