<%- include("../default/header.ejs") %>

<section class="hero_profile_wrapper">
    <div class="container">
        <h2 class="profile_title"><%=translations.welcome_back%>, <%=siteData.userInfo.name%></h2>
        <p><%=siteData.userInfo.email%></p>
    </div>
</section>

<section class="profile_nav">
    <div class="container">
        <ul class="flex profile_navbar">
            <li><a href="/profile" class="active"><%=translations.dashboard%></a></li>
            <li><a href="/profile/orders"><%=translations.history_of_orders%></a></li>
            <li><a href="/profile/personal-data"><%=translations.personal_data%></a></li>
            <li>
                <a href="javascript:void(0)" class="user-log-out-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M3.75 8.25H9.75V9.75H3.75V12L0 9L3.75 6V8.25ZM3 13.5H5.031C5.89701 14.2638 6.96501 14.7614 8.10685 14.9332C9.24868 15.105 10.4158 14.9437 11.4683 14.4686C12.5207 13.9935 13.4137 13.2249 14.0401 12.2549C14.6664 11.2848 14.9996 10.1547 14.9996 9C14.9996 7.84532 14.6664 6.71516 14.0401 5.74514C13.4137 4.77512 12.5207 4.00646 11.4683 3.53138C10.4158 3.05629 9.24868 2.89498 8.10685 3.0668C6.96501 3.23861 5.89701 3.73625 5.031 4.5H3C3.698 3.56788 4.60375 2.81139 5.6453 2.29061C6.68686 1.76983 7.83551 1.49913 9 1.5C13.1423 1.5 16.5 4.85775 16.5 9C16.5 13.1423 13.1423 16.5 9 16.5C7.83551 16.5009 6.68686 16.2302 5.6453 15.7094C4.60375 15.1886 3.698 14.4321 3 13.5Z" fill="#7B93C5"/></svg>
                    <%=translations.log_out%>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="account_wrapper">
    <div class="container">
        <div class="account_wrapper_box">
            <div class="account_status">
                <h2 class="primary_title"><%=translations.account_status%></h2>
                <p>In nose, we appreciate its big aromatic diversity. Very intense, dominating the red fresh</p>
                <div class="account_status_box">
                    <div class="status_progress_bar">

                    </div>
                </div>
            </div>

            <div class="vip_box" style="background-image: url('images/content/vip_status_bg.png')">
            <% if(typeof siteData.userInfo == "undefined"){%>
                <div class="vip_box_content">
                    <h3 class="secondary_title">VIP status</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="/sign-up" class="vip_box_btn fcc btn">
                        <span class="app_icon icon_crown">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                        <path d="M2.10001 3.9L5.25001 6L8.38951 1.605C8.45888 1.50778 8.55048 1.42853 8.65667 1.37385C8.76286 1.31918 8.88057 1.29065 9.00001 1.29065C9.11944 1.29065 9.23716 1.31918 9.34334 1.37385C9.44953 1.42853 9.54113 1.50778 9.61051 1.605L12.75 6L15.9 3.9C16.0192 3.82069 16.1586 3.77715 16.3018 3.77455C16.445 3.77195 16.5859 3.81039 16.7079 3.88532C16.8299 3.96025 16.928 4.06854 16.9904 4.1974C17.0528 4.32626 17.0771 4.4703 17.0603 4.6125L15.828 15.0878C15.8065 15.2702 15.7188 15.4384 15.5815 15.5605C15.4443 15.6825 15.267 15.75 15.0833 15.75H2.91676C2.73306 15.75 2.55575 15.6825 2.41848 15.5605C2.2812 15.4384 2.1935 15.2702 2.17201 15.0878L0.939756 4.61175C0.923106 4.46961 0.947469 4.32568 1.00997 4.19694C1.07247 4.0682 1.1705 3.96003 1.29249 3.8852C1.41447 3.81036 1.55532 3.772 1.69841 3.77462C1.8415 3.77724 1.98084 3.82075 2.10001 3.9ZM9.00001 11.25C9.39783 11.25 9.77936 11.092 10.0607 10.8107C10.342 10.5294 10.5 10.1478 10.5 9.75C10.5 9.35218 10.342 8.97064 10.0607 8.68934C9.77936 8.40804 9.39783 8.25 9.00001 8.25C8.60218 8.25 8.22065 8.40804 7.93935 8.68934C7.65804 8.97064 7.50001 9.35218 7.50001 9.75C7.50001 10.1478 7.65804 10.5294 7.93935 10.8107C8.22065 11.092 8.60218 11.25 9.00001 11.25Z" fill="white"/>
                        </svg>
                        </span>
                    Get your VIP status
                    </a>
                </div>
                <%}else{%>
                    <div class="vip_box_content">
                            <h3 class="secondary_title">Move your status UP!</h3>
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <a href="/catalog" class="vip_box_btn fcc btn">
                            <span class="app_icon icon_crown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                            <path d="M2.10001 3.9L5.25001 6L8.38951 1.605C8.45888 1.50778 8.55048 1.42853 8.65667 1.37385C8.76286 1.31918 8.88057 1.29065 9.00001 1.29065C9.11944 1.29065 9.23716 1.31918 9.34334 1.37385C9.44953 1.42853 9.54113 1.50778 9.61051 1.605L12.75 6L15.9 3.9C16.0192 3.82069 16.1586 3.77715 16.3018 3.77455C16.445 3.77195 16.5859 3.81039 16.7079 3.88532C16.8299 3.96025 16.928 4.06854 16.9904 4.1974C17.0528 4.32626 17.0771 4.4703 17.0603 4.6125L15.828 15.0878C15.8065 15.2702 15.7188 15.4384 15.5815 15.5605C15.4443 15.6825 15.267 15.75 15.0833 15.75H2.91676C2.73306 15.75 2.55575 15.6825 2.41848 15.5605C2.2812 15.4384 2.1935 15.2702 2.17201 15.0878L0.939756 4.61175C0.923106 4.46961 0.947469 4.32568 1.00997 4.19694C1.07247 4.0682 1.1705 3.96003 1.29249 3.8852C1.41447 3.81036 1.55532 3.772 1.69841 3.77462C1.8415 3.77724 1.98084 3.82075 2.10001 3.9ZM9.00001 11.25C9.39783 11.25 9.77936 11.092 10.0607 10.8107C10.342 10.5294 10.5 10.1478 10.5 9.75C10.5 9.35218 10.342 8.97064 10.0607 8.68934C9.77936 8.40804 9.39783 8.25 9.00001 8.25C8.60218 8.25 8.22065 8.40804 7.93935 8.68934C7.65804 8.97064 7.50001 9.35218 7.50001 9.75C7.50001 10.1478 7.65804 10.5294 7.93935 10.8107C8.22065 11.092 8.60218 11.25 9.00001 11.25Z" fill="white"/>
                            </svg>
                            </span>
                        Start Shopping
                        </a>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</section>

<section class="account_orders_wrapper">
    <div class="container">
        <div class="account_orders_box">
            <h2 class="primary_title">orders history</h2>



            <!-- For full orders -->
            <div class="account_orders_full">

                <%if(data.orders.length > 0) {%>
                    <table class="account_table">
                        <tr>
                            <th>order number</th>
                            <th>date</th>
                            <th>Summ</th>
                            <th>&nbsp;</th>
                        </tr>
                        <% data.orders.forEach(function (order) { %>
                        <tr>
                            <td>№<%=order.publicId%></td>
                            <td><%=order.order_date%></td>
                            <td><%=order.total_price%> <span class="table_price_f">֏</span></td>
                            <td><a href="/profile/orders/item/<%=order.publicId%>" class="btn_link btn_orders_more">More</a></td>
                        </tr>
                        <% }) %>
                    </table>

                    <div class="account_table_mob dashboard_orders_table">
                        <% data.orders.forEach(function (order) { %>
                        <div class="table_mob_col">
                            <div class="table_title">order number</div>
                            <div class="table_data">№<%=order.publicId%></div>

                            <div class="table_title">date</div>
                            <div class="table_data"><%=order.order_date%></div>

                            <div class="table_title">Summ</div>
                            <div class="table_data"><%=order.total_price%></div>

                            <a href="/profile/orders/item/<%=order.publicId%>" class="btn_link btn_orders_more">More</a>
                        </div>
                        <% }) %>
                    </div>
                    <a href="/profile/orders" class="btn_link more_orders_btn">All orders</a>
                <%}else{%>
                    <!-- For empty orders -->
                    <div class="account_orders_empty">
                        <p>You have no orders yet</p>
                        <a href="/catalog" class="btn_outline">SHOP NOW</a>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</section>

<section class="account_data_wrapper">
    <div class="container">
        <div class="account_data_box">
            <h2 class="primary_title">Personal data</h2>

            <table class="account_table" id="__account_personal_data_table_ID">
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Phone  number</th>
                </tr>
                <tr>
                    <td><%=siteData.userInfo.name%> <%=siteData.userInfo.last_name%></td>
                    <td><%=siteData.userInfo.email%></td>
                    <td>+<%=siteData.userInfo.phone%></td>
                </tr>
                <% var num = 1; data.addresses.forEach(function (address) { %>
                    <tr>
                        <th colspan="3">delivery address №<%=num%></th>
                    </tr>
                    <tr>
                        <td colspan="3"><%=address.address%>, <%=address.city%>, <%=address.state%>, <%=address.country%></td>
                    </tr>
                <% num++; }) %>
            </table>

            <div class="account_table_mob">
                <div>
                    <div class="table_title">Name</div>
                    <div class="table_data"><%=siteData.userInfo.name%> <%=siteData.userInfo.last_name%></div>
                </div>
                <div>
                    <div class="table_title">email</div>
                    <div class="table_data"><%=siteData.userInfo.email%></div>
                </div>
                <div>
                    <div class="table_title">Phone  number</div>
                    <div class="table_data">+<%=siteData.userInfo.phone%></div>
                </div>
                <div id="__account_personal_data_mobile_ID">
                    <% var num = 1; data.addresses.forEach(function (address) { %>
                    <div>
                        <div class="table_title">delivery address №<%=num%></div>
                        <div class="table_data"><%=address.address%>, <%=address.city%>, <%=address.state%>, <%=address.country%></div>
                    </div>
                    <% num++; }) %>
                </div>
            </div>
            <div class="go_to_personal_link_btn">
                <a href="/profile/personal-data" class="btn_link btn_orders_more">GO TO PERSONAL DATA PAGE</a>
            </div>
        </div>
    </div>
</section>
<script>
    var data = '<%-loyaltyInfo%>'
</script>
<%- include("../default/footer.ejs") %>