.ui-datepicker,.ui-datepicker.ui-widget.ui-widget-content{display:none;width:20rem;background:#fff;border-radius:.25rem;box-shadow: 0 0 5px 0 #f7f7f7;margin-top:1rem;padding:0 0 5px;}
.ui-datepicker-header,.ui-datepicker .ui-datepicker-header{text-align:center;padding: 12px 40px;text-transform:uppercase;letter-spacing:.1rem;color:#FFF;border:none;border-radius:0;}
.ui-datepicker-header a span{display:none}
.ui-datepicker-header a.ui-corner-all{cursor:pointer;position:absolute;margin:0;border-radius:.5rem;color:#FFF;top:50%;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);border:none;width: auto;height: auto;}
.ui-datepicker-header a.ui-corner-all.ui-state-hover:after{border-color:transparent;color:#000;background:#FFF}
.ui-datepicker-header a.ui-corner-all.ui-state-hover{color:#000;background:transparent}
.ui-datepicker-header a.ui-datepicker-prev{left: 10px;}
.ui-datepicker-header a.ui-datepicker-prev::after{content: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M9.00023 12.0008L13.2432 7.75781L14.6572 9.17281L11.8282 12.0008L14.6572 14.8288L13.2432 16.2438L9.00023 12.0008Z"/></svg>');}
.ui-datepicker-header a.ui-datepicker-prev::after,.ui-datepicker-header a.ui-datepicker-next::after{border: 1px solid #000;width: 25px;height: 25px;vertical-align:middle;display:inline-block;background:transparent;color:#fff;position: relative;top: 0px;line-height: 25px;text-align: center;filter: invert(100%);}
.ui-datepicker-header a.ui-datepicker-next{right: 10px;}
.ui-datepicker-header a.ui-datepicker-next::after{content: url('data:image/svg+xml; utf8, <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M14.9998 11.9992L10.7568 16.2422L9.34277 14.8272L12.1718 11.9992L9.34277 9.17119L10.7568 7.75619L14.9998 11.9992Z"/></svg>');}
.ui-datepicker-calendar,.ui-datepicker table{width:100%;text-align:center;font-size:initial;margin:0}
.ui-datepicker-calendar thead{color:#000}
.ui-datepicker-calendar tbody tr{margin-bottom:5px}
.ui-datepicker-calendar a,.ui-datepicker td a{color:#444;text-decoration:none;display:block;margin:0 auto;width:35px;height:35px;line-height:30px;border-radius:50%;border:1px solid transparent;cursor:pointer;text-align:center;font-size:14px}
.ui-datepicker-calendar a:hover{border:1px solid #ccc}
.ui-datepicker-calendar .ui-state-highlight{border-color: #83878a;color:#fff;background: #83878a;}
.ui-datepicker-calendar .ui-state-active{border-color: #005093;color: #fff;background: #005093;}
.ui-datepicker th{padding: 7px 3px;}
.ui-datepicker .ui-datepicker-title select{border: 1px solid #ffffff;padding: 3px 5px;margin-left: 1%;margin-right: 1%;font-size: 14px;background: #FFF}
.ui-datepicker .ui-datepicker-title{margin: 0px}