.ip-header{position:fixed;top:0;z-index:100000;min-height:480px;width:100%;height:100%;background:#f1f1f1}
.ip-header h1{margin:0}
.ip-logo,.ip-loader{position:absolute;left:0;width:100%;opacity:0;cursor:default;pointer-events:none}
.ip-logo{top:0;height:100%;-webkit-transform:translate3d(0,25%,0);transform:translate3d(0,25%,0);padding-left: 10px;padding-right: 10px}
.ip-loader{bottom:20%}
.ip-header .ip-inner{display:block;margin:0 auto}
.ip-header .ip-logo svg{max-width: 320px;}
.ip-header .ip-logo svg path{fill:var(--primary)}
.ip-header .ip-loader svg path{fill:none;stroke-width:6}
.ip-header .ip-loader svg path.ip-loader-circlebg{stroke:#ddd}
.ip-header .ip-loader svg path.ip-loader-circle{-webkit-transition:stroke-dashoffset .2s;transition:stroke-dashoffset .2s;stroke:var(--primary)}
.ip-main{overflow:hidden;margin:0 auto;padding:160px 0 10em;}
.browser{margin:0 auto;padding-top:8%;min-height:400px;max-width:1000px;width:100%;border-radius:8px;background:#fff url(../img/browser.png) no-repeat 50% 0;background-size:100%;color:#d3d3d3}
.box{float:left;padding:3.5em;width:33.3%;font-size:.7em;line-height:1.5}
.box p{font-family:'Blokk',Arial,sans-serif}
[class^="icon-"]::before,[class*=" icon-"]::before{display:block;margin-bottom:.5em;padding:.5em;border-radius:5px;background:#dfdfdf;color:#fff;text-align:center;text-transform:none;font-weight:400;font-style:normal;font-variant:normal;font-size:5em;font-family:'feather';line-height:1;speak:none;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-bell:before{content:"\e006"}
.icon-cog:before{content:"\e023"}
.icon-heart:before{content:"\e024"}
.loading .ip-logo,.loading .ip-loader{opacity:1;-webkit-animation:animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;animation:animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both}
.loading .ip-loader{-webkit-animation-delay:.2s;animation-delay:.2s}
@-webkit-keyframes animInitialHeader {
    from{opacity:0;-webkit-transform:translate3d(0,800px,0)}
}
@keyframes animInitialHeader {
    from{opacity:0;-webkit-transform:translate3d(0,800px,0);transform:translate3d(0,800px,0)}
}
.loaded .ip-logo,.loaded .ip-loader{opacity:1}
.loaded .ip-logo{-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-animation:animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;animation:animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards}
@-webkit-keyframes animLoadedLogo {
    to{-webkit-transform:translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1)}
}
@keyframes animLoadedLogo {
    to{-webkit-transform:translate3d(0,50%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1);transform:translate3d(0,50%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1)}
}
.loaded .ip-loader{-webkit-animation:animLoadedLoader .5s cubic-bezier(0.7,0,0.3,1) forwards;animation:animLoadedLoader .5s cubic-bezier(0.7,0,0.3,1) forwards}
@-webkit-keyframes animLoadedLoader {
    to{opacity:0;-webkit-transform:translate3d(0,-100%,0) scale3d(0.3,0.3,1)}
}
@keyframes animLoadedLoader {
    to{opacity:0;-webkit-transform:translate3d(0,-100%,0) scale3d(0.3,0.3,1);transform:translate3d(0,-100%,0) scale3d(0.3,0.3,1)}
}
.loaded .ip-logo svg path{-webkit-transition:all .5s ease .3s;transition:all .5s ease .3s;fill:#fff}
.loaded .ip-header{-webkit-animation:animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;animation:animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards}
@-webkit-keyframes animLoadedHeader {
    to{-webkit-transform:translate3d(0,-100%,0)}
}
@keyframes animLoadedHeader {
    to{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}
}
.loaded .ip-main h2,.loaded .ip-main .browser,.loaded .ip-main .browser .box,.loaded .codrops-demos{-webkit-animation:animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;animation:animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both}
.loaded .ip-main .browser,.loaded .ip-main .browser .box:first-child{-webkit-animation-delay:.1s;animation-delay:.1s}
.loaded .ip-main .browser .box:nth-child(2){-webkit-animation-delay:.15s;animation-delay:.15s}
.loaded .ip-main .browser .box:nth-child(3){-webkit-animation-delay:.2s;animation-delay:.2s}
@-webkit-keyframes animLoadedContent {
    from{opacity:0;-webkit-transform:translate3d(0,200px,0)}
}
@keyframes animLoadedContent {
    from{opacity:0;-webkit-transform:translate3d(0,200px,0);transform:translate3d(0,200px,0)}
}
.layout-switch .ip-header{position:absolute;opacity: 0;visibility: hidden}
.no-js .ip-header{position:relative;min-height:0}
.no-js .ip-header .ip-logo{margin-top:20px;height:180px;opacity:1;-webkit-transform:none;transform:none}
.no-js .ip-header .ip-logo svg path{fill:#fff}
@media screen and (max-width: 45em) {
    .ip-main h2{font-size:2.25em;font-size:10vw}
    .box{width:100%}
}