.tooltip {display: none;position: absolute;border: 1px solid var(--light-gray);background-color: var(--primary);color: var(--white);padding: 7px 12px;max-width: 300px;z-index: 100;line-height: 22px;letter-spacing: 0.3px;}
.describe,.input_checkbox .describe{-webkit-transition: .3s;-o-transition: .3s;transition: .3s;font-weight: 700;font-size: 12px;line-height: normal;color: var(--primary);text-decoration: none;background: var(--light-gray);border: 1px solid var(--primary);border-radius: 50%;vertical-align: middle;min-width: 19px;height: 19px;text-align: center;margin-left: 5px;display: -ms-flexbox;display: -webkit-box;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.describe:hover,.input_checkbox .describe:hover{color: var(--primary);border-color: var(--primary)}
@media all and (max-width: 992px){
    .describe, .input_checkbox .describe{display: none}
}