.cart_wrapper{padding-top:40px;padding-bottom:90px;border-bottom:1px solid var(--product-gray)}
.cart_wrapper ~ .popular_products_wrapper{padding-top:30px}
.cart_wrapper .primary_title{margin-bottom:50px}
.cart_wrapper .primary_title ~ .cart_popup_empty{margin-top:120px}
.cart_content_body{max-width:692px;width: 100%;}
.cart_content_body .cart_popup_product_info h4{font-size:22px}
.cart_content_body .cart_popup_product_info{margin-bottom:40px}
.cart_content_body .cart_popup_product_price{font-size:22px}
.cart_content_body .cart_popup_product_price sup{font-size:18px;line-height:23px}
.cart_order{border:1px solid var(--product-gray);max-width:387px;margin-left:auto;font-weight:400;font-size:16px;line-height:22px;letter-spacing:.02em;color:var(--black);position: -webkit-sticky;position: sticky;top: 15px;}
.cart_order_header{background:var(--light-gray);padding:20px 30px}
.cart_order_header .secondary_title{color:var(--primary);font-family:EB Garamond}
.cart_order_body{padding:22px 30px 30px}
.cart_order_product{font-size:16px;line-height:22px;margin-bottom:20px}
.cart_order_product span:not(#CPcartTotalBeforeDiscount){display:block;font-weight:300;font-size:12px;line-height:22px}
.cart_order_price{font-weight:600;font-size:18px;line-height:25px;text-transform:uppercase;color:var(--black)}
.cart_order_price sup{font-family:Arial;margin-left:6px}
.cart_order_discount{color:var(--danger-discount);font-size:16px;line-height:22px;margin-bottom:24px}
.cart_order_discount .cart_order_price{color:var(--danger-discount)}
.cart_promocode{font-weight:400;font-size:16px;line-height:22px;color:var(--black);margin-bottom:11px}
.cart_promocode .app_icon{margin-right:0;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45degdeg)}
.cart_promocode.show .app_icon{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
.promocode_input{border:.5px solid rgba(211,211,211,0.8)}
.promocode_input input{padding:17px;width:100%;max-width:calc(100% - 50px);border:0;background:transparent;font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;color:var(--black);text-transform:uppercase}
.btn_promocode{width:46px;height:46px;border:0;background-color:var(--primary);margin-right:2px;background-position:center;background-repeat:no-repeat;background-size:16px;background-image:url(../../images/content/general/arrow_right_icon.svg);cursor:pointer;border: 1px solid transparent;}
.cart_order_total{margin-top:20px;padding-top:22px;border-top:1px solid var(--product-gray);letter-spacing:.02em;text-transform:uppercase;color:var(--black);margin-bottom:24px}
.cart_order_total h3{font-weight:500;font-size:22px;line-height:22px}
.cart_total_price{font-family:EB Garamond;font-weight:600;font-size:24px;line-height:25px;text-transform:uppercase;color:var(--black)}
.cart_total_price sup{font-family:Arial;font-weight:400;font-size:18px;line-height:22px;color:var(--black)}
.cart_popup_product:hover{background:var(--bg-gray);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.cart_popup_product{padding-left: 20px;padding-right: 20px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.cart_popup_footer_top  .cart_popup_product_price{display: none}
.cart-heading-span{font-weight:300;font-family:'Roboto',sans-serif;font-size:12px;line-height:22px;text-transform:uppercase;color:var(--higlit-gray)}
.cart_popup_product_fcol{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;max-width:100%}
.cart_popup_product_right_pos{margin-left:auto;display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;-webkit-box-flex: 1;flex-grow: 1;max-width: 100%;-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end;}
.cart_popup_product_total_rel{margin-left:30px;text-align:right;-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;-webkit-box-flex: 1;flex-grow: 1;max-width: 100%;}
.cart_content_navigation{border-bottom: 1px solid #f2f2f2;max-width: 692px;width: 100%;display: inline-block;margin-bottom: 20px;padding-left: 10px;padding-right: 10px;text-align: right;padding-top: 10px;padding-bottom: 10px;}
.cart_content_navigation a{font-weight: 300;font-size: 12px;line-height: 22px;text-align: center;color: var(--higlit-gray);text-transform: uppercase;-webkit-transition: .3s all;-o-transition: .3s all;transition: .3s all;}
.cart_content_navigation a:hover{color: var(--primary);}
.cart-remove-all-btn span{margin-left: 5px;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;margin-bottom: 2px;}
.cart_content_body .remove_product_btn .icon_remove {margin-bottom: 2px;margin-left: 0;margin-right: 2px;}