.ui-slider-horizontal{height:4px;width:100%;margin-top:47px}
.ui-widget-header{background:var(--primary)}
.price_range_inputs{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%}
.price_range_col{width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative}
.price_range_inputs input{border:0;background:transparent;outline:0!important;font-weight:500;font-size:20px;line-height:24px;font-family:EB Garamond;text-transform:uppercase;width:100%;text-align:center;color: var(--black);}
.ui-slider .ui-slider-handle{background:var(--white);border:1px solid var(--gray);border-radius:8px;width:16px;height:16px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-transition:.3s background;-o-transition:.3s background;transition:.3s background;top:-6px}
.ui-slider .ui-slider-handle:after{content:'';width:10px;height:10px;background:var(--primary);display:block;border-radius:8px}
.ui-slider .ui-slider-handle:focus{outline:0}
.catalog_wrapper{background:var(--white)}
.catalog_wrapper .primary_title{margin-top:30px;margin-bottom:30px}
.catalog_filter{width:100%;-webkit-box-flex:0;-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%;border-top:1px solid var(--line-gray);-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid var(--line-gray)}
.catalog_wrapper .container-fluid{padding:0;max-width:2048px;margin-left:auto;margin-right:auto}
.catalog_content{-webkit-box-flex:0;-ms-flex:0 0 80%;flex:0 0 80%;width:100%;max-width:80%;border-top:1px solid var(--line-gray)}
.catalog_content .product_col{max-width:25%}
.caloge_top{height:60px;font-weight:400;font-size:16px;line-height:24px;text-align:center;color:var(--black);padding:18px;border:1px solid var(--line-gray);border-top:0;border-left:0}
.ui-widget.ui-widget-content{border-color:var(--border-gray);background:var(--border-gray)}
.catalog_filter_title{font-weight:400;font-size:16px;line-height:22px;letter-spacing:.02em;text-transform:uppercase;color:var(--black);margin-bottom:20px}
.price_line{width:10px;height:1px;background:var(--black);right:-5px;margin-left:5px;margin-right:5px}
.catalog_filter .input_checkbox{margin-left:0}
.catalog_filter .input_checkbox label{font-weight:400;font-size:16px;line-height:22px;padding-left:38px;padding-top:3px;min-height: 25px;}
.catalog_filter .input_checkbox{margin-bottom:15px}
.catalog_filter .input_checkbox label:before{width:24px;height:24px}
.catalog_filter .input_checkbox label:after{width:7px;height:15px;left:9px}
.filter_col{width:100%;padding:30px;border-bottom:1px solid var(--line-gray);border-right: 1px solid var(--line-gray);}
.btn_show_more{font-weight:400;font-size:16px;line-height:22px;color:var(--primary);border-bottom:1px dashed var(--navbar-hover)}
.pagination_wrapper{padding-top:30px;padding-bottom:30px;background:var(--white)}
.pagination_box{display:-webkit-box;display:-ms-flexbox;display:flex}
.pagination_list{list-style:none}
.btn_pagination{border:1px solid rgba(211,211,211,0.3);width:40px;height:40px}
.btn_pagination_next{margin-left:23px}
.btn_pagination_prev{margin-right:23px}
.pagination_list a{width:60px;height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border:1px solid rgba(211,211,211,0.3);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;margin:0 3px;font-weight:400;font-size:16px;line-height:19px;text-transform:uppercase;color:var(--black)}
.pagination_list a.active{background:var(--primary);color:var(--white)}
.pagination_wrapper ~ .popular_products_wrapper{padding-top:20px;border-top:1px solid var(--product-gray)}
.price_range_inputs input[type="number"]::-webkit-outer-spin-button,.price_range_inputs input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.price_range_inputs input[type="number"][type=number]{-moz-appearance:textfield}
.input_checkbox input[type="checkbox"]:disabled ~ label {cursor: no-drop;color: var(--line-gray);}
.input_checkbox input[type="checkbox"]:disabled ~ label:before {border-color: var(--sub-gray);background: var(--line-gray);cursor: no-drop;}
.catalog_empty{margin-top: 150px;}
/*.filter_brand.filter_col.hide .input_checkbox:nth-of-type(n+6) {display: none;}*/
.categories_icon img {max-height: 60%;max-width: 35%;display: block;margin-left: auto;margin-right: auto;-webkit-transform: translateZ(50px) translateY(-50%) translateX(-50%);transform: translateZ(50px) translateY(-50%) translateX(-50%);position: absolute;top: 50%;left: 50%;}
.filter_col{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.catalog-list-box-wrapper{display: block;min-height: 500px;}
.input_box_search{}
.input_box_search input{padding-top: 12px;}
.catalog_content.search_catalog_content{-ms-flex: 0 0 100%;flex: 0 0 100%;width: 100%;max-width: 100%;}