.checkout_wrapper{position:relative;padding:50px 0 25px}
.checkout_wrapper:before,.checkout_wrapper:after{content:'';width:50%;height:100%;position:absolute;top:0;bottom:0;z-index:0}
.checkout_wrapper:before{background:var(--bg-gray);left:0}
.checkout_wrapper:after{background:var(--background-gray);right:0}
.checkout_wrapper .container{z-index:1}
.checkout_brand{display:block;margin:auto;max-width:226px;margin-bottom:30px}
.nav_list{list-style:none;font-weight:300;font-size:14px;line-height:16px;color:var(--dark-gray);margin-bottom:40px}
.nav_list li:not(:first-of-type){padding-left:13px;margin-left:10px;position:relative}
.nav_list li:not(:first-of-type):after{content:'';width:4px;height:6px;background:var(--black);-webkit-clip-path:polygon(40% 0,100% 50%,40% 100%,0 100%,60% 50%,0 0);clip-path:polygon(40% 0,100% 50%,40% 100%,0 100%,60% 50%,0 0);position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.nav_list a{font-weight:300;font-size:14px;line-height:16px;color:var(--black)}
.nav_list li:last-of-type:after{background:var(--dark-gray)}
.checkout_form_head{font-weight:300;font-size:14px;line-height:16px;color:var(--sup-gray);margin-bottom:20px}
.checkout_link{color:var(--black)}
.checkout_link a{font-weight:400;font-size:14px;line-height:16px;color:var(--primary)}
.checkout_form .input_checkbox{width:100%;margin-left:0;margin-bottom:20px}
.checkout_form_title{font-weight:300;font-size:18px;line-height:21px;color:var(--sup-gray);margin-bottom:20px;position: relative;padding-top: 10px;padding-bottom: 10px;}
.input_box select{background-color: var(--white)!important;border:.5px solid rgba(211,211,211,0.8);padding: 22px 12px 22px 12px;display:block;width:100%;height:60px;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:var(--black);-webkit-appearance: none;-moz-appearance: none;text-indent: 1px;-o-text-overflow:'';text-overflow:'';background-image: url(../../images/content/general/arrow_bottom.svg)!important;background-position: calc(100% - 20px) 50%;background-repeat: no-repeat;background-size: 10px;padding-left: 12px;}
.checkout_comment_title{font-weight:400;font-size:12px;line-height:14px;letter-spacing:.06em;text-transform:uppercase;color:var(--sup-gray);margin-bottom:12px}
.input_box textarea{width:100%;height:90px;/*left:190px;top:756px;*/border:.5px solid rgba(211,211,211,0.8);resize:none;background:var(--white);font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;color:var(--black);padding:32px 12px 12px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.input_box textarea:focus ~ label,.input_box textarea.valid ~ label,.input_box textarea.error ~ label{top:10px;font-weight:400;font-size: 10px;line-height:14px;color:var(--sup-gray);}
.input_box textarea.valid{border-color:var(--primary);color:var(--primary)}
.input_box textarea.error,.checkout_payment_lists .input_radio input.error ~  label,.input_box select.error ~ .select-styled{border-color:var(--danger)}
.checkout_payment_lists .input_radio input.valid ~  label,.input_box select.valid ~ .select-styled {border-color: var(--primary);}
.checkout_form{padding-right:25px}
.input_radio{width: 100%;max-width: 100%;background:var(--white);margin-bottom:16px;margin-left: 5px;margin-right: 5px;}
.input_radio input[type="radio"]{display:none}
.input_radio input[type="radio"]:checked ~ label:after{border-width:4px;width:12px;height:12px}
.input_radio label{display:-webkit-box;display:-ms-flexbox;display:flex;cursor:pointer;height:100%;position:relative;padding:16px 12px}
.radio_payment_title{font-weight:400;font-size:14px;line-height:18px;letter-spacing:.01em;text-transform:uppercase;display:block}
.input_radio label:after{content:'';position:absolute;width:16px;height:16px;border:1px solid var(--primary);border-radius:50%;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;top:16px;right:12px}
.input_radio input[type="radio"]:checked ~ label:before{opacity: 1;visibility: visible}
.input_radio label:before{content:'';position:absolute;width:100%;height:100%;border: 1px solid var(--primary);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;top:0px;left:0px;opacity: 0;visibility: hidden;}

.checkout_payment_lists .input_radio label{min-height:50px;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding: 10px 12px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding-right:48px;border: 1px solid rgba(211,211,211,0.8);}
.radio_payment_list{margin-top:0;}
.radio_payment_list .payment_box:not(:last-of-type){margin-right:8px}
.radio_payment_list .payment_box{width:45px;height:28px;padding:5px}
.checkout_payment_lists .input_radio{max-width:100%}
.input_radio.payment_cart_rel{margin-right: 0px}
.checkout_payment_lists .input_radio:not(:last-of-type){/* margin-right:0 */}
.checkout_payment_lists{margin-left: -5px;margin-right: -5px;}
.radio_order_box .app_icon{width:24px;height:24px;background-color:rgba(237,239,241,0.8);border-radius:50%;padding:6px;-webkit-box-flex:0;-ms-flex:0 0 24px;flex:0 0 24px;margin-right:10px;background-size:18px}
.order_list_icon{background-image:url(../../images/content/general/show_order_list_icon.svg)}
.order_private_icon{background-image:url(../../images/content/general/show_private_icon.svg)}
.radio_order_title{font-weight:400;font-size:14px;line-height:18px;letter-spacing:.01em;text-transform:uppercase;color:var(--black);display:block;margin-bottom:4px}
.radio_order_decs{font-weight:400;font-size:12px;line-height:14px;color:var(--sup-gray)}
.btn_checkout_back{font-weight:500;font-size:14px;line-height:16px;letter-spacing:.01em;text-transform:uppercase;color:var(--black);position:relative;padding-left:13px}
.checkout_form [type="submit"].btn{max-width:100%;width:100%}
.btn_checkout_back:before{content:'';width:5px;height:6px;background:var(--black);-webkit-clip-path:polygon(100% 0%,40% 50%,100% 100%,60% 100%,0% 50%,60% 0);clip-path:polygon(100% 0%,40% 50%,100% 100%,60% 100%,0% 50%,60% 0);position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.checkout_foot{margin-top:30px;border-top:1px solid rgba(211,211,211,0.3);padding-top:20px;margin-bottom: 0px;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between}
.checkout_foot a{font-weight:300;font-size:14px;line-height:16px;color:var(--black);margin-left:15px;margin-right: 15px}
.checkout_product{padding-left:25px}
.checkout_product_form{padding:20px 0;border-top:1px solid rgba(211,211,211,0.3);border-bottom:1px solid rgba(211,211,211,0.3)}
.checkout_product_form .promocode_input input{background:var(--white);max-width:100%}
.checkout_product_form .promocode_input .btn{padding:15px;margin-right:1px;max-width:163px}
.checkout_table_row{line-height:16px;color:var(--black);padding:22px 0}
.checkout_table_row p ~ p{font-weight:300;font-size:16px;line-height:22px}
.checkout_product_table .checkout_table_row:first-of-type{padding-bottom:0}
.checkout_product_table .checkout_table_row:nth-of-type(3){border:1px solid rgba(211,211,211,0.3);border-left:0;border-right:0}
.checkout_table_row .payment_methods{margin:0}
.checkout_table_row .payment_methods .payment_box{width:36px;height:22px;margin-left:12px}
.shipping_address_list .input_radio{max-width:285px;height: auto;}
.shipping_address_list .radio_payment_box{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;height:100%;border: 1px solid transparent;}
.radio_shipping_title{padding-right:25px;font-weight:400;font-size:12px;line-height:14px;letter-spacing:.06em;text-transform:uppercase;color:var(--sup-gray)}
.radio_shipping_desc{font-weight:400;font-size:14px;line-height:18px;letter-spacing:.01em;text-transform:uppercase;color:var(--black)}
.shipping_address_box{min-height: 134px;width:100%;max-width:285px;border:.5px dashed rgba(211,211,211,0.8);padding:22px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;height: 100%;}
.shipping_add_title{font-weight:400;font-size:12px;line-height:14px;text-align:center;letter-spacing:.06em;text-transform:uppercase;color:var(--sup-gray);max-width:136px;margin-bottom:20px}
.shipping_address_box .blog_more_box_btn{width:28px;height:28px;margin:0;border:1px solid rgba(211,211,211,0.8);padding:9px;position: static;border-radius: 50%;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
.shipping_address_box .blog_more_box_btn .more_second_icon{background-image:url(../../images/content/general/more_icon.svg)}
.checkout_order_lists .input_checkbox{max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;margin-left:10px}
.input_checkbox label{max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;}
.checkout_order_lists{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;margin-top:10px;margin-bottom:38px}
.shipping_address_list{margin-bottom:10px}
.new_shipping_collapse{padding:18px 0 20px;margin-bottom:20px;position:relative;border-top:1px solid rgba(211,211,211,0.3);border-bottom:1px solid rgba(211,211,211,0.3)}
.new_shipping_collapse .btn_outline{max-width:148px;margin-left:auto;display:block;height:auto;padding:20px}
.shipping_address_box.show{opacity:0;pointer-events:none;display: none;}
.checkout_form .row {margin-left: -10px;margin-right: -10px;}
.checkout_form .row .col-12 {padding-left: 10px;padding-right: 10px;}
.checkout_payment_lists ~ .error_text {background-color: transparent;}
.shipping_address_list .input_radio input[type="radio"].error ~ label {border-color: var(--danger);}
.shipping_address_list .error_text {background: transparent;}
.radio_shipping_user {font-weight: 400;font-size: 14px;line-height: 18px;letter-spacing: .01em;text-transform: uppercase;color: var(--black);margin: 20px auto 12px;width: 100%;}
.input_radio input[type="radio"]:checked ~ label .makeDefault {display: none;}
.checkout_product{position: -webkit-sticky;position: sticky;top: 20px;}
.shipping_address_list .shipping_address_box{margin-left: 5px;margin-right: 5px;}
.shipping_address_list{margin-left: -5px;margin-right: -5px}
.new-shipping-address-col{display: inline-block;width: 100%;max-width: 100%;margin-bottom: 26px;}
.shipping-address-wrapper-roll,.new-shipping-wrapper-rol{width:100%;max-width:100%}
.checkout_product_list{max-height:72vh;overflow-y:auto;overflow-x:hidden}
.shipping_address_list{overflow-y:auto;overflow-x:hidden;max-height:1000px}
.btn_ls_0{letter-spacing: .02em;}
.del-time-select .select-options{bottom:auto;top: 100%;}