.contact_box{max-width:100%;margin:auto;padding:40px 0 50px;background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1)}
.contact_wrapper{position:relative;z-index:1;margin-top:-100px}
.contact_form{max-width:996px;margin:40px auto 0}
.contact-col .input_box textarea{height:140px}
.contact-col .input_box{display:-webkit-box;display:-ms-flexbox;display:flex}
.contact_data_wrapper{margin-top:20px;margin-bottom:120px}
.contact_data_box{background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);padding:40px 0}
.faq_wrapper{padding:30px 0 120px;background:var(--white)}
.accordion dt{font-weight:400;font-size:18px;line-height:28px;letter-spacing:.02em;color:var(--black);display:block;cursor:pointer;position:relative;padding: 26px 10px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;padding-right: 20px;}
.accordion dt:before,.accordion dt:after{content:'';background:var(--black);position:absolute;right: 10px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.accordion dt:before{height:2px;width:14px}
.accordion dt:after{width:2px;height:14px;right: 16px;}
.accordion dt:not(:first-of-type){border-top:1px solid rgba(211,211,211,0.3)}
.accordion dt.show{color: var(--white);background: var(--primary) !important;}
.accordion dt.show:before,.accordion dt.show:after{background: var(--white);-webkit-transform:translateY(-50%) rotate(45deg);-ms-transform:translateY(-50%) rotate(45deg);transform:translateY(-50%) rotate(45deg);}
.accordion dd{padding: 16px 10px 30px;background: var(--bg-gray);}
.faq_info{font-weight:300;font-size:18px;line-height:26px;color:var(--black);white-space:pre-line}
.faq_info ul,.faq_info ol{margin-left: 20px;}
.faq_info a{color: var(--primary);}
.contact_data_box a {color: var(--black);}
.cf-wrap-box{max-width:356px;width:100%;margin-left:auto;margin-right:auto;padding-top:80px;padding-bottom:80px}
.cf-thanks-content-box{font-weight:300;font-size:14px;line-height:22px;text-align:center;text-transform:uppercase;color:#000;margin-bottom:40px;margin-top:20px;display:inline-block;width:100%;max-width:100%}
#thank_you_modal .modal_body{max-width: 800px;}
.accordion dt:hover{background:var(--light-gray);}