.hero_slide{padding:83px 0;background-position:center;background-repeat:no-repeat;background-size:cover;color:var(--white);text-align:center}
.hero_layout_bg{background: rgba(0,0,0,.5);position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;width: 100%;height: 100%;}
.infinity_icon{width:60px;height:18px;display:inline-block;background-position:center;background-repeat:no-repeat;background-size:contain}
.infinity_icon_white{background-image:url(../../images/content/general/infinity_icon_white.svg)}
.hero_slide > .container{max-width:600px}
.hero_slide_title{font-family:EB Garamond;font-weight:600;font-size:38px;line-height:46px;margin-top:30px;margin-bottom:30px;text-transform:uppercase}
.hero_slide_btn{font-weight:500;font-size:14px;line-height:16px;letter-spacing:.3em;color:var(--white);padding:24px;display:inline-block;border:1px solid var(--white)}
.vip_wrapper{padding-top:40px}
.vip_box{background-position:center;background-repeat:no-repeat;background-size:100%;background-color:var(--white);border:1px solid var(--line-gray);padding:20px 20px 22px;text-align:center}
.vip_box_content{max-width:462px;margin-left:auto;margin-right:auto}
.secondary_title a{font-weight:500;font-size:22px;line-height:22px;color:var(--black);letter-spacing:.02em}
.vip_box_content .secondary_title{line-height:28px;margin-bottom:12px}
.vip_box_btn{margin-top:20px}
.secondary_title{font-weight:500;font-size:22px;line-height:22px;color:var(--black);letter-spacing:.02em}
.icon_crown{/*background-image:url(../../images/content/general/icon-crown.svg)*/}
.icon_crown svg{-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.vip_box_btn:hover svg path{fill: var(--primary);}
.categories_wrapper{padding-top:40px;background:var(--white)}
.primary_title{font-family:EB Garamond;font-weight:600;font-size:28px;line-height:38px;text-align:center;text-transform:uppercase;color:var(--black);position:relative}
.primary_title.title_infinities:before,.primary_title.title_infinities:after{content:'';width:40px;height:11px;display:inline-block;background-position:center;background-repeat:no-repeat;background-size:contain;background-image:url(../../images/content/general/infinity_icon.svg);vertical-align:middle}
.primary_title.title_infinities:before{margin-right:20px}
.primary_title.title_infinities:after{margin-left:20px}
.categories_content{margin-top:10px}
.categories_col{max-width:16.6%;width:100%;padding-left:10px;padding-right:10px;margin-top:20px;position: relative}
.categories_box{position:relative;overflow:hidden;background:var(--white);display:block;text-align:center;padding:0;font-family:EB Garamond;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;height:100%;padding-bottom: 10px;}
.categories_icon{z-index: 15;margin-bottom:14px;background-color:var(--primary);display:block;max-width:100%;margin-left:auto;margin-right:auto;max-height:183px;height: 183px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;/*background-image: url("../../images/content/general/pattern.png");*/background-repeat: repeat;background-size: cover;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform: perspective(300px);transform: perspective(300px);}
.categories_icon svg{width:auto;max-width:100%}
.categories_icon path{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.categories_box .secondary_title{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.popular_products_wrapper{padding-top:60px}
.popular_products_wrapper .primary_title{margin-bottom:30px}
.product_col{width:100%;max-width:20%;margin:-1px -1px}
.popular_products_wrapper .container-fluid{padding:1px;max-width:2048px;margin-left:auto;margin-right:auto;overflow-x:hidden}
.product_box{margin:0 -1px;padding:30px 20px;border:1px solid var(--light-gray);background:var(--white);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;text-align:center;position:relative;overflow:hidden;height:100%;min-height:450px;max-width: 100%;width: 100%}
.product_box.p_0{padding:0}
.product_box_content_back{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;position:absolute;top:0;left:0;width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:cover;opacity:0;z-index:5}
.product_box_bg{background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.5)));background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:1}
.product_price{font-family:EB Garamond;position:absolute;top:20px;left:20px;z-index:2;background:var(--white);border:1px solid var(--white);padding:8px 14px;font-weight:500;font-size:16px;line-height:16px;letter-spacing:.02em;text-transform:uppercase;color:var(--black)}
.product_box_more{font-weight:500;font-size:14px;line-height:16px;letter-spacing:.3em;color:var(--white);text-transform:uppercase;position:absolute;z-index:3;bottom:94px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.product_add_cart{background:var(--white);border:1px solid var(--white);position:absolute;right:20px;left:20px;bottom:20px;z-index:3;padding:16px;font-weight:500;font-size:14px;line-height:16px;letter-spacing:.3em;color:var(--black);text-transform: uppercase;}
.cart_icon{background-image:url(../../images/content/general/cart-icon.svg)}
.more_icon{background-image:url(../../images/content/general/icon_more_white.svg)}
.product_box_content{-webkit-transition:.2s;-o-transition:.2s;transition:.2s;opacity:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:100%;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.product_box_description{height:calc(22px * 2);overflow:hidden}
.product_box_content .product_box_description *{background: none!important;font-style: normal!important;font-weight:400!important;font-size:14px!important;line-height:22px!important;text-align:center!important;color:var(--black)!important}
.product_box_content .product_box_description.hide_text{height:calc(22px * 2);overflow:hidden;position:relative;margin-top:auto}
.product_box_content .product_box_description.hide_text::after,.product_box_content .secondary_title.hide_text::after{content:"...";position:absolute;bottom:0;right:0;background:var(--white);padding:0 5px}
.product_box_content .secondary_title{position:relative;overflow:hidden;height:calc(22px * 2);font-family:EB Garamond}
.product_box_content .secondary_title.hide_text{height:calc(22px * 2)}
.product_box_img{max-width:100%;margin:20px auto;height:calc(100% - 250px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;max-height:300px}
.product_box_price{font-family:EB Garamond;font-weight:500;font-size:18px;line-height:24px;text-align:center;text-transform:uppercase;color:var(--black);display:inline-block;margin-top:7px}
.product_box_price sup{font-family:Arial;font-weight:400;font-size:16px;line-height:22px;color:var(--sup-gray);top:0;margin-left:6px}
.product_box_price del,.product_box_price del sup{font-size: 80%;color: var(--text-gray);}
.product_box_all_link{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;background-position:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background-repeat:no-repeat;background-size:100% 100%;background-color:var(--primary);padding:140px 0}
.product_box_all_title{font-family:EB Garamond;font-weight:500;font-size:22px;line-height:28px;letter-spacing:.02em;text-transform:uppercase;color:var(--white);text-align:center;white-space:pre-line;margin-bottom:30px}
.product_all_box_btn{border:1px solid var(--circle-gray);width:60px;height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:50%;-webkit-transition: .1s;-o-transition: .1s;transition: .1s;}
.product_all_box_btn:not(.hover){top: calc(50% + 40px)!important;left: calc(50% - 30px )!important;-webkit-transition: .2s;-o-transition: .2s;transition: .2s;}
.product_all_box_btn .app_icon{margin-right:0}
.blog_wrapper{padding-top:30px;background:var(--white)}
.blog_wrapper .primary_title{margin-bottom:30px}
.blog_carts .col-12{border:1px solid var(--product-gray);padding:8px;margin-right:-1px}
.blog_wrapper .container-fluid{max-width:2048px;margin-left:auto;margin-right:auto}
.blog_cart{text-align:center;display:block;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;overflow:hidden;height:100%;position: relative;}
.blog_cart_header{height: 220px;overflow:hidden;margin-bottom:32px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;position:relative;}
.blog_cart_body{padding-left:22px;padding-right:22px;font-family:EB Garamond;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.blog_cart_more_btn{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:60px;height:60px;border:1px solid var(--navbar-hover);border-radius:50%;margin:44px auto 30px}
.more_primary_icon{background-image:url(../../images/content/general/icon_more_primary.svg)}
.blog_cart_more_btn .app_icon{margin-right:0}
.product_box_content .secondary_title{text-transform:uppercase}
.blog_cart_header img{width:100%;opacity: 0.95;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, -webkit-transform 0.35s;-o-transition: opacity 0.35s, transform 0.35s;transition: opacity 0.35s, transform 0.35s;transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;-webkit-transform: scale3d(1.05,1.05,1);transform: scale3d(1.05,1.05,1);}
.blog_more_box{position:relative;overflow:hidden;background-position:center;background-repeat:no-repeat;background-size:100% 100%;background-color:var(--primary);text-align:center;}
.blog_more_box_link{height:100px;display:block;padding:35px 20px;font-family:EB Garamond;font-style:normal;font-weight:500;font-size:22px;text-align:center;text-transform:uppercase;line-height:28px;color:var(--white)}
#mega-cursor2.blog_more_box_btn{border:1px solid var(--navbar-hover);width:40px;height:40px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-left:16px;vertical-align:middle;border-radius:50%;position: absolute;-webkit-transition: .1s;-o-transition: .1s;transition: .1s;}
.blog_more_box_btn .app_icon{margin-right:0}
.blog_cart_header:after{display:none;content:'';width:100%;height:100%;background:-o-linear-gradient(45deg,var(--black),transparent);background:linear-gradient(45deg,var(--black),transparent);position:absolute;z-index:1;top:0;left:0;right:0;opacity:0;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.blog_cart_header:before{position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  background: rgba(255,255,255,0.5);  content: '';  -webkit-transition: -webkit-transform 0.6s;  transition: -webkit-transform 0.6s;  -o-transition: transform 0.6s;  transition: transform 0.6s;  transition: transform 0.6s, -webkit-transform 0.6s;  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);}
.blog_cart_body *{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.more_second_icon{background-image:url(../../images/content/general/more_second_icon.svg)}
.video_slider{width:100%;max-height:750px;position:absolute;top:0;left:0;height:100%;overflow:hidden}
.video_slide video{width:100%;position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.video_slide{width:100%;position:absolute;left:0;height:100%;z-index: 1;}
.video_slide.play{z-index: 5;}
.video_box{z-index:5;position:relative;padding-top:284px;padding-bottom:130px;max-width:627px;margin:auto;text-align:center}
.video_wrapper{position:static}
.video_wrapper > .container-fluid{position:relative;overflow:hidden}
#video_play_btn.play_btn{z-index:10;position:absolute;border:1px solid var(--white);width:100px;height:100px;background:transparent;border-radius:50%;margin:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;cursor:pointer;pointer-events: all;}
.play_btn .app_icon{margin-right:0}
.play_icon{background-image:url(../../images/content/general/play_icon.svg)}
.video_title{font-family:EB Garamond;font-weight:600;font-size:38px;line-height:46px;text-align:center;text-transform:uppercase;color:var(--white)}
.video_pattern{background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);position:absolute;width:100%;height:100%;top:0;left:0;z-index: 5;}
.video_btn{font-weight:500;font-size:14px;line-height:16px;letter-spacing:.3em;color:var(--white);border:1px solid var(--white);padding:24px 50px;display:inline-block;margin:84px auto 0}
.modal{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.95);opacity:0;visibility: hidden;-webkit-transition: .6s opacity,.6s visibility;-o-transition: .6s opacity,.6s visibility;transition: .6s opacity,.6s visibility;z-index: 1500;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
.modal_container{padding:20px;width:100%;height:100%;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.modal_close{position:absolute;top:20px;right:30px;width:15px;height:15px;background-color:transparent;border:0;background-image:url(../../images/content/general/close_white_icon.svg);background-position:center;background-repeat:no-repeat;background-size:contain;cursor:pointer}
.video_show_box{width:100%;max-width:100%}
.modal.show{opacity:1;visibility: visible;-webkit-transition: .3s opacity,.3s visibility;-o-transition: .3s opacity,.3s visibility;transition: .3s opacity,.3s visibility;}
.modal_body{background-color: var(--white);max-width:1200px;width:100%;padding:25px}
.video_show_box video{width:100%}
.icon_prev{background-image:url(../../images/content/general/icon_arrow_top.svg);-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}
.icon_next{background-image:url(../../images/content/general/icon_arrow_top.svg);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.video_show_prev,.video_show_next{background:transparent;border:0;width:50px;height:50px;border:1px solid var(--white);position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);z-index:1;cursor:pointer;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.video_show_prev .app_icon,.video_show_next .app_icon{margin:0;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.video_show_prev{left:15px}
.video_show_next{right:15px}
.video_modal_slider{position:relative}
.hero_slider{overflow:hidden;position:relative;width:100%;height:440px;z-index:1}
.hero_slider .hero_slider_inner{position:absolute;top:0;left:0;width:100%;height:100%}
.hero_slider .hero_slides{position:absolute;top:0;left:0;width:100%;height:100%;z-index:1}
.hero_slider .slide{display:none;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;opacity:0;-webkit-transition:opacity .3s ease;-o-transition:opacity .3s ease;transition:opacity .3s ease}
.hero_slider .slide.is-active{display:block}
.hero_slider .slide.is-loaded{opacity:1}
.hero_slider .slide .caption{padding:0 100px}
.hero_slider .slide .image-container{position:absolute;top:0;left:0;width:100%;height:100%;background-position:center;z-index:1;background-size:cover;image-rendering:optimizeQuality}
.hero_slider .slide .image-container::before{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.1)}
.hero_slider .slide .image{width:100%;width:100%;-o-object-fit:cover;object-fit:cover;height:100%}
.hero_slider .slide-content{position:absolute;top:0;left:0;width:100%;height:100%;z-index:2;text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.hero_slider .pagination{position:absolute;bottom:35px;left:0;width:100%;height:12px;cursor:default;z-index:2;text-align:center}
.hero_slider .pagination .item{display:inline-block;padding:0 10px;position:relative;width:13px;height:13px;cursor:pointer;text-indent:-999em;z-index:1}
.hero_slider .pagination .item + .page{margin-left:-2px}
.hero_slider .pagination .item.is-active::before {background: var(--white);}
.hero_slider .pagination .item::before{content:"";display:block;position:absolute;top: 0px;left:5px;width:13px;height:13px;background:rgba(255,255,255,0.3);-webkit-transition:background .2s ease;-o-transition:background .2s ease;transition:background .2s ease;border-radius:50%;}
.hero_slider .pagination .item::after{width:0;background:#fff;z-index:2;-webkit-transition:width .2s ease;-o-transition:width .2s ease;transition:width .2s ease}
.hero_slider .arrows .arrow{margin:-33px 0 0;padding:20px;position:absolute;top:50%;cursor:pointer;z-index:3;width:60px;height:60px;border:1px solid rgba(255,255,255,0.3);border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.hero_slider .arrows .prev{left:30px}
.hero_slider .arrows .next{right:30px}
.hero_slider .arrows .svg{position:relative;left:0;fill:#fff;-webkit-transition:left .2s ease;-o-transition:left .2s ease;transition:left .2s ease;width:6px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.hero_slider .container{max-width: 900px;}
.product_box_img img{height:100%;width:auto}
.blog_more_box_link:after{content:'';width:40px;height:40px;background:transparent;display:inline-block;vertical-align:middle;margin-left:16px}
.product_box_all_link:after{content:'';width:60px;height:60px;display:inline-block;background:transparent}
.product_all_box_btn.hover{position:absolute}
.categories_box_mob{font-family:EB Garamond;width:100%;background-color:var(--primary);min-height: 184px;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;font-weight:500;font-size:18px;line-height:22px;text-align:center;letter-spacing:.02em;text-transform:uppercase;color:var(--white);padding-left:5px;padding-right:5px;}
.categories_box_mob .product_all_box_btn{margin-top:22px;position: static;}
.close_dropdown_btn{background:none!important;border:0;display:block;position:absolute;right: -45px;top: 0px;width:22px;height:22px;text-align:center;cursor:pointer;z-index: 150;}
.close_dropdown_btn .app_icon{margin:0}
.close_dropdown_btn:hover .app_icon{-webkit-filter:contrast(0);filter:contrast(0)}
#mega-cursor,#mega-cursor2,#video_play_btn{position:absolute;z-index:99;left:0;top:0;bottom:auto;right:auto;will-change:transform;border:1px solid var(--circle-gray);width:60px;height:60px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:50%;-webkit-transition:.1s;-o-transition:.1s;transition:.1s;}
@media (hover: hover) and (pointer: fine) {
    .mega-cursor__circle,.mega-cursor__circle2{transition:opacity .3s cubic-bezier(0.25,1,0.5,1),background-color .3s cubic-bezier(0.25,1,0.5,1),border-color .3s cubic-bezier(0.25,1,0.5,1),width .3s cubic-bezier(0.25,1,0.5,1),height .3s cubic-bezier(0.25,1,0.5,1);display:inline-block;margin:0}
    #mega-cursor.arrow .mega-cursor__circle{width:128px;height:128px;background-color:#073099;border-color:#073099}
    #mega-cursor.arrow::after{content:'';position:absolute;left:-50%;top:-50%;width:100%;height:100%;background-image:url(https://svgshare.com/i/MzQ.svg);background-repeat:no-repeat;background-position:center}
    #mega-cursor.subtle .mega-cursor__circle{opacity:.16}
    #mega-cursor.overlay .mega-cursor__circle{width:48px;height:48px;background-color:rgba(227,222,193,0.08);border-color:transparent}
}
.mega-cursor__circle.app_icon.more_icon {margin: 0;}
#video_modal .modal_body {background-color: transparent;}