.login_wrapper{padding-top:60px;padding-bottom:120px}
.login_wrapper .row{margin-left:-10px;margin-right:-10px}
.login_wrapper .col-12{padding-left:10px;padding-right:10px}
.login_box{background-color:var(--bg-white);border:1px solid rgba(211,211,211,0.8);padding:60px 40px 40px;height:100%;text-align:center;background-position:center;background-repeat:no-repeat;background-size: 100% 100%;}
.login_box .primary_title{margin-bottom:20px}
.btn_link{display:inline-block;font-weight:400;font-size:14px;line-height:normal;letter-spacing:.3em;text-transform:uppercase;color:var(--primary);border-bottom:1px solid rgba(123,147,197,0.2)}
.btn_lost_password{margin-top:20px}
.login_soc_media{margin-top:40px;max-width:508px;margin-left:auto;margin-right:auto}
.login_soc_media p{text-transform:uppercase}
.login_soc_media ul{list-style:none}
.login_soc_media ul a{font-weight:400;font-size:18px;line-height:24px;text-align:center;color:var(--black);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin-top:18px;border:.5px solid var(--product-gray);padding:19px}
.login_soc_media ul li{width:100%;max-width:241px}
.login_soc_media ul a img{max-width:20px;margin-right:13px}
.login_box.fcc{padding:40px}
.login_box_create p{max-width:385px;margin-left:auto;margin-right:auto}
.login_box_create{max-width:505px;width:100%}
.login_box_create .btn_outline{margin-top:50px}
.login_box .form_box{margin-top:50px;position: relative}
.input_box{position:relative;width:100%;max-width:100%;font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:var(--black);margin-bottom:20px}
.input_box input{width:100%;background:var(--white);border:.5px solid rgba(211,211,211,0.8);font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;color:var(--black);padding: 32px 12px 12px;height:60px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.input_box label{position:absolute;left: 12px;top:22px;-webkit-transition: .2s;-o-transition: .2s;transition: .2s;}
.password_toggle{width:20px;height:20px;position:absolute;top:22px;right:20px;background:transparent;border:0;cursor:pointer}
.input_box input[type="password"],.input_box input.password{padding-right:50px}
.input_box input:focus ~ label, .input_box input.error ~ label, .input_box input.valid ~ label, .input_box input[type="date"] ~ label,.input_box input.input ~ label{top:10px;font-weight:400;font-size: 10px;line-height:14px;color:var(--sup-gray);}
.error_text{position:absolute;top:10px;right:12px;font-weight:400;font-size: 10px;line-height:14px;text-align:right;letter-spacing: 0px;color:var(--danger);text-transform:none;background-color: var(--white);}
.password_toggle .app_icon.icon_hide_password{background-image:url(../../images/content/general/hide_password.svg)}
.input_box input.valid,.input_box input:hover,.input_box select:hover,.input_box textarea:hover{border-color:var(--primary);color:var(--primary)}
.input_box input.error,.input_box input.error:hover,.input_box textarea.error:hover{border-color:var(--danger)}
.password_toggle .app_icon{background-image:url(../../images/content/general/show_password.svg);margin-right:0;width:100%;height:100%}
.create_box{background:var(--bg-white);border:1px solid rgba(211,211,211,0.5);padding:60px}
.create_wrapper{background:var(--white);padding:60px 0 120px}
.create_box .form_box{margin-top:60px;max-width:1100px;margin-left:auto;margin-right:auto}
.create_box .form_box .row{margin-left:-10px;margin-right:-10px}
.create_box .form_box .col-12{padding-left:10px;padding-right:10px}
.input_checkbox input[type="checkbox"]{display:none}
.input_checkbox input[type="checkbox"]:checked ~ label:before{background:var(--primary)}
.input_checkbox input[type="checkbox"]:checked ~ label:after{opacity:1}
.create_wrapper .input_checkbox .error_text {top: 100%;}
.create_wrapper .input_checkbox input.error ~ label::before {border-color: var(--danger);}
.input_checkbox label:before{content:'';width:16px;height:16px;border:1px solid var(--primary);position:absolute;left:0;top:0;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.input_checkbox label{position:relative;width:100%;padding-left:26px;font-weight:300;font-size:14px;line-height:22px;letter-spacing:.02em;color:var(--black);border-radius:1px;cursor: pointer;}
.input_checkbox label a{font-weight:300;font-size:14px;line-height:22px;color:var(--primary);text-decoration:underline}
.input_checkbox label:after{content:'';position:absolute;width:4px;height:8px;border:1px solid var(--white);top:3px;left:6px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);border-top:0;border-left:0;opacity:0;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.btn_create{height:60px;padding:22px}
.input_checkbox{width:-webkit-max-content;width:-moz-max-content;width:max-content;margin-left:auto}
.input_box input[type="number"]::-webkit-outer-spin-button,.input_box input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.input_box input[type="number"][type=number]{-moz-appearance:textfield}
.hero_slider.login_hero_slider{height:100%}
.login_hero_wrapper{height:100%;min-height:750px}
.login_modal .col-12{padding:0}
.modal.modal_white{background:transparent}
.modal.modal_white:after{content:'';width:100%;height:100%;position:absolute;z-index:1;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);background:rgba(255,255,255,0.5);top:0;left:0;right:0;bottom:0}
.modal.modal_white .modal_container{position:relative;z-index:10}
.modal.modal_white .modal_close{background-image:url(../../images/content/general/close_icon.svg);width:15px;height:15px;z-index: 1;}
.login_modal{/*max-height:calc(100vh - 40px);overflow-y:auto;*/position: relative;}
.login_modal::-webkit-scrollbar{width:2px}
.login_modal_form.login_box{padding:40px 80px}
.login_modal_form.login_box .footer_line .infinity_icon{background-color:var(--white);width:76px}
.login_modal_form.login_box .footer_line{margin:30px auto 20px}
.login_create_account p{text-transform:uppercase;color:var(--black);margin-bottom:30px}
.login_create_account{color:var(--black)}
.login_hero_wrapper .hero_slider .container{height:100%;-ms-flex-line-pack:justify;align-content:space-between;padding-bottom:155px}
.login_modal_brand{max-width:226px;margin:40px auto}
.login_hero_wrapper .hero_slider .slide .image-container::before{background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.8)));background:linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%)}
.login_hero_wrapper .hero_slider .pagination .item::before{width:130px;height:5px;border-radius:2.5px;background:rgba(255,255,255,0.2)}
.login_hero_wrapper .hero_slider .pagination .item{width:130px;height:5px;border-radius:2.5px;padding:0 5px}
.login_hero_wrapper .hero_slider .pagination .item.is-active::before {background:rgba(255,255,255,0.2)}
.input_box input:not(.password) {/* text-transform: uppercase; */}
.input_box input[type="number"]{transition-property: background-position;transition-duration: 0s;}
#visit_modal.modal.modal_white .modal_body {background: transparent;}
.modal.modal_white .modal_body {background-color: transparent;}
.alert-notice-icon{background-image:url(../../images/content/general/alert-notice.svg);width:14px;height:14px;display: inline-block;background-repeat: no-repeat;background-position: center;vertical-align: middle;}
.login-error-notice{font-weight: normal;font-size: 12px;line-height: 14px;text-align: center;text-transform: uppercase;color: #EB001B;position: absolute;top: -32px;width: 100%;display: none}
.login-error-notice i{margin-right: 6px}
.login-error-notice span{display:inline-block;vertical-align:middle}
.error_text.hide {visibility: hidden;}
.login-error-notice.create_error_notice {position: relative;}
.remove_button_group a {height: 58px;padding: 20px;max-width: 190px;display: inline-block;margin: 5px;vertical-align: top;}
#__warningRemove_modal .cf-wrap-box {max-width: 500px;}
#__warningRemove_modal .modal_body {max-width: 700px;}
#__warningRemove_modal .primary_title {font-size: 22px;line-height: 30px;}
.input_box_search_wrapper{max-width: 1000px;width: 100%;padding-left: 10px;padding-right: 10px;margin-left: auto;margin-right: auto;position: relative}
.input_box_search_wrapper input{padding-top: 10px;padding-bottom: 10px}
.input_box_search_wrapper .search_btn{position: absolute;right: 20px;top: 50%;-webkit-transform: translate(0,-50%);-ms-transform: translate(0,-50%);transform: translate(0,-50%);}
.search-empty-result{margin: 40px auto}
.log_out_modal .col-12{padding-left: 15px;padding-right: 15px}