.page-template-wrapper{margin:60px auto 120px}
.page-cover{display:inline-block;width:100%;max-width:100%;margin-bottom:40px}
.page-title{display:inline-block;width:100%;max-width:100%;margin-bottom:40px}
.page-title h1{font-family:EB Garamond;font-style:normal;font-weight:600;font-size:38px;line-height:46px;letter-spacing:.06em;text-transform:uppercase;color:#005092;margin:0}
.page-content{font-weight:300;font-size:18px;line-height:26px;color:#000}
.page-content p{margin-bottom:20px}
.page-content b{font-weight: 500}
.page-content-about h3{font-family:EB Garamond;font-style:normal;font-weight:600;font-size:30px;line-height:46px;letter-spacing:.06em;text-transform:uppercase;color:#005092;margin:0;overflow-wrap: break-word;}