.not_found_wrapper{margin:70px auto 120px}
.not_found_box{padding:96px 20px;background-color:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);background-position:center;background-repeat:no-repeat;background-size: 100% 100%;}
.not_found_cart{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;max-width:490px;margin:auto}
.not_found_top{max-width:100%;width:100%;margin-bottom:42px;margin-bottom:42px}
.not_found_cart{font-weight:400;font-size:18px;line-height:26px;text-align:center;text-transform:uppercase;color:var(--black)}
.not_found_cart p{max-width:310px;margin:auto}
.not_found_cart .btn_outline{margin-top:42px;margin-bottom:20px}
.not_found_top .btn {font-size: 14px;line-height: 16px;}
.not_found_cart .btn {font-size: 14px;line-height: 16px;padding: 23px 0;}