.hero_profile_wrapper{background:var(--bg-black);padding:79px 0 99px;position:relative;overflow:hidden;height:260px;font-size:18px;line-height:22px;color:var(--white)}
.hero_profile_wrapper:before,.hero_profile_wrapper:after{width:531px;height:531px;content:'';background:-o-linear-gradient(40.53deg,rgba(255,255,255,0) 13.33%,#FFF 86.09%);background:linear-gradient(49.47deg,rgba(255,255,255,0) 13.33%,#FFF 86.09%);position:absolute;opacity:.1;border-radius:50%;z-index:0}
.hero_profile_wrapper:before{background:-o-linear-gradient(40.53deg,#FFF 13.33%,rgba(255,255,255,0) 86.09%);background:linear-gradient(49.47deg,#FFF 13.33%,rgba(255,255,255,0) 86.09%);top:46px;left:10px}
.hero_profile_wrapper:after{bottom:40px;right:-74px}
.hero_profile_wrapper .container{z-index:1}
.profile_title{font-family:EB Garamond;font-weight:600;font-size:38px;line-height:48px;letter-spacing:1px;text-transform:uppercase;color:var(--white);margin-bottom:12px}
.hero_profile_wrapper p{font-weight:300}
.profile_navbar{background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);list-style:none}
.profile_nav{position:relative;z-index:2;margin-top:-40px;margin-bottom:40px}
.profile_navbar li{width:100%;max-width:25%;position:relative}
.profile_navbar li:not(:last-of-type){padding-right:1px}
.profile_navbar li:not(:last-of-type):after{content:'';position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:1px;height:50%;background:rgba(123,147,197,0.2);right:0}
.profile_navbar a{display:block;width:100%;text-align:center;padding:30px 10px;height:80px;font-weight:400;font-size:18px;line-height:100%;color:var(--black);position:relative;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.profile_navbar a span{display: inline-block}
.profile_navbar a.active{background:var(--bg-blue);color:var(--primary)}
.profile_navbar a:after,.profile_navbar a:before{content:'';position:absolute;bottom:0;background:var(--primary);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;opacity:0}
.profile_navbar a:before{width:100%;height:3px;left:0;right:0}
.profile_navbar a.active:after,.profile_navbar a.active:before{opacity:1}
.profile_navbar a:after{width:8.66px;height:7.5px;bottom:2.5px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);-webkit-clip-path:polygon(50% 0%,0% 100%,100% 100%);clip-path:polygon(50% 0%,0% 100%,100% 100%)}
.account_status{background:var(--white);padding-top:40px;text-align:center;padding-bottom:60px}
.account_wrapper_box{-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1)}
.account_wrapper .primary_title ~ p{max-width:303px;margin:20px auto 50px}
.account_wrapper{margin-bottom:20px}
.account_orders_box{background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);padding:40px 20px 30px}
.account_orders_wrapper{margin-bottom:20px}
.account_orders_empty{max-width:303px;margin:83px auto 0;text-align:center;padding-bottom:53px}
.account_orders_empty .btn_outline{margin-top:20px}
.account_data_box{background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);padding:40px 20px 30px}
.account_data_wrapper{margin-bottom:120px}
table.account_table{width:100%;max-width:1086px;border-collapse:collapse;margin:auto}
.account_data_box table.account_table td{padding:20px 0;}
table.account_table td{font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:var(--black);padding:15px 0}
table.account_table th{font-weight:400;font-size:12px;line-height:14px;text-align:left;text-transform:uppercase;color:var(--navbar-hover);padding:20px 0 10px}
table.account_table tr{border-bottom:1px solid rgba(211,211,211,0.4)}
table.account_table tr:last-of-type{border-bottom:0}
.account_data_box table.account_table tr:nth-of-type(odd){border-bottom:1px solid rgba(211,211,211,0.4)}
.account_data_box table.account_table tr:nth-of-type(even){border-bottom:0}
.account_data_box .btn_link{margin:73px auto 0;display:block;max-width:-webkit-fit-content;max-width:-moz-fit-content;max-width:fit-content}
.account_data_box .primary_title{margin-bottom:20px;margin-top:0}
.app_logout{background-image:url(../../images/content/general/logout_icon.svg);width:17px;height:17px}
.status_progress_bar{position:relative;min-height:110px}
.account_status_box{max-width:932px;margin:auto}
.progress_bar_item{position:absolute;top:0;width:-webkit-max-content;width:-moz-max-content;width:max-content;z-index:2}
.progress_bar_item.active .progress_bar_icon:after{background:var(--white)}
.progress_bar_title{font-weight:500;font-size:14px;line-height:100%;text-align:center;color:var(--progress-gray)}
.progress_bar_price{font-weight:600;font-size:22px;line-height:29px;color:var(--progress-gray);font-family:EB Garamond}
.progress_bar_icon{display:block;width:24px;height:24px;background:var(--progress-gray);border-radius:50%;margin:12px auto;position:relative}
.progress_bar_icon:after{content:'';width:12px;height:12px;background:var(--product-gray);position:absolute;top:6px;left:6px;border-radius:50%}
.progress_bar{position:absolute;width:100%;background:#7B93C5;border-radius:2px;height:1px;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:0;z-index:0}
.user_progress{position:absolute;left:0;background:#005092;border-radius:2px;width:65px;height:3px;top:-1px}
.progress_bar_price span{font-family:Arial;font-weight:400;font-size:18px;line-height:22px}
.btn_link.btn_orders_more{display:block;margin-left:auto;width:-webkit-max-content;width:-moz-max-content;width:max-content;line-height:16px}
.btn_link.btn_orders_more:hover::after,.btn_link.more_orders_btn:hover::after{opacity:1;-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px)}
.btn_link.more_orders_btn{display:block;width:-webkit-max-content;width:-moz-max-content;width:max-content;margin:14px auto 0;font-size:14px;line-height:16px;letter-spacing:.3em;border:0;text-decoration:underline}
.account_orders_full table.account_table{position:relative}
.account_orders_full table.account_table tr:nth-of-type(n+6){display:none}
.account_orders_full table.account_table tr:nth-of-type(5){border:0}
.account_orders_full table.account_table::after{content:'';background:-o-linear-gradient(top,rgba(255,255,255,0.76) 0%,#FFF 100%);background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.76)),to(#FFF));background:linear-gradient(180deg,rgba(255,255,255,0.76) 0%,#FFF 100%);position:absolute;width:100%;height:60px;bottom:0;left:0;right:0}
.order_item_top{margin-bottom:20px}
.back_to_orders_btn{font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:var(--black);display:inline-block;position: relative;padding-bottom: 5px;}
.order_dropdown_btn{position:relative;background:transparent;border:0;width:26px;height:18px;cursor:pointer;z-index: 20;}
.order_dropdown_btn_icon{/* width: 16px; *//* height: 16px; */-webkit-transition:.3s;-o-transition:.3s;transition:.3s;display: inline-block;}
.order_dropdown_btn_icon svg{width: 35px;height: 25px;}
.order_dropdown_btn:hover:before, .order_dropdown_btn:hover:after, .order_dropdown_btn:hover .order_dropdown_btn_icon, .order_dropdown_btn.show:before, .order_dropdown_btn.show:after, .order_dropdown_btn.show .order_dropdown_btn_icon svg{fill: var(--primary);}
#order_dropdown_list_id{position:absolute;top: 100%;width: 100%;left: auto;background-color: var(--white);border-radius: 4px;box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);transition: all .3s;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;z-index: 10;min-width: 200px;right: 0;margin: 0;padding: 0 10px;list-style: none;max-width: 200px;}
#order_dropdown_list_id:after{content:'';background-color: transparent;border-right: 8px solid transparent;position: absolute;border-left: 8px solid transparent;border-bottom: 8px solid var(--light-gray);border-top: 8px solid transparent;top: -15px;right: 20px;}
#order_dropdown_list_id li a{padding: 0px 0;font-weight: 400;font-size: 14px;line-height: 16px;color: var(--black);width: 100%;max-width: 100%;display: inline-block;}
#order_dropdown_list_id li{font-size: 13px;padding: 13px 0;text-align: left;font-weight: 500;cursor: pointer;position: relative;border-bottom: 1px solid var(--light-gray);margin: 0;display: inline-block;width: 100%;max-width: 100%;}
#order_dropdown_list_id li:before {content: '';position: absolute;width: 3px;height: 28px;background-color: var(--primary);left: -10px;top: 50%;transform: translateY(-50%);display: none;}
#order_dropdown_list_id li:hover:before{display:block;}
.back_to_orders_btn_icon{background:transparent;border:1px solid var(--primary);width:40px;height:40px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;margin-right:15px;padding:15px;position:relative}
.back_to_orders_btn_icon:after{content:'';width:6px;height:9px;position:absolute;top:50%;left:50%;background:var(--primary);-webkit-clip-path:polygon(100% 0%,30% 50%,100% 100%,70% 100%,0% 50%,70% 0);clip-path:polygon(100% 0%,30% 50%,100% 100%,70% 100%,0% 50%,70% 0);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.profile_nav ~ .order_item_top{margin-top:-20px}
.order_item_top .fcb{padding-right:15px;position:relative}
.account_items_box{background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);padding: 60px 20px 40px;}
.account_orderItems_wrapper{margin-bottom:20px}
.total_box{font-weight:300;font-size:14px;line-height:16px;text-transform:uppercase;color:var(--black);max-width:576px;margin-left:auto;width:100%;padding:22px 0 0;border-top:1px solid rgba(211,211,211,0.3)}
.account_deliveryInfo_wrapper{margin-bottom:120px}
.account_deliveryInfo_table{max-width:1086px;margin:auto}
.account_deliveryInfo_table table.account_table tr:nth-of-type(3) th{/*color:var(--sup-gray)*/}
.account_table_cart{padding-bottom:16px}
.account_deliveryInfo_title{margin-bottom:20px}
.account_deliveryInfo_box ~ .btn_outline{margin-top:40px;max-width:295px;margin-left:auto;display:block}
.account_orders_box .primary_title{margin-bottom:20px}
.account_personData_box .account_data_box table.account_table tr:nth-of-type(1) th:nth-of-type(2), .account_personData_box .account_data_box table.account_table tr:nth-of-type(2) td:nth-of-type(2),.account_data_box .personData_box_desktop_form_password table.account_table tr:nth-of-type(4) td:nth-of-type(2){padding-left: 10px;padding-right: 10px;}
.input_box input:disabled{border-color:var(--line-gray);color:var(--sup-gray)!important;background:var(--line-gray);cursor:no-drop}
.account_personData_box .input_box input.valid{color:var(--black)}
.account_personData_box .input_box input:focus ~ label,.account_personData_box .input_box input[type="date"] ~ label,.account_personData_box .input_box input.valid ~ label{color:var(--navbar-hover)}
.profile_data_address_area_empty{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:auto;font-size:14px;line-height:22px;color:var(--black);text-transform:none;width:100%}
.profile_data_address_area_empty img{max-width:52px;margin-bottom:20px}
.profile_data_address_area_empty .shipping_address_box{max-width:275px;width:100%;margin-top:20px;min-width:275px}
.account_personData_box .account_data_box table.account_table tr:nth-of-type(1) th:nth-of-type(2), .account_personData_box .account_data_box table.account_table tr:nth-of-type(2) td:nth-of-type(2),.account_data_box .personData_box_desktop_form_password table.account_table tr:nth-of-type(4) td:nth-of-type(2){padding-right: 10px;}
.input_box input:disabled{border-color:var(--line-gray);color:var(--sup-gray)!important;background: var(--line-gray)!important;cursor:no-drop;}
.account_personData_box .input_box input.valid{color:var(--black)}
.account_personData_box .input_box input:focus ~ label,.account_personData_box .input_box input[type="date"] ~ label,.account_personData_box .input_box input.valid ~ label{color:var(--navbar-hover)}
.profile_data_address_area_empty{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin:auto;font-size:14px;line-height:22px;color:var(--black);text-transform:none;width:100%}
.profile_data_address_area_empty img{max-width:52px;margin-bottom:20px}
.btn_outline.change_account_data,.btn.change_account_data{display:block;max-width:299px;margin-left:auto;}
.account_personData_wrapper{margin-bottom:120px}
.profile_shipping_attention{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;font-style:normal;font-weight:300;font-size:14px;line-height:22px;text-align:center;color:var(--black);max-width:333px;margin:auto}
.attention_icon{max-width:20px;margin-bottom:16px}
.profile_data_address,.remove_account_box{max-width:1086px;margin:10px auto 0}
.profile_sipping_title{font-weight:400;font-size:12px;line-height:14px;text-transform:uppercase;color:var(--navbar-hover);padding-bottom:10px;border-bottom:1px solid rgba(211,211,211,0.4);margin-bottom:20px}
.profile_data_address_area_full{max-width:1086px;margin:10px auto 0}
.profile_data_address_list .input_radio,.profile_data_address_list .shipping_address_box{max-width: 352px;height: auto;margin-left: 5px;margin-right: 5px;margin-bottom: 16px;min-height: 100%;}
.profile_data_address_list .input_radio label{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:19px 12px 12px}
.profile_data_address_list .input_radio .radio_shipping_desc{margin-top:auto}
.profile_data_address_list .input_radio label:before{content:'';width:100%;height:4px;position:absolute;top:-1px;left:0;right:0;background:var(--primary);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;opacity:0}
.profile_data_address_list .input_radio input[type="radio"]:checked ~ label:before{opacity:1}
.profile_add_popup,.profile_edit_popup{max-width:1086px;margin:10px auto 0}
.profile_data_address_list .radio_shipping_title > span{color:var(--navbar-hover);font-size: 10px;}
.edit_btn{font-weight:300;font-size:14px;line-height:22px;color:var(--primary);text-align:right;text-decoration:underline;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-transform:capitalize}
.edit_icon{background-image:url(../../images/content/general/edit_icon.svg)}
.btn_link.close_add_btn{margin:0}
.profile_add_popup .btn_outline,.profile_edit_popup .btn_outline{max-width:148px;margin-left:auto;display:block;padding:20px;height:54px}
.btn_link.remove_address_btn{color:var(--danger);margin:0;border: 0;margin-bottom: 14px;font-weight: 300;font-size: 12px;line-height: 22px;display: flex;justify-content: center;align-items: center;padding-bottom: 5px;}
.btn_link.remove_address_btn:hover{border-color:transparent}
.btn_link.remove_address_btn::after{background:var(--danger)}
.product_box_content .favorites_copy_btn{position:absolute;top:0;right:0;opacity:0;width:32px;height:32px;background:transparent;border-radius:1px;border:0;padding:10px 9px;z-index:2;cursor:pointer;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.product_box_content .favorites_copy_btn path{fill:var(--primary)}
.product_box_content .favorites_copy_btn.active{opacity:1}
.account_table_mob {display: none;}
.account_personData_box .profile_edit_popup .input_box input.input {border-color: rgba(211,211,211,0.8);}
.progress_bar_item.center .progress_bar_price,.progress_bar_item.center .progress_bar_title{text-align: center}
.progress_bar_item.center .progress_bar_icon{margin-left: auto;margin-right:auto}
.profile_data_address_list .input_radio {border: 0.5px solid rgba(211, 211, 211, 0.8);}
.btn_link.remove_address_btn svg {width: 13px;height: 13px;margin-left: 10px;}
#profile_data_address_id .input_radio label:after {width: 14px;height: 14px;top: 17px;}
#profile_data_address_id .input_radio input[type="radio"]:checked ~ label:after{border-width:4px;width:10px;height:10px}
.go_to_personal_link_btn {text-align: center;margin-top: -50px;background: linear-gradient(180deg, rgba(255, 255, 255, 0.76) 0%, #FFFFFF 100%);position: relative;z-index: 1;padding: 40px 0 0;}
.go_to_personal_link_btn .btn_link.btn_orders_more {margin-top: 0;}
#__account_personal_data_table_ID tr:nth-of-type(n+9) {display: none;}
#__account_personal_data_mobile_ID > div:nth-of-type(n+4) {display: none;}
.account_data_box .personData_box_desktop_form_password table.account_table td .input_box {margin-bottom: 0;}
.profile_navbar a> svg path{-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.profile_navbar a> svg{vertical-align: middle;}
.ob-back-icon svg{max-width: 11px;max-height: 10px;}
.email_verify_message{color: var(--danger);margin-top: 15px;}
.account_deliveryInfo_iten_wrapper {margin-bottom: 30px;}
.btn_repeat_order{max-width: 350px;margin-left: auto;display: block}
.personData_box_desktop_form_email table.account_table td {max-width: 349px;width: 33.33%;}
.personData_box_desktop_form_email table.account_table td:nth-of-type(2){max-width: 387px;min-width: 387px;}
.orders_thanks_head_wrapper{padding-top:90px;padding-bottom:0;border-bottom:1px solid var(--line-gray)}
.orders_thanks_wrapper{padding-top:30px}
.account_deliveryInfo_box.account_data_box{margin-bottom:20px}
.orders_thanks_wrapper .total_box{max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;border-top:0}
.orders_thanks_wrapper .total_box .cart_total_price{margin-left:20px}
.orders_thanks_wrapper .account_deliveryInfo_box.account_data_box .account_table_mob .table_mob_col:first-of-type {border-top: 0;}
.remove_account_box{text-align:right}
.remove_account_box .btn_link{margin-top:40px;color:var(--danger);border:0}
.remove_account_box .btn_link::after{background:var(--danger)}