.resetting-wrapper{margin:60px auto;display:inline-block;width:100%;max-width:100%}
.reset-container{max-width:1200px;width:100%;margin-left:auto;margin-right:auto;background:#FDFDFD;border:1px solid rgba(211,211,211,0.5);padding:84px}
.reset-heading{font-weight:600;font-size:28px;line-height:38px;text-transform:uppercase;color:#000;margin-bottom:52px;display:inline-block;width:100%;max-width:100%;text-align:center;font-family:EB Garamond}
.reset-form-wrapper{max-width:590px;width:100%;display:block;margin-left:auto;margin-right:auto}
.reset-icon-wrapper{display:inline-block;width:100%;max-width:100%;text-align:center}
.reset-icon-wrapper .attention_icon{margin-left:auto;margin-right:auto;margin-bottom:0}
.reset-content-box{margin-top:16px;font-weight:300;font-size:14px;line-height:22px;text-align:center;color:#000;margin-bottom:40px}
.checked_attention_icon{max-width:28px;margin-bottom:17px;margin-left:auto;margin-right:auto;display:block}
.verify_email_warraper {max-width: 391px;text-align: center;}
.verify_email_warraper .reset-heading{margin-bottom: 40px;}
.verify_email_warraper .reset-heading ~ p{margin-bottom: 40px;}
.verify_email_warraper .btn_outline {max-width: 300px;}
.reset-form-success-message-rel .btn_login {max-width:300px;display:block;margin-left:auto;margin-right:auto;}