.hero_banner{min-height: 300px;width:100%;height: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;}
.brnad_box_img{text-align:center;margin:auto;width:100%;max-width:203px;margin-bottom:45px;width: 100%;}
.brand_wrapper{padding-top:40px;padding-bottom:113px;background:var(--white)}
.brnad_box_img ~ .primary_title{margin-bottom:45px;width: 100%;}
.brand_box{max-width:1130px;margin-left:auto;margin-right:auto;font-weight:300;font-size:16px;line-height:24px}
.brand_title{margin:30px 0 20px;font-weight:400;font-size:16px;line-height:24px}
.product_wrapper{border-bottom:1px solid var(--product-gray);padding-top:60px;padding-bottom:85px;position:relative}
.pattern_bg{position:absolute;top:0;left:0;right:0;bottom:0;background-position:center;background-repeat:no-repeat;background-size: 100% 100%;z-index:0;}
.product_wrapper .container{z-index:1}
.single_product_description{max-width:420px;width:100%}
.single_product_brand{max-width: 140px;display: block;}
.single_product_brand img{max-height:inherit}
.single_product_title{font-family:EB Garamond;font-weight:600;font-size:38px;line-height:46px;letter-spacing:.06em;text-transform:uppercase;white-space:pre-line;color:var(--primary);margin:18px 0 40px}
.single_product_description table{font-weight:400;font-size:14px;line-height:28px;color:var(--text-black);width:100%;margin-bottom:30px;border-collapse: collapse;}
.single_product_description table tr td:last-of-type{text-align:right}
.single_product_description table td{padding:6px 20px}
.single_product_description table tr:nth-of-type(odd){background:rgba(0,80,146,0.04)}
.single_product_description table td .btn_link{letter-spacing:normal;text-transform:capitalize;border:0;padding-top:5px;padding-bottom: 5px;line-height: normal}
.single_product_img{max-width:230px;width:100%;position:relative;z-index:1}
.single_product_img_content img{vertical-align:bottom}
.single_product_img_content.absolute{margin-top:-300px}
.single_product_cart{border:.5px solid rgba(211,211,211,0.8);width:100%;min-width: 387px;padding-top:40px;position: relative;}
.single_product{position:static;display:block;background:var(--primary);color:var(--white);border: 1px solid var(--primary);padding:27px;width:100%;text-align: center;font-weight: 500;font-size: 14px;line-height: 16px;letter-spacing: .3em;}
.single_product_cart_body{padding:0 20px 30px;border-bottom:.5px solid rgba(211,211,211,0.8);}
.sale_box{position:absolute;font-weight:500;font-size:14px;line-height:16px;letter-spacing:.1em;color:var(--primary);background:var(--background-gray);padding:12px 14px;top:20px;right:20px}
.single_product_price{font-weight:300;font-size:14px;line-height:22px}
.single_product_price .cart_popup_product_price{font-weight:600;font-size:38px;line-height:45px;margin-top:4px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.single_product_price .cart_popup_product_price sup{font-weight:400;font-size:18px;line-height:22px;top:-20px;margin:0}
.single_product_price .cart_popup_product_price del{font-weight:600;font-size:18px;line-height:23px;color: var(--sup-gray);}
.single_product_price .cart_popup_product_price del sup{font-size:12px;line-height:16px;top:-10px}
.single_product_quantity{margin-top:56px;margin-bottom:10px;font-weight:300;font-size:14px;line-height:22px;color:var(--black)}
.single_product_quantity .quantity{max-width:206px;height:60px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;vertical-align:top}
.single_product_quantity .product_btn{padding: 19px 5px;width: 25%;}
.single_product_quantity .quantity input{max-width: 50%;}
.single_product_quantity span{display:block;margin-bottom:6px}
.single_product_btn{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;border:.5px solid rgba(211,211,211,0.8);height:60px;vertical-align:top;width:60px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:22px}
.single_product_btn svg{width:100%;height:100%}
.single_product_favorites{margin:0 10px}
.single_product_cart_footer{padding:20px}
.single_product_cart_footer .payment_methods{margin-top:0;max-width:100%}
.single_product_cart_footer .payment_methods .payment_box{margin-left:8px}
.cart_white_icon{/*background-image: url('../../images/content/general/cart_white-icon.svg')*/}
.single_product:hover .cart_white_icon svg path{fill:var(--primary)}
.cart_white_icon svg{-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.single_blog_wrapper{padding:60px 0;font-weight:300;font-size:18px;line-height:26px;color:var(--black)}
.single_blog_wrapper p{margin-bottom:20px;white-space:pre-line}
.single_blog_wrapper a{color: var(--primary);}
.single_blog_wrapper h1{font-family:EB Garamond;font-weight:600;font-size:38px;line-height:46px;letter-spacing:.06em;text-transform:uppercase;margin: 0px}
.single_blog_wrapper img{margin-bottom:20px}
.single_blog_wrapper h2,.single_blog_wrapper h3,.single_blog_wrapper h4,.single_blog_wrapper h5,.single_blog_wrapper h6{margin-bottom:20px}
.single_blog_wrapper ul li{margin-bottom:7px;padding-left:20px;position:relative}
.single_blog_wrapper ul{list-style:none}
.single_blog_wrapper ul li:before{content:'';width:12px;height:12px;position:absolute;top:6px;left:0;background:var(--primary);border-radius:50%}
.single_blog_content table{width: 100%;border-collapse: collapse;border: 1px solid var(--bg-gray);table-layout: fixed;max-width: 100%;position: relative;}
.single_blog_content tr{}
.single_blog_content td{border: 1px solid #EEE;padding: 10px 15px;}
.single_blog_wrapper ~ .blog_wrapper {border-top: 1px solid  var(--product-gray);}
.single_product_btn,.single_product_btn path{-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.favorites_toggle_btn{width:32px;height:32px;background:var(--white);border-radius:1px;border:0;padding:10px 9px;position:absolute;z-index:2;right:20px;top:20px;cursor:pointer;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.favorites_toggle_btn path{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;stroke:var(--primary)}
.favorites_toggle_btn.active path,.single_product_favorites.active path{fill:var(--white);stroke:var(--white)}
.favorites_toggle_btn.active,.single_product_favorites.active{background:var(--primary)}
.product_add_cart_hide{background:rgba(255, 255, 255, 0.1);border:1px solid rgba(235, 235, 235, 0.3);color:var(--line-gray);cursor:no-drop;position: absolute;right: 20px;left: 20px;bottom: 20px;z-index: 3;padding: 16px;font-weight: 500;font-size: 14px;line-height: 16px;letter-spacing: .3em;text-transform: uppercase;}
.single_product_hide{background:var(--line-gray);border-color:var(--line-gray);color:var(--sup-gray);cursor: no-drop;padding: 27px;width: 100%;text-align: center;font-weight: 500;font-size: 14px;line-height: 16px;letter-spacing: .3em;position: static;display: block;text-transform: uppercase;}
.product_add_cart_hide .app_icon,.single_product_hide .app_icon{display:none}
.product_box_price.hide {text-align:center;color:var(--sup-gray);font-size: 16px;position: absolute;bottom: 0;right: 0;width: 100%;background: #F7F7F7;box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.02);padding: 2px 20px;z-index: 1;}
.quantity.hide {cursor: no-drop;background: var(--line-gray);border: 0.5px solid rgba(235, 235, 235, 0.8);}
.quantity.hide .product_btn path {fill: #A5B2C2;}
.quantity.hide .product_btn{pointer-events: none}
.quantity.hide input {background: transparent;color: var(--sup-gray);pointer-events: none;}
.quantity.hide:hover {border-color: rgba(235, 235, 235, 0.8);}
.favorites_toggle_btn span {display: -webkit-box;display: -ms-flexbox;display: flex;}
#faq_accordion {min-height: 800px;}
.favorite_empty {padding: 40px 10px;text-align: center;}
.modal-share{-webkit-transform:scale(0) translate(-50%,-50%);-ms-transform:scale(0) translate(-50%,-50%);transform:scale(0) translate(-50%,-50%);background:var(--white);-webkit-box-shadow:0 0 20px rgba(255,255,255,0.16);box-shadow:0 0 20px rgba(255,255,255,0.16);max-width:300px;width:100%;height:auto;position:absolute;left:50%;top:50%;opacity:0;padding-top:0;padding-bottom:20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-transition:all .3s cubic-bezier(0.8,-0.5,0.2,1.4);-o-transition:all .3s cubic-bezier(0.8,-0.5,0.2,1.4);transition:all .3s cubic-bezier(0.8,-0.5,0.2,1.4);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;border:.5px solid rgba(211,211,211,0.8)}
.modal-share--open{-webkit-transform:scale(1) translate(-50%,-50%);-ms-transform:scale(1) translate(-50%,-50%);transform:scale(1) translate(-50%,-50%);opacity:1;z-index:3;-webkit-transition:.5s;-o-transition:.5s;transition:.5s}
.modal-share__info{color:#96a1ac;font-size:14px;padding:.875rem 2.3rem .625rem 1.875rem}
.modal-share__icons{padding-left:1.875rem;padding-right:1.875rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-pack:distribute;justify-content: space-between;}
.modal-share__icon:hover{border: 1px solid var(--primary);background-color: var(--primary);}
.modal-share__icon:hover .link-icon__icon{color: var(--white);}
.modal-share__icon--close{position:absolute;right:.875rem;top:10px;padding:0;color:var(--black);cursor:pointer;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;z-index: 20;}
.modal-share__icon--close:hover{color: var(--white);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.alert{position:absolute;top:0;-webkit-transition:all .8s cubic-bezier(0.32,0.4,0.55,1.27);-o-transition:all .8s cubic-bezier(0.32,0.4,0.55,1.27);transition:all .8s cubic-bezier(0.32,0.4,0.55,1.27);opacity:0;width:100%;max-width:100%;left:0;background:#005093;padding:5px 20px;z-index: 10;}
.alert--visible{right:0;opacity:1;z-index: 30}
.alert__icon{color:#fff;width:1.25rem;vertical-align:middle;margin-top:-2px;display:inline-block}
.alert__text,.single_product_quantity .alert__text{font-size:.875rem;color:#fff;display:inline-block;margin-left:10px;margin-bottom:0}
.modal-share__icon--socials{background-color:var(--white);display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;width:2.8125rem;height:2.8125rem;border:1px solid #ddd;}
.link-icon__icon{color:var(--black);width:1.25rem;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.single_product_description_rel{padding-left: 20px;padding-right: 20px;display: inline-block;width: 100%;max-width: 100%;}
.single_product_brand,.single_product_title{padding-left: 20px;padding-right: 20px;}
.item {max-width: 100%;position: relative;will-change: transform;}
.item__img-wrap {/* --aspect-ratio: 1500/644; *//* overflow: hidden; *//* width: 100%; *//* margin: 0 auto; *//* padding-bottom: calc(100% / (var(--aspect-ratio))); *//* max-width: 100%; *//* will-change: transform; */}
.item__img {/* background-attachment: fixed; *//* --overflow: 120px; *//* height: calc(100% + (2 * var(--overflow))); *//* top: calc( -1 * var(--overflow)); *//* width: 100%; *//* position: absolute; *//* background-size: cover; *//* background-position: 50% 0%; *//* will-change: transform; */}
.single_blog_content{width: 100%;max-width: 100%;word-break: break-word;display: inline-block;margin-top: 50px;}
.parallax-section{background:#000;height:600px;overflow:hidden;position:relative}
.parallax-section:nth-child(n+2){margin-top:10px}
.parallax-section .parallax-content{color:var(--white);-webkit-box-align:center;-o-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-box;display:-ms-flexbox;display:box;display:flex;-webkit-box-pack:center;-o-box-pack:center;-ms-flex-pack:center;justify-content:center;height:100%;position:relative;z-index:2}
.parallax-section .parallax-image{background-repeat:no-repeat;background-size:cover;height: 800px;left:0;opacity:.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter:alpha(opacity=50);position:absolute;top:0;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);width:100%;z-index:1;}
.hero_banner .parallax-section {height: 300px;}
.hero_banner .parallax-section .parallax-image {height: 450px;background-position: center;top: 0;opacity: 1;}
.page-cover .parallax-section .parallax-image {opacity: 1;background-position: center;top: 0;}
