<div class="product_col">
    <div class="product_box product_box_animated p_0">
        <a href="/catalog?page=1" class="product_box_all_link" style="background-image: url('images/content/product_brand_more_bg.png')">
            <h2 class="product_box_all_title"><%=translations.all_brands_collections%></h2>
            <!--<span class="product_all_box_btn">
                <span class="app_icon more_icon"></span>
            </span>-->
            <!-- More new -->
            <div id="mega-cursor">
                <div class="mega-cursor__circle app_icon more_icon"></div>
            </div>
        </a>
    </div>
</div>