<div class="cart_popup_product flex">
    <div class="cart_popup_product_img">
        <img src="images/content/cart_prd_min.png" alt="">
    </div>
    <div class="cart_popup_product_box">
        <div class="cart_popup_product_info flex jsb">
            <div>
                <h4>JACOB'S CREEK Classic Shiraz 2018</h4>
                <p>Dry red wine, 0.75 L</p>
            </div>
            <a href="" class="remove_product_btn">remove <span class="app_icon icon_close icon_remove"></span></a>
        </div>
        <div class="cart_popup_product_foot flex jsb">
            <form action="">
                <div class="quantity flex">
                    <button type="button" class="product_btn quantity_minus">
                        <svg width="9" height="1" viewBox="0 0 9 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1H9V0H0V1Z" fill="#A5B2C2"/>
                        </svg>
                    </button>
                    <input  type="number" value="1" id="quantity_input" />
                    <button type="button" class="product_btn quantity_pluse">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.4 0V5.4H0V6.6H5.4V12H6.6V6.6H12V5.4H6.6V0H5.4Z" fill="black"/>
                        </svg>
                    </button>
                </div>
            </form>
            <div class="cart_popup_product_price">
                8 300 <sup>֏</sup> <del>12 800 <sup>֏</sup></del>
            </div>
        </div>
    </div>
</div>