<%if(pathName !== 'cart'){%>
<div class="cart_popup popup" id="cart_popup_id" style="opacity: 0">
    <div class="popup_container">
        <div class="cart_popup_body">
            <div class="cart_popup_header fcb">
                <h3 class="cart_popup_title"><%=translations.your_cart%></h3>
                <button type="button" class="close_popup" data-close="#cart_popup_id">
                    <span class="app_icon icon_close icon_remove"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99999 4.05781L8.29999 0.757812L9.24266 1.70048L5.94266 5.00048L9.24266 8.30048L8.29999 9.24315L4.99999 5.94315L1.69999 9.24315L0.757324 8.30048L4.05732 5.00048L0.757324 1.70048L1.69999 0.757812L4.99999 4.05781Z" fill="#676767"/></svg></span>
                    <span><%=translations.close%></span>
                </button>
            </div>

            <!-- Content for Empty Cart -->

                <div  class="cart_popup_empty" <% if(siteData.cart.items.length != 0){ %> style="display : none" <%}%> >
                    <div class="fcc h-100">
                        <div class="cart_popup_box">
                            <div class="cart_popup_box_img">
                                <img src="/images/content/general/cart_empty_icon.svg" alt="">
                            </div>
                            <h4 class="cart_popup_box_title"><%=translations.cart_is_empty%></h4>
                            <p><%=translations.use_the_search_to_find_everything_you_need%></p>
                            <a href="/catalog" class="cart_popup_box_btn btn_outline"><%=translations.shop_now%></a>
                        </div>
                    </div>
                </div>

                <!-- Content for Full Cart -->
                <div  class="cart_popup_content" <% if(siteData.cart.items.length == 0){ %> style="display : none" <%}%>>
                    <div class="cart_popup_content_body">
                        <% siteData.cart.items.forEach(function (item) { %>
                            <div class="cart_popup_product flex">
                                <div class="cart_popup_product_img">
                                    <img src="<%=item.image%>" alt="<%=item.name%>">
                                </div>
                                <div class="cart_popup_product_box"  data-ids="<%=item.id%>">
                                    <div class="cart_popup_product_info flex jsb">
                                        <div>
                                            <h4><%=item.name%></h4>
                                            <p><%=item.catName%></p>
                                        </div>
                                        <a href="javascript:;" class="remove_product_btn">
                                            <span class="app_icon icon_close icon_remove"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99999 4.05781L8.29999 0.757812L9.24266 1.70048L5.94266 5.00048L9.24266 8.30048L8.29999 9.24315L4.99999 5.94315L1.69999 9.24315L0.757324 8.30048L4.05732 5.00048L0.757324 1.70048L1.69999 0.757812L4.99999 4.05781Z" fill="#676767"/></svg></span>
                                            <%=translations.remove%>
                                        </a>
                                    </div>
                                    <div class="cart_popup_product_foot flex jsb">
                                        <div class="cart_popup_product_fcol">
                                            <p class="cart-heading-span">
                                                <%=translations.single_price%>:
                                            </p>
                                            <div class="cart_popup_product_price">
                                                <% if(item.price_before_sale == null){ %>
                                                <%=item.price%> <sup>֏</sup>
                                                <%}else{%>
                                                <%=item.price%> <sup>֏</sup>
                                                <%}%>
                                            </div>
                                        </div>
                                        <div class="cart_popup_product_right_pos">
                                            <form action="">
                                                <div class="quantity <% if(item.in_stock == '1') {%>hide<%}%> flex">
                                                    <button type="button" class="product_btn quantity_minus">
                                                        <svg width="9" height="1" viewBox="0 0 9 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1H9V0H0V1Z" fill="#A5B2C2"/>
                                                        </svg>
                                                    </button>
                                                    <input  type="number"  value="<%=item.quantity%>"/>
                                                    <button type="button" class="product_btn quantity_pluse">
                                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.4 0V5.4H0V6.6H5.4V12H6.6V6.6H12V5.4H6.6V0H5.4Z" fill="black"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </form>
                                            <div class="cart_popup_product_total_rel">
                                            <% if(item.in_stock == '1') {%>
                                                <span class="cart_popup_product_price hide"><%=translations.out_of_stock%></span>
                                            <%}else {%>

                                                <p class="cart-heading-span">
                                                    <%=translations.total%>:
                                                </p>
                                                <div class="cart_popup_product_price">
                                                    <%=item.selfTotal%> <sup>֏</sup>
                                                </div>
                                            <%}%>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="cart_popup_footer">
                        <div class="cart_popup_footer_top flex jsb">
                            <div class="cart_popup_footer_title">
                                <%=translations.products%>
                                <span><%=siteData.allProductQuantity%> <%=translations.product%></span>
                            </div>
                            <div class="cart_popup_product_price">
                                <span id="cartTotalBeforeDiscount"><%=siteData.cart.beforeDiscount%></span> <sup>֏</sup>
                            </div>
                        </div>
                        <div class="cart_popup_footer_middle flex jsb">
                            <p><strong><%=translations.total%>:</strong></p>
                            <div class="cart_popup_product_price">
                                <span id="cartTotal"><%=siteData.cart.total%></span> <sup>֏</sup>
                            </div>
                        </div>
                        <div class="cart_popup_footer_btns fcb">
                            <a href="/cart" class="btn_outline"><%=translations.go_to_cart%></a> <!--avecar es link-i mot-->
                            <a href="/checkout" class="btn"><%=translations.checkout%></a>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
<%}%>