<div class="modal modal_white" id="email_verify_modal" style="display: none">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#email_verify_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <div class="checked_attention_icon cf_thanks_icon">
                                        <img src="/images/content/general/checked_icon_green.svg" alt="">
                                    </div>
                                    <h2 class="primary_title">CHANGE EMAIL</h2>
                                    <p>Success! We send new msg to your email, please verify</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal_white" id="email_same_modal" style="display: none">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#email_same_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <div class="checked_attention_icon cf_thanks_icon">
                                        <img src="/images/content/general/attention_icon.svg" alt="">
                                    </div>
                                    <h2 class="primary_title">CHANGE EMAIL</h2>
                                    <p>Sorry! That mail has already taken!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>