<div class="modal modal_white show " id="visit_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="visit_wrapper" style="background-image: url('images/content/visit_bg.png')">
                <h2 class="visit_title">Welcome to
                    Pernod Ricard Armenia.am</h2>
                <p>In order to access this site You must be of legal drinking age in the country where you are in. By entering you agree to our
                    <a target="_blank" href="/service-page/cookies">Cookies</a> and <a target="_blank" href="/service-page/privacy-policy">Privacy Policy</a>.</p>

                <div id="__age_not_avail" style="display: none">
                    <div class="w-100">
                        <div class="age-not-available">
                            <b>We are sorry but access to the Brand’s section is denied for one of the following reasons:</b>
                            <ul>
                                <li>* - You are under legal drinking age or below <span class="age-not-available_text">18</span>  </li>
                                <li>* - The laws of your country prevent you from accessing this section</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--   <form>-->
                    <div class="container mt-visited-top">
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <h3 class="visit_form_title">1. Where do you live? *</h3>
                            </div>
                            <div class="col-12 col-lg-9">
                                <div class="input_box">
                                    <select  id="fv_country" class="validate">
                                        <option class="empty" value="hide" disabled>Home country or region *</option>
                                        <option value="11" data-age="18">Armenia</option>
                                        <% siteData.countries.forEach(function (countrie) { %>
                                            <option value="<%=countrie.id%>" data-age="<%=countrie.alcohol_age%>"><%=countrie.name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-12">
                                <h3 class="visit_form_title">2. Date of birth *</h3>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input_box">
                                    <select  id="fv_day" class="validate">
                                        <option class="empty" value="hide" disabled>Day</option>
                                        <% siteData.days.forEach(function (day) { %>
                                            <option value="<%=day%>"><%=day%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input_box">
                                    <select  id="fv_month" class="validate">
                                        <option class="empty" value="hide" disabled>Month</option>
                                        <% siteData.monts.forEach(function (month) { %>
                                        <option value="<%=month.val%>"><%=month.name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <div class="input_box">
                                    <select id="fv_year" class="validate">
                                        <option class="empty" value="hide" disabled>Year</option>
                                        <% siteData.years.forEach(function (year) { %>
                                        <option value="<%=year%>"><%=year%></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-3">
                                <button id="permitionBtn" class="btn btn_login" disabled>Enter</button>
                            </div>
                        </div>
                    </div>
<!--                </form>-->
            </div>
        </div>
    </div>
</div>

<script>
    // window.addEventListener('load', function (e){
    //     setTimeout(()=>{
    //         document.getElementById('visit_modal').classList.add('show');
    //     }, 1000);
    // });
</script>