<div class="modal modal_white" id="log_out_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal log_out_modal">
                <button type="button" class="modal_close" data-close="#log_out_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class=" login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <div class="checked_attention_icon cf_thanks_icon">
                                        <img src="/images/content/general/checked_icon_green.svg" alt="">
                                    </div>
                                    <h2 class="primary_title">Are you sure?</h2>
                                    <div class="cf-thanks-content-box">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="/auth/log-out" class="btn">Yes</a>
                                                </div>
                                                <div class="col-6">
                                                    <a href="javascript:void(0)" class="btn" data-close="#log_out_modal">No</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>