<div class="modal modal_white" id="login_modal" style="opacity: 0">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#login_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="hide_mobile col-12 col-md-5">
                            <section class="login_hero_wrapper">
                                <div class="hero_slider login_hero_slider">
                                    <div class="hero_slider_inner">
                                        <div class="hero_slides">
                                            <% if(typeof siteData.loginSlide !== "undefined" && siteData.loginSlide.length > 0){ %>
                                                <% var num = 0;  siteData.loginSlide.forEach(function (value) { %>
                                                    <div class="hero_slide slide <% if(num === 0){ %> is-active <%}%>">
                                                        <div class="slide-content">
                                                            <div class="container flex">
                                                                <div class="login_modal_brand">
                                                                    <img src="/images/content/general/logo_white.svg" alt="">
                                                                </div>
                                                                <div class="login_modal_info">
                                                                    <span class="infinity_icon infinity_icon_white"></span>
                                                                    <h2 class="hero_slide_title"><%=value.name%></h2>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="image-container">
                                                            <img src="<%=value.image%>" alt="<%=value.name%>" class="image" />
                                                        </div>
                                                    </div>
                                                <% num++; }) %>
                                            <% } %>
                                        </div>
                                        <div class="pagination">
                                            <div class="item is-active">
                                                <span class="icon">1</span>
                                            </div>
                                            <div class="item">
                                                <span class="icon">2</span>
                                            </div>
                                            <div class="item">
                                                <span class="icon">3</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- hero_slider -->
                            </section> <!-- / hero_wrapper -->
                        </div>
                        <div class="col-12 col-md-7">
                            <div class=" login_modal_form login_box" style="background-image: url('images/content/product_brand_more_bg.png')">
                                <h2 class="primary_title">Login</h2>
                                <form class="login_form form_box" novalidate="novalidate">
                                    <div class="login-error-notice">
                                        <i class="alert-notice-icon"></i>
                                        <span>login incorrect, we didn't found user</span>
                                    </div>
                                    <div class="input_box">
                                        <input id="email_id" name="email" type="email" class="validate" data-error="#e3">
                                        <label for="email_id">Email</label>
                                        <div class="error_text" id="e3"></div>
                                    </div>
                                    <div class="input_box">
                                        <input id="pass_id" name="password" type="password" class="validate password" data-error="#e2">
                                        <label for="pass_id">Password</label>
                                        <div class="error_text" id="e2"></div>
                                        <span class="password_toggle">
                                            <span class="app_icon icon_hide_password"></span>
                                        </span>
                                    </div>
                                    <input type="submit" class="btn btn_login" value="Login">
                                </form>

                                <a href="/reset-password" class="btn_link btn_lost_password">Lost password?</a>

                                <div class="login_soc_media">
                                    <p>login with social media</p>
                                    <ul class="fcb">
                                        <li>
                                            <a href="">
                                                <img src="/images/content/general/facebook_icon.svg" alt=""> Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="/images/content/general/google_icon.svg" alt=""> Google
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="footer_line fcc">
                                    <span class="infinity_icon"></span>
                                </div>

                                <div class="login_create_account">
                                    <p>I don't have an account</p>
                                    <a href="/sign-up" class="btn_outline">Create An Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>