<div class="modal modal_white" id="map_contact_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#map_contact_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class=" login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="w-100">
                                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af45bc84449ca87e1cfc682b2e02c7be20b7b4c9c83f5d9e7c62c85162a8081fd&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>