<section class="blog_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities"><%=translations.pernod_ricards_news%></h2>
        <div class="row blog_carts">
            <% siteData.latestNews.forEach(function (value) { %>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="<%=value.publicUrl%>"  class="blog_cart">
                        <div class="blog_cart_header">
                            <img src="<%=value.image%>" alt="">
                        </div>
                        <div class="blog_cart_body">
                            <h3 class="secondary_title"><%=value.title%></h3>
                            <span class="blog_cart_more_btn">
                                <span class="app_icon more_primary_icon"></span>
                            </span>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<div class="blog_more_box" style="background-image: url('/images/content/blog_more_bg.png')">
    <a href="/news" class="blog_more_box_link">
        <%=translations.more_from_news%>

        <div id="mega-cursor2" class="blog_more_box_btn">
            <div class="mega-cursor__circle2 app_icon more_second_icon"></div>
        </div>
    </a>
</div>