<% if(pagesCount !== 0  && pagesCount !== 1){ %>
<section class="pagination_wrapper">
    <div class="conatiner">
        <div class="pagination_box fcc">
            <% if(thisPage != 1){ %>
            <a href="/news?page=1" class="btn_pagination btn_pagination_prev fcc">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.828 5.00081L5.657 7.82881L4.243 9.24381L0 5.00081L4.243 0.757812L5.657 2.17281L2.828 5.00081Z" fill="black"/>
                </svg>
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.828 5.00081L5.657 7.82881L4.243 9.24381L0 5.00081L4.243 0.757812L5.657 2.17281L2.828 5.00081Z" fill="black"/>
                </svg>
            </a>
            <a href="/news?page=<%=thisPage-1%>" class="btn_pagination btn_pagination_prev fcc">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.828 5.00081L5.657 7.82881L4.243 9.24381L0 5.00081L4.243 0.757812L5.657 2.17281L2.828 5.00081Z" fill="black"/>
                </svg>
            </a>
            <% } %>
            <ul class="pagination_list fcc">
                <% if(thisPage != 1){ %>
                <li><a href="/news?page=<%=parseInt(thisPage) - 1%>"><%=parseInt(thisPage) - 1%></a></li>
                <% } %>
                <li><a href="javascript:;  " class=" active"><%=thisPage%></a></li>
                <% if(thisPage != pagesCount){ %>
                <li><a href="/news?page=<%=parseInt(thisPage) + 1%>"><%=parseInt(thisPage) + 1%></a></li>
                <% } %>
            </ul>
            <% if(thisPage != pagesCount){ %>
            <a href="/news?page=<%=thisPage+1%>" class="btn_pagination btn_pagination_next fcc">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.17199 5.00081L0.342987 2.17281L1.75699 0.757812L5.99999 5.00081L1.75699 9.24381L0.342987 7.82881L3.17199 5.00081Z" fill="black"/>
                </svg>
            </a>
            <a href="/news?page=<%=pagesCount%>" class="btn_pagination btn_pagination_next fcc">
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.17199 5.00081L0.342987 2.17281L1.75699 0.757812L5.99999 5.00081L1.75699 9.24381L0.342987 7.82881L3.17199 5.00081Z" fill="black"/>
                </svg>
                <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.17199 5.00081L0.342987 2.17281L1.75699 0.757812L5.99999 5.00081L1.75699 9.24381L0.342987 7.82881L3.17199 5.00081Z" fill="black"/>
                </svg>
            </a>
            <% } %>
        </div>
    </div>
</section>
<%}%>