<div class="product_col">
    <div class="product_box">
        <div class="product_box_content">
            <h3 class="secondary_title">MALIBU</h3>
            <div class="product_box_img">
                <img src="/images/content/product_img1.png" alt="">
            </div>
            <div class="product_box_description">Malibu is an original Caribbean coconut rum, born and lives in a place where spi Malibu is an original Caribbean coconut rum, born and lives in a place where spi </div>
            <span class="product_box_price">22 200 <sup>֏</sup></span>
        </div>
        <div class="product_box_content_back" style="background-image: url(images/content/dropdown_product_img.png)">
            <button type="button" class="favorites_toggle_btn">
                 <span>
                     <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M6.64661 1.68689L7.00016 2.04044L7.35372 1.68689C7.96047 1.08013 8.934 0.5 10.0002 0.5C11.7191 0.5 13.1668 1.91151 13.1668 4C13.1668 6.13994 12.023 7.85077 10.6155 9.17787C9.36731 10.3547 7.96134 11.1845 7.06448 11.7138C7.04274 11.7267 7.02129 11.7393 7.00016 11.7518C6.97903 11.7393 6.95759 11.7267 6.93585 11.7138C6.03899 11.1845 4.63302 10.3547 3.38484 9.17787C1.97731 7.85077 0.833496 6.13994 0.833496 4C0.833496 1.91382 2.30443 0.5 4.00016 0.5C5.06632 0.5 6.03985 1.08013 6.64661 1.68689Z" stroke="#005092"/>
                     </svg>
                 </span>
            </button>
            <a href="" class="product_box_bg"></a>
            <div class="product_price">20 500 ֏</div>
            <a href="javascript:;" data-open="#cart_popup_id" class="product_box_more"><span class="app_icon more_icon"></span>MORE</a>
            <a href="javascript:;" data-open="#cart_popup_id" class="product_add_cart"><span class="app_icon cart_icon"></span>ADD TO CART</a>
        </div>
    </div>
</div>