<div class="modal modal_white" id="reset_password_success_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#reset_password_success_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <div class="checked_attention_icon cf_thanks_icon">
                                        <img src="/images/content/general/checked_icon_green.svg" alt="">
                                    </div>
                                    <h2 class="primary_title">CHANGE PASSWORD</h2>
                                    <p>Success! Your password has been successfully changed!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal_white" id="reset_password_old_password_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#reset_password_old_password_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <div class="checked_attention_icon cf_thanks_icon">
                                        <img src="/images/content/general/attention_icon.svg" alt="">
                                    </div>
                                    <h2 class="primary_title">CHANGE PASSWORD</h2>
                                    <p>Error, please write correct old password and try again.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
