<div class="popup search_popup hide_tablet" id="search_popup_id">
    <div class="popup_container">
        <h3 class="search_popup_title">What do you want to find?</h3>
<!--        <form action="">-->
            <div class="search_popup_input">
                <input type="text"   placeholder="Your keyword here" />
                <a href="javascript:;" class="popup_search_btn btn">SEARCH</a>
            </div>
            <ul class="search_result"></ul>
<!--        </form>-->
    </div>
    <div class="close_btn close_popup" data-close="#search_popup_id"></div>
</div>