<div class="modal modal_white" id="thank_you_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#thank_you_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class=" login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <div class="checked_attention_icon cf_thanks_icon">
                                        <img src="/images/content/general/checked_icon_green.svg" alt="">
                                    </div>
                                    <h2 class="primary_title">thank you!</h2>
                                    <p class="cf-thanks-content-box">
                                        your message was successfully sent
                                    </p>
                                    <a href="javascript:void(0)" class="btn" data-close="#thank_you_modal">close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>