<div class="modal" id="video_modal" style="opacity: 0">
    <div class="modal_container">
        <div class="modal_body">
            <div class="video_modal_slider">
                <button class="video_show_prev">
                    <span class="app_icon icon_prev"></span>
                </button>
                <div class="video_show_box">
                    <video src="" controls></video>
                </div>
                <button class="video_show_next">
                    <span class="app_icon icon_next"></span>
                </button>
            </div>

        </div>
        <button type="button" class="modal_close"></button>
    </div>
</div>