<div class="modal modal_white" id="__warningRemove_modal">
    <div class="modal_container">
        <div class="modal_body">
            <div class="login_modal">
                <button type="button" class="modal_close" data-close="#__warningRemove_modal"></button>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class=" login_modal_form login_box" style="background-image: url('/images/content/product_brand_more_bg.png')">
                                <div class="cf-wrap-box">
                                    <h2 class="primary_title"></h2>
                                    <span style="display: none" id="warningRemove_back_info_remove"></span>
                                    <div class="remove_button_group">
                                        <a href="javascript:;" class="btn_outline" data-close="#__warningRemove_modal">Cancel</a>
                                        <a href="javascript:;" class="btn warning_remove_button" data-close="#__warningRemove_modal">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>