<%- include("../default/header.ejs") %>

<div class="single_blog_wrapper">
    <div class="container">
        <h1>Ref Policy</h1>
        <div class="single_blog_content">
            <%-text%>
        </div>
    </div>
</div>

<%- include("../default/footer.ejs") %>