<%- include("./default/header.ejs") %>
    <% if(typeof slide !== "undefined" && slide.length !== 0){ %>
        <section class="hero_wrapper">
            <div class="hero_slider">
                <div class="hero_slider_inner">
                    <div class="hero_slides">
                        <% var num = 0; slide.forEach(function (slideItem) { %>
                            <div class="hero_slide slide <% if(num === 0){ %> is-active <%}%>">
                                <div class="slide-content">
                                    <div class="container">
                                        <span class="infinity_icon infinity_icon_white"></span>
                                        <h2 class="hero_slide_title"><%=slideItem.buttonTitle%></h2>
                                        <a href="<%=slideItem.buttonUrl%>" class="hero_slide_btn"><%=slideItem.buttonText%></a>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <img src="<%=slideItem.image%>" alt="" class="image" />
<!--                                    <img src="/images/content/hero_img1.png" alt="" class="image" />-->
                                </div>
                                <div class="hero_layout_bg"></div>
                            </div>
                        <% num++; }) %>
                    </div>
                    <div class="pagination">
                        <% var num = 0; slide.forEach(function (slideItem) { %>
                            <div class="item  <% if(num === 0){ %> is-active <%}%>">
                                <span class="icon"><%=num+1%></span>
                            </div>
                        <% num++; }) %>
                    </div>
                    <div class="arrows">
                        <div class="arrow prev">
                          <span class="svg svg-arrow-left">
                            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
                            <span class="alt sr-only"></span>
                          </span>
                        </div>
                        <div class="arrow next">
                          <span class="svg svg-arrow-right">
                            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
                            <span class="alt sr-only"></span>
                          </span>
                        </div>
                    </div>
                </div>
            </div> <!-- hero_slider -->
        </section> <!-- / hero_wrapper -->
    <%}%>
    <section class="categories_wrapper">
        <div class="container">
            <h2 class="primary_title title_infinities"><%=translations.categories%></h2>
            <div class="categories_content flex jcc">
                <% siteData.categories.forEach(function (oneCat) {%>
                    <div class="categories_col">
                        <div class="categories_box">

                            <a href="<%=oneCat.catalogUrl%>" style="background-image: url(<%=oneCat.effect_image%>)" class="text-center categories_icon" data-tilt data-tilt-perspective="300" data-tilt-speed="400" data-tilt-max="25">
                                <img src="<%=oneCat.image%>" alt="<%=oneCat.name%>" />
                            </a>

                            <h4 class="secondary_title">
                                <a href="javascript:void(0)" >
                                    <%=oneCat.name%>
                                </a>
                            </h4>
                        </div>
                    </div>
                <%  }) %>
                <div class="categories_col hide_tablet">
                   <a href="/catalog" class="categories_box_mob fcc" style="background-image: url('/images/content/product_brand_more_bg.png')">
                       <span>go to catalog</span>
                       <span class="product_all_box_btn">
                           <span class="app_icon more_icon"></span>
                       </span>
                    </a>
                </div>
            </div>
        </div>
    </section> <!-- / categories_wrapper -->

    <section class="vip_wrapper">
        <div class="container">
            <div class="vip_box" style="background-image: url('images/content/vip_status_bg.png')">

                <% if(typeof siteData.userInfo == "undefined"){%>
                    <div class="vip_box_content">
                        <h3 class="secondary_title"><%=translations.vip_status%></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a href="/sign-up" class="vip_box_btn fcc btn">
                            <span class="app_icon icon_crown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M2.10001 3.9L5.25001 6L8.38951 1.605C8.45888 1.50778 8.55048 1.42853 8.65667 1.37385C8.76286 1.31918 8.88057 1.29065 9.00001 1.29065C9.11944 1.29065 9.23716 1.31918 9.34334 1.37385C9.44953 1.42853 9.54113 1.50778 9.61051 1.605L12.75 6L15.9 3.9C16.0192 3.82069 16.1586 3.77715 16.3018 3.77455C16.445 3.77195 16.5859 3.81039 16.7079 3.88532C16.8299 3.96025 16.928 4.06854 16.9904 4.1974C17.0528 4.32626 17.0771 4.4703 17.0603 4.6125L15.828 15.0878C15.8065 15.2702 15.7188 15.4384 15.5815 15.5605C15.4443 15.6825 15.267 15.75 15.0833 15.75H2.91676C2.73306 15.75 2.55575 15.6825 2.41848 15.5605C2.2812 15.4384 2.1935 15.2702 2.17201 15.0878L0.939756 4.61175C0.923106 4.46961 0.947469 4.32568 1.00997 4.19694C1.07247 4.0682 1.1705 3.96003 1.29249 3.8852C1.41447 3.81036 1.55532 3.772 1.69841 3.77462C1.8415 3.77724 1.98084 3.82075 2.10001 3.9ZM9.00001 11.25C9.39783 11.25 9.77936 11.092 10.0607 10.8107C10.342 10.5294 10.5 10.1478 10.5 9.75C10.5 9.35218 10.342 8.97064 10.0607 8.68934C9.77936 8.40804 9.39783 8.25 9.00001 8.25C8.60218 8.25 8.22065 8.40804 7.93935 8.68934C7.65804 8.97064 7.50001 9.35218 7.50001 9.75C7.50001 10.1478 7.65804 10.5294 7.93935 10.8107C8.22065 11.092 8.60218 11.25 9.00001 11.25Z" fill="white"/>
                                </svg>
                            </span>
                            <%=translations.get_your_vip_status%>
                        </a>
                    </div>
                <%}else{%>
                    <div class="vip_box_content">
                        <h3 class="secondary_title"><%=translations.move_your_status_up%></h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <a href="/catalog?page=1" class="vip_box_btn fcc btn">
                        <span class="app_icon icon_crown">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                <path d="M2.10001 3.9L5.25001 6L8.38951 1.605C8.45888 1.50778 8.55048 1.42853 8.65667 1.37385C8.76286 1.31918 8.88057 1.29065 9.00001 1.29065C9.11944 1.29065 9.23716 1.31918 9.34334 1.37385C9.44953 1.42853 9.54113 1.50778 9.61051 1.605L12.75 6L15.9 3.9C16.0192 3.82069 16.1586 3.77715 16.3018 3.77455C16.445 3.77195 16.5859 3.81039 16.7079 3.88532C16.8299 3.96025 16.928 4.06854 16.9904 4.1974C17.0528 4.32626 17.0771 4.4703 17.0603 4.6125L15.828 15.0878C15.8065 15.2702 15.7188 15.4384 15.5815 15.5605C15.4443 15.6825 15.267 15.75 15.0833 15.75H2.91676C2.73306 15.75 2.55575 15.6825 2.41848 15.5605C2.2812 15.4384 2.1935 15.2702 2.17201 15.0878L0.939756 4.61175C0.923106 4.46961 0.947469 4.32568 1.00997 4.19694C1.07247 4.0682 1.1705 3.96003 1.29249 3.8852C1.41447 3.81036 1.55532 3.772 1.69841 3.77462C1.8415 3.77724 1.98084 3.82075 2.10001 3.9ZM9.00001 11.25C9.39783 11.25 9.77936 11.092 10.0607 10.8107C10.342 10.5294 10.5 10.1478 10.5 9.75C10.5 9.35218 10.342 8.97064 10.0607 8.68934C9.77936 8.40804 9.39783 8.25 9.00001 8.25C8.60218 8.25 8.22065 8.40804 7.93935 8.68934C7.65804 8.97064 7.50001 9.35218 7.50001 9.75C7.50001 10.1478 7.65804 10.5294 7.93935 10.8107C8.22065 11.092 8.60218 11.25 9.00001 11.25Z" fill="white"/>
                            </svg>
                        </span>
                          <%=translations.start_shopping%>
                        </a>
                    </div>
                <%}%>
            </div>
        </div>
    </section> <!-- / vip_wrapper -->

    <section class="popular_products_wrapper">
        <div class="container-fluid">
            <h2 class="primary_title title_infinities"><%=translations.popular_products%></h2>
            <div class="flex">
                <%- include("./components/popularProducts.ejs") %>
                <%- include("./components/ads-badge.ejs") %>
            </div>
        </div>
    </section> <!-- / popular_products_wrapper -->

    <%- include("./components/news.ejs") %><!-- / blog_wrapper -->


    <section class="video_wrapper">
        <div class="container-fluid">
            <div class="video_slider">
                <div class="video_slide play">
                    <video data-video="0" src="video/ararat.mp4"  autoplay muted id="test-video" loop></video>
                </div>

                <div class="video_pattern"></div>
            </div>

            <button id="video_play_btn" type="button" class="play_btn" data-open="#video_modal">
                <span class="mega-cursor__circle3 app_icon play_icon"></span>
            </button>

            <div class="video_box">
                <h2 class="video_title">Pernod Ricard’s strategy and objectives are based on 4 essential principles</h2>
                <a href="/about/" class="video_btn"><%=translations.about_us%></a>
            </div>
        </div>
    </section><!-- / video_wrapper-->

<%- include("./default/footer.ejs") %>
