<%- include("../default/header.ejs") %>

<section class="hero_banner">
    <div class="item">
        <div class="item__img-wrap parallax-section">
            <div class="item__img parallax-image" style="background-image: url(images/content/catalog_hero.png);"></div>
        </div>
    </div>
</section>



<section class="catalog_wrapper">
    <div class="container-fluid">
        <h1 class="primary_title title_infinities"><%=translations.shop%></h1>

        <div class="catalog-list-box-wrapper">
            <div class="flex">
                <div id="filter_id" class="catalog_filter">
                    <div class="caloge_top">
                        <p><%=translations.product_filters%></p>
                    </div>
                    <form action="">
                        <div class="filter_col price_range_block">
                            <h2 class="catalog_filter_title"><%=translations.filter_price%>:</h2>
                            <div class="price_range_inputs">

                            </div>
                            <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                        </div>

                        <div class="filter_col filter_category">
                            <h2 class="catalog_filter_title"><%=translations.category%>:</h2>
                            <% categories.forEach(function (oneCat) {   %>
                                <div class="input_checkbox flex">
                                    <input type="checkbox" data-type="cat" id="<%=oneCat.slug%>" name="">
                                    <label for="<%=oneCat.slug%>">
                                        <%=oneCat.name%>
                                    </label>
                                </div>
                            <%  }) %>
                        </div>

                        <div class="filter_col filter_brand hide">
                            <h2 class="catalog_filter_title"><%=translations.brand%>:</h2>
                            <% brands.forEach(function (oneBrand) {   %>
                                <div class="input_checkbox flex">
                                    <input type="checkbox" data-type="brand" id="<%=oneBrand.slug%>" name="">
                                    <label for="<%=oneBrand.slug%>">
                                        <%=oneBrand.name%>
                                    </label>
                                </div>
                            <%  }) %>
                            <!--<a href="javascript:;" data-placeholder="Show Less Brands" class="btn_show_more">Show All Brands</a>-->
                        </div>
                        <div class="filter_col filter_brand hide">
                            <h2 class="catalog_filter_title"><%=translations.litrage%>:</h2>
                            <% litrages.forEach(function (litrage) {   %>
                                <div class="input_checkbox flex">
                                    <input type="checkbox" data-type="litrage" id="<%=litrage.id%>" name="">
                                    <label for="<%=litrage.id%>">
                                        <%=litrage.name%>
                                    </label>
                                </div>
                            <%  }) %>
                            <!--<a href="javascript:;" data-placeholder="Show Less Brands" class="btn_show_more">Show All Brands</a>-->
                        </div>
                        <!--                        <div id="g_filters">-->
                        <!--                            <div class="filter_col filter_country">-->
                        <!--                                <h2 class="catalog_filter_title">:</h2>-->

                        <!--                              -->
                        <!--                                    <div class="input_checkbox flex">-->
                        <!--                                        <input type="checkbox" data-type="filter" id="" name="" >-->
                        <!--                                        <label for="">-->
                        <!--                                          -->
                        <!--                                        </label>-->
                        <!--                                    </div>-->
                        <!--                           -->
                        <!--                            </div>-->
                        <!--                            -->
                        <!--                        </div>-->
                    </form>

                    <button type="buttton" class="btn filter_close_btn hide_desktop hide_tablet" data-close="#filter_id">
                        <span class="app_icon filter_icon"></span>
                        <%=translations.save_and_close%>
                    </button>
                </div>
                <div class="catalog_content">
                    <div class="caloge_top empty"></div>
                    <div class="flex " id="g_products"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<% //if(pagesCount.legth == 1){ %>
    <section class="pagination_wrapper">
        <div class="conatiner">
            <div class="pagination_box fcc"></div>
        </div>
    </section>
<%//}%>
<section class="popular_products_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities"><%=translations.popular_products%></h2>
        <div class="flex">
            <%- include("../components/popularProducts.ejs") %>
            <%- include("../components/ads-badge.ejs") %>
        </div>
    </div>
</section> <!-- / popular_products_wrapper -->


<%- include("../default/footer.ejs") %>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/g_script.js"></script>