<%- include("../default/header.ejs") %>

<section class="hero_banner">
    <div class="item">
        <div class="item__img-wrap parallax-section">
            <div class="item__img parallax-image" style="background-image: url('images/content/catalog_hero.png');"></div>
        </div>
    </div>
</section>


<section class="catalog_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities"><%=translations.special_offers%></h2>
        <div class="flex">
            <% data.forEach((popProd)=>{ %>
            <div class="product_col">
                <div class="product_box">
                    <div class="product_box_content">
                        <h3 class="secondary_title"><%=popProd.name%></h3>
                        <div class="product_box_img">
                            <img src="<%=popProd.image%>" alt="">
                        </div>
                        <div class="product_box_description"><%-popProd.description%> </div>
                        <% if(popProd.in_stock == '1') {%>
                            <span class="product_box_price hide"><%=translations.out_of_stock%></span>
                        <%}%>
                        <span class="product_box_price"><%=popProd.price%><sup>֏</sup> <% if(popProd.price_before_sale !== null){ %><del><%=popProd.price_before_sale%> ֏</del><%}%></span>
                </span>
                    </div>
                    <div class="product_box_content_back" style="background-image: url(<%=popProd.hoverImage%>)">
                        <button type="button" class="favorites_toggle_btn <%if(popProd.favId !== null){%>active<%}%>" data-id="<%=popProd.id%>">
                    <span>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.64661 1.68689L7.00016 2.04044L7.35372 1.68689C7.96047 1.08013 8.934 0.5 10.0002 0.5C11.7191 0.5 13.1668 1.91151 13.1668 4C13.1668 6.13994 12.023 7.85077 10.6155 9.17787C9.36731 10.3547 7.96134 11.1845 7.06448 11.7138C7.04274 11.7267 7.02129 11.7393 7.00016 11.7518C6.97903 11.7393 6.95759 11.7267 6.93585 11.7138C6.03899 11.1845 4.63302 10.3547 3.38484 9.17787C1.97731 7.85077 0.833496 6.13994 0.833496 4C0.833496 1.91382 2.30443 0.5 4.00016 0.5C5.06632 0.5 6.03985 1.08013 6.64661 1.68689Z" stroke="#005092"/>
                        </svg>
                    </span>
                        </button>
                        <a href="/product?id=<%=popProd.slug%>" class="product_box_bg"></a>
                        <div class="product_price"><%=popProd.price%> ֏</div>
                        <a href="/product?id=<%=popProd.slug%>" data-open="#cart_popup_id" class="product_box_more"><span class="app_icon more_icon"></span><%=translations.more%></a>
                        <% if(popProd.in_stock == '1') {%>
                            <span class="product_add_cart_hide"><%=translations.out_of_stock%></span>
                        <%}else {%>
                        <a href="javascript:;" data-id="<%=popProd.id%>" data-open="#cart_popup_id" class="product_add_cart"><span class="app_icon cart_icon"></span><%=translations.add_to_cart%></a>
                        <%}%>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</section>

<section class="popular_products_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities"><%=translations.popular_products%></h2>
        <div class="flex">
            <%- include("../components/popularProducts.ejs") %>
            <%- include("../components/ads-badge.ejs") %>
        </div>
    </div>
</section> <!-- / popular_products_wrapper -->


<%- include("../default/footer.ejs") %>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/g_script.js"></script>