<%- include("../default/header.ejs") %>
<div class="container">
    <div class="page-template-wrapper">
        <div class="page-cover">
            <div class="item">
                <div class="item__img-wrap parallax-section">
                    <div class="item__img parallax-image" style="background-image: url('images/content/page-cover.png')"></div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h1>OUR VALUES</h1>
        </div>
        <div class="page-content">
            <p>
                Pernod Ricard’s strategy and objectives are based on 3 essential principles, which have guided the Group’s development since its establishment.
            </p>
            <p>
                <b>Entrepreneurial Spirit</b>
            </p>
            <p>
                Entrepreneurial spirit is at the core of Pernod Ricard’s values and is an integral part of the Group’s management philosophy thanks to its decentralized structure.
            </p>
            <p>
                Entrepreneurial spirit is at the core of Pernod Ricard’s values and is an integral part of the Group’s management philosophy thanks to its decentralized structure.
            </p>
            <p>
                <b>Mutual Trust</b>
            </p>
            <p>
                At the core of all Pernod Ricard relations is trust, a notion based on one fundamental principle – mutual respect.
            </p>
            <p>
                The Group has adopted an open and transparent approach to work and promotes knowledge sharing, openness and direct, simple relationships among employees to empower teams and foster cooperation among subsidiaries and partners.
            </p>
            <p>
                <b>A Strong Sense of Ethics</b>
            </p>
            <p>
                Leadership cannot be attained and maintained without exemplary and strong sense of ethics. Adherence to this value, to strong sense of responsibility, transparency, respect for people and cultures, is deeply rooted in the history and culture of Pernod Ricard since its very establishment․
            </p>
            <p>
                Shareholders, clients and consumers can all have confidence in the reliability of the information provided by Pernod Ricard, in the excellence of Pernod Ricard's products and in the company's commitment to the local community.
            </p>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>