:root{
    --black: #000000;
    --white: #ffffff;
    --light-gray: #f5f5f5;
    --border-gray: #F2F2F2;
    --primary: #005092;
    --text-gray: #828282;
    --hover-gary: #FAFAFA;
    --navbar-hover: #7B93C5;
    --sup-gray: #5F6368;
    --line-gray: #EBEBEB;
    --light-blue: #F2F5FA;
    --product-gray: #D3D3D3;
    --circle-gray: #CECECE;
    --background-gray: #EDEFF1;
    --higlit-gray:#676767;
    --bg-white: #FDFDFD;
    --danger: #EB001B;
    --danger-discount: #CC2229;
    --gray: #333333;
    --text-black: #27364A;
    --bg-gray: #F7F7F7;
    --dark-gray:#787878;
    --bg-blue: #F8FAFF;
    --bg-black: #14161A;
    --progress-gray: #C2C2C2
}