.btn_link,.visit_wrapper p > a,.company_navbar a,.language_list a:not(.active),.input_checkbox label a,.nav_list a,.btn_checkout_back,.summary_btn,.checkout_link a,.contact_data_box a,.edit_btn,.faq_info a{position:relative;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;display:inline-block}
.categories_box:hover .secondary_title{color:var(--primary)}
.product_box:hover .product_box_content_back{opacity:1}
.product_box:hover .product_box_content{opacity:0}
.video_show_prev:hover,.video_show_next:hover{background-color:var(--white)}
.video_show_prev:hover .app_icon,.video_show_next:hover .app_icon{-webkit-filter:brightness(0);filter:brightness(0)}
.hero_slider .pagination .item:hover::before{background-color:var(--white)}
.hero_slider .arrows .prev:hover .svg{left:-10px}
.hero_slider .arrows .next:hover .svg{left:10px}
.product_btn:hover{border-color:var(--primary)}
.product_btn.quantity_minus:hover{border-left-color: transparent;border-top-color: transparent;border-bottom-color: transparent}
.product_btn.quantity_pluse:hover{border-right-color: transparent;border-top-color: transparent;border-bottom-color: transparent}
.result_cart:hover{background:var(--hover-gary)}
.navbar_item > a:hover{background:var(--navbar-hover)}
.navbar_item a:hover .app_icon{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
.navbar_item.navbar_dropdown:hover > a{background:var(--navbar-hover)}
.navbar_item.navbar_dropdown:hover a .app_icon{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
@media all and (min-width: 768px){.navbar_item.navbar_dropdown:hover .dropdown_content{visibility:visible;opacity:1;-webkit-box-shadow:0 230px 40px rgba(43,43,43,0.2);box-shadow:0 100px 40px rgba(43,43,43,0.2);z-index: 200;-webkit-transition: .3s .25s opacity, .3s .25s visibility, 0s transform;-o-transition: .3s .25s opacity, .3s .25s visibility, 0s transform;transition: .3s .25s opacity, .3s .25s visibility, 0s transform;}}
.dropdown_nav_list a:hover{color:var(--primary)}
.ui-slider .ui-slider-handle:hover{background:var(--primary)}
.pagination_list a:not(.active):hover{border-color:var(--primary)}
.blog_cart_header{-webkit-transition: .8s;-o-transition: .8s;transition: 0.8s;}
.blog_cart:hover .blog_cart_header{/* -webkit-transform:scale3d(2.5,2.5,2.5); *//* transform:scale3d(2.5,2.5,2.5) */}
.blog_cart:hover .blog_cart_header img{opacity: 0.6;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}
.blog_cart:hover{background: var(--primary);}
.blog_cart:hover .blog_cart_header:before{-webkit-transform: scale3d(1.9,2.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);transform: scale3d(1.9,2.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);}
.blog_cart:hover .blog_cart_header:after{opacity:1}
.blog_cart:hover .blog_cart_body{/* -webkit-transform:translateY(-90%); */-ms-transform:translateY(-90%);/* transform:translateY(-90%) */}
.blog_cart:hover .blog_cart_body .secondary_title{color:var(--white)}
.blog_cart:hover .blog_cart_body .blog_cart_more_btn{border-color:var(--white);background:rgba(255,255,255,.8);-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.favorites_toggle_btn.active svg,.single_product_favorites.active svg{-webkit-animation-name:likeAnimation;animation-name:likeAnimation;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:.5s;animation-duration:.5s}
.favorites_toggle_btn.deactive svg,.single_product_favorites.deactive svg{-webkit-animation-name:reverselikeAnimation;animation-name:reverselikeAnimation;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:.5s;animation-duration:.5s}
@-webkit-keyframes likeAnimation {
    0%{-webkit-transform:scale3d(8,8,8);transform:scale3d(8,8,8)}
    100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes likeAnimation {
    0%{-webkit-transform:scale3d(8,8,8);transform:scale3d(8,8,8)}
    100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@-webkit-keyframes reverselikeAnimation {
    100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
    0%{-webkit-transform:scale3d(8,8,8);transform:scale3d(8,8,8)}
}
@keyframes reverselikeAnimation {
    100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
    0%{-webkit-transform:scale3d(8,8,8);transform:scale3d(8,8,8)}
}
.favorites_toggle_btn.active path,.single_product_favorites.active path{-webkit-animation-name:likeAnimationCol;animation-name:likeAnimationCol;-webkit-animation-iteration-count:1;animation-iteration-count:1;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-duration:.5s;animation-duration:.5s}
@-webkit-keyframes likeAnimationCol {
    0%{fill:var(--white);stroke:var(--white)}
    100%{fill:var(--white);stroke:var(--white)}
}
@keyframes likeAnimationCol {
    0%{fill:var(--white);stroke:var(--white)}
    100%{fill:var(--white);stroke:var(--white)}
}
.footer_navbar a, .contact_list a, .language_list a, .company_navbar a,.dropdown_nav_list a,
.account_data_box .btn_link,.btn_link,.checkout_link a,.btn_checkout_back,.nav_list a,
.contact_data_box a{position:relative;padding-bottom: 5px;padding-top: 5px;display: inline-block;}
.footer_navbar a::after,.contact_list a::after,.nav_list a::after,.btn_checkout_back::after,.contact_data_box a::after,
.btn_link::after,.visit_wrapper p > a::after,.company_navbar a::after,.language_list a:not(.active)::after,.input_checkbox label a::after,
.summary_btn::before,.checkout_link a::after,.reveal_effect_block[data-fx="1"] a::after,a.content__text-link[data-fx="1"]::after,.edit_btn::after,
.back_to_orders_btn::after,.faq_info a::after
{position:absolute;bottom: 4px;left:0;width:100%;height:1px;background:rgba(0,0,0,0.5);content:'';opacity:0;-webkit-transition:opacity 0.3s,-webkit-transform .3s;transition:opacity 0.3s,-webkit-transform .3s;-o-transition:opacity 0.3s,transform .3s;transition:opacity 0.3s,transform .3s;transition:opacity 0.3s,transform .3s,-webkit-transform .3s;transition:opacity 0.3s,transform 0.3s,-webkit-transform .3s;-webkit-transform: translateY(3px);-ms-transform: translateY(3px);transform: translateY(3px);z-index: 0;}


.footer_navbar a:hover::after,.footer_navbar a:focus::after,.contact_list a:hover::after,.contact_list a:focus::after,.company_navbar a:hover::after,.language_list a:not(.active):hover::after,
.input_checkbox label a:hover::after,.nav_list a:hover::after,.btn_checkout_back:hover::after,.summary_btn:hover::before,.checkout_link a:hover::after,a.content__text-link[data-fx="1"]:hover::after,
.contact_data_box a:hover::after,.single_product_description table td .btn_link:hover::after,.btn_link:hover::after,
.back_to_orders_btn:hover::after,.faq_info a:hover::after{opacity:1;-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px)}

.faq_info a{padding-bottom:5px}
.faq_info a::after{background: var(--primary)}
.company_navbar a:hover{color:var(--primary)}
.reveal_effect_block[data-fx="1"] a:hover::after{opacity:1;-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
.btn_link:hover,.visit_wrapper p > a:hover,.input_checkbox label a:hover,.edit_btn:hover::after{-webkit-text-decoration-color:transparent!important;text-decoration-color:transparent!important;border-color:transparent}
.fixed_navbar_content .navbar_item.navbar_dropdown:hover > a,.fixed_navbar_content .navbar_item:hover > a{background:var(--primary);color:var(--white)}
.fixed_navbar_content .navbar_item.navbar_dropdown:hover a .app_icon{-webkit-filter:brightness(1);filter:brightness(1)}
.btn_outline:hover,.company_btn:hover{color:var(--white);background-color:var(--primary)}
.btn,.btn_outline,.company_btn{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;overflow:hidden;position:relative}
.btn:hover{color:var(--primary);background-color:var(--white)}
.user_info_list a, .user_info_list a .app_icon, .user_info_list a, .user_info_list a .app_icon, .language_list a, .dropdown_company_img, .dropdown_brands_cart, .dropdown_product, .close_popup, .close_popup .app_icon.icon_close, .input_checkbox label, .product_box_more, .product_add_cart, .product_add_cart .app_icon, .product_box_more .more_icon, .btn_show_more, .got_top_btn, .social_pages_list a, .social_pages_list a img, .app_icon, #order_dropdown_list_id li a, .back_to_orders_btn, .back_to_orders_btn_icon, .video_btn, .login_soc_media ul a, .search_input, .cart_promocode, .input_radio, .promocode_input, .categories_icon, .quantity, .single_product, .edit_btn, .hero_slide_btn, .filter_open_btn, .social_pages_list a path, .quantity .product_btn path,.categories_icon img,.account_data_box .btn_link,.change_lang_new,.change_lang_new path{-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}


.search_input:hover,.input_radio:hover,.promocode_input:hover,.quantity:hover{border-color:var(--primary)}
.btn_promocode:hover{border-color:var(--primary);background-image:url(../../images/content/general/arrow_right_icon.svg);background-color:var(--primary);-webkit-box-shadow:0 0 5px var(--white) inset;box-shadow:0 0 5px var(--white) inset;color: var(--white);}
.user_info_list a:hover{color:var(--primary)}
.user_info_list a:hover svg path,.user_info_list a:hover svg,.icon_user:hover svg path,.icon_user:hover svg,
.icon_favorites:hover svg,.icon_favorites:hover svg path,.icon_basket:hover svg, .icon_basket:hover svg path,
.fixed_navbar_content .fixed_navbar_content_icons_box a:hover svg path,
.fixed_navbar_content .fixed_navbar_content_icons_box a:hover svg{fill: var(--primary);-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.user_info_list a svg path,.user_info_list a svg,.icon_user svg path,.icon_user svg,
.fixed_navbar_content .fixed_navbar_content_icons_box a svg path,
.fixed_navbar_content .fixed_navbar_content_icons_box a svg{-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.cart_promocode:hover .app_icon{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}
/*.user_info_list a:hover .app_icon{-webkit-filter:contrast(0%);filter:contrast(0%)}*/
.user_info_list a:hover,.fixed_navbar_content .fixed_navbar_content_icons_box a:hover{color:var(--primary)}
.language_list a:not(.active):hover{color:var(--primary)}
.dropdown_company_img:hover,.dropdown_product:hover{-webkit-filter:contrast(135%);filter:contrast(135%)}
.dropdown_brands_cart img{position:relative;cursor:pointer;transition:.3s}
/*.dropdown_brands_cart:hover{-webkit-filter:grayscale(1);filter:grayscale(1)}*/
/*
.dropdown_brands:hover .dropdown_brands_cart:not(:hover) img{filter:grayscale(100%)}
.dropdown_brands:hover .dropdown_brands_cart:not(:hover) img::after{background-color:rgba(0,0,0,0.5)}
.dropdown_brands_cart img::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0);transition:.3s}
*/
.close_popup:hover{color:var(--primary)}
.close_popup:hover svg path{fill:var(--primary)}
/*.close_popup:hover .app_icon.icon_close {-webkit-filter: opacity(0.5);filter: opacity(0.5);}*/
.input_checkbox label:hover{color:var(--primary)}
.product_box_more:hover .more_icon{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.product_add_cart:hover{background:var(--primary);color:var(--white);border-color: var(--primary);}
.product_add_cart:hover .cart_icon{-webkit-filter:invert(1);filter:invert(1)}
.btn_show_more:hover{border-color:transparent}
.got_top_btn:hover{background-position: center 15px}
.login_soc_media ul a:hover{border-color:var(--primary);-webkit-box-shadow: 0 0px 1px 0px var(--primary) inset;box-shadow: 0 0px 1px 0px var(--primary) inset;}
.social_pages_list a:hover img,.login_soc_media ul a:hover img{-webkit-filter:brightness(0.5);filter:brightness(0.5)}
.single_product:hover,.hero_slide_btn:hover{background:var(--white);color:var(--primary)}
/*.single_product:hover .cart_white_icon{-webkit-filter:brightness(0);filter:brightness(0)}*/
/*.vip_box_btn:hover .icon_crown{-webkit-filter:brightness(0);filter:brightness(0)}*/
.profile_navbar a:not(.active):hover{background:var(--primary);color:var(--white)}
.profile_navbar a:not(.active):hover svg path{fill:var(--white);}
#order_dropdown_list_id li a:hover{}
.back_to_orders_btn:hover .back_to_orders_btn_icon{background: #FFF;}
.back_to_orders_btn:hover{color:var(--primary)}
.shipping_address_box:hover{border-color:var(--primary);color:var(--primary)}
.shipping_address_box:hover .shipping_add_title{color:var(--primary)}
.shipping_address_box:hover .blog_more_box_btn{border-color:var(--black)}
.shipping_address_box:hover .blog_more_box_btn .more_second_icon{-webkit-filter:brightness(0);filter:brightness(0)}
.video_btn:hover{background-color:var(--white);color:var(--black)}
.categories_box:hover .categories_icon img{-webkit-filter:saturate(0);filter:saturate(0)}
.login_hero_wrapper .hero_slider .pagination .item:after{content:'';height:5px;border-radius:2.5px;background:#fff;position:absolute;top:0;left:5px;width:0}
.login_hero_wrapper .hero_slider .pagination .item.is-active:after{-webkit-animation:sliderTime 4s linear;animation:sliderTime 4s linear;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}
@-webkit-keyframes sliderTime {
    from{width:0}
    to{width:100%}
}
@keyframes sliderTime {
    from{width:0}
    to{width:100%}
}
.social_pages_list a:hover{background:var(--primary);border-color:var(--primary)}
.social_pages_list a:hover path{fill:var(--white)}
.product_btn:active {background-color: var(--primary);}
.product_btn:active path{fill:var(--white)}
.header_navbar_new .navbar_item > a:hover,.header_navbar_new  .navbar_item.navbar_dropdown:hover > a{background:var(--light-blue);color:var(--primary)}
.header_navbar_new .navbar_item > a:hover .icon_dropdown,.header_navbar_new  .navbar_item.navbar_dropdown:hover > a .icon_dropdown{-webkit-filter: brightness(1);filter: brightness(1);}
.change_lang_new:hover{color:var(--primary)}
.change_lang_new:hover path{fill:var(--primary)}