@media all and (max-width: 1650px) {
    .fixed_navbar_content .navbar_item > a{padding: 16px 20px;}
}
@media all and (min-width: 1650px) {
    .lang-arm .fixed_navbar_content .navbar_item > a{padding: 16px 20px;}
}
@media all and (max-width: 1600px) {
    /*.fixed_navbar_content .navbar_item > a{padding: 16px 20px;}*/
    .fixed_navbar_content .fixed_navbar_content_icons_box .favorites_btn{margin: 0 8px 0 15px;}
    .fixed_navbar_content .search_box{/* margin-right: 0; */}
    #hidden_input_search.show{min-width:500px}
}
@media all and (max-width: 1350px) {
    .fixed_navbar_content .navbar_item > a{padding: 16px 10px;}
}
@media all and (min-width: 1150px) and (max-width: 1360px){
    .lang-arm .header_navbar_new .navbar_item > a {
        padding: 15px 10px;
    }
}
@media all and (min-width: 768px) and (max-width: 1360px){
    .lang-arm .fixed_navbar_content .navbar_item > a{
        font-size: 12px;
    }
}
@media all and (min-width: 993px) and (max-width: 1149px){
    .lang-arm .header_navbar_new .navbar_item > a {
        padding: 15px 10px;
    }
    .lang-arm .header_navbar .navbar_item {
        font-size: 13px;
    }
}
@media all and (min-width: 768px) and (max-width: 992px){
    .lang-arm .header_navbar_new .navbar_item > a {
        padding: 15px 10px;
    }
    .lang-arm .header_navbar .navbar_item {
        font-size: 12px;
    }
    .lang-arm .header_navbar .navbar {
        overflow-x: auto;
    }
}
@media all and (max-width: 1300px) {
    .shipping_address_box{max-width: 49%;}
    .shipping_address_list .input_radio{max-width: calc(50% - 10px);}
    .checkout_order_lists .input_radio{max-width:48%}
    /*.fixed_navbar_content .navbar_item > a{padding: 16px 10px;}*/
    .fixed_navbar_content .fixed_navbar_content_icons_box .favorites_btn{margin: 0 8px 0 15px;}
    .fixed_navbar_content .search_box{/* margin-right:30px */}
    .fixed_navbar_content .navbar.navbar_right{margin-right:15px}
    #hidden_input_search.show{min-width:400px}
    .dropdown_shop{padding: 40px 15px 40px 30px;}
    .close_dropdown_btn{right: 5px}
    .header_top,.header_middle,#fixed_navbar,.footer_top,.footer_middle,.footer_foot,.brand_box{padding-left: 15px;padding-right: 15px;}
    .reset-container{max-width: 991px}
    .fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new #hidden_input_search{min-width: calc(80vw - 80px)}
    #fixed_navbar{padding-left:10px;padding-right:10px}
}
@media all and (max-width: 1200px) {
    .product_col{max-width:25%}
    .categories_col{max-width:183px}
    .video_box{padding:80px 0;padding-top: 230px;}
    #video_play_btn:not(.hover) {top: 75px!important;}
    .video_btn{margin-top:25px}
    .login_soc_media ul li{max-width:48%}
    .contact_box,.contact_data_box{padding-left:15px;padding-right:15px}
    .profile_data_address_list .input_radio,.profile_data_address_list .shipping_address_box{max-width: calc(32.5% - 10px);}
    .header_brand{padding-top: 10px}
    .fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new .items,.fixed_navbar_content .search_box {margin-left: 6px;padding-left: 10px;}
    .fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new .items.items_cart_btn {margin-left: 4px;}
    .fixed_navbar_content_icons_box .change_lang_new {font-size: 12px;}
    .fixed_navbar_content_icons_box .app_icon{width: 16px;}
    .fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new #hidden_input_search {min-width: calc(82vw - 50px);right: 22px;}
    #fixed_navbar > .container-fluid{padding-left: 0;padding-right:0}
    .fixed_brand{margin-left:0}
}
@media all and (max-width: 1100px) {
    .header_navbar .container-fluid{padding:0}
    .navbar_item > a{padding:19px 10px}
    .single_product_cart{min-width:215px;max-width:300px}
    .single_product_quantity .quantity{max-width:100%}
    .single_product_favorites{margin:10px 10px 0 0}
    .single_product_btn{margin-top:10px}
    .single_product_description{max-width:400px}
    .catalog_filter .input_checkbox{width:100%}
    .catalog_content .product_col{max-width:33.33%}
    .fixed_navbar_content .navbar_item > a{font-size:12px}
    #hidden_input_search.show{min-width:340px}
    .fixed_navbar_content .search_box{/* margin-right:10px */}
    .fixed_navbar_content .fixed_navbar_content_icons_box .favorites_btn{margin: 0 8px 0 15px;}
    .fixed_navbar_content .fixed_navbar_content_icons_box .app_icon,.fixed_navbar_content .search_btn svg{width: 16px;height: 18px;}
    .login_hero_wrapper .hero_slider .pagination .item::before{width:80px}
    .login_hero_wrapper .hero_slider .pagination .item{width:80px}
}
@media all and (min-width: 992px) {
    .hide_desktop{display:none!important}
    .checkout_product_form .promocode_input .btn{width:auto;height:auto;border:0;margin:1px;background-image:none}
    .catalog_content #g_products{
        /*position: -webkit-sticky;*/
        /* position: sticky; */
        /* top: 0px; */
        /* bottom: 0px; */
        /* max-height: 100vh; */
        /* overflow-y: auto; */
        /* margin-top: 60px; */
        /* padding: 1px; */
    }
    .lang-arm .blog_more_box_link:after {
        margin-left: 110px;
    }
}
@media all and (min-width: 768px) and (max-height: 800px){
    .login_box .form_box {margin-top: 15px;}
    .login_soc_media {margin-top: 15px;}
    .login_modal_form.login_box .footer_line{margin-top: 15px;margin-bottom: 15px}
    .login_create_account p{margin-bottom: 15px}
    .hero_slide_title{font-size: 20px;line-height: 30px;}
    .login_hero_wrapper{min-height: 550px;}
}
@media all and (max-width: 991px) {
    .product_col{max-width:33.33%}
    .video_title{font-size:30px}
    .video_box{padding:50px 0;padding-top: 200px;}
    .play_btn{margin-bottom:25px;width:80px;height:80px}
    .footer_nav .col-12.col-lg-3:last-of-type{margin-top:20px}
    .hero_banner{min-height:70px}
    .hero_banner .parallax-section{height: 70px;}
    .hero_banner .parallax-section .parallax-image{height: 105px;top: 0;}
    .product_wrapper{padding:10px 0;border-bottom:0}
    .product_wrapper .pattern_bg.hide_mobile{display:none}
    .single_product_col.first{-webkit-box-ordinal-group:4;-ms-flex-order:3;order:3}
    .single_product_col.second{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}
    .single_product_col.third{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
    .single_product_col{width:100%;max-width:100%;margin-bottom:10px}
    .single_product_img{max-width:100%;padding:20px 20px 25px}
    .single_product_img_content.absolute{margin:0 auto;text-align:center}
    .single_product_img_content img{vertical-align:top;max-height: 500px;}
    .single_product_brand{position:absolute;top: 0px;left: 0px;z-index:1;}
    .single_product_cart{min-width:0;max-width:100%;border:0;padding:0}
    .single_product_title{font-size:22px;line-height:28px;margin:0 0 20px}
    .single_product_description .single_product_title{display:none}
    .single_product_description{max-width:100%}
    .single_product_cart_body{padding:0;border:0}
    .sale_box{top:0;right:0}
    .single_product_price{font-weight:300;font-size:18px;line-height:22px}
    .single_product_price .cart_popup_product_price{font-size:28px}
    .single_product_price .cart_popup_product_price sup{top:-10px}
    .single_product_price .cart_popup_product_price del{-webkit-transform:translateY(-7px);-ms-transform:translateY(-7px);transform:translateY(-7px);margin-left:14px}
    .single_product_quantity{margin-top:20px;font-size:18px;line-height:22px}
    .single_product_quantity span{margin-bottom:8px}
    .single_product_quantity .quantity{max-width:calc(100% - 140px);width:100%}
    .single_product_btn{margin:0}
    .single_product_favorites{margin:0 5px}
    .product_add_cart .app_icon.cart_white_icon{display:inline-block}
    .single_product_description p{font-size:14px!important;line-height:24px!important}
    .single_product_description table{margin-bottom:20px}
    .single_product_cart_footer{display:none}
    .blog_more_box.mb-120{margin-bottom:120px}
    .filter_col{padding:15px}
    .catalog_filter .input_checkbox label{font-size:14px}
    .catalog_content .product_col{max-width:50%}
    .catalog_filter{max-width:30%;-webkit-box-flex:0;-ms-flex:0 0 30%;flex:0 0 30%}
    .catalog_content{-webkit-box-flex:0;-ms-flex:0 0 70%;flex:0 0 70%;max-width:70%}
    .catalog_filter_title,.single_blog_wrapper{font-size:14px}
    .login_box.fcc{padding:90px 20px}
    .login_wrapper .col-12{margin-bottom:30px}
    .login_wrapper{padding-top:30px;padding-bottom:100px}
    .login_box{padding:32px 20px}
    .login_soc_media ul a{font-size:16px;line-height:24px}
    .checkout_form{padding:20px 10px}
    .checkout_product{padding:20px 10px;background:var(--background-gray)}
    .checkout_wrapper:before,.checkout_wrapper:after{content:none}
    .checkout_wrapper .first.col-12{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;padding-left:0;padding-right:0}
    .checkout_wrapper .second.col-12{padding-left:0;padding-right:0}
    .checkout_product_table{display:none}
    .checkout_wrapper{padding:0}
    .checkout_form .checkout_brand{display:none}
    .checkout_product_form{border-bottom:0;padding-bottom:0;padding-right:18px}
    .checkout_product_form .promocode_input .btn{font-size:0}
    .create_wrapper .create_box .input_checkbox{margin-top:20px}
    .create_box{padding:30px 20px}
    .create_wrapper{padding:30px 0 100px}
    .summary_btn{font-weight:300;font-size:16px;line-height:22px;background:transparent;border:0;color:var(--primary);cursor:pointer}
    .summary_btn .app_icon.icon_basket{background-image:url(../../images/content/general/icon_basket_primary.svg);width:20px;height:20px}
    .summary_btn:after{content:'';width:8px;height:4px;background:var(--primary);display:inline-block;vertical-align:middle;margin-left:7px;-webkit-clip-path:polygon(100% 0,50% 100%,0 0,20% 0,50% 70%,80% 0);clip-path:polygon(100% 0,50% 100%,0 0,20% 0,50% 70%,80% 0);-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
    .summary_btn.show:after{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
    .checkout_summary > .cart_popup_product_price{font-weight:600;font-size:24px;line-height:25px}
    .checkout_product_list{margin-top:14px}
    .cart_popup_product:first-of-type{border-top:1px solid rgba(211,211,211,0.3)}
    .checkout_summary.fcb{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important}
    .cart_popup_product_info .cart_popup_product_price del{display:block;color:var(--sup-gray)}
    .cart_popup_product_price{-ms-flex-item-align:end;align-self:flex-end}
    .cart_popup_product_info h4{max-width:220px}
    .cart_order_promocode .cart_promocode{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important}
    .cart_promocode .app_icon{width:12px;height:12px}
    .cart_popup_product_info p ~ p{margin-top:12px}
    .nav_list.fcc{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;margin-bottom:30px}
    .checkout_form_head{font-size:18px;line-height:21px;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
    .checkout_form_title{margin-top:10px;font-weight:300;font-size:14px;line-height:16px;margin-bottom:14px}
    .checkout_order_lists .checkout_form_title{margin:0}
    .shipping_address_list .input_radio{max-width:100%;margin-bottom:16px;border: 0.5px solid rgba(211, 211, 211, 0.8);}
    .input_radio label:before{border-width: 0.5px}
    .shipping_address_box{max-width:100%;margin-bottom:5px}
    .checkout_payment_lists .input_radio{max-width:100%}
    .checkout_payment_lists .input_radio:not(:last-of-type){margin-right:0}
    .checkout_order_lists .input_radio{max-width:100%}
    .btn_checkout_back{margin:40px auto 20px;display:block;width:-webkit-max-content;width:-moz-max-content;width:max-content}
    .order_checkout_place_first{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}
    .order_checkout_back_first{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
    .checkout_wrapper .checkout_brand.hide_desktop{margin:12px auto;text-align:center}
    .checkout_link{margin-bottom:30px}
    .checkout_link a{margin-left:20px}
    .cart_order{margin:30px auto 0}
    .cart_content_body{margin:auto;max-width:100%;padding-bottom:55px}
    .cart_content_navigation{max-width:100%}
    .cart_wrapper{padding-top:30px;padding-bottom:30px;border:0}
    .cart_wrapper .primary_title{margin-bottom:30px}
    .cart_order_body{padding:20px 15px}
    .cart_order_header{padding:20px 15px}
    .fixed_navbar_content .navbar_item > a{font-size:10px;padding: 16px 7px;}
    #hidden_input_search.show{min-width:300px;left:28px}
    .fixed_navbar_content .search_box{/* margin-right:5px */}
    .fixed_navbar_content .fixed_navbar_content_icons_box .favorites_btn{/* margin: 9px 0; */}
    .fixed_brand{margin: 0;}
    #fixed_navbar{padding-left: 5px;padding-right:5px}
    .fixed_navbar_content_icons_box{/* -webkit-box-orient:vertical; *//* -webkit-box-direction:normal; */-ms-flex-direction:column;/* flex-direction:column; *//* -webkit-box-align:start; */-ms-flex-align:start;/* padding: 8px 0; *//* align-items:flex-start; */justify-content: flex-end;}
    #fixed_navbar .container-fluid{padding: 0}
    .single_product_img_content{text-align:center}
    .login_modal_form.login_box{padding:32px 20px}
    .single_product_description >.single_product_brand.hide_mobile{display:none}
    .contact_wrapper{margin-top:-30px}
    .contact_form .input_checkbox{margin-top:20px}
    table.account_table{display:none}
    .account_table_mob{display:block}
    .table_title{font-weight:400;font-size:12px;line-height:14px;text-transform:uppercase;color:var(--navbar-hover);padding-bottom:10px;border-bottom:1px solid rgba(211,211,211,0.4)}
    .table_data{padding:14px 0 30px;font-weight:400;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:var(--black)}
    .contact_data_box{padding-bottom:10px;padding-top:30px}
    .contact_box{padding:15px 15px 30px}
    .input_checkbox{width:-webkit-fit-content;width:-moz-fit-content;width:fit-content}
    .contact_data_wrapper{margin-bottom:60px}
    .account_orders_empty{margin:50px auto 0;padding-bottom:0}
    .account_orders_box{padding:22px 26px}
    .vip_box_btn{font-size:14px;line-height:16px}
    .account_data_wrapper{margin-bottom:100px}
    .account_data_box .btn_link{margin-top:20px}
    .profile_edit_popup .btn_link.remove_address_btn {font-size: 10px;}
    .account_orders_box{padding:22px 14px}
    .table_mob_col{padding:23px 0 22px;border-top:1px solid rgba(211,211,211,0.4)}
    .table_mob_col .table_title{border:0;padding-bottom:0}
    .table_mob_col .table_data{padding:14px 0 20px}
    .table_mob_col .btn_link.btn_orders_more{margin:auto}
    .dashboard_orders_table.account_table_mob .table_mob_col:last-of-type div:nth-of-type(n+5),.dashboard_orders_table.account_table_mob .table_mob_col:last-of-type a{display:none}
    .dashboard_orders_table ~ .btn_link.more_orders_btn{margin:auto;height:88px;margin-top:-103px;background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.76)),to(#FFF));background:-o-linear-gradient(top,rgba(255,255,255,0.76) 0%,#FFF 100%);background:linear-gradient(180deg,rgba(255,255,255,0.76) 0%,#FFF 100%);width:100%;text-align:center;line-height:93px}
    .account_data_box{padding: 22px 14px;}
    .account_deliveryInfo_table{display:none}
    .account_deliveryInfo_wrapper .table_mob_col{padding-bottom:0}
    .account_deliveryInfo_box ~ .btn_outline{max-width:100%}
    .account_items_box{padding:14px}
    .account_items_box .cart_popup_product_info{margin-bottom:0}
    .account_deliveryInfo_wrapper{margin-bottom:100px}
    .order_item_top{margin-bottom:30px}
    .profile_nav ~ .order_item_top{margin-top:-10px}
    .account_orderItems_wrapper .cart_popup_product:first-of-type{border-top:0}
    .account_personData_box .table_data{padding-bottom:6px}
    .profile_data_address{margin:0 auto;padding-bottom:7px}
    .profile_sipping_title{margin-bottom:0}
    .profile_add_popup .btn_outline,.profile_edit_popup .btn_outline{max-width:100%}
    .profile_add_popup .btn_link.close_add_btn{margin:30px auto}
    .profile_add_popup .col-12.col-lg-6.flex.hide_mobile,.profile_edit_popup .col-12.col-lg-6.flex.hide_mobile{display:none}
    .profile_add_popup .second,.profile_edit_popup .second{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
    .profile_add_popup .first,.profile_edit_popup .first{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}
    .account_personData_wrapper{margin-bottom:90px}
    .profile_data_address_list .input_radio,.profile_data_address_list .shipping_address_box{max-width: calc(49% - 10px);}
    .new_shipping_collapse .btn_outline{margin:0 auto;max-width:calc(100% - 20px)}
    .new_shipping_collapse .btn_link{display:block;width:-webkit-fit-content;width:-moz-fit-content;width:fit-content;margin:30px auto}
    .blog_more_box_btn:not(.hover){left: 63%!important;}
    .grid-item {width: 33.33%;}
    .reset-container{max-width: 767px}
    .dropdown_brands_cart {padding: 18px  0px 10px;}
    .profile_sipping_edit_form .close_add_btn,#_profile_add_id .close_add_btn{margin-left: auto;margin-right: auto;display: block;}
    .checkout_order_lists .input_checkbox{max-width: 100%;margin-left: 0px;}
    .blog_more_box_link:after{content:  none}
    .fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new #hidden_input_search{min-width: calc(82vw - 40px);}
    .search_box{max-width:350px}

}
@media all and (max-width: 890px) {
    .navbar_item > a{padding:19px 6px;font-size:13px}
}
@media all and (max-width: 833px){
    .fixed_navbar_content_icons_box{max-width:100px}
    .fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new #hidden_input_search{min-width: calc(90vw - 40px);}
    .search_box{max-width:250px}
}
@media all and (min-width: 768px) {
    .single_product_btn:hover{background:var(--primary);border:.5px solid rgba(211,211,211,0.8)}
    .single_product_btn:hover path{fill:var(--white)}
    .hide_tablet{display:none!important}
    .dropdown_nav_list.reveal_effect_block a {line-height: 1;padding-bottom: 20px;display: block;width: max-content;padding-top: 5px;}
    .navbar_item.navbar_dropdown:hover .dropdown_content.close {box-shadow: 0 0 96px rgba(0,0,0,0.04);visibility: hidden;opacity: 0;}
}
@media all and (max-width: 767px) {
    .reveal_effect_block[data-fx="1"] a:hover::after{opacity:1;-webkit-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px)}
    .hover-reveal{display: none}
    .login_box p{margin-bottom:18px}
    #fixed_navbar{padding:13px 0}
    .header_middle{-webkit-box-shadow:0 0 2px rgba(0,0,0,0.12),0 0 10px rgba(0,0,0,0.16);box-shadow:0 0 2px rgba(0,0,0,0.12),0 0 10px rgba(0,0,0,0.16);}
    .header_middle.header_middle_new{margin-top: 0;padding: 5px 0}
    .hide_mobile{display:none!important}
    .hide_desktop{display:block!important}
    .product_col{max-width:50%}
    .footer_nav .col-12.col-lg-3:last-of-type{margin-top:20px}
    .header_navbar,.header_navbar.header_navbar_new{background:var(--white);position:fixed;z-index:2000;width:100%;top: 87px;left:0;right:0;height: calc(100vh - 87px);-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;opacity:0;border-top:.5px solid var(--border-gray);}
    .header_navbar.header_navbar_new{top: 45px;margin-top: 0;height: calc(100% - 45px);}
    .header_navbar.show{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);opacity:1}
    .navbar_item > a{font-size:22px;line-height:32px;color:var(--black);display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:20px 28px 20px 20px}
    .navbar{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
    .navbar_item{text-align:left;border-bottom:.5px solid var(--border-gray)}
    .header_top{background:var(--primary)}
    .contact_list a{color:var(--white)}
    header .icon_phone{background-image:url(../../images/content/general/icon_phone_mob.svg)}
    .language_list a{font-size:16px;line-height:19px;color:var(--white)}
    .header_middle .container{padding:0 10px}
    .burger_btn{position:relative;width:28px;height:18px;border:0;background:transparent;border-radius:0;cursor:pointer}
    .burger_btn:after,.burger_btn:before,.burger_icon{content:'';position:absolute;width:28px;height:2px;background-color:var(--black);left:0;right:0;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
    .burger_btn:before{top:0}
    .burger_btn:after{bottom:0}
    .burger_icon{top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    .burger_btn.active .burger_icon{-webkit-transform:translateY(-50%) translateX(-10px);-ms-transform:translateY(-50%) translateX(-10px);transform:translateY(-50%) translateX(-10px);opacity:0}
    .burger_btn.active:after,.burger_btn.active:before,.burger_btn.active .burger_icon,.burger_btn:hover:after,.burger_btn:hover:before,.burger_btn:hover .burger_icon{background:var(--primary)}
    .burger_btn.active:before{-webkit-transform:translateY(-50%) rotate(45deg);-ms-transform:translateY(-50%) rotate(45deg);transform:translateY(-50%) rotate(45deg);top:50%}
    .burger_btn.active:after{-webkit-transform:translateY(50%) rotate(-45deg);-ms-transform:translateY(50%) rotate(-45deg);transform:translateY(50%) rotate(-45deg);bottom:50%}
    .search_toggle_btn{background:transparent;border:0;cursor:pointer;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;margin:0 18px 0 22px}
    .search_btn{display:-webkit-box;display:-ms-flexbox;display:flex;padding:0}
    .search_toggle_btn.active path{fill:var(--primary)}
    .favorites_btn{font-weight:400;font-size:16px;line-height:19px;color:var(--black);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
    .app_icon{width:20px;height:20px;margin-right:5px}
    .mob_brand{max-width:36px;width:100%}
    .mob_cart_btn{font-size:16px;line-height:19px;color:var(--black);margin-left:16px;font-weight:400}
    .cart_layout .mob_cart_btn .count_product{color:var(--primary)}
    .cart_layout .mob_cart_btn .icon_basket{background-image:url(../../images/content/general/icon_basket_primary.svg)}
    .hero_slider{height:260px}
    .hero_slider .arrows .arrow{width:10px;height:10px;padding:5px;border:0;margin:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    .slide-content .infinity_icon{display:none}
    .hero_slide_title{margin:0 0 30px;font-size:22px;line-height:26px}
    .hero_slider .container{max-width:300px}
    .hero_slide_btn{font-size:12px;line-height:14px;padding:14px 15px}
    .hero_slider .pagination .item::before{width:8px;height:8px}
    .hero_slider .pagination .item{width:8px;height:8px;padding:0 8px}
    .vip_wrapper{padding-top:10px}
    .container{padding-left:10px;padding-right:10px}
    .row{margin-left:-10px;margin-right:-10px}
    .col-12,.col-sm{padding-left:10px;padding-right:10px}
    .vip_box{padding:14px;background-size:contain}
    .secondary_title{font-size:20px;line-height:28px}
    .vip_box_content{font-size:16px;line-height:20px}
    .btn{padding:25px}
    .categories_wrapper{padding-top:20px}
    .parallax-section{height: 300px;}
    .page-cover .parallax-section .parallax-image{height: 390px;top: 0;}
    .parallax-content{text-align: center}
    .primary_title,.single_blog_wrapper h1{font-size:20px;line-height:26px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
    .primary_title.title_infinities:before,.primary_title.title_infinities:after{width:28px;height:8px}
    .primary_title.title_infinities:before{margin-right:14px}
    .primary_title.title_infinities:after{margin-left:14px}
    .categories_col{margin-top:10px;padding-left:5px;padding-right:5px;max-width:167px}
    .popular_products_wrapper{padding-top:20px}
    .popular_products_wrapper .primary_title{margin-bottom:20px}
    .product_box{padding: 24px 10px 25px;min-height:318px;}
    .product_box_img{max-height:250px;height:calc(100% - 200px)}
    .product_box_content .secondary_title{line-height:22px}
    .product_box_price{font-size:16px;line-height:24px}
    .product_box_price.hide{padding: 2px 5px;}
    .product_box_all_link{padding:140px 10px}
    .product_box_all_title{font-size:15px;line-height:22px;margin-bottom:20px}
    .product_all_box_btn{width:40px;height:40px}
    .more_icon{width:8px;height:8px}
    .blog_wrapper{padding-top:20px}
    .blog_wrapper .primary_title{margin-bottom:20px}
    .blog_carts .col-12{padding:5px}
    .blog_cart_header{margin-bottom:20px}
    .blog_cart_body .secondary_title{font-size:18px;line-height:24px}
    .blog_cart_more_btn{margin:32px auto 23px}
    .more_primary_icon{width:12px;height:12px}
    .blog_more_box{margin: 10px 5px}
    .blog_more_box_link{font-size:18px;line-height:28px}
    .blog_more_box_btn .app_icon{width:12px;height:12px}
    .video_slide video{top:0;-webkit-transform:none;-ms-transform:none;transform:none}
    .video_slider{max-height:180px}
    .play_btn{width:100px;margin-bottom:52px;height:100px}
    .video_title{color:var(--primary);font-size:22px;line-height:26px}
    .video_btn{margin-top:36px;font-size:12px;line-height:14px;color:var(--primary);padding:20px;border-color:var(--primary)}
    .footer_nav .contact_list a{color:var(--black);font-size:22px;line-height:28px}
    .footer_top .social_pages_box{position:static}
    .footer_top .container{padding-top:20px}
    .footer_top .footer_nav_title.secondary_title{margin-bottom:10px;font-size:16px;line-height:28px}
    .footer_top{padding-bottom:70px}
    .footer_nav{padding-top:28px}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title{font-size:22px;line-height:28px;color:var(--black);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;cursor:pointer;position:relative;text-transform:capitalize;font-weight:400}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title:before,.col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title:after{content:'';width:14px;height:2px;background:var(--black);position:absolute;right:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title:after{width:2px;height:14px;right:6px}
    .footer_navbar{margin-bottom:28px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;display:none}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title.active:after,.col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title.active:before{background:var(--primary)}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title.active:after{-webkit-transform:rotate(45deg) translateY(-50%);-ms-transform:rotate(45deg) translateY(-50%);transform:rotate(45deg) translateY(-50%);right:10px;top:42%}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title.active:before{-webkit-transform:rotate(45deg) translateY(-50%);-ms-transform:rotate(45deg) translateY(-50%);transform:rotate(45deg) translateY(-50%)}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title.active{color:var(--primary)}
    .col-12.col-md-4.col-lg-3 .footer_nav_title.secondary_title.active ~ .footer_navbar{display:block}
    .footer_navbar a{font-size:20px;line-height:40px}
    .footer_nav_title.secondary_title{font-size:22px;line-height:28px}
    .footer_nav .payment_methods{margin-top:40px;max-width:320px}
    .footer_foot{padding:40px 0 44px}
    .footer_col{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
    .footer_bigcol{margin-bottom:30px;-webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;}
    .payment_box{width:52px;height:32px}
    .cart_popup{top: 45px;/*top: 87px;*/height: calc(100% - 45px);border-top:.5px solid var(--border-gray);}
    .cart_popup > .popup_container{height: 100%}
    .cart_popup_header{display:none}
    .cart_popup_body{width:100%;max-width:100%;height: 100%;}
    .mob_cart_btn.active .count_product{color: var(--white);}
    .mob_cart_btn.active path{fill:var(--primary)}
    .cart_popup_content{height: 100%;}
    .remove_product_btn{font-size:0}
    .remove_product_btn .icon_remove{width:12px;height:12px}
    .cart_popup_product_price del{color:var(--sup-gray)}
    .cart_popup_product_foot{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
    .cart_popup_product_foot .cart_popup_product_price del{display:block;margin-left:0;margin-top:7px}
    .cart_popup_footer{height: 231px;-webkit-box-shadow: 0 0 96px rgba(0,0,0,0.16),0 0 96px rgba(0,0,0,0.04);box-shadow:0 0 96px rgba(0,0,0,0.16),0 0 96px rgba(0,0,0,0.04);padding:20px 20px 0;}
    .cart_popup_content_body{height: calc(100% - 231px);}
    .cart_popup_footer_top{margin-bottom:10px}
    .cart_popup_footer_middle{margin-bottom:21px}
    .cart_popup_footer_btns .btn_outline{max-width:-webkit-fit-content;max-width:-moz-fit-content;max-width:fit-content;padding:0;height:-webkit-fit-content;height:-moz-fit-content;height:fit-content;border:0;margin-top:20px}
    .cart_popup_footer_btns{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
    .cart_popup_footer_btns .btn{max-width:100%}
    .modal_body{padding:0}
    .footer_nav .col-12.col-lg-3:last-of-type{margin-top:0}
    .navbar_item.navbar_dropdown:hover > a{background:transparent}
    .navbar_item a .app_icon.icon_dropdown{background:var(--black);-webkit-clip-path:polygon(30% 0,100% 50%,30% 100%,0% 100%,70% 50%,0 0);clip-path:polygon(30% 0,100% 50%,30% 100%,0% 100%,70% 50%,0 0);width:6px;height:10px;margin-left:auto}
    .navbar_item.navbar_dropdown:hover a .app_icon{-webkit-transform:none;-ms-transform:none;transform:none}
    .header_navbar_foot{padding:24px 0;text-align:center;border-top:.5px solid var(--border-gray)}
    .header_navbar .container-fluid{height:calc(100% - 71px);overflow-y:auto}
    .header_navbar_foot a{font-weight:300;font-size:20px;line-height:23px;color:var(--black);vertical-align: bottom;}
    .navbar_item > a:hover{background:transparent}
    .dropdown_content{position:fixed;z-index:1000;opacity:0;visibility:visible;height:100%;top:0;left:0;right:0;background:var(--white);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);border-top: 0;}
    .dropdown_content.show{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);opacity:1}
    .dropdown_company{height:calc(100% - 72px);overflow-y:auto;z-index:1000}
    .mob_drop_btn{padding:20px;width:100%;border:0;text-align:left;background:var(--light-gray);font-weight:400;font-size:22px;line-height:32px;letter-spacing:.02em;text-transform:uppercase;color:var(--primary);cursor:pointer}
    .mob_drop_btn .app_icon.icon_dropdown{width:7px;height:10px;background:var(--primary);-webkit-clip-path:polygon(100% 0%,30% 50%,100% 100%,70% 100%,0% 50%,70% 0);clip-path:polygon(100% 0%,30% 50%,100% 100%,70% 100%,0% 50%,70% 0);margin-right:20px}
    .dropdown_company{padding:0 0 40px;width:100%;overflow-x:hidden}
    .company_navbar a{font-weight:400;font-size:22px;line-height:32px;padding:20px;width:100%;max-width:100%}
    .company_navbar li{margin:0!important;width:100%!important;max-width:100%!important;border-bottom:.5px solid var(--border-gray)}
    .dropdown_aboutcompany{padding:20px 20px 0}
    .dropdown_aboutcompany .company_btn{font-size:14px;line-height:16px;width:100%;max-width:100%}
    .dropdown_brands{height:calc(100% - 72px);overflow-y:auto;padding-top:40px;padding-bottom:40px}
    .masonry{-ms-grid-columns:auto;grid-template-columns:auto;padding:0 15px}
    .dropdown_shop{height:calc(100% - 72px);overflow-y:auto;padding:30px 24px}
    .dropdown_nav_title{font-size:24px;line-height:28px}
    .dropdown_content ul:not(.company_navbar){padding-left:24px}
    .dropdown_nav_list a{font-size:20px;line-height:40px;font-weight:300}
    .product_box .product_box_content_back{z-index:10}
    .product_box .product_box_content_back {z-index: 10;opacity: 0;}
    .search_popup{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);opacity:0}
    .search_popup.show{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);opacity:1}
    .search_toggle_btn.active path{fill:var(--primary)}
    .login_modal_form.login_box{padding:42px 20px 50px;width:100%}
    .login_box .form_box{margin-top: 40px;}
    .input_box{margin-bottom:14px}
    .login_soc_media ul a{font-size:16px;line-height:24px;padding:18px}
    .login_soc_media ul{-ms-flex-wrap:wrap;flex-wrap:wrap}
    .login_soc_media ul li{max-width:calc(50% - 5px)}
    .login_modal{overflow-x:hidden;width:100%}
    .login_modal .row{margin-right:-10px;margin-left:-10px}
    .btn_outline{padding:24px 10px}
    .dropdown_company .row{margin:0 -10px}
    .dropdown_company .col-12{padding-left:10px;padding-right:10px}
    .brnad_box_img ~ .primary_title{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1;margin:0 0 30px}
    .brnad_box_img{-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2}
    .brand_wrapper{padding-top:30px;padding-bottom:40px}
    .brnad_box_img{margin-bottom:33px}
    .catalog_filter{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;position:fixed;width:100%;background:var(--white);z-index:1500;left:0;right:0;/*top: 87px;height: calc(100vh - 87px);*/top: 45px;height: calc(100% - 45px);overflow-y:auto;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);opacity:0;}
    .catalog_filter.show{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);opacity:1}
    .filter_open_btn{padding:18px;font-size:22px;line-height:28px;position:fixed;width:100%;max-width:100%;bottom:0;left:0;right:0;z-index: 999;text-transform:capitalize;letter-spacing:.02em;}
    .filter_open_btn.hide{-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);opacity:0}
    .app_icon.filter_icon{background-image:url(../../images/content/general/filter_icon.svg);width:20px;height:20px}
    .caloge_top{display:none}
    .filter_col{padding:30px 10px}
    .filter_close_btn{margin-top:50px;font-size:22px;line-height:28px;letter-spacing:.02em;text-transform:none}
    .catalog_filter_title{font-size:16px;line-height:22px;margin-bottom:30px;font-weight:400}
    .ui-slider-horizontal{margin-top:30px;margin-bottom:10px}
    .catalog_filter .input_checkbox label{font-size:18px;line-height:22px;}
    .catalog_filter .input_checkbox{padding-right:20px}
    .catalog_content{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%}
    .create_wrapper .create_box .input_checkbox{width:auto}
    .cart_layout footer{display:none}
    .cart_wrapper{padding:0}
    .cart_content_body .cart_popup_product_info h4{font-size:18px}
    .cart_content_body .cart_popup_product_info{margin-bottom:25px}
    .cart_content_body .cart_popup_product_price{font-size:18px;line-height:25px}
    .cart_popup_product{border-bottom:1px solid rgba(211,211,211,0.3)}
    .cart_order{max-width:100%;background:var(--light-gray);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.16),0 0 96px rgba(0,0,0,0.04);box-shadow:0 0 96px rgba(0,0,0,0.16),0 0 96px rgba(0,0,0,0.04);border:0;margin-top: auto;position: static;width: 100%;}
    .cart_content .col-12.col-lg-4{padding:0;display:-webkit-box;display:-ms-flexbox;display:flex}
    .cart_order_header{display:none}
    .cart_order_body{padding:20px}
    .cart_order_total h3{font-size:18px;line-height:22px}
    .cart_total_price{font-size:18px}
    .cart_order_total{border:0;padding:0;margin-bottom:20px}
    .cart_order_discount{margin-bottom:0}
    .cart_order_promocode .cart_promocode{margin-bottom:20px;padding-right:11px}
    .cart_order_promocode{margin-top:20px}
    /*.cart_wrapper .cart_content{height:calc(100vh - 112px)}*/
    .cart_wrapper .cart_content{height: calc(100vh - 45px);}
    .cart_wrapper .cart_content .row{height:100%}
    .cart_wrapper .cart_content .col-12.col-lg-8{height:calc(100% - 262px);overflow-y:auto}
    .visit_wrapper{padding:40px 20px;-webkit-box-shadow: none;box-shadow: none;}
    .modal.modal_white .modal_body{max-height: calc( 100% - 1% );overflow-y: auto;padding-bottom: 40px}
    #visit_modal.modal.modal_white .modal_body{background-color: var(--white)}
    .visit_wrapper button.btn_login{margin-bottom: 20px}
    .modal.modal_white .modal_container{}
    .visit_title{font-size:32px;line-height:40px}
    .footer_navbar a,.contact_list a{padding-bottom:0}
    .single_blog_wrapper{padding:30px 0 60px}
    .faq_info{font-size:14px;line-height:22px}
    .accordion dt{font-size:16px;padding: 20px 10px;padding-right:25px;}
    .accordion dd{padding: 20px 10px;}
    .not_found_wrapper{margin:30px auto 60px}
    .not_found_cart{font-size:16px;line-height:20px}
    .not_found_cart .btn_outline{margin-top:30px}
    .checkout_payment_lists .input_radio label{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;min-height:120px;padding-left:12px}
    .cart_popup_product_info{-ms-flex-wrap:nowrap;flex-wrap:nowrap}
    .cart_popup_product_price{white-space:nowrap}
    .input_box input,.input_box select,.input_box textarea,.select-styled{padding-left:12px;}
    .input_box select, .select-styled{padding-right: 25px;}
    .input_box label{left:12px}
    .profile_navbar{-ms-flex-wrap:nowrap;flex-wrap:nowrap;overflow-x:auto;overflow-y:hidden;white-space:nowrap}
    .profile_navbar li{max-width:none}
    .profile_navbar a{padding:22px 30px;height:60px;font-size:16px;line-height:100%}
    .profile_navbar::-webkit-scrollbar{display:none}
    .hero_profile_wrapper{height:180px;padding:39px 0;font-size:16px;line-height:22px}
    .profile_title{font-weight:600;font-size:22px;line-height:32px}
    .profile_nav{margin-top:0}
    .profile_nav > .container{padding-left:0;padding-right:0}
    .hero_profile_wrapper:before,.hero_profile_wrapper:after{width:367px;height:367px;left:0}
    .hero_profile_wrapper:after{content:none}
    .account_status{padding:22px 26px}
    .progress_bar_item{margin-bottom:20px;}
    .progress_bar_icon{margin:12px 0;z-index:5}
    .progress_bar_price,.progress_bar_title{text-align:left}
    .progress_bar{width:100%}
    .btn_outline.change_account_data,.btn.change_account_data{max-width:100%;margin-bottom: 30px;margin-top: 20px;}
    .profile_data_address_list .input_radio,.profile_data_address_list .shipping_address_box{max-width:100%}
    .profile_data_address_list .radio_shipping_title > span{font-size:10px;line-height:12px}
    .edit_btn .app_icon{width:12px;height:13px}
    .edit_btn{margin-left:25px}
    .profile_data_address_list .input_radio .radio_shipping_desc{margin-top:39px}
    .account_data_box{padding-left:10px;padding-right:10px}
    #header_id{height:45px}
    #header_id .header_middle_new{position:fixed;width:100%;background:var(--white);left:0;right:0;top:0;z-index:1000;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:.25s transform;-o-transition:.25s transform;transition:.25s transform;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition-delay:.2s;-o-transition-delay:.2s;transition-delay:.2s}
    #header_id.heads_up{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s}
    #video_play_btn:not(.hover) {top: 50px!important;}
    .grid-item {width: 100%;margin-bottom: 20px}
    .search_result{max-height: calc(100% - 210px);}
    .reset-container{max-width: 575px}
    .cf-wrap-box{padding-top: 0px;padding-bottom: 0px;}
    .product_box:hover .product_box_content_back,.product_box:focus .product_box_content_back {opacity: 0;}
    .dropdown_brands_cart {padding: 0px  0px 8px;}
    .dropdown_brands .col-4.col-md-2 {padding-right: 8px;padding-left: 8px;}
    .product_box:hover .product_box_content, .product_box:focus .product_box_content{opacity: 1}
    .verify_email_warraper .reset-heading ~ p{margin-top:20px}
    .verify_email_warraper .reset-heading{margin-bottom: 20px;}
    .input_box input[type="number"].valid, .input_box input[type="number"].error, .input_box input[type="number"]:focus {background-position: 2px 35px;}
    .count_number {padding: 0 2px;right: 0px;line-height: 16px;height: 16px;min-width: 16px;}
    .app_real_count_btn{padding-right: 7px}
    footer .contact_list .app_icon {margin-bottom: 0px;margin-top: -6px}
    .language_list li.change_lang_new {font-size:16px;line-height:19px;}
    .header_middle_new .language_list {margin-right:16px;}
    .btn_repeat_order{max-width: 100%}
    .external-link::before{right: 8px;}
}
@media all and (max-width: 576px) {
    .product_add_cart{font-size:12px;padding:16px 10px;left:10px;right:10px}
    .product_price{left:10px;top:10px}
    .favorites_toggle_btn{top:10px;right:10px}
    .pagination_wrapper{padding-top:40px}
    .pagination_wrapper ~ .popular_products_wrapper{border-top:0}
    .login_box_create{max-width:315px}
    .checkout_payment_lists .input_radio label{white-space:nowrap}
    .blog_more_box_btn:not(.hover){left: 65%!important;}
    body.no_scroll{padding-right: 0px}
    .reset-container{max-width: 90%;padding: 20px 10px}
    .reset-heading{font-size: 20px;margin-bottom: 15px;line-height: 30px;}
    .resetting-wrapper {margin: 30px auto;}
    .checked_attention_icon{margin-bottom: 15px}
    .page-title,.page-cover,.page-content p{margin-bottom: 10px}
    .page-template-wrapper{margin: 20px auto}
    .dropdown_brands_cart {padding: 0px  0px 5px;}
    .dropdown_brands .col-4.col-md-2 {padding-right: 5px;padding-left: 5px;}
    .product_add_cart{pointer-events: none}
    .profile_edit_popup .btn_link.remove_address_btn {font-size: 0px;}
    .cart_popup_product_fcol{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .cart_popup_product_right_pos{margin-left: 0px;margin-top: 18px;-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}
    .cart_popup_product_total_rel {margin-left: auto;}
}
@media all and (max-width: 400px) {
    .cart_popup_product_info h4{max-width:200px}
    .radio_payment_list{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
    .error_text{font-size:10px;background:var(--white)}
    .login-error-notice{font-size: 10px;}
    .login-error-notice i {margin-right: 2px;}
}
@media all and (max-width: 350px) {
    .mob_cart_btn{margin-left:5px}
    .header_middle_new .language_list{margin-right: 5px}
    .search_toggle_btn{margin:0 10px}
    .visit_title{font-size:25px;line-height:30px}
    .visit_wrapper form{margin-top:30px}
    .categories_col{max-width:50%}
    .product_add_cart{padding:10px 5px}
    .product_add_cart .app_icon{width:10px;height:10px}
    .btn_create{padding:15px}
    .profile_data_address_area_empty .shipping_address_box{max-width:100%;min-width:auto}
    .shipping_address_list{width:100%}
}