.cart_popup{position:fixed;z-index:1500;top:0;left:0;right:0;/* bottom:0; */background:rgba(0,0,0,0.2);-webkit-transition: .3s .2s opacity,0s .35s transform;-o-transition: .3s .2s opacity,0s .35s transform;transition: .3s .2s opacity,0s .35s transform;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);opacity:0;}
.cart_popup_body{background:#FFF;max-width:586px;margin-left:auto;height:100vh;-webkit-transition: .3s 0s;-o-transition: .3s 0s;transition: .3s 0s;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);}
.cart_popup_header{padding:19px;border-bottom:1px solid var(--product-gray)}
.close_popup{background:transparent;border:0;line-height:18px;cursor:pointer}
.icon_close{/*background-image: url(../../images/content/general/close_icon.svg);*/}
.cart_popup_empty{height:calc(100% - 63px)}
.cart_popup_box{text-align:center;max-width:270px;margin:auto}
.cart_popup_box_img{max-width:81px;display:inline-block;margin-bottom:20px}
.cart_popup_box_title{font-weight:500;font-size:16px;line-height:24px;margin-bottom:20px}
.cart_popup_box_btn{margin-top:30px}
.close_popup .app_icon.icon_close{margin-left:13px;margin-right:0}
.close_popup span{line-height: normal;vertical-align: middle;}
.cart_popup.show{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;-webkit-transition: .3s opacity;-o-transition: .3s opacity;transition: .3s opacity;}
.cart_popup.show .cart_popup_body{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1;-webkit-transition: .3s .3s;-o-transition: .3s .3s;transition: .3s .3s;}
.cart_popup_content{height:calc(100% - 63px)}
.cart_popup_content_body{height:calc(100% - 200px);overflow-y:auto;padding-left:0px;padding-right:0px;overflow-x: hidden;}
.cart_popup_content_body::-webkit-scrollbar{width: 5px;}
.cart_popup_content_body::-webkit-scrollbar-thumb{background: var(--primary);}
.cart_popup_footer{height:200px;background:var(--light-gray);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.04);box-shadow:0 0 96px rgba(0,0,0,0.04);padding:14px 20px 26px}
.cart_popup_footer_top{margin-bottom:18px}
.cart_popup_footer_title{font-family:Roboto;font-weight:400;font-size:16px;line-height:22px;letter-spacing:.02em}
.cart_popup_footer_title span{font-weight:300;font-size:12px;line-height:22px;display:block}
.cart_popup_product_price{font-family:EB Garamond;font-weight:600;font-size:18px;line-height:25px;color:var(--black)}
.cart_popup_product_price sup{line-height:22px;font-family:Arial;font-weight:400;margin-left:6px;top:-5px}
.cart_popup_footer_middle{font-weight:500;font-size:18px;line-height:22px;letter-spacing:.02em;text-transform:uppercase;margin-bottom:20px}
.cart_popup_footer_btns .btn_outline{max-width:225px;padding:20px;height:56px}
.cart_popup_footer_btns .btn{padding:20px;max-width:302px;height:56px}
.cart_popup_product{width:100%;padding-top:15px;padding-bottom:15px}
.cart_popup_product{border-bottom:1px solid rgba(211,211,211,0.3);}
.cart_popup_product_box{width:100%;max-width:calc(100% - 50px)}
.cart_popup_product_img{width:100%;max-width:50px;padding-right:20px}
.cart_popup_product_info h4{font-family:EB Garamond;font-weight:500;font-size:18px;line-height:22px;letter-spacing:.02em;text-transform:uppercase;color:var(--black);margin-bottom:14px;max-width:284px}
.cart_popup_product_info{font-weight:300;font-size:14px;line-height:22px;margin-bottom:10px}
.remove_product_btn{height:22px;font-weight:300;font-size:12px;line-height:22px;text-align:center;color:var(--higlit-gray);-webkit-transition: .3s all;-o-transition: .3s all;transition: .3s all;}
.remove_product_btn:hover{-webkit-filter: opacity(0.8);filter: opacity(0.8);color:var(--primary);-webkit-transition: .3s all;-o-transition: .3s all;transition: .3s all;}
.remove_product_btn .icon_remove{margin-right: 2px;margin-left: 0;opacity:.6;width: 9px;height: 9px;background-size:contain;background: none;display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;margin-bottom: 0;}
.quantity{background:var(--white);border:.5px solid rgba(211,211,211,0.8);font-weight:500;font-size:16px;line-height:19px;letter-spacing:.3em;color:var(--black);height:50px;width:100%;max-width:118px}
.product_btn{background:transparent;width:30px;padding: 9px 8px;border:1px solid transparent;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;height:100%;background-position:center;background-repeat:no-repeat;background-size:auto;cursor:pointer;}
.quantity input{height:100%;border:0;width:100%;max-width:calc(100% - 60px);text-align:center}
.quantity input::-webkit-outer-spin-button,.quantity input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}
.quantity input{-moz-appearance:textfield}
/*.quantity_minus{background-image:url(../../images/content/general/icon_quantity_minus.svg)}*/
/*.quantity_pluse{background-image:url(../../images/content/general/icon_quantity_pluse.svg)}*/
.product_btn svg {width: 100%;vertical-align: middle;}
.cart_popup_product.hide{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%);opacity:0}
.cart_popup_product_price.hide {color: var(--sup-gray);}