footer{background:var(--background-gray);border-top:5px solid var(--primary)}
footer ul{list-style-type:none}
footer li{display: inline-block;width: 100%;max-width: 100%;list-style:none;}
.footer_top .container{padding-top:60px}
.got_top_btn{position:absolute;background-color:var(--primary);width:60px;height:60px;top:-1px;right:15px;background-position:center;background-image:url(../../images/content/general/icon_arrow_top.svg);background-repeat:no-repeat;background-size:12px}
.footer_top{padding-bottom:50px}
.footer_brand{margin-left:auto;margin-right:auto;max-width:240px;width:100%;padding-bottom:30px}
.footer_nav_title.secondary_title{line-height:28px;color:var(--primary);font-weight:300;margin-bottom:20px;text-transform: none;}
.footer_top .footer_nav_title.secondary_title{margin-bottom:30px}
.social_pages_list a{border:.5px solid var(--product-gray);padding:14px;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.social_pages_list a svg{width:20px;height:20px}
.social_pages_list li:not(:last-of-type){margin-right:20px;-ms-flex: 0 0 auto;-webkit-box-flex: 0;flex: 0 0 auto;width: auto;max-width: 100%;}
.footer_line{height:11px;width:100%;position:relative;text-align:center}
.footer_line:before{content:'';width:100%;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);left:0;right:0;background:rgba(211,211,211,0.3);height:1px}
.footer_line .infinity_icon{background-image:url(../../images/content/general/infinity_icon.svg);width:120px;height:11px;background-size:40px 11px;background-color:var(--background-gray);position:relative;z-index:1}
.footer_nav{padding-top:60px}
.footer_navbar a{font-weight:300;font-size:14px;line-height: normal;color:var(--black);margin-bottom: 10px;}
.footer_more_btn{max-width:202px}
.footer_more_btn ~ .footer_nav_title.secondary_title{margin-top:30px}
.footer_navbar ~ p{margin-top:30px}
.payment_methods{margin-top:20px;max-width:230px}
.payment_box{background:var(--white);border:1px solid rgba(0,0,0,0.07);height:24px;width:40px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius: 3px;}
footer .contact_list li:not(:last-of-type){padding:0;margin-bottom:20px}
.footer_foot{padding-top:50px;padding-bottom:40px}
.footer_bigcol{-webkit-box-flex:0;-ms-flex: 0 0 50%;flex: 0 0 50%;width:100%;margin:0 auto;}
.footer_col{line-height:20px;-webkit-box-flex:0;-ms-flex: 0 0 25%;flex: 0 0 25%;}
.footer_col:last-of-type{text-align:right}
.footer_top .social_pages_box{position:absolute}
.external-link::before{content: '';display: inline-block;background-image:url(../../images/content/general/external-link-icon.svg);width:12px;height:12px;background-size:contain;background-repeat:no-repeat;position: absolute;right: 0;top: 50%;-webkit-transform: translate(0,-50%);-ms-transform: translate(0,-50%);transform: translate(0,-50%);}
.external-link{position: relative;padding-right: 20px;}
.global-site-notice{background: #656565;color: #FFF;padding: 10px;font-size: 25px;line-height: 1.5;position: fixed;top: 0;z-index: 1001;width: 100%;max-width: 100%;height: 100%;font-family: "Futura PT";font-weight:700;}
.footer_soc_page_links{margin-top:30px;margin-bottom:30px;width: -webkit-max-content;width: -moz-max-content;width: max-content;}
.footer_soc_page_links a{-ms-flex-wrap:nowrap;flex-wrap:nowrap;padding:15px 26px 15px 17px;background:transparent;border-radius:2px;font-weight:300;font-size:14px;line-height:16px;color:var(--primary);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;border:1px solid var(--primary)}
.footer_soc_page_info strong{display: block;font-weight:700;font-size:16px;line-height:19px;}
.footer_soc_page_info{margin-left:11px}
.footer_soc_page_icon{width:30px;height:30px}
.footer_soc_page_icon svg{width:100%;height:100%;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.footer_soc_page_icon path{fill:var(--primary)}
.footer_soc_page_links a:hover{background:var(--primary);color:var(--white)}
.footer_soc_page_links a:hover path{fill:var(--white)}
footer .contact_list .app_icon {margin-bottom: 2px;}