header{background:var(--white)}
.header_top{background:var(--light-gray);padding: 10px 0;}
.header_top ul{list-style:none}
.contact_list a{font-weight:300;font-size:14px;line-height:16px;color:var(--black)}
.contact_list li:not(:last-of-type){padding-right:30px}
.app_icon{display:inline-block;margin-right:8px;vertical-align:middle;background-position:center;background-repeat:no-repeat;background-size:contain;width: 14px;height: 14px;}
.app_icon svg {width: 100%;height: 100%;}
.user_info_list .app_icon,.fixed_navbar_content_icons_box .app_icon{width: 18px;height: 18px;}
.icon_mail{background-image:url(../../images/content/general/icon_main.svg)}
.icon_phone{background-image:url(../../images/content/general/icon_phone.svg)}
/*.icon_basket{background-image:url(../../images/content/general/icon_basket.svg)}*/
.icon_dropdown{background-image:url(../../images/content/general/icon_dropdown.svg)}
/*.icon_favorites{background-image:url(../../images/content/general/icon_favorites.svg)}*/
/*.icon_user{background-image:url(../../images/content/general/icon_user.svg)}*/
.language_list a{font-weight:300;font-size:14px;line-height:16px;color:var(--black)}
.language_list li:not(:last-of-type){margin-right:20px}
.header_brand{text-align:center;padding: 0 0 10px;}
.header_brand img{max-width:320px;width:100%}
.header_middle{border-top:1px solid var(--light-gray);padding: 5px 0;}
.search_box{width:100%;max-width:435px;position:relative}
.search_result{list-style:none;max-height: 320px;overflow-y:auto;position:absolute;left:0;right:0;z-index:-100;background:var(--white);-webkit-box-shadow:0 -4px 96px rgba(0,0,0,0.1);box-shadow:0 -4px 96px rgba(0,0,0,0.1);opacity:0;visibility:hidden;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.search_result::-webkit-scrollbar{width:2px}
.search_result::-webkit-scrollbar-thumb{background:rgba(211,211,211,0.8);border-radius:2px}
.header_navbar{background:var(--primary)}
.search_input{border-bottom:1px solid var(--border-gray);display:-webkit-box;display:-ms-flexbox;display:flex}
.search_input input{width:100%;font-weight:400;font-size:14px;line-height:16px;color:var(--primary);background:transparent;border:0;padding-bottom:10px;padding-top:10px}
.search_input input::-webkit-input-placeholder{color:var(--black)}
.search_input input::-moz-placeholder{color:var(--black)}
.search_input input:-ms-input-placeholder{color:var(--black)}
.search_input input::-ms-input-placeholder{color:var(--black)}
.search_input input::placeholder{color:var(--black)}
.search_btn svg{width:18px}
.search_btn{border:0;background:transparent;cursor:pointer;padding-bottom:5px;padding-top:10px}
.search_input input:focus ~ .search_btn path{fill:var(--primary)}
.result_cart_img{width:50px;height:50px;overflow:hidden;margin-right:14px}
.result_cart{padding:13px 20px;background:transparent;font-weight:300;font-size:16px;color:var(--black);line-height:19px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.search_result li:not(:last-of-type){border-bottom:.5px solid var(--border-gray);}
.result_cart_price{margin-left:auto;font-weight:500;line-height:22px}
.result_cart_info h3{margin-bottom:14px;font-weight:300}
.result_cart_info p{font-size:14px;line-height:16px;color:var(--text-gray)}
.result_cart_price sup{color:#5F6368;font-weight:400;font-size:14px;line-height:18px;font-family:Arial;margin-left:6px}
.language_list a.active{font-weight:600}
.search_input.active,.search_input.hover{border-bottom-color:var(--primary)}
.search_input.active ~ .search_result,.search_input.hover ~ .search_result,.search_popup_input.active ~ .search_result,.search_popup_input.hover ~ .search_result{opacity:1;visibility:visible;z-index:100}
.user_info_list{list-style:none}
.user_info_list a{font-weight:400;font-size:14px;line-height:16px;color:var(--black)}
.user_info_list li:not(:last-of-type){margin-right:30px}
.user_info_list .app_icon{margin-left: 1px;margin-right:0;}
.navbar{list-style:none;display:-webkit-box;display:-ms-flexbox;display:flex;max-width:1200px;margin-left:auto;margin-right:auto}
.navbar_item > a{background:transparent;display:inline-block;padding: 15px 20px;width:100%;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;font-weight:500;font-size:16px;line-height:22px;letter-spacing:.02em;text-transform:uppercase;color:var(--white);white-space:nowrap;}
.navbar_item{text-align:center;width:100%}
.navbar_item a .app_icon{width:9px;height:9px;margin-left:6px;margin-right:0;-webkit-transition:.3s;-o-transition:.3s;transition:.3s}
.dropdown_content{position:absolute;width:100%;left:0;right:0;background:var(--white);-webkit-box-shadow:0 0 96px rgba(0,0,0,0.04);box-shadow:0 0 96px rgba(0,0,0,0.04);visibility:hidden;opacity:0;-webkit-transition: .3s 0s opacity, .3s 0s visibility, 0s transform;-o-transition: .3s 0s opacity, .3s 0s visibility, 0s transform;transition: .3s 0s opacity, .3s 0s visibility, 0s transform;transform: none;z-index: 150;border-top: 1px solid var(--light-gray);}
.dropdown_content ul{list-style:none}
.dropdown_shop{max-width:1200px;width:100%;margin-left:auto;margin-right:auto;padding-top: 20px;padding-bottom:40px;text-align:left;position: relative;}
.dropdown_nav_list a{background:transparent;font-weight:400;font-size:14px;line-height:30px;text-align:left;color:var(--black);/* -webkit-transition:.3s; */-o-transition:.3s;/* transition:.3s */}
.dropdown_nav_title{font-family:EB Garamond;font-weight:500;font-size:22px;line-height:28px;margin-bottom:20px;letter-spacing:.02em}
.dropdown_product{max-width:238px;width:100%;margin-left:auto;display: block;}
.dropdown_product_img{max-width:100%;margin-bottom:14px;max-height: 340px;}
.dropdown_product_name{font-family:EB Garamond;font-weight:500;font-size:18px;letter-spacing:.02em;text-transform:uppercase;line-height:22px;color:var(--black);margin-bottom:12px}
.dropdown_product_price{font-family:EB Garamond;font-weight:500;font-size:18px;text-transform:uppercase;color:var(--black);line-height:24px}
.dropdown_product_price sup{top:0;font-weight:400;font-size:16px;line-height:22px;font-family:Arial;color:var(--sup-gray);margin-left:6px}
.dropdown_brands .col-6{display:-webkit-box;display:-ms-flexbox;display:flex}
.dropdown_brands_cart{width:100%;padding: 20px;margin:auto;display:block;}
.dropdown_brands{padding-left:15px;padding-right:15px;max-width:1200px;margin-left:auto;margin-right:auto;position: relative;}
.dropdown_company{padding: 20px 15px;text-align:left;max-width:1200px;margin-left:auto;position: relative;margin-right:auto;}
.company_navbar a{font-weight:400;font-size:18px;line-height:24px;letter-spacing:.02em;color:var(--black);display:block}
.company_navbar li{width:35%;margin-bottom:32px}
.dropdown_aboutcompany{font-weight:300;font-size:16px;line-height:24px;color:var(--black);text-align:left}
.dropdown_aboutcompany p{max-width:586px;margin-top:32px;margin-bottom:30px}
.company_btn{font-weight:500;font-size:14px;line-height:16px;letter-spacing:.3em;color:var(--primary);border:1px solid var(--primary);padding:24px;max-width:202px;width:100%;display:block;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;text-align:center}
.dropdown_company_img{max-width:238px;margin-left:auto;display: block;max-height: 340px;}
.company_navbar li:nth-of-type(3n){width:20%}
.company_navbar li:nth-of-type(2),.company_navbar li:nth-of-type(5),.company_navbar li:nth-of-type(8){margin-left:10%}
.result_cart_img img{height:100%}
.search_popup{position:fixed;/*top: 87px*/top:45px;left:0;right:0;bottom:0;z-index:2000;background:rgba(43,43,43,0.4);-webkit-transition:.3s;-o-transition:.3s;transition:.3s;}
.search_popup .popup_container{background:var(--white);-webkit-box-shadow:0 0 2px rgba(0,0,0,0.12),0 0 1px rgba(0,0,0,0.16);box-shadow:0 0 2px rgba(0,0,0,0.12),0 0 1px rgba(0,0,0,0.16);padding: 12px 10px 20px;}
.search_popup_title{font-weight:400;font-size: 20px;line-height:32px;text-align:center;letter-spacing:.02em;color:var(--black);margin-bottom: 12px;}
.search_popup_input input{border:1px solid #5F6368;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:2px;padding:21px 34px 21px 20px;width:100%;background:url(../../images/content/general/search_icon.svg) no-repeat 97% center}
.popup_search_btn{padding:20px;font-weight:500;font-size:12px;line-height:14px;margin-top:11px}
.close_btn.close_popup{width:60px;height:60px;background:var(--white);border-radius:50%;display:-webkit-box;display:-ms-flexbox;display:flex;margin:30px auto 0;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.close_btn:before{content:'';background-position:center;background-repeat:no-repeat;background-size:contain;margin:0;background-image:url(../../images/content/general/close_icon.svg);width:12px;height:12px}
.visit_wrapper{-webkit-box-shadow:0 0 96px rgba(0,0,0,0.1);box-shadow:0 0 96px rgba(0,0,0,0.1);background-color:var(--white);background-position:center;background-repeat:no-repeat;background-size: 100% 100%;padding:65px 60px;font-weight:300;font-size:14px;line-height:22px;color:var(--black);max-height:calc(100vh - 40px);overflow-y: visible;overflow-x: visible;}
.visit_title{font-family:EB Garamond;font-weight:600;font-size:38px;line-height:46px;text-transform:uppercase;color:var(--black);white-space:pre-line;margin-bottom:30px}
.visit_wrapper p > a{font-size:14px;line-height:22px;color:var(--primary);text-decoration:underline}
.visit_wrapper p{max-width:490px}
.visit_wrapper form{margin-top:60px}
.visit_form_title{font-weight:500;font-size:14px;line-height:16px;color:var(--primary);margin-bottom:20px}
.visit_wrapper .input_box{margin-bottom:30px}
.visit_wrapper button.btn_login{padding:20px}
.visit_wrapper .col-12{padding:0 7.5px}
.visit_wrapper .row{margin:0 -7.5px}
.visit_wrapper .container{padding:0 7.5px}
.visit_wrapper form{max-width:870px}
#fixed_navbar{position:fixed;width:100%;background:var(--white);left:0;right:0;top:0;z-index:1000;padding:0px;-webkit-box-shadow:0 0 2px rgba(0,0,0,0.12),0 0 96px rgba(0,0,0,0.16);box-shadow:0 0 2px rgba(0,0,0,0.12),0 0 96px rgba(0,0,0,0.16);-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition: .25s transform;-o-transition: .25s transform;transition: .25s transform;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition-delay: 0s;-o-transition-delay: 0s;transition-delay: 0s;}
#fixed_navbar.heads_up{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-transition-delay: 0s;-o-transition-delay: 0s;transition-delay: 0s;pointer-events: none;}
.fixed_navbar_content .navbar_item > a{font-size:14px;line-height:22px;color:var(--black);padding: 16px 40px;}
.fixed_brand{max-width:56px;margin:0 15px}
.fixed_navbar_content .navbar.navbar_right{margin-right:25px}
.fixed_navbar_content .fixed_navbar_content_icons_box a{font-size:14px;line-height:16px;color:var(--black)}
.fixed_navbar_content .fixed_navbar_content_icons_box .favorites_btn{margin: 0 18px 0 25px;}
.fixed_navbar_content .fixed_navbar_content_icons_box .app_icon{margin-right:0;}
.fixed_navbar_content .navbar_item a .app_icon{-webkit-filter:brightness(0);filter:brightness(0)}
#hidden_input_search{position:absolute;width:0;min-width:0;top:0;background:var(--white);z-index:5;left:38px;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;height:100%;pointer-events:none;opacity:0}
.fixed_navbar_content .search_box{margin-right: 0;max-width: fit-content;margin-left: 10px;padding-left: 14px;}
.fixed_navbar_content .search_box:before{content: '';width: 4px;height: 4px;background: #CFD1D2;border-radius: 50%;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
#hidden_input_search.show{min-width:700px;width:100%;pointer-events:all;opacity:1}
#hidden_input_search .search_input input::-webkit-input-placeholder{color:var(--sup-gray)}
#hidden_input_search .search_input input::-moz-placeholder{color:var(--sup-gray)}
#hidden_input_search .search_input input:-ms-input-placeholder{color:var(--sup-gray)}
#hidden_input_search .search_input input::-ms-input-placeholder{color:var(--sup-gray)}
#hidden_input_search .search_input input::placeholder{color:var(--sup-gray)}
#hidden_input_search span.app_icon.icon_close{width:10px;height:10px;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;cursor:pointer;background-image: url(../../images/content/general/close_icon.svg);}
.fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new #hidden_input_search {right: 27px;left: auto;min-width: calc(80vw - 50px);}
.reveal_effect_block__title{position:relative;text-decoration:none}
.reveal_effect_block__link{position:relative;text-decoration:none}
.hover-reveal{position:fixed;width:200px;height:150px;top:0;left:0;pointer-events:none;opacity:0;z-index: 15;}
.hover-reveal__inner,.hover-reveal__img{width:100%;height:100%;position:relative}
.hover-reveal__deco{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#181314}
.hover-reveal__img{background-size:cover;background-position:50% 50%}
#hidden_input_search:after,#hidden_input_search:before{content:'';width:100%;height:30px;position:absolute;left:0;right:0;z-index:1}
#hidden_input_search:after{top:100%}
#hidden_input_search:before{bottom:100%}
.search_input.active .search_btn path,.search_input.hover .search_btn path{fill:  var(--primary);}
.visit_wrapper .mt-visited-top{margin-top: 40px;padding-left: 0px;padding-right: 0px}
.input_box select option{font-weight: 500;font-size: 14px;line-height: 16px;letter-spacing: 0.06em;text-transform: uppercase;color: #000000;padding-top: 12px;padding-bottom: 12px;}
.input_box select option:hover{background: #F2F5FA;}
/* custom select */
.select-hidden{display:none!important;visibility:hidden}
.select{cursor:pointer;display:inline-block;position:relative;font-size:16px;color:#fff;width:100%;height:60px;max-width:100%}
.select-styled{position:absolute;top:0;right:0;bottom:0;left:0;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;-webkit-transition:all .2s ease-in;transition:all .2s ease-in;background-color:var(--white)!important;border:.5px solid rgba(211,211,211,0.8);padding: 22px 12px 22px 12px;display:block;width:100%;height:60px;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:var(--black);-webkit-appearance:none;-moz-appearance:none;text-indent:1px;background-repeat:no-repeat;background-size:10px;padding-left: 12px;max-width:100%;}
.select-styled:after{content:"";position:absolute;top:27px;right: 16px;background-image:url(../../images/content/general/arrow_bottom.svg)!important;background-position:center center;background-repeat:no-repeat;width:11px;height:7px;}
.select-styled:hover{background-color:#b83729}
.select-styled:active,.select-styled.active{border-color:#005092}
.select-styled:active:after,.select-styled.active:after{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.select-options{display:none;position:absolute;bottom:100%;right:0;left:0;z-index:999;margin:0;padding:0;list-style:none;box-shadow:0 0 96px rgba(0,0,0,0.1);background:#FFF;max-height:224px;overflow-x:hidden;overflow-y:auto;border: 1px solid #d7d7d7;}
.select-options li{margin:0;padding:14px 20px;text-indent:15px;border-bottom:1px solid rgba(211,211,211,0.3);-moz-transition:all .15s ease-in;-o-transition:all .15s ease-in;-webkit-transition:all .15s ease-in;transition:all .15s ease-in;font-style:normal;font-weight:500;font-size:14px;line-height:16px;letter-spacing:.06em;text-transform:uppercase;color:#000}
.select-options li:hover{color:#005092;background:#F2F5FA}
.select-options li[rel="hide"]{display:none}
#cover-spin {position:fixed;width:100%;left:0;right:0;top:0;bottom:0;background-color: rgba(255,255,255,0.7);z-index:9999;display:none;}
#cover-spin::after {content:'';display:block;position:absolute;left:48%;top:40%;width:40px;height:40px;border-style:solid;border-color:black;border-top-color:transparent;border-width: 4px;border-radius:50%;-webkit-animation: spin .8s linear infinite;animation: spin .8s linear infinite;}
@-webkit-keyframes spin {
    from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
@keyframes spin {
    from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
    to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}
.search-no-result-rel{font-weight: normal;font-size: 18px;line-height: 24px;letter-spacing: 0.02em;padding: 24px;color: #000000;text-align: center;width: 100%;max-width: 100%}
.search-no-result-rel span{display: inline-block;width: 100%;max-width: 100%;}
.search-no-result-icon{background-image:url(../../images/content/general/search-no-result.svg);display: inline-block;margin-bottom: 12px;background-position:center center;background-repeat:no-repeat;width:20px;height:20px}
.grid:after {content: '';display: block;clear: both;}
.grid-sizer, .grid-item {width: 25%;margin-bottom: 40px;}
.age-not-available{margin-top: 14px;font-style: normal;font-weight: bold;font-size: 14px;line-height: 22px;max-width: 570px;width: 100%;display: inline-block;color: #005092;}
.age-not-available b{color: #EB001B;}
.age-not-available ul{list-style-type: none;font-weight: normal;}
.age-not-available ul li{list-style: none;}
.visit_wrapper button.btn_login:disabled{background: var(--line-gray);border-color: var(--line-gray);color: var(--sup-gray);}
#login_modal .modal_body {padding: 0;background: transparent;}
@-webkit-keyframes pulsethumbs {
    0% {-webkit-transform: scale(1);transform: scale(1);}
    50% {-webkit-transform: scale(1.1);transform: scale(1.1);}
    100% {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes pulsethumbs {
    0% {-webkit-transform: scale(1);transform: scale(1);}
    50% {-webkit-transform: scale(1.1);transform: scale(1.1);}
    100% {-webkit-transform: scale(1);transform: scale(1);}
}
.navbar_dropdown.navbar_dropdown_brands_pulse .dropdown_brands_cart img{-webkit-animation: pulsethumbs 1s;animation: pulsethumbs 1s;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}
.remove_product_btn:hover path {fill: var(--primary);}
.remove_product_btn .icon_remove svg {width: 100%;height: 100%;}
.icon_toggle_megamenu {position: absolute;background-color: var(--primary);width: 60px;height: 60px;top: 0px;right: -20px;background-position: center;background-image: url(../../images/content/general/icon_arrow_top.svg);background-repeat: no-repeat;background-size: 12px;-webkit-transition: .3s;-o-transition: .3s;transition: .3s;}
.icon_toggle_megamenu:hover{-webkit-filter: none !important;filter: none !important;background-position: center 15px;}
.drop-down{display:inline-block;position:relative}
.drop-down__menu{position:absolute;width:100%;left:auto;background-color:#fff;border-radius:4px;box-shadow:0 3px 6px 0 rgba(0,0,0,0.2);transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;visibility:hidden;opacity:0;z-index:10;min-width:200px;right:0;margin:0;padding:0 10px;list-style:none;max-width: 200px;}
.drop-down__menu:before{content:'';background-color:transparent;border-right:8px solid transparent;position:absolute;border-left:8px solid transparent;border-bottom:8px solid var(--light-gray);border-top:8px solid transparent;top:-15px;right:1px}
.drop-down__menu:after{content:'';background-color:transparent}
.user_info_list .drop-down__item:not(:last-of-type),.drop-down__item{font-size:13px;text-align:left;font-weight:500;color:#909dc2;cursor:pointer;position:relative;border-bottom:1px solid var(--light-gray);margin:0;}
.drop-down__item-icon{width:15px;height:15px;position:absolute;right:0;fill:#8995b6}
.drop-down__item:hover a{color:var(--primary)!important}
.drop-down__item:last-of-type{border-bottom:0}
.drop-down--active .drop-down__menu{visibility:visible;opacity:1;margin-top:10px}
.drop-down__item:before{content:'';position:absolute;width:3px;height:28px;background-color:var(--primary);left:-10px;top:50%;transform:translateY(-50%);display:none}
.drop-down__item:hover:before{display:block}
.drop-down__item a{display: inline-block;width: 100%;max-width: 100%;padding: 13px 0;}
.seach_input_more{width: 100%;max-width: 100%}
.seach_input_more a{}
.app_real_count_btn{display:inline-block;position:relative;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;padding-right: 12px;}
.count_number{position:absolute;right:0px;z-index:1;background:var(--danger);top:-7px;min-width: 17px;height: 17px;color:var(--white);border-radius: 40px;text-align:center;padding: 1px 3px;font-size: 12px;}
.header_middle.header_middle_new{padding:0;}
.header_navbar.header_navbar_new{background:transparent;border-top: 1px solid var(--light-gray);margin-top: 3px;}
.header_navbar_new .navbar_item > a{color:var(--black)}
.header_navbar_new .icon_dropdown{background-image:url(../../images/content/general/icon_dropdown_black.svg);-webkit-filter:brightness(0);filter:brightness(0)}
.header_top_new{padding-top:27px;padding-bottom: 3px;}
.language_list{list-style:none}
.change_lang_new{cursor:pointer;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;font-weight:400}
.language_list li.change_lang_new{margin:0}
.lang_icon{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;height: 18px;margin-right:5px;width: 18px;margin-bottom: 1px;}
.lang_icon svg {width:100%;height:100%;}
.header_top_new .user_info_list > li{margin-right:0;margin-left:13px;padding-left:17px;position:relative}
.header_top_new .user_info_list > li:before{content:'';background:#CFD1D2;width:4px;height:4px;border-radius:50%;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.fixed_navbar_content_icons_box .change_lang_new {font-size: 14px;line-height: 22px;color: var(--black);font-weight: normal;}
.fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new a,
.fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new a.favorites_btn{
    margin: 0;
}
.fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new .items{
    margin-left: 10px;
    padding-left: 14px;
    position: relative;
}
.fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new .items:before{
    content: '';
    width: 4px;
    height: 4px;
    background: #CFD1D2;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.fixed_navbar_content_icons_box.fixed_navbar_content_icons_box_new .items.items_cart_btn {margin-left: 8px;}
.dropdown_product_img img {max-height: inherit;}
.dropdown_company_img img {max-height: inherit;}
.header_top_new .container-fluid {max-width: 1530px;}