<%- include("../default/header.ejs") %>

<section class="hero_banner">
    <div class="item">
        <div class="item__img-wrap parallax-section">
            <div class="item__img parallax-image" style="background-image: url(/images/content/catalog_hero.png);"></div>
        </div>
    </div>
</section>


<section class="catalog_wrapper">
    <div class="container-fluid">
        <h1 class="primary_title title_infinities">Search results <span>(<%= products.length %>)</span></h1>

        <% if(products.length == '0'){ %>
        <div class="cart_popup_box search-empty-result">
            <div class="cart_popup_box_img">
                <img src="images/content/general/catalog_emtpy_icon.svg" alt="">
            </div>
            <p>We didn't find any results, try another search</p>
        </div>
        <%}%>

        <div class="col-12">
            <div class="input_box input_box_search_wrapper">
                <form action="" method="get">
                    <input id="r_name_id" type="text" name="keys" value="<%= searchKeys %>"/>
                    <button type="submit" class="search_btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75 11.9571C3.88418 11.9571 1.54286 9.61582 1.54286 6.75C1.54286 3.88418 3.88418 1.54286 6.75 1.54286C9.61582 1.54286 11.9571 3.88418 11.9571 6.75C11.9571 9.61582 9.61582 11.9571 6.75 11.9571ZM6.75 13.5C10.4679 13.5 13.5 10.4679 13.5 6.75C13.5 3.03209 10.4679 0 6.75 0C3.03209 0 0 3.03209 0 6.75C0 10.4679 3.03209 13.5 6.75 13.5Z" fill="black"></path>
                            <path d="M10.1652 11.2347L11.2561 10.1437L17.4686 16.3562L16.3776 17.4471L10.1652 11.2347Z" fill="black"></path>
                        </svg>
                    </button>
                </form>
            </div>
        </div>

        <br/>
        <div class="flex">
            <div class="catalog_content search_catalog_content">
                <div class="flex" id="g_products">
                    <% products.forEach(function (product) {%>
                    <div class="product_col">
                        <div class="product_box">
                            <div class="product_box_content">
                                <h3 class="secondary_title"><%=product.name%></h3>
                                <div class="product_box_img">
                                    <img src="<%=product.image%>" alt="<%=product.name%>">
                                </div>
                                <div class="product_box_description"><%-product.description%></div>
                                <% if(product.in_stock == '1') {%>
                                    <span class="product_box_price hide">Out of stock</span>
                                <%}%>
                                <span class="product_box_price"><%=product.price%> <sup>֏</sup> <% if(product.price_before_sale !== null){ %> <del><%=product.price_before_sale%> <sup>֏</sup></del><%}%></span>
                            </div>
                            <div class="product_box_content_back" style="background-image: url(<%=product.hoverImage%>)">
                                <button type="button" class="favorites_toggle_btn">
                                    <span>
                                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.64661 1.68689L7.00016 2.04044L7.35372 1.68689C7.96047 1.08013 8.934 0.5 10.0002 0.5C11.7191 0.5 13.1668 1.91151 13.1668 4C13.1668 6.13994 12.023 7.85077 10.6155 9.17787C9.36731 10.3547 7.96134 11.1845 7.06448 11.7138C7.04274 11.7267 7.02129 11.7393 7.00016 11.7518C6.97903 11.7393 6.95759 11.7267 6.93585 11.7138C6.03899 11.1845 4.63302 10.3547 3.38484 9.17787C1.97731 7.85077 0.833496 6.13994 0.833496 4C0.833496 1.91382 2.30443 0.5 4.00016 0.5C5.06632 0.5 6.03985 1.08013 6.64661 1.68689Z" stroke="#005092"/>
                                        </svg>
                                    </span>
                                </button>
                                <a href="/product?id=<%=product.slug%>" class="product_box_bg"></a>
                                <div class="product_price"><%=product.price%> ֏</div>
                                <a href="javascript:;" data-open="#cart_popup_id" class="product_box_more"><span class="app_icon more_icon"></span>MORE</a>
                                <% if(product.in_stock == '1') {%>
                                    <span class="product_add_cart_hide">Out of stock</span>
                                <%}else {%>
                                <a href="javascript:;" data-id="<%=product.id%>" data-open="#cart_popup_id" class="product_add_cart"><span class="app_icon cart_icon"></span>ADD TO CART</a>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="popular_products_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities">popular products</h2>
        <div class="flex">
            <%- include("../components/popularProducts.ejs") %>
            <%- include("../components/ads-badge.ejs") %>
        </div>
    </div>
</section> <!-- / popular_products_wrapper -->

<%- include("../components/news.ejs") %><!-- / blog_wrapper -->

<%- include("../default/footer.ejs") %>
<script src="/javascripts/main.js"></script>