<%- include("../default/header.ejs") %>

<section class="hero_banner">
    <div class="item">
        <div class="item__img-wrap parallax-section">
            <div class="item__img parallax-image" style="background-image: url('<%=product.coverImage%>');"></div>
        </div>
    </div>
</section>

<section class="product_wrapper">
    <div class="pattern_bg hide_mobile" style="background-image: url('images/content/sinlge_product_bg.png')"></div>
    <div class="container">
        <div class="single_product_box flex jsb">
            <div class="single_product_col first">
                <div class="single_product_description">
                     <a class="single_product_brand hide_mobile" href="/brand/<%=product.brandSlug%>">
                         <img src="<%=product.brandLogo%>" alt="">
                     </a>

                    <h1 class="single_product_title hide_mobile"><%=product.name%></h1>

                    <table>
                        <% filters.forEach((filter)=>{%>
                            <tr>
                                <td><%=filter.valName%></td>
                                <td><%=filter.filName%></td>
                            </tr>
                        <%}) %>
                        <tr>
                            <td>Producer</td>
                            <td><a href="/brand/<%=product.brandSlug%>" class="btn_link"><%=product.brandName%></a></td>
                        </tr>
                    </table>
                    <div class="single_product_description_rel">
                        <p><%-product.description%></p>
                    </div>
                </div>
            </div>
            <div class="single_product_col second">
                <div class="single_product_img">
                    <div class="pattern_bg hide_desktop" style="background-image: url('images/content/sinlge_product_bg.png')"></div>
                   <!-- <a class="single_product_brand hide_desktop" href="/brand?brand=<%=product.brandSlug%>">
                        <img src="<%=product.brandLogo%>" alt="">
                    </a>-->

                    <div class="single_product_img_content <% if(product.image_top == '1'){ %><%='absolute'%><%}%> ">
                        <img src="<%=product.image%>" alt="">
                    </div>
                </div>
            </div>
            <div class="single_product_col third">
                <div class="single_product_title hide_desktop"><%=product.name%></div>
                <div class="single_product_cart __product_card" data-ids="<%=product.id%>">
                    <% if(product.sale_percent !== null ){%>
                        <div class="sale_box">-<%=product.sale_percent%>%</div>
                    <%}%>
                    <div class="single_product_cart_body">
                        <div class="single_product_price">
                            <span>Price:</span>
                            <p class="cart_popup_product_price">
                                <%=product.price%> <sup>֏</sup>
                                <% if(product.price_before_sale !== null ){%>
                                <del><%=product.price_before_sale%> <sup>֏</sup></del>
                                <%}%>
                            </p>
                        </div>
                        <div class="single_product_quantity">
                            <span>Quantity:</span>
                            <div class="quantity <%if(product.in_stock == '1'){%>hide<%}%> flex">
                                <button class="product_btn quantity_minus">
                                    <svg width="9" height="1" viewBox="0 0 9 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1H9V0H0V1Z" fill="#A5B2C2"/>
                                    </svg>
                                </button>
                                <input type="number" value="1" id="prod_quantity">
                                <button class="product_btn quantity_pluse">
                                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.4 0V5.4H0V6.6H5.4V12H6.6V6.6H12V5.4H6.6V0H5.4Z" fill="black"/>
                                    </svg>
                                </button>
                            </div>
                            <a href="javascript:;" class=" <%if(product.favId !== null){%>active<%}%> single_product_btn single_product_favorites" data-id="<%=product.id%>">
                                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.4614 0.0771484C13.7984 0.0771484 15.6922 2.00023 15.6922 4.69253C15.6922 10.0771 9.92297 13.1541 7.99989 14.3079C6.07682 13.1541 0.307587 10.0771 0.307587 4.69253C0.307587 2.00023 2.23066 0.0771484 4.53836 0.0771484C5.96913 0.0771484 7.23066 0.846379 7.99989 1.61561C8.76912 0.846379 10.0307 0.0771484 11.4614 0.0771484ZM8.71836 12.0802C9.39605 11.6525 10.0076 11.2271 10.5799 10.7718C12.873 8.94869 14.1537 6.95638 14.1537 4.69253C14.1537 2.87715 12.9714 1.61561 11.4614 1.61561C10.6337 1.61561 9.73836 2.05407 9.08759 2.7033L7.99989 3.79099L6.9122 2.7033C6.26143 2.05407 5.36605 1.61561 4.53836 1.61561C3.04605 1.61561 1.84605 2.88946 1.84605 4.69253C1.84605 6.95715 3.12759 8.94869 5.41913 10.7718C5.9922 11.2271 6.60374 11.6525 7.28143 12.0795C7.51143 12.2248 7.73913 12.3641 7.99989 12.5195C8.26066 12.3641 8.48836 12.2248 8.71836 12.0802Z" fill="black"/>
                                </svg>
                            </a>
                            <a href="javascript:;" class="single_product_btn single_product_share">
                                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.37129 11.1592L5.372 9.52344C4.98043 9.94205 4.47199 10.2332 3.91277 10.3591C3.35355 10.4849 2.76939 10.4397 2.23623 10.2292C1.70307 10.0187 1.24555 9.65269 0.923122 9.17875C0.600699 8.70482 0.428284 8.14486 0.428284 7.57165C0.428284 6.99844 0.600699 6.43848 0.923122 5.96455C1.24555 5.49061 1.70307 5.12462 2.23623 4.91412C2.76939 4.70363 3.35355 4.65837 3.91277 4.78423C4.47199 4.91009 4.98043 5.20125 5.372 5.61987L8.372 3.98415C8.20168 3.30992 8.28311 2.59671 8.60102 1.97823C8.91894 1.35974 9.45151 0.878424 10.0989 0.62451C10.7463 0.370596 11.4641 0.361513 12.1177 0.598962C12.7713 0.836412 13.3159 1.30409 13.6494 1.91434C13.9828 2.52459 14.0823 3.2355 13.9291 3.91383C13.7759 4.59215 13.3805 5.19132 12.8172 5.59902C12.2538 6.00671 11.5611 6.19494 10.8689 6.12843C10.1766 6.06192 9.53243 5.74523 9.057 5.23772L6.057 6.87344C6.17215 7.33155 6.17215 7.81104 6.057 8.26915L9.05629 9.90487C9.53172 9.39736 10.1759 9.08067 10.8681 9.01416C11.5604 8.94764 12.2531 9.13588 12.8165 9.54357C13.3798 9.95127 13.7752 10.5504 13.9284 11.2288C14.0816 11.9071 13.9821 12.618 13.6486 13.2282C13.3152 13.8385 12.7706 14.3062 12.117 14.5436C11.4634 14.7811 10.7456 14.772 10.0982 14.5181C9.45079 14.2642 8.91822 13.7829 8.60031 13.1644C8.2824 12.5459 8.20097 11.8327 8.37129 11.1584V11.1592ZM3.28557 8.99986C3.66445 8.99986 4.02782 8.84935 4.29573 8.58145C4.56363 8.31354 4.71414 7.95017 4.71414 7.57129C4.71414 7.19241 4.56363 6.82905 4.29573 6.56114C4.02782 6.29323 3.66445 6.14272 3.28557 6.14272C2.90669 6.14272 2.54333 6.29323 2.27542 6.56114C2.00751 6.82905 1.857 7.19241 1.857 7.57129C1.857 7.95017 2.00751 8.31354 2.27542 8.58145C2.54333 8.84935 2.90669 8.99986 3.28557 8.99986ZM11.1427 4.71415C11.5216 4.71415 11.885 4.56364 12.1529 4.29573C12.4208 4.02782 12.5713 3.66446 12.5713 3.28558C12.5713 2.9067 12.4208 2.54334 12.1529 2.27543C11.885 2.00752 11.5216 1.85701 11.1427 1.85701C10.7638 1.85701 10.4005 2.00752 10.1326 2.27543C9.86465 2.54334 9.71414 2.9067 9.71414 3.28558C9.71414 3.66446 9.86465 4.02782 10.1326 4.29573C10.4005 4.56364 10.7638 4.71415 11.1427 4.71415ZM11.1427 13.2856C11.5216 13.2856 11.885 13.1351 12.1529 12.8672C12.4208 12.5993 12.5713 12.2359 12.5713 11.857C12.5713 11.4781 12.4208 11.1148 12.1529 10.8469C11.885 10.5789 11.5216 10.4284 11.1427 10.4284C10.7638 10.4284 10.4005 10.5789 10.1326 10.8469C9.86465 11.1148 9.71414 11.4781 9.71414 11.857C9.71414 12.2359 9.86465 12.5993 10.1326 12.8672C10.4005 13.1351 10.7638 13.2856 11.1427 13.2856Z" fill="black"/>
                                </svg>
                            </a>
                            <!-- Share -->
                            <div class="modal-share">
                                <div class="alert">
                                    <span class="alert__icon" data-feather="info"></span>
                                    <span class="alert__text">
                                    Link copied!
                                  </span>
                                </div>
                                <div class="modal-share__info">
                                    Choose one option
                                </div>
                                <div class="modal-share__icons">
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%=product.publicLink%>" class="link-icon modal-share__icon modal-share__icon--socials modal-social-opening">
                                        <span class="link-icon__icon" data-feather="facebook"></span>
                                    </a>
                                    <a target="_blank" href="https://twitter.com/share?url=<%=product.publicLink%>&text=<%=product.name%>" class="link-icon modal-share__icon modal-share__icon--socials modal-social-opening">
                                        <span class="link-icon__icon" data-feather="twitter"></span>
                                    </a>
                                    <a target="_blank" href="mailto:?subject=Share Buttons Demo&body=<%=product.publicLink%>" class="link-icon modal-share__icon modal-share__icon--socials modal-social-opening">
                                        <span class="link-icon__icon" data-feather="mail"></span>
                                    </a>
                                    <a href="javascript:void(0)" class="link-icon modal-share__icon modal-share__icon--socials modal-link-copy-action" onclick="copyToClipboard('<%=product.publicLink%>')">
                                        <span class="link-icon__icon" data-feather="link"></span>
                                    </a>
                                </div>
                                <span class="modal-share__icon modal-share__icon--close" data-feather="x"></span>
                            </div>
                            <!-- /Share -->
                        </div>
                        <%if(product.in_stock == '1'){%>
                        <span class="single_product_hide">Out of stock</span>
                        <%}else {%>
                        <a href="javascript:;" data-open="#cart_popup_id" data-id="<%=product.id%>" id="add-cart" class="single_product">
                            <span class="app_icon cart_white_icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                    <path d="M11.666 3.83772H2.33404L1.43062 12.7076H12.5694L11.666 3.83772ZM1.16667 2.54541H12.8333L14 14H0L1.16667 2.54541Z" fill="white"/>
                                    <path d="M5.63383 0.133891L4.34848 1.29231H5.51316L5.63383 0.133891ZM8.48683 1.29231L8.88251 5.09091H10.1818L9.65151 0H4.34848L3.81818 5.09091H5.11748L5.51316 1.29231H8.48683ZM9.65151 1.29231L8.36616 0.133891L8.48683 1.29231H9.65151ZM8.36616 0.133891L9.65151 1.29231H8.48683L8.36616 0.133891ZM8.88251 5.09091H10.1818L9.65151 0H4.34848L3.81818 5.09091H5.11748L5.51316 1.29231H8.48683L8.88251 5.09091ZM5.63383 0.133891L4.34848 1.29231H5.51316L5.63383 0.133891Z" fill="white"/>
                                </svg>
                            </span>
                            ADD TO CART
                        </a>
                        <%}%>
                    </div>
                    <div class="single_product_cart_footer flex ais">
                        <span>Paymant metods:</span>
                        <div class="payment_methods fcb">
                            <div class="payment_box"><img src="/images/content/general/master_card.svg" alt=""></div>
                            <div class="payment_box"><img src="/images/content/general/visa_card.svg" alt=""></div>
                            <div class="payment_box"><img src="/images/content/general/arca_card.svg" alt=""></div>
                            <div class="payment_box"><img src="/images/content/general/idram.svg" alt=""></div>
                            <div class="payment_box"><img src="/images/content/general/cash.svg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="popular_products_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities">Relative products</h2>
        <div class="flex">
            <% relativeProduct.forEach((popProd)=>{ %>
            <div class="product_col">
                <div class="product_box">
                    <div class="product_box_content">
                        <h3 class="secondary_title"><%=popProd.name%></h3>
                        <div class="product_box_img">
                            <img src="<%=popProd.image%>" alt="">
                        </div>
                        <div class="product_box_description"><%-popProd.description%> </div>

                        <% if(popProd.in_stock == '1') {%>
                            <span class="product_box_price hide">Out of stock</span>
                        <%}%>
                        <span class="product_box_price"><%=popProd.price%><sup>֏</sup> <% if(popProd.price_before_sale !== null){ %><del><%=popProd.price_before_sale%> ֏</del><%}%></span>
                    </div>
                    <div class="product_box_content_back" style="background-image: url(<%=popProd.hoverImage%>)">
                        <button type="button" class="favorites_toggle_btn <%if(popProd.favId !== null){%>active<%}%>" data-id="<%=popProd.id%>">
                            <span>
                                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.64661 1.68689L7.00016 2.04044L7.35372 1.68689C7.96047 1.08013 8.934 0.5 10.0002 0.5C11.7191 0.5 13.1668 1.91151 13.1668 4C13.1668 6.13994 12.023 7.85077 10.6155 9.17787C9.36731 10.3547 7.96134 11.1845 7.06448 11.7138C7.04274 11.7267 7.02129 11.7393 7.00016 11.7518C6.97903 11.7393 6.95759 11.7267 6.93585 11.7138C6.03899 11.1845 4.63302 10.3547 3.38484 9.17787C1.97731 7.85077 0.833496 6.13994 0.833496 4C0.833496 1.91382 2.30443 0.5 4.00016 0.5C5.06632 0.5 6.03985 1.08013 6.64661 1.68689Z" stroke="#005092"/>
                                </svg>
                            </span>
                        </button>
                        <a href="/product?id=<%=popProd.slug%>" class="product_box_bg"></a>
                        <div class="product_price"><%=popProd.price%> ֏</div>
                        <a href="/product?id=<%=popProd.slug%>" class="product_box_more"><span class="app_icon more_icon"></span>MORE</a>
                        <% if(popProd.in_stock == '1') {%>
                            <span class="product_add_cart_hide">Out of stock</span>
                        <%}else {%>
                            <a href="javascript:;" data-id="<%=popProd.id%>" data-open="#cart_popup_id" class="product_add_cart"><span class="app_icon cart_icon"></span>ADD TO CART</a>
                        <%}%>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>
</section> <!-- / popular_products_wrapper -->

<%- include("../components/news.ejs") %><!-- / blog_wrapper -->
<div class="blog_more_box hide_desktop mb-120" style="background-image: url('images/content/blog_more_bg.png')">
    <a href="/blog" class="blog_more_box_link">
        more from news
        <span class="blog_more_box_btn">
            <span class="app_icon more_second_icon"></span>
        </span>
    </a>
</div>

<%- include("../default/footer.ejs") %>