<%- include("../default/header.ejs") %>

<section class="cart_wrapper orders_thanks_head_wrapper">
    <div class="container">
        <h2 class="primary_title title_infinities hide_mobile">Thank you. Please wait call from our contact manager</h2>
    </div>
</section>

<section class="account_orderItems_wrapper orders_thanks_wrapper">
    <div class="container">
        <h1 class="account_deliveryInfo_title primary_title">Order #<%=public_id%></h1>
        <div class="account_items_box">
            <div class="checkout_product_list">
                <% orderProducts.forEach(function (orderProduct) { %>
                <div class="cart_popup_product flex">
                    <div class="cart_popup_product_img">
                        <img src="<%=orderProduct.image%>" alt="<%=orderProduct.name%>">
                    </div>
                    <div class="cart_popup_product_box">
                        <div class="cart_popup_product_info flex jsb">
                            <div>
                                <h4><%=orderProduct.name%></h4>
                                <!--                                <p>Dry red wine, 0.75 L</p>-->
                                <p>Quantity: <%=orderProduct.quantity%></p>
                            </div>
                            <div class="cart_popup_product_price">
                                <%=orderProduct.price%> <sup>֏</sup>
                            </div>
                        </div>
                    </div>
                </div>
                <%  })%> %>
            </div>
            <div class="total_box fcb">
                <p>TotaL</p>
                <div class="cart_total_price"><%=orderInfo.total_price%> <sup>֏</sup></div>
            </div>
        </div>
    </div>
</section>

<div class="account_deliveryInfo_wrapper orders_thanks_wrapper">
    <div class="container">
        <h2 class="account_deliveryInfo_title primary_title">Order delivery information</h2>

        <div class="account_deliveryInfo_box account_data_box">
            <!-- Delivery Information for WEB -->
            <table class="account_table">
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>Phone  number</th>
                </tr>
                <tr>
                    <td><%=orderInfo.name%> <%=orderInfo.last_name%></td>
                    <td><%=orderInfo.email%></td>
                    <td><%=orderInfo.phone%></td>
                </tr>
                <tr>
                    <th colspan="3">delivery address</th>
                </tr>
                <tr>
                    <td colspan="3"><%=orderInfo.city%>, <%=orderInfo.address%></td>
                </tr>
            </table>

            <div class="account_deliveryInfo_table">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <table class="account_table">
                            <tr>
                                <th>Order comments</th>
                            </tr>
                            <tr>
                                <td>
                                    <%if(orderInfo.comment == '' || orderInfo.comment == null){%>
                                        No Comment
                                    <%}else{%>
                                    <%=orderInfo.comment%>
                                    <%}%>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <th>delivery date slot</th>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <%if(orderInfo.delivery_date == '' || orderInfo.delivery_date == null){%>-->
<!--                                        No delivery date slot-->
<!--                                    <%}else{%>-->
<!--                                    <%=orderInfo.delivery_date%>-->
<!--                                    <%}%>-->
<!--                                </td>-->
<!--                            </tr>-->
                        </table>
                    </div>

                    <div class="col-12 col-lg-6">
                        <table class="account_table">
                            <tr>
                                <th>payment method</th>
                            </tr>
                            <tr>
                                <td>
                                    <% if(orderInfo.payment_type == '1'){ %>
                                        <div class="fcb account_table_cart">
                                            <span>ARCA</span>
                                            <span><%=orderInfo.CardNumber%></span>
                                        </div>
                                    <% }else if(orderInfo.payment_type == '2'){ %>
                                        <div class="fcb">
                                            <span>Idram</span>
                                        </div>
                                    <% }else if(orderInfo.payment_type == '3'){ %>
                                        <div class="fcb">
                                            <span>Cash</span>
                                        </div>
                                    <% } else if(orderInfo.payment_type == '4'){ %>
                                        <div class="fcb">
                                            <span>Bank Transfer</span>
                                        </div>
                                    <% } %>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <th>From - to</th>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>-->
<!--                                    <%if(orderInfo.delivery_time == '' || orderInfo.delivery_time == null){%>-->
<!--                                        No time slot-->
<!--                                    <%}else{%>-->
<!--                                    <%=orderInfo.delivery_time%>-->
<!--                                    <%}%>-->
<!--                                </td>-->
<!--                            </tr>-->
                        </table>
                    </div>
                </div>
            </div>
            <!--  Delivery Information for Mobile -->
            <div class="account_table_mob">
                <div class="table_mob_col">
                    <div class="table_title">Name</div>
                    <div class="table_data"><%=orderInfo.name%> <%=orderInfo.last_name%></div>

                    <div class="table_title">email</div>
                    <div class="table_data"><%=orderInfo.email%></div>

                    <div class="table_title">Phone  number</div>
                    <div class="table_data"><%=orderInfo.phone%></div>
                </div>
                <div class="table_mob_col">
                    <div class="table_title">delivery address</div>
                    <div class="table_data"><%=orderInfo.city%>, <%=orderInfo.address%></div>
                </div>
                <div class="table_mob_col">
                    <div class="table_title">Order comments</div>
                    <div class="table_data">
                        <%if(orderInfo.comment == '' || orderInfo.comment == null){%>
                            No Comment
                        <%}else{%>
                        <%=orderInfo.comment%>
                        <%}%>
                    </div>
                </div>
                <div class="table_mob_col">
                    <div class="table_title">payment method</div>
                    <div class="table_data">
                        <% if(orderInfo.payment_type == '1'){ %>
                        <div class="fcb account_table_cart">
                            <span>ARCA</span>
                            <span><%=orderInfo.CardNumber%></span>
                        </div>
                        <% }else if(orderInfo.payment_type == '2'){ %>
                            <div class="fcb">
                                <span>Idram</span>
                            </div>
                        <% }else if(orderInfo.payment_type == '3'){ %>
                            <div class="fcb">
                                <span>Cash</span>
                            </div>
                        <% } else if(orderInfo.payment_type == '4'){ %>
                            <div class="fcb">
                                <span>Bank Transfer</span>
                            </div>
                        <% } %>
                    </div>
                </div>
<!--                <div class="table_mob_col">-->
<!--                    <div class="table_title">delivery date and time slot</div>-->
<!--                    <div class="table_data">-->
<!--                        <%if(orderInfo.delivery_date == '' || orderInfo.delivery_date == null){%>-->
<!--                            No delivery date slot-->
<!--                        <%}else{%>-->
<!--                        <%=orderInfo.delivery_date%>-->
<!--                        <%}%>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="table_mob_col">-->
<!--                    <div class="table_title">From - to</div>-->
<!--                    <div class="table_data">-->
<!--                        <%if(orderInfo.delivery_time == '' || orderInfo.delivery_time == null){%>-->
<!--                            No time slot-->
<!--                        <%}else{%>-->
<!--                        <%=orderInfo.delivery_time%>-->
<!--                        <%}%>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="orders_thanks_wrapper">
            <% if(orderInfo.payment_type == '4'){ %>
                <h2 class="account_deliveryInfo_title primary_title">Information For Bank transfer Dtails</h2>

                <div class="account_deliveryInfo_box account_data_box">
                    <div class="cart_popup_product flex"> Test info Test info </div>
                </div>
            <% } %>
        </div>

<!--        <a href="javascript:;" class="btn_outline">Repeat order</a>-->
    </div>
</div>

<%- include("../default/footer.ejs") %>