<%- include("../default/header.ejs") %>

<section class="cart_wrapper">
    <div class="container">
        <h2 class="primary_title title_infinities hide_mobile">Failed</h2>
    </div>
</section>

<%- include("../default/footer.ejs") %>