<%- include("../default/header.ejs") %>

    <section class="cart_wrapper">
        <div class="container">
            <h2 class="primary_title title_infinities hide_mobile"><%=translations.cart%></h2>
            <!-- Content for Empty Cart -->
            <div class="cart_popup_empty fcc" style="<% if(siteData.cart.items.length == 0){ %> display:block; <%}else{%> display:none;  <%}%>">
                <div class="cart_popup_box">
                    <div class="cart_popup_box_img">
                        <img src="images/content/general/cart_empty_icon.svg" alt="">
                    </div>
                    <h4 class="cart_popup_box_title">Cart is empty</h4>
                    <p>Use the search to find everything you need.</p>
                    <a href="/catalog" class="cart_popup_box_btn btn_outline">SHOP NOW</a>
                </div>
            </div>
            <!-- Content for Full Cart -->
            <div  class="cart_content " style="<% if(siteData.cart.items.length == 0){ %> display:none; <%}else{%> display:block;  <%}%>">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart_content_navigation">
                            <a href="javascript:void(0)" class="cart-remove-all-btn">
                                Remove all
                                <span class="app_icon icon_close icon_remove"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99999 4.05781L8.29999 0.757812L9.24266 1.70048L5.94266 5.00048L9.24266 8.30048L8.29999 9.24315L4.99999 5.94315L1.69999 9.24315L0.757324 8.30048L4.05732 5.00048L0.757324 1.70048L1.69999 0.757812L4.99999 4.05781Z" fill="#676767"></path></svg></span>
                            </a>
                        </div>
                        <div class="cart_content_body">
                            <% siteData.cart.items.forEach(function (item) { %>
                                <div class="cart_popup_product flex">
                                    <div class="cart_popup_product_img">
                                        <img src="<%=item.image%>" alt="<%=item.name%>">
                                    </div>
                                    <div class="cart_popup_product_box "   data-ids="<%=item.id%>">
                                        <div class="cart_popup_product_info flex jsb">
                                            <div>
                                                <h4><%=item.name%></h4>
                                                <p><%=item.catName%></p>
                                            </div>
                                            <a href="javascript:;" data-ids="<%=item.id%>" class="remove_product_btn">
                                                <span class="app_icon icon_close icon_remove"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99999 4.05781L8.29999 0.757812L9.24266 1.70048L5.94266 5.00048L9.24266 8.30048L8.29999 9.24315L4.99999 5.94315L1.69999 9.24315L0.757324 8.30048L4.05732 5.00048L0.757324 1.70048L1.69999 0.757812L4.99999 4.05781Z" fill="#676767"/></svg></span>
                                                remove
                                            </a>
                                        </div>
                                        <div class="cart_popup_product_foot flex jsb">
                                            <div class="cart_popup_product_fcol">
                                                <p class="cart-heading-span">
                                                    single price:
                                                </p>
                                                <div class="cart_popup_product_price">
                                                    <% if(item.price_before_sale == null){ %>
                                                    <%=item.price%> <sup>֏</sup>
                                                    <%}else{%>
                                                    <%=item.price%> <sup>֏</sup>
                                                    <%}%>
                                                </div>
                                            </div>
                                            <div class="cart_popup_product_right_pos">
                                                <form action="">
                                                    <div class="quantity <% if(item.in_stock == '1') {%>hide<%}%> flex">
                                                        <button type="button" class="product_btn quantity_minus">
                                                            <svg width="9" height="1" viewBox="0 0 9 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1H9V0H0V1Z" fill="#A5B2C2"/>
                                                            </svg>
                                                        </button>
                                                        <input  type="number"  value="<%=item.quantity%>"/>
                                                        <button type="button" class="product_btn quantity_pluse">
                                                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.4 0V5.4H0V6.6H5.4V12H6.6V6.6H12V5.4H6.6V0H5.4Z" fill="black"/>
                                                            </svg>
                                                        </button>
                                                    </div>
                                                </form>
                                                <div class="cart_popup_product_total_rel">
                                                    <% if(item.in_stock == '1') {%>
                                                        <span class="cart_popup_product_price hide">Out of stock</span>
                                                    <%}else {%>

                                                    <p class="cart-heading-span">
                                                        Total:
                                                    </p>
                                                    <div class="cart_popup_product_price">
                                                        <%=item.selfTotal%> <sup>֏</sup>
                                                    </div>
                                                    <%}%>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                            <div class="cart_order_promocode hide_tablet" style="display: none">
                                <a href="javascript:;" class="cart_promocode fcb show" data-collapse="#promocode_m_id">
                                    Promo code
                                    <span class="app_icon icon_close icon_remove"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99999 4.05781L8.29999 0.757812L9.24266 1.70048L5.94266 5.00048L9.24266 8.30048L8.29999 9.24315L4.99999 5.94315L1.69999 9.24315L0.757324 8.30048L4.05732 5.00048L0.757324 1.70048L1.69999 0.757812L4.99999 4.05781Z" fill="#676767"/></svg></span>
                                </a>
                                <div class="collapse collapse_open" id="promocode_m_id" style="display: block">
                                    <form action="">
                                        <div class="promocode_input fcb">
                                            <input type="text" placeholder="Insert promo code">
                                            <button type="submit" class="btn_promocode"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart_order">
                            <div class="cart_order_header">
                                <h3 class="secondary_title">YOUR ORDER</h3>
                            </div>
                            <div class="cart_order_body">
                                <div class="cart_order_product fcb">
                                    <p>Products <span><%=siteData.cart.allProdQuantity%>  products</span></p>
<!--                                    <div class="cart_order_price">-->
<!--                                        <span id="CPcartTotalBeforeDiscount">-->
<!--                                            &lt;!&ndash;<%=siteData.cart.beforeDiscount%>&ndash;&gt;-->
<!--                                            <%=siteData.cart.total%>-->
<!--                                        </span>-->
<!--                                        <sup>֏</sup>-->
<!--                                    </div>-->
                                </div>

                                <div style="display: none" class="cart_order_discount fcb">
                                    <p>Discount</p>
                                    <div class="cart_order_price"> - <%= (siteData.cart.beforeDiscount - siteData.cart.total)%><sup>֏</sup></div>
                                </div>

                                <div class="cart_order_promocode hide_mobile" style="display: none">
                                    <a href="javascript:;" class="cart_promocode fcb show" data-collapse="#promocode_id">
                                        Promo code
                                        <span class="app_icon icon_close icon_remove"><svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.99999 4.05781L8.29999 0.757812L9.24266 1.70048L5.94266 5.00048L9.24266 8.30048L8.29999 9.24315L4.99999 5.94315L1.69999 9.24315L0.757324 8.30048L4.05732 5.00048L0.757324 1.70048L1.69999 0.757812L4.99999 4.05781Z" fill="#676767"/></svg></span>
                                    </a>
                                    <div class="collapse collapse_open" id="promocode_id" style="display: block">
                                        <form action="">
                                            <div class="promocode_input fcb">
                                                <input type="text" placeholder="Insert promo code">
                                                <button type="submit" class="btn_promocode"></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="cart_order_total fcb">
                                    <h3>Total:</h3>
                                    <div class="cart_total_price"><span id="CPcartTotal"><%=siteData.cart.total%></span><sup>֏</sup></div>
                                </div>

                                <a href="/checkout" class="btn btn_order">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

   <!-- <section class="popular_products_wrapper hide_mobile">
        <div class="container-fluid">
            <h2 class="primary_title title_infinities">popular products</h2>
            <div class="flex">
                <%- //include("../components/popularProducts.ejs") %>
                <div class="product_col">
                    <div class="product_box  p_0">
                        <a href="" class="product_box_all_link" style="background-image: url('images/content/product_brand_more_bg.png')">
                            <h2 class="product_box_all_title">All
                                Pernod Ricard's
                                brand collections</h2>
                            <span class="product_all_box_btn">
                                    <span class="app_icon more_icon"></span>
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> --><!-- / popular_products_wrapper -->


<%- include("../default/footer.ejs") %>