<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pernod Ricard Armenia</title>

    <link rel="shortcut icon" href="/images/content/general/favicon.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<div id="cover-spin"></div>

<div id="app_root">
    <main>

        <% if(typeof siteData.userInfo !== "undefined"){%>
                <!-- For register useres -->
                <section  class="checkout_wrapper">
                    <div class="container">
                        <a href="/" class="checkout_brand hide_desktop">
                            <img src="images/content/general/logo_mob.svg" alt="">
                        </a>
                        <div class="row">
                            <div class="first col-12 col-lg-6">
                                <div class="checkout_form">
                                    <a href="/" class="checkout_brand">
                                        <img src="images/content/general/logo.svg" alt="">
                                    </a>

                                    <ul class="nav_list fcc">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><span>Checkout</span></li>
                                    </ul>
                                    <form class="checkout_users_form form">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="shipping-address-wrapper-roll" data-active="1">
                                                    <h4 class="checkout_form_title ck-accordion-title">Shipping address</h4>
                                                    <div id="shipping-tab-address" class="ck-accordion-content">
                                                        <div class="shipping_address_list flex jsb">
                                                            <% var num = 1; addresses.forEach(function (address){ %>
                                                            <div class="input_radio">
                                                                <input type="radio" name="shipping_carts1" id="payment_cart4_id<%=num%>" class="validate" data-shipping-id="<%=address.address_id%>" data-error="#ecc<%=num%>" aria-required="true" aria-describedby="payment_cart4_id<%=num%>" <%if(address.default_address === '1'){%> checked <%}%> >
                                                                <label class="radio_payment_box" for="payment_cart4_id<%=num%>">
                                                                    <span class="radio_shipping_title">Address №<%=num%></span>
                                                                    <div class="radio_shipping_user"> <%=address.name%>,<%=address.last_name%>, <%=address.phone%>, <%=address.email%> </div>
                                                                    <p class="radio_shipping_desc"><%=address.address%>, <%=address.city%>, <%=address.state%>, <%=address.country%></p>
                                                                </label>
                                                                <div class="error_text" id="ecc<%=num%>"></div>
                                                            </div>
                                                            <% num++; }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="new-shipping-wrapper-rol">
                                                    <div class="new-shipping-address-col">
                                                        <a href="javascript:;" class="shipping_address_box fcc" data-collapse="#add_new_shipping">
                                                            <span class="shipping_add_title">new Shipping address</span>
                                                            <span class="blog_more_box_btn">
                                                                <span class="app_icon more_second_icon"></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div id="add_new_shipping" class="collapse new_shipping_collapse" style="display: none;">
                                                        <div class="new_shipping_collapse_content">
                                                            <h4 class="checkout_form_title ck-accordion-title">Add new shipping address</h4>
                                                            <div class="ck-accordion-content">
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="input_box">
                                                                            <input id="shipr_name_id" name="shiplogin" type="text" class="validate"  data-error="#eship1" aria-required="true" aria-describedby="shipr_name_id-error" aria-invalid="false">
                                                                            <label for="shipr_name_id">Name</label>
                                                                            <div class="error_text" id="eship1"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="input_box">
                                                                            <input id="shipr_lastname_id" name="shiplastname" type="text" class="validate"  data-error="#eship2" aria-required="true" aria-describedby="shipr_lastname_id-error" aria-invalid="false">
                                                                            <label for="shipr_lastname_id">Last name</label>
                                                                            <div class="error_text" id="eship2"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="input_box">
                                                                            <input id="shipr_phone_id" name="shipphoneNumber" oninput="this.value=this.value.replace(/[^0-9]/g,'');" type="number"   inputmode="numeric" pattern="[0-9]*" class="validate" data-error="#eship5" aria-required="true" aria-describedby="r_phone_id-error" aria-invalid="false">
                                                                            <label for="shipr_phone_id">Phone number</label>
                                                                            <div class="error_text" id="eship5"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="input_box">
                                                                            <input  id="shir_email_id" name="emailshi" type="email" class="validate" data-error="#eshi3" aria-required="true" aria-describedby="shir_email_id-error" aria-invalid="false">
                                                                            <label for="shir_email_id">Email</label>
                                                                            <div class="error_text" id="eshi3"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="input_box">
                                                                            <select id="countrieList_edit" name="countrieList_Reg"  class="validate" data-error="#errrr1">>
                                                                                <option value="hide">Country</option>
                                                                                <option value="11">Armenia</option>
                                                                            </select>
                                                                            <div class="error_text" id="errrr1"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="input_box">
                                                                            <select id="stateList_edit" name="stateList_Reg" class="validate" data-error="#errrr2">
                                                                                <option value="hide">State</option>
                                                                            </select>
                                                                            <div class="error_text" id="errrr2"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="input_box">
                                                                            <select id="cityList_edit" name="cityList_Reg" class="validate" data-error="#errrr3">
                                                                                <option value="hide">City</option>
                                                                            </select>
                                                                            <div class="error_text" id="errrr3"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="input_box">
                                                                            <input id="address_id" name="address" type="text" class="validate" data-error="#e5">
                                                                            <label for="address_id">Address of delivery</label>
                                                                            <div class="error_text" id="e5"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ais">
                                                                    <div class="col-12 col-lg-6 first">
                                                                        <a href="javascript:;" class="btn_link btn_ls_0" data-hide="#add_new_shipping">Select from my addresses</a>
                                                                    </div>
                                                                    <div class="col-12 col-lg-6">
                                                                        <div class="flex checkout_order_lists">
                                                                            <div class="input_checkbox flex">
                                                                                <input type="checkbox" id="checkbox222" name="privateorder">
                                                                                <label for="checkbox222">
                                                                                    <span>Save to my addresses</span>
                                                                                </label>
                                                                                <a href="javascript:void(0)" class="describe" title="1Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s">?</a>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="input_checkbox flex">
                                                    <input type="checkbox" id="checkbox333" name="privateorder">
                                                    <label for="checkbox333">
                                                        <span>Send Order detail to my email</span>
                                                    </label>
                                                    <a href="javascript:void(0)" class="describe" title="2Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s">?</a>
                                                </div>
                                                <div class="input_checkbox flex">
                                                    <input type="checkbox" id="checkbox2" name="accept" checked="">
                                                    <label for="checkbox2">
                                                        <span>Keep me up to date on news and exclusive offers</span>
                                                    </label>
                                                </div>
                                            </div>
<!--                                            <div class="col-12">-->
<!--                                                <div class="row">-->
<!--                                                    <div class="col-12 col-lg-8">-->
<!--                                                        <div class="input_box">-->
<!--                                                            <input id="delivery_id1" name="delivery" type="text" class="datepicker validate" data-error="#e61" autocomplete="disabled">-->
<!--                                                            <label for="delivery_id1">choose delivery date and time slot:</label>-->
<!--                                                            <div class="error_text" id="e61"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-12 col-lg-4">-->
<!--                                                        <div class="input_box del-time-select">-->
<!--                                                            <select name="delivery_time_Reg" id="delivery_time" class="validate" data-error="#err1">-->
<!--                                                                <option value="hide">From - to</option>-->
<!--                                                                <option value="16:00 - 18:00">16:00 - 18:00</option>-->
<!--                                                                <option value="14:00 - 16:00">14:00 - 16:00</option>-->
<!--                                                                <option value="12:00 - 14:00">12:00 - 14:00</option>-->
<!--                                                                <option value="10:00 - 12:00">10:00 - 12:00</option>-->
<!--                                                            </select>-->
<!--                                                            <div class="error_text" id="err1"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="col-12">
                                                <h5 class="checkout_comment_title">Add a comment</h5>
                                                <div class="input_box">
                                                    <textarea name="" id="message_id1" class="validate" data-error="#e61"></textarea>
                                                    <label for="message_id1">Add a comment</label>
                                                    <div class="error_text" id="e61"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h4 class="checkout_form_title">Select your payment method:</h4>
                                                <div class="checkout_payment_lists flex jsb">
                                                    <div class="input_radio">
                                                        <input type="radio" name="payment_carts" id="payment_cart1_id" value="1" class="validate payment_cart_rel" data-error="#errr9" checked>
                                                        <label class="radio_payment_box" for="payment_cart1_id">
                                                            <span class="radio_payment_title">Arca, visa or masercad</span>
                                                            <div class="radio_payment_list flex">
                                                                <div class="payment_box"><img src="images/content/general/arca_card.svg" alt=""></div>
                                                                <div class="payment_box"><img src="images/content/general/visa_card.svg" alt=""></div>
                                                                <div class="payment_box"><img src="images/content/general/master_card.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>
<!--                                                    <div class="input_radio">-->
<!--                                                        <input type="radio" name="payment_carts" id="payment_cart2_id1" value="2" class="validate payment_cart_rel" data-error="#errr9">-->
<!--                                                        <label class="radio_payment_box" for="payment_cart2_id1">-->
<!--                                                            <span class="radio_payment_title">Idram</span>-->
<!--                                                            <div class="radio_payment_list fcb">-->
<!--                                                                <div class="payment_box"><img src="images/content/general/idram.svg" alt=""></div>-->
<!--                                                            </div>-->
<!--                                                        </label>-->
<!--                                                    </div>-->
                                                    <div class="input_radio">
                                                        <input type="radio" name="payment_carts" id="payment_cart3_id1" value="3" class="validate payment_cart_rel" data-error="#errr9">
                                                        <label class="radio_payment_box" for="payment_cart3_id1">
                                                            <span class="radio_payment_title">Cash</span>
                                                            <div class="radio_payment_list fcb">
                                                                <div class="payment_box"><img src="images/content/general/cash.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="input_radio">
                                                        <input type="radio" name="payment_carts" id="payment_cart4_id"  value="4" class="validate payment_cart_rel" data-error="#errr9">
                                                        <label class="radio_payment_box" for="payment_cart4_id">
                                                            <span class="radio_payment_title">Bank Transfer</span>
                                                            <div class="radio_payment_list fcb">
                                                                <div class="payment_box"><img src="images/content/general/cash.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="error_text" id="errr9"></div>
                                            </div>
                                            <div class="col-12">
                                                <div class="flex checkout_order_lists">
                                                    <div class="input_checkbox flex">
                                                        <input type="checkbox" id="checkbox221" name="privateorder">
                                                        <label for="checkbox221">
                                                            <span>Private order</span>
                                                        </label>
                                                        <a href="javascript:void(0)" class="describe" title="3Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s">?</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row ais">
                                                    <div class="col-12 col-lg-6 order_checkout_back_first">
                                                        <a href="/cart" class="btn_checkout_back">back to cart</a>
                                                    </div>
                                                    <div class="col-12 col-lg-6  order_checkout_place_first_user">
                                                        <button type="submit" class="btn">Place order</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                    <div class="nav_list checkout_foot">
                                        <a href="/service-page/privacy-policy">Privacy policy</a>
                                        <a href="/service-page/terms">Terms and Conditions</a>
                                        <a href="/service-page/return-and-refund-policy">Refund policy</a>
                                        <a href="/payment-and-delivery">Payment delivery</a>
                                    </div>
                                </div>
                            </div>
                            <div class="second col-12 col-lg-6">
                                <div class="checkout_product">
                                    <div class="checkout_summary hide_desktop fcb">
                                        <button type="button" data-collapse="#checkout_product_id" class="summary_btn show">
                                            <span class="app_icon icon_basket"></span>
                                            Show order summary
                                        </button>
                                        <div class="cart_popup_product_price">
                                            8 300 <sup>֏</sup>
                                        </div>
                                    </div>
                                    <div class="collapse collapse_open" id="checkout_product_id" style="display: block;">
                                        <div class="checkout_product_list">
                                            <% cart.items.forEach(function (item) { %>
                                            <div class="cart_popup_product flex">
                                                <div class="cart_popup_product_img">
                                                    <img src="<%=item.image%>" alt="<%=item.name%>">
                                                </div>
                                                <div class="cart_popup_product_box">
                                                    <div class="cart_popup_product_info flex jsb">
                                                        <div>
                                                            <h4><%=item.name%></h4>
                                                            <p>Dry red wine, 0.75 L</p>
                                                            <p>Quantity: <%=item.quantity%></p>
                                                        </div>
                                                        <% if(item.in_stock == '0') {%>
                                                        <div class="cart_popup_product_price">
                                                            <%=item.price%> <sup>֏</sup>
                                                        </div>
                                                        <%}else {%>
                                                            <span class="cart_popup_product_price hide">Out of stock</span>
                                                        <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </div>
                                        <div class="checkout_product_form" style="display: none">
                                            <div class="cart_order_promocode">
                                                <a href="javascript:;" class="cart_promocode fcb show hide_desktop" data-collapse="#promocode_id">
                                                    Promo code
                                                    <span class="app_icon icon_close"></span>
                                                </a>
                                                <div class="collapse collapse_open" id="promocode_id" style="display: block">
                                                    <form action="">
                                                        <div class="promocode_input fcb">
                                                            <input type="text" placeholder="Insert promo code">
                                                            <button type="submit" class="btn btn_promocode">APPLY</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout_product_table">
                                            <div class="checkout_table_row fcb" style="display: none">
                                                <p>Subtotal</p>
                                                <div class="cart_popup_product_price">
                                                    <%=cart.total%><sup>֏</sup>
                                                </div>
                                            </div>
                                            <div class="checkout_table_row fcb" style="display: none">
                                                <p>Shipping</p>
                                                <p>Calculated at next step</p>
                                            </div>
                                            <div class="checkout_table_row fcb">
                                                <p style="text-transform: uppercase">TOTAL</p>
                                                <div class="cart_total_price"><%=cart.total%><sup>֏</sup></div>
                                            </div>
                                            <div class="checkout_table_row fcb hide_mobile">
                                                <span>Paymant metods:</span>
                                                <div class="payment_methods fcb ais">
                                                    <div class="payment_box"><img src="images/content/general/master_card.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/visa_card.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/arca_card.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/idram.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/cash.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        <%}else{%>
                <!-- For not register useres -->
                <section class="checkout_wrapper">
                    <div class="container">
                        <a href="/" class="checkout_brand hide_desktop">
                            <img src="images/content/general/logo_mob.svg" alt="">
                        </a>
                        <div class="row">
                            <div class="first col-12 col-lg-6">
                                <div class="checkout_form">
                                    <a href="/" class="checkout_brand">
                                        <img src="images/content/general/logo.svg" alt="">
                                    </a>

                                    <ul class="nav_list fcc">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><span>Checkout</span></li>
                                    </ul>

                                    <div class="checkout_form_head fcb flex">
                                        <p>Contact information</p>
                                        <p class="checkout_link">Already have an account? <a href="javascript:;" data-open="#login_modal">Log in</a></p>
                                    </div>

                                    <form action=""  class="form_box checkout_not_form">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input_box">
                                                    <input inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="phone_id" name="phoneNumber" type="number" class="validate" data-error="#e1" aria-required="true" aria-describedby="phone_id-error">
                                                    <label for="phone_id">Recipient's phone number*</label>
                                                    <div class="error_text" id="e1"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input_box">
                                                    <input id="email_id2" name="emailCheck" type="email" class="validate" data-error="#e2" aria-required="true" aria-describedby="email_id2-error">
                                                    <label for="email_id2">Email*</label>
                                                    <div class="error_text" id="e2"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 input_checkbox flex">
                                                <input type="checkbox" id="checkbox2" name="accept" checked="">
                                                <label for="checkbox2">
                                                    <span>Keep me up to date on news and exclusive offers</span>
                                                </label>
                                            </div>
                                            <div class="col-12">
                                                <h4 class="checkout_form_title">Shipping address</h4>
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <div class="input_box">
                                                            <input id="f_name_id" name="login" type="text" class="validate" data-error="#e3">
                                                            <label for="f_name_id">First name</label>
                                                            <div class="error_text" id="e3"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <div class="input_box">
                                                            <input id="l_name_id" name="lastname" type="text" class="validate" data-error="#e4">
                                                            <label for="l_name_id">Last name</label>
                                                            <div class="error_text" id="e4"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input_box">
                                                    <select id="countrieList_edit" name="countrieList_NoReg" class="validate" data-error="#ess1" aria-required="true" aria-describedby="countrieList-error">
                                                        <option value="hide">Country</option>
                                                        <option value="11">Armenia</option>
                                                    </select>
                                                    <div class="error_text" id="ess1"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="input_box">
                                                    <select id="stateList_edit" name="stateList_NoReg" class="validate" data-error="#ess2" aria-required="true" aria-describedby="stateList_NoReg-error">
                                                        <option value="hide">State</option>
                                                    </select>
                                                    <div class="error_text" id="ess2"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="input_box">
                                                    <select id="cityList_edit" name="cityList_NoReg" class="validate" data-error="#ess3" aria-required="true" aria-describedby="cityList_NoReg-error">
                                                        <option value="hide">City</option>
                                                    </select>
                                                    <div class="error_text" id="ess3"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="input_box">
                                                    <input id="address_id" name="address" type="text" class="validate" data-error="#e5">
                                                    <label for="address_id">Address of delivery</label>
                                                    <div class="error_text" id="e5"></div>
                                                </div>
                                            </div>
<!--                                            <div class="col-12">-->
<!--                                                <div class="input_checkbox flex">-->
<!--                                                    <input type="checkbox" id="checkbox" name="remember" checked="">-->
<!--                                                    <label for="checkbox">-->
<!--                                                        <span>Remember this address for other orders </span>-->
<!--                                                    </label>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="col-12">
                                                <div class="row">
<!--                                                    <div class="col-12 col-lg-8">-->
<!--                                                        <div class="input_box">-->
<!--                                                            <input id="delivery_date" name="delivery" type="text" class="datepicker validate" data-error="#e6" autocomplete="disabled">-->
<!--                                                            <label for="delivery_date">choose delivery date and time slot:</label>-->
<!--                                                            <div class="error_text" id="e6"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-12 col-lg-4">-->
<!--                                                        <div class="input_box del-time-select">-->
<!--                                                            <select name="delivery_time_notReg" id="delivery_time" class="validate" data-error="#ess4" aria-required="true" aria-describedby="delivery_time_notReg-error">-->
<!--                                                                <option value="hide">From - to</option>-->
<!--                                                                <option value="16:00 - 18:00">16:00 - 18:00</option>-->
<!--                                                                <option value="14:00 - 16:00">14:00 - 16:00</option>-->
<!--                                                                <option value="12:00 - 14:00">12:00 - 14:00</option>-->
<!--                                                                <option value="10:00 - 12:00">10:00 - 12:00</option>-->
<!--                                                            </select>-->
<!--                                                            <div class="error_text" id="ess4"></div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h5 class="checkout_comment_title">Add a comment</h5>
                                                <div class="input_box">
                                                    <textarea name="" id="message_id" class="validate" data-error="#e7"></textarea>
                                                    <label for="message_id">Add a comment</label>
                                                    <div class="error_text" id="e7"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h4 class="checkout_form_title">Select your payment method:</h4>
                                                <div class="checkout_payment_lists flex jsb">
                                                    <div class="input_radio">
                                                        <input class="validate payment_cart_rel" type="radio" name="payment_carts1" id="payment_cart1_id" value="1" data-error="#eC9" checked>
                                                        <label class="radio_payment_box" for="payment_cart1_id">
                                                            <span class="radio_payment_title">Arca, visa or masercad</span>
                                                            <div class="radio_payment_list flex">
                                                                <div class="payment_box"><img src="images/content/general/arca_card.svg" alt=""></div>
                                                                <div class="payment_box"><img src="images/content/general/visa_card.svg" alt=""></div>
                                                                <div class="payment_box"><img src="images/content/general/master_card.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <!--<div class="input_radio">
                                                        <input class="validate payment_cart_rel" type="radio" name="payment_carts1" id="payment_cart2_id" value="2" data-error="#eC9">
                                                        <label class="radio_payment_box" for="payment_cart2_id">
                                                            <span class="radio_payment_title">Idram</span>
                                                            <div class="radio_payment_list fcb">
                                                                <div class="payment_box"><img src="images/content/general/idram.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>-->
                                                    <div class="input_radio">
                                                        <input class="validate payment_cart_rel" type="radio" name="payment_carts1" id="payment_cart3_id"  value="3" data-error="#eC9">
                                                        <label class="radio_payment_box" for="payment_cart3_id">
                                                            <span class="radio_payment_title">Cash</span>
                                                            <div class="radio_payment_list fcb">
                                                                <div class="payment_box"><img src="images/content/general/cash.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="input_radio payment_cart_rel">
                                                        <input class="validate" type="radio" name="payment_carts1" id="payment_cart4_id"  value="4" data-error="#eC9">
                                                        <label class="radio_payment_box" for="payment_cart4_id">
                                                            <span class="radio_payment_title">Bank Transfer</span>
                                                            <div class="radio_payment_list fcb">
                                                                <div class="payment_box"><img src="images/content/general/cash.svg" alt=""></div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="error_text" id="eC9"></div>
                                            </div>
<!--                                            <div class="col-12">-->
<!--                                                <div class="flex checkout_order_lists">-->
<!--                                                    <h4 class="checkout_form_title">Order type:</h4>-->
<!--                                                    <div class="input_checkbox flex">-->
<!--                                                        <input type="checkbox" id="checkbox22" name="privateorder">-->
<!--                                                        <label for="checkbox22">-->
<!--                                                            <span>Private order</span>-->
<!--                                                        </label>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="col-12">
                                                <div class="row ais">
                                                    <div class="col-12 col-lg-6 order_checkout_back_first">
                                                        <a href="/cart" class="btn_checkout_back">back to cart</a>
                                                    </div>
                                                    <div class="col-12 col-lg-6  order_checkout_place_first_guest">
                                                        <button class="btn" type="submit">Place order</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>

                                    <div class="nav_list checkout_foot">
                                        <a href="/service-page/privacy-policy">Privacy policy</a>
                                        <a href="/service-page/terms">Terms and Conditions</a>
                                        <a href="/service-page/return-and-refund-policy">Refund policy</a>
                                        <a href="/payment-and-delivery">Payment delivery</a>
                                    </div>
                                </div>
                            </div>
                            <div class="second col-12 col-lg-6">
                                <div class="checkout_product">
                                    <div class="checkout_summary hide_desktop fcb">
                                        <button type="button" data-collapse="#checkout_product_id" class="summary_btn show">
                                            <span class="app_icon icon_basket"></span>
                                            Show order summary
                                        </button>
                                        <div class="cart_popup_product_price">
                                            8 300 <sup>֏</sup>
                                        </div>
                                    </div>
                                    <div class="collapse collapse_open" id="checkout_product_id" style="display: block;">
                                        <div class="checkout_product_list">
                                            <% cart.items.forEach(function (item) { %>
                                            <div class="cart_popup_product flex">
                                                <div class="cart_popup_product_img">
                                                    <img src="<%=item.image%>" alt="<%=item.name%>">
                                                </div>
                                                <div class="cart_popup_product_box">
                                                    <div class="cart_popup_product_info flex jsb">
                                                        <div>
                                                            <h4><%=item.name%></h4>
                                                            <p>Dry red wine, 0.75 L</p>
                                                            <p>Quantity: <%=item.quantity%></p>
                                                        </div>
                                                        <% if(item.in_stock == '0') {%>
                                                        <div class="cart_popup_product_price">
                                                            <% if(item.price_before_sale == null){ %>
                                                            <%=item.price%> <sup>֏</sup>
                                                            <%}else{%>
                                                            <%=item.price%> <sup>֏</sup>
                                                            <%}%>
                                                        </div>
                                                        <%}else {%>
                                                            <span class="cart_popup_product_price hide">Out of stock</span>
                                                        <%}%>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                        </div>
                                        <div class="checkout_product_form" style="display: none">
                                            <div class="cart_order_promocode">
                                                <a href="javascript:;" class="cart_promocode fcb show hide_desktop" data-collapse="#promocode_id">
                                                    Promo code
                                                    <span class="app_icon icon_close"></span>
                                                </a>
                                                <div class="collapse collapse_open" id="promocode_id" style="display: block">
                                                    <form action="">
                                                        <div class="promocode_input fcb">
                                                            <input type="text" placeholder="Insert promo code">
                                                            <button type="submit" class="btn btn_promocode">APPLY</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout_product_table">
                                            <div class="checkout_table_row fcb" style="display: none">
                                                <p>Subtotal</p>
                                                <div class="cart_popup_product_price">
                                                    <!--<%=cart.beforeDiscount%>-->
                                                    <%=cart.total%>
                                                    <sup>֏</sup>
                                                </div>
                                            </div>
                                            <div class="checkout_table_row fcb" style="display: none">
                                                <p>Shipping</p>
                                                <p>Calculated at next step</p>
                                            </div>
                                            <div class="checkout_table_row fcb">
                                                <p style="text-transform: uppercase">TOTAL</p>
                                                <div class="cart_total_price"><%=cart.total%><sup>֏</sup></div>
                                            </div>
                                            <div class="checkout_table_row fcb hide_mobile">
                                                <span>Paymant metods:</span>
                                                <div class="payment_methods fcb ais">
                                                    <div class="payment_box"><img src="images/content/general/master_card.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/visa_card.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/arca_card.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/idram.svg" alt=""></div>
                                                    <div class="payment_box"><img src="images/content/general/cash.svg" alt=""></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        <%}%>
    </main>
</div>

<% if(typeof siteData.userInfo === "undefined"){%>
<%- include("../components/login_modal.ejs") %>
<% } %>
<script src="/javascripts/plugins/jquery-3.5.1.min.js"></script>
<script src="/javascripts/plugins/jquery-ui.min.js"></script>
<script src="/javascripts/plugins/jquery.validate.min.js"></script>
<script src="/javascripts/plugins/TweenMax.min.js"></script>
<script src="/javascripts/profile.js"></script>
<script src="/javascripts/custom.js"></script>
<script src="/javascripts/main.js"></script>
</body>