<%- include("../default/header.ejs") %>
<div class="container">
    <div class="page-template-wrapper">
        <div class="page-cover">
            <div class="item">
                <div class="item__img-wrap parallax-section">
                    <div class="item__img parallax-image" style="background-image: url('/images/content/page-cover.png')"></div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h1><%=translations.about_page_title%></h1>
        </div>
        <div class="page-content page-content-about">
            <%-text%>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>