<%- include("../default/header.ejs") %>
<div class="container">
    <div class="page-template-wrapper">
        <div class="page-cover">
            <img src="images/content/page-cover.png" alt="">
        </div>
        <div class="page-title">
            <h1>Delivery</h1>
        </div>
        <div class="page-content">
            <%-text%>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>