<%- include("../default/header.ejs") %>
<div class="container">
    <div class="page-template-wrapper">
        <div class="page-cover">
            <div class="item">
                <div class="item__img-wrap parallax-section">
                    <div class="item__img parallax-image" style="background-image: url('images/content/page-cover.png')"></div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h1>SOCIAL RESPONSIBILITY</h1>
        </div>
        <div class="page-content">
            <p>
                Being socially responsible means to contribute to social fairness and environment protection while pursuing economic development.
                <br>
                The principle of social responsibility the Group adheres to is expressed in displaying respect and carrying out its liabilities to shareholders, colleagues, suppliers and clients, as well as in its environment protection efforts.
            </p>
            <p>
                <b>Responsible Consumption of Alcohol</b>
            </p>
            <p>
                Pernod Ricard calls everyone, youngsters in particular, to be moderate while consuming alcoholic beverages.
            </p>
            <p>
                <b>Environment Protection</b>
            </p>
            <p>
                Preservation of environment and biological diversity around the world is one of the core responsibilities Pernod Ricard Group has undertaken.
            </p>
            <p>
                <b>Quality and Innovation</b>
            </p>
            <p>
                The Group attaches great importance to maintaining high quality of its products and aims at establishing strong and lasting relations with its suppliers, innovation and search for new solutions being at the core of the company’s activity.
            </p>
        </div>
    </div>
</div>
<%- include("../default/footer.ejs") %>