<%- include("../default/header.ejs") %>

<div class="single_blog_wrapper">
    <div class="container">

        <!-- Thumbnail -->
        <div class="item">
            <div class="item__img-wrap parallax-section">
                <!-- Title -->
                <div class="parallax-content"><h1><%=data.title%></h1></div>
                <!-- /Title -->
                <div class="item__img parallax-image" style="background-image: url('<%=data.image%>')"></div>
            </div>
        </div>
        <!-- /Thumbnail -->

        <!-- Content -->
        <div class="single_blog_content">
            <%-data.text%>
        </div>
        <!-- /Content -->
    </div>
</div>

<%- include("../components/news.ejs") %><!-- / blog_wrapper -->
<%- include("../default/footer.ejs") %>