<%- include("../default/header.ejs") %>

<section class="hero_banner">
    <div class="item">
        <div class="item__img-wrap parallax-section">
            <div class="item__img parallax-image" style="background-image: url('/images/content/brand_hero.png');"></div>
        </div>
    </div>
</section>

<section class="blog_wrapper">
    <div class="container-fluid">
        <h2 class="primary_title title_infinities"><%=translations.pernod_ricards_news%></h2>
        <div class="row blog_carts">
            <% data.forEach(function (news) { %>
                <div class="col-12 col-md-6 col-lg-3">
                    <a href="/news/item/<%=news.slug%>"  class="blog_cart">
                        <div class="blog_cart_header">
                            <img src="<%=news.image%>" alt="">
                        </div>
                        <div class="blog_cart_body">
                            <h3 class="secondary_title"><%=news.title%></h3>
                            <span class="blog_cart_more_btn">
                                <span class="app_icon more_primary_icon"></span>
                            </span>
                        </div>
                    </a>
                </div>
            <% }) %>
        </div>
    </div>
</section>
<% if(data.length !== 0){ %>
    <%- include("../components/pagination.ejs") %>
<%}%>
<%- include("../default/footer.ejs") %>